<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<section id="conten" style="width:40%; height:450px ;margin: 0 auto;min-width: 310px;"></section>


<section>

  <script type="text/javascript">
    $(function () {
         Highcharts.setOptions({
     colors: ['#e8702a','#0c457d','#0ea7b5','#ffbe4f']
    });
    $('#conten').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Ventas del Mes'
        },
        subtitle: {
            text: '<strong>{{ fecha_inicial | date:"F" }}</strong>'
        },
        xAxis: {
            categories: [
                 {% for z, c, s in dias2 %}
                    '{{z}}',
               {% endfor %}
            ],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Ventas del Mes',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: '',
                        formatter: function() {
                var text = '';
                if(this.series.name == 'Total de Ventas') {
                    text = '<strong>Día '+ this.x + ' </strong><br> ' + this.series.name +
                           ': $ ' + Highcharts.numberFormat(this.y);
                }else if (this.series.name == 'Nro de Ventas') {
                     text = '<strong>Día '+ this.x + '</strong><br> ' + this.series.name +
                           ': ' + Highcharts.numberFormat(this.y, 0);
                }
                return text;
            }
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: 0,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true

        },
        credits: {
            enabled: false
        },
        series: [
                {
            name: 'Nro de Ventas',
            data: [
                   {% for z, c, s in dias2 %}
                    {{c}},
               {% endfor %}
            ]
        }, {
            name: 'Total de Ventas',
            data: [
                    {% for z, c, s in dias2 %}
                    {{s}},
               {% endfor %}
            ]
        }
        ]
    });
});
  </script>
</section>
</body>
</html>