<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
<h2>Actualizar Actividad</h2>
<form action="#" method="POST">{% csrf_token %}
    {% for hidden in formulario2.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <label for="tipoActividad"><small>* TIPO ACTIVIDAD</small></label>{{formulario.tipo_actividad}}<br>
    <label for="detalles"><small>* DETALLES</small></label>{{formulario.detalles}}<br>
    <input type="submit" value="submit">
</form>
</body>
</div>
{% endblock content %}
</html>