<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
<title>Create</title>{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
<h2>CRUD ACTIVIDAD</h2>
<a  href="actividadCreate">Crear Actividad</a>
<table border="1">

    <caption>Registro de Actividad</caption>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">TIPO DE ACTIVIDAD</th>
        <th scope="col">DETALLES</th>

    </tr>
    </thead>
    <tbody>
    {% for a in actividad %}
    <tr>
        <td>{{a.id_actividad}}</td>
        <td>{{a.tipo_actividad}}</td>
        <td>{{a.detalles}}</td>

        <td><a href="{% url 'actividadUpdate' a.id_actividad %}">Actualizar</a></td>
        <td><a href="{% url 'actividadDelete' a.id_actividad %}">Eliminar</a></td>

    </tr>
    {% endfor %}
    </tbody>
</body>
 </div>
{% endblock content %}
</html>