<!doctype html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
<title>Create</title>{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<div class="container" >
    <h2>Crear Actividad</h2>
<form action="#" method="POST">{% csrf_token %}
    {% for hidden in formulario.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <label for="tipo_actividad"><small>* TIPO ACTIVIDAD</small></label><input type="text" name="tipo_actividad" value=""><br>
    <label for="detalles"><small>* DETALLES</small></label><input type="text" name="detalles" value=""><br>
    <input type="submit" value="submit">

</form>
    </div>
{% endblock content %}
</body>
</html>