{% load staticfiles %}
<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="{% static 'home/img/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    {% block title %}<title>Good Appetit</title>{% endblock %}

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>



    <link href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.3.3/ng-table.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <!--link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css"-->
    <link href="{% static 'home/css/ng-table.css' %}" rel="stylesheet"/>
    {% block head %} {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    {% block jquery %} {% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script-->

    {% block estilos %}
    <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'home/css/landing-page.css' %}" rel="stylesheet"/>
    {% endblock %}

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Arvo:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    {% comment %}<script src="{% static 'home/js/SimpleStarRating.js' %}"></script>
    <link href="{% static 'home/css/SimpleStarRating.css' %}" rel="stylesheet"/>{% endcomment %}
    {% comment %}{% block angular %}{% endcomment %}
    {% comment %}<script src="{% static 'home/js/SimpleStarRating.js' %}"></script>
    <link href="{% static 'home/css/SimpleStarRating.css' %}" rel="stylesheet"/>{% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-messages.min.js"></script>
    {% comment %}{% endblock %}{% endcomment %}
    <script src="{% static 'home/js/ng-table.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'home/js/angular-modal-service.js' %}" type="text/javascript"></script>

    <link href="{% static 'home/css/notifier.css' %}" rel="stylesheet"/>

{% block analytics %}


{% endblock %}


{#    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>#}
</head>

<body>
{% comment %}<script type="text/javascript">

    $.ajax({
        type: "post",
        url: "/cookies",
        success: function (dataPer2) {
            alert("holas");
            }
    });

</script>{% endcomment %}

{% if user.is_authenticated %}
    {% block dirAudio %}
    <audio id="myAudio">
        <source src="{% static '/static/home/sound/notificationCliente.mp3'%}"  type="audio/mpeg">
    </audio>
    {% endblock %}
<script type="text/javascript">
            var x = document.getElementById("myAudio");
            var dominio=document.domain;
            var port = location.port;
            var bandera=false;
            setInterval(function(){
                if(!bandera) {
                    if(dominio=="localhost" || dominio=="127.0.0.1") {
                        $.ajax({
                            type: "get",
                            url: "/notificarPedidoCliente",
                            success: function (dataPer) {
                                if (!dataPer) {
                                } else {
                                    x.play();
                                    var tiempo=dataPer[0].fields.tiempo;
                                    var estado_pedido = dataPer[0].fields.id_estado;
                                    var id_pedido = dataPer[0].pk;
                                    var tipo_pedido = dataPer[0].fields.id_tipo_pedido;

                                    if (tiempo == null){
                                        $.notifier('danger', 'Pedido rechazado', 'El Pedido ha sido rechazado por el restaurante', '', '30000');
                                    }else{
                                        if (estado_pedido == 2 && tipo_pedido == 1){
                                            $.notifier('success', 'Pedido aceptado', 'El restaurante ha aceptado tu <br>pedido. <br>En breve se notificará el tiempo de <br>entrega', '', '30000');
                                        }

                                        if (estado_pedido == 2 && tipo_pedido == 2){
                                            $.notifier('success', 'Pedido confirmado', 'El tiempo de entrega de tu pedido <br>es de aproximadamente de <br> ' + tiempo + ' minutos.', '', '30000');
                                            $('#'+'d'+id_pedido).html("<a href='#' class='description'><i class='fa fa-clock-o fa-fw'></i>Tiempo de entrega: "+tiempo+" min</a>")
                                        }

                                        if (estado_pedido == 3) {
                                            if(parseInt(tiempo)<=60){
                                                $.notifier('success', 'Pedido confirmado', 'El tiempo de entrega de tu pedido <br>es de aproximadamente de <br> ' + tiempo + ' minutos.', '', '30000');
                                                $('#'+'d'+id_pedido).html("<a href='#' class='description'><i class='fa fa-clock-o fa-fw'></i>Tiempo de entrega: "+tiempo+" min</a>")
                                            }else{
                                                $.notifier('success', 'Pedido confirmado', 'El tiempo de entrega de tu pedido <br>es de aproximadamente de <br> ' + horas(tiempo) + ' horas.', '', '30000');
                                            }

                                        }


                                    }
                                }
                            }
                        });
                    }else{
                        $.ajax({
                            type: "get",
                            url: "https://" + dominio + "/notificarPedidoCliente",
                            success: function (dataPer) {
                                if (!dataPer) {
                                } else {
                                    x.play();
                                    var tiempo=dataPer[0].fields.tiempo;
                                    var estado_pedido = dataPer[0].fields.id_estado;
                                    var id_pedido = dataPer[0].pk;
                                    var tipo_pedido = dataPer[0].fields.id_tipo_pedido;
                                    if (tiempo == null){
                                        $.notifier('danger', 'Pedido rechazado', 'El Pedido ha sido rechazado por el restaurante', '', '30000');
                                    }else {
                                        if (estado_pedido == 2 && tipo_pedido == 1){
                                            $.notifier('success', 'Pedido aceptado', 'El restaurante ha aceptado tu pedido <br>En breve se notificará el tiempo de entrega', '', '30000');
                                        }

                                        if (estado_pedido == 2 && tipo_pedido == 2){
                                            $.notifier('success', 'Pedido confirmado', 'El tiempo de entrega de tu pedido <br>es de aproximadamente de <br> ' + tiempo + ' minutos.', '', '30000');
                                            $('#'+'d'+id_pedido).html("<a href='#' class='description'><i class='fa fa-clock-o fa-fw'></i>Tiempo de entrega: "+tiempo+" min</a>")
                                        }
                                        if (estado_pedido == 3) {
                                            if (parseInt(tiempo) <= 60) {
                                                $.notifier('success', 'Pedido confirmado', 'El tiempo de entrega de tu pedido <br>es de aproximadamente de <br> ' + tiempo + ' minutos.', '', '30000');

                                            } else {
                                                $.notifier('success', 'Pedido confirmado', 'El tiempo de entrega de tu pedido <br>es de aproximadamente de <br> ' + horas(tiempo) + ' horas.', '', '30000');
                                            }
                                        }
                                    }
                                }
                            }
                        });
                    }
                }
            }, 4000);

function horas(min)
{
var hrs = Math.floor(min/60);
min = min % 60;
if(min<10) min = "0" + min;
return hrs + ":" + min;
}
</script>

{% endif %}

<div class="landing-page">
    <nav id="custom-nav" class="navbar navbar-transparent navbar-top main-menu" role="navigation">
        <div class="container">
            <!-- Menu desplegable para dispositivos mobiles-->
            <div class="navbar-header">
                <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <a href="{% url 'spaapp.views.home' %}">
                    <div class="logo-container2">
                        <div class="logo">
                            <img src="{% static 'home/img/logo_goodappetit.png' %} " alt="" style="height:68px;">
                        </div>
                    </div>
                </a>
            </div>

            <!-- Links de navegación -->
            <div class="collapse navbar-collapse base-main-menu" id="example">
                <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_authenticated %}
                        <li>
                            <a href="{% url 'spaapp.views.login' %}">INICIA SESIÓN</a>
                        </li>
                        <li>
                            <a href="{% url 'spaapp.views.registro' %}">REGISTRATE</a>
                        </li>
                        <li>
                            <a href="{% url 'home' %}#contacto">CONTACTO</a>
                        </li>
                    {% else %}
                        <li>

                            {% if user.is_superuser %}
                                <a href="{% url 'proveedor_admin' %}#contacto">ADMINISTRACIÓN</a>
                            {% endif %}


                        </li>
                        <li>
                             <a href="{% url 'restaurantes' %}">RESTAURANTES</a>
                        </li>
                        <li>
                             <a href="{% url 'home' %}#contacto">CONTACTO</a>
                        </li>
                        <li>
                            <a class="dropdown-toggle" style="padding: 10px 10px; margin: 15px 3px;">{{ user.first_name }}</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle img-link" data-toggle="dropdown" href="#"><img rel="Icon made by Freepik from www.flaticon.com "
                                    class="usr-img-head" src="{% if not perfil.social %}{{ MEDIA_URL }}{% endif %}{{ perfil.ruta_foto }}" >
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu down-menu submenu-profile" style="transform: translate3d(0px, 10px, 0px);">
                                {% block menuDesple %}
                                    {% if profileType == 1 %}
                                        {% if not perfil.cuentaVerif %}
                                        <li><a href="{% url 'perfilUpdate' user.pk %}">Mi perfil
                                            <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Su cuenta aun no esta verificada"></i>
                                            </a>
                                        </li>
                                            {% else %}
                                            <li><a href="{% url 'perfilUpdate' user.pk %}">Mi perfil</a>
                                        </li>
                                            {% endif %}
                                            {% if pedidosNu == 0 %}
                                            <li><a href="{% url 'perfil' %}">Mis pedidos</a>
                                            </li>
                                            {% else %}
                                            <li><a href="{% url 'perfil' %}">Mis pedidos &nbsp;&nbsp;<span class="badge">{{ pedidosNu }}</span></a>
                                            </li>
                                            {% endif %}
                                    {% elif profileType == 2 %}
                                        <li><a href="{% url 'proveedor'%}">Administración</a></li>
                                        <li><a href="{% url 'misDatos'%}">Mi perfil</a></li>
                                    {% elif profileType == 3 %}
                                        <li><a href="{% url 'soyTransportista' %}">Administración</a></li>
                                    {% endif %}
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/cerrar">Cerrar Sesión</a></li>
                                {% endblock %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>



{% block content %} {% endblock %}
<a href="javascript:void(0);" id="scroll" title="Subir" style="display: none;">Top<span></span></a>
</body>

 <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<!--script src="https://code.jquery.com/jquery-3.1.0.js"></script-->
<script src="{% static 'home/js/jquery-1.10.2.js' %}" type="text/javascript"></script>
<script src="{% static 'home/js/jquery-ui-1.10.4.custom.min.js' %}" type="text/javascript"></script>
<script src="{% static 'home/js/notifier.js' %}" type="text/javascript"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!--<script src="{#% static 'home/js/bootstrap.min.js' %#}" type="text/javascript"></script>-->

<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#id_ruta_foto").change(function () {
        readURL(this);
    });
    $("#id_perfil-ruta_foto").change(function () {
        readURL(this);
    });
</script>
{% block navBar %}
<script>
$(document).ready(function(){
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('#scroll').fadeIn();
        } else {
            $('#scroll').fadeOut();
        }
    });
    $('#scroll').click(function(){
        $("html, body").animate({ scrollTop: 0 }, 600);
        return false;
    });

    /*JY, En pantallas pequenas ocultar el menu del Cliente cuando realice un scroll*/
    window.onscroll = function (e) {
        $("#menu-toggle").addClass('collapsed');
        $("#menu-toggle").attr('aria-expanded', 'false');
        $('.base-main-menu').removeClass('in');
        $('.base-main-menu').attr('aria-expanded', 'false');
    }
});

    var URLactual = window.location.pathname;
    if(URLactual=="/" && screen.width>768){
        $(window).scroll(function() {
        if ($(".navbar").offset().top > 200) {
            $('#custom-nav').addClass('affix');
            $('#logo').removeClass('brand');
            $('#logo').addClass('brand2');
            $('#custom-nav').removeClass('container2');
            $(".navbar-fixed-top").addClass("top-nav-collapse");
        } else {
            $('#custom-nav').removeClass('affix');
            $('#logo').removeClass('brand2');
            $('#logo').addClass('brand');
            $('#custom-nav').addClass('container2');
            $(".navbar-fixed-top").removeClass("top-nav-collapse");
        }
    });
    }else{
    $('#custom-nav').addClass('affix');
$('#logo').removeClass('brand');
$('#logo').addClass('brand2');
$('#custom-nav').removeClass('container2');
$(".navbar-fixed-top").addClass("top-nav-collapse");

    }
</script>
{% endblock %}
</html>

