<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
<h2>Actualizar Categoria</h2>
<form action="#" method="POST">{% csrf_token %}
    <label for="categoria"><small>* CATEGORIA</small></label>{{formulario.categoria}}<br>
    <label for="detalles"><small>* DETALLES</small></label>{{formulario.detalles}}<br>
    <input type="submit" value="submit">
</form>
     </div>
{% endblock content %}
</body>

</html>

