<!doctype html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
<title>Document</title>{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>

<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div class="container" >
<h2>Crear Categoria</h2>
<form action="#" method="POST">{% csrf_token %}
    <label for="categoria"><small>* CATEGORIA</small></label><input type="text" name="categoria" value=""><br>
    <label for="detalles"><small>* DETALLES</small></label><input type="text" name="detalles" value=""><br>
    <input type="submit" value="submit">
</form>
 </div>
{% endblock content %}
</body>
</html>