<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
<h2>CRUD CATEGORIA</h2>
<a  href="categoriaCreate">Crear Categoria</a>
<table border="1">

    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">CATEGORIA</th>
        <th scope="col">DETALLE</th>
    </tr>
    </thead>
    <tbody>
    {% for c in categoria %}
    <tr>
        <td>{{c.id_categoria}}</td>
        <td>{{c.categoria}}</td>
        <td>{{c.detalles}}</td>

        <td><a href="{% url 'categoriaUpdate' c.id_categoria %}">Actualizar</a></td>
        <td><a href="{% url 'categoriaDelete' c.id_categoria %}">Eliminar</a></td>

    </tr>
    {% endfor %}
    </tbody>
</body>
 </div>
{% endblock content %}
</html>