<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
<h2>Actualizar Ciudad</h2>
<form action="#" method="POST">{% csrf_token %}
    {% for hidden in formulario2.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <label for="nombre"><small>* NOMBRE</small></label>{{formulario.nombre}}<br>
    <label for="descripcion"><small>* DESCRIPCION</small></label>{{formulario.descripcion}}<br>
    <input type="submit" value="submit">
</form>
</div>
{% endblock content %}
</body>
</html>