<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
<h2>CRUD CIUDAD</h2>
<a  href="ciudadCreate">Crear Ciudad</a>
<table border="1">

    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">DESCRIPCION</th>
    </tr>
    </thead>
    <tbody>
    {% for c in ciudad %}
    <tr>
        <td>{{c.id_ciudad}}</td>
        <td>{{c.nombre}}</td>
        <td>{{c.descripcion}}</td>

        <td><a href="{% url 'ciudadUpdate' c.id_ciudad %}">Actualizar</a></td>
        <td><a href="{% url 'ciudadDelete' c.id_ciudad %}">Eliminar</a></td>

    </tr>
    {% endfor %}
    </tbody>
</body>
</div>
{% endblock content %}
</html>