<!DOCTYPE html>
{% extends 'home/perfilUpdate.html' %} {% load staticfiles %} {% block content %} {% block title %}
{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cambiar Contraseña</title>
</head>
<body>
    <!-- links navegación -->
        <ol class="breadcrumb path-menu-profile">
            <li><a href="{% url 'spaapp.views.home' %}">Inicio</a></li>
            <li><a href="{% url 'spaapp.views.restaurantes' %}">Restaurantes</a></li>
            <li><a href="#" class="active">Perfil</a></li>
        </ol>
<div class="container main-content-profile row" >

    <div class="col-xs-12 col-sm-4 col-md-4 prl-menu">
        <div class="list-group">
            <a href="#" class="list-group-item disabled">Información de Usuario</a>
            <a href="{% url 'perfilUpdate' user.pk %}" class="list-group-item">Información de perfil</a>
            <a href="#" class="list-group-item">Cambiar contraseña</a>
            <a href="{% url 'gestionDirecion' %}" class="list-group-item">Gestión de direcciones</a>
            <a href="/perfil/validarCuenta" class="list-group-item">Validar cuenta vía SMS</a>
        </div>
        {% if not perfil.cuentaVerif %}
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
         <strong>¡Alerta!</strong> Tu cuenta aun no esta verificada, mientras tu cuenta aun no este verificada no
            podrás realizar compras con dinero en efectivo, para verificar tu cuenta entra a <a href="/validarCuenta" class="alert-link">validar cuenta vía SMS</a>
        </div>
        {% endif %}
    </div>

    {% if perfil.social %}

            <div class="col-sm-8 bk-main">
<h2 class="main-title">Actualizar Contraseña</h2>
            <p>Use este formulario si desea ingresar una contraseña a su cuenta con GoodAppetit, al realizar esto usted podrá
iniciar sesión desde nuestro formulario o directamente de Facebook.</p>
<form action="#" method="POST">{% csrf_token %}
                        <div class="fields-profile-content">

                            {{formSocial.username}}
                            <hr>
                            {{formSocial.errors.password}}
                            <div class="fields-act"><label class="label-profile" for="usuario-password">Contraseña Nueva</label>{{formSocial.password}}</div>
                            {{formSocial.errors.confirmPassword}}
                            <div class="fields-act"><label class="label-profile" for="usuario-confirmPassword">Confirmar Contraseña Nueva </label>{{formSocial.confirmPassword}}</div>



                            <input class="btn btn-ok" type="submit" value="Guardar">

                        </div>
                    </form>
        </div>


    {% else %}

    
    <div class="col-sm-8 bk-main">
<h2 class="main-title">Actualizar Contraseña</h2>
<form action="#" method="POST">{% csrf_token %}
                        <div class="fields-profile-content">
                            {% for hidden in formulario.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {{formulario2.username}}
                            <hr>
                            {{formulario2.errors.curPassword}}
                            <div class="fields-act"><label class="label-profile" for="usuario-curPassword">Contraseña Actual</label>{{formulario2.curPassword}}</div>
                            {{formulario2.errors.password}}
                            <div class="fields-act"><label class="label-profile" for="usuario-password">Contraseña Nueva</label>{{formulario2.password}}</div>
                            {{formulario2.errors.confirmPassword}}
                            <div class="fields-act"><label class="label-profile" for="usuario-confirmPassword">Confirmar Contraseña Nueva </label>{{formulario2.confirmPassword}}</div>



                            <input class="btn btn-ok" type="submit" value="Actualizar">

                        </div>
                    </form>
        </div>
{% endif %}


     </div>

    <footer class="footer main-footer main-footer-order">
        <div class="container">
            <nav class="pull-left copyright">
                &copy; 2016
            </nav>
            <div class="social-area pull-right">
                <a href="#" class="btn btn-social btn-simple"><i class="fa fa-twitter fa-fw"></i> <span
                        class="network-name"></span></a>
                <a href="#" class="btn btn-social btn-simple"><i class="fa fa-facebook fa-fw"></i> <span
                        class="network-name"></span></a>
                <a href="#" class="btn btn-social btn-simple"><i class="fa fa-google-plus fa-fw"></i> <span
                        class="network-name"></span></a>
            </div>

        </div>

        <div class="fixed-plugin">
        </div>

    </footer>
{% endblock content %}
</body>
</html>


