<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>CRUD CLIENTE</h2>
<a  href="clienteCreate">Crear Cliente</a>
<table border="1">

    <caption>Registro de Cliente</caption>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">FECHA INICIO SUSCRIPCION</th>
        <th scope="col">SUSCRIPCION ACTIVA</th>
        <th scope="col">FECHA PAGO</th>
        <th scope="col">DETALLES ADICIONALES</th>
        <th scope="col">PEDIDOS ACTIVOS</th>
        <th scope="col">VALOR SUSCRIPCION</th>
        <th scope="col">ID USUARIO</th>

    </tr>
    </thead>
    <tbody>
    {% for c in cliente %}
    <tr>
        <td>{{c.id_cliente}}</td>
        <td>{{c.fecha_inicio_suscripcion}}</td>
        <td>{{c.suscripcion_activa}}</td>
        <td>{{c.fecha_pago}}</td>
        <td>{{c.detalles_adicionales}}</td>
        <td>{{c.pedidos_activos}}</td>
        <td>{{c.valor_suscripcion}}</td>
        <td>{{c.id_usuario}}</td>
        <td><a href="{% url 'clienteUpdate' c.id_cliente %}">Actualizar</a></td>
        <td><a href="{% url 'clienteDelete' c.id_cliente %}">Eliminar</a></td>

    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>