{% extends 'home/base.html' %}
{% load staticfiles %}
 {% block content %}
  {% block title %}
    <title>Login</title>
  {%endblock title%}
  <link href="{% static 'home/css/login.css' %}" rel="stylesheet" />
  <div class="login">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h2>Actualizar Perfil</h2>
                    <form class="post-form" method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}

                        {% for hidden in formularioUser.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {{ formularioUser.as_p }}

                        {% for hidden in formularioPerfil.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {{ formularioPerfil.as_p }}

                        {% for hidden in formularioCliente.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {{ formularioCliente.as_p }}

                        <input class="btn" type="submit" value="Aceptar">
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
 {% endblock%}
