{% extends 'home/base.html' %}
{% load staticfiles %}
 {% block content %}
  {% block title %}
    <title>Cliente</title>
  {%endblock title%}
  <link href="{% static 'home/css/login.css' %}" rel="stylesheet" />
     <div class="login">
         <div class="row">
             <div class="col-sm-12 form-box">
                 <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-box col-lg-offset-1 col-md-offset- col-sm-offset-1 col-xs-offset-1">
                     <div class="img-rounded img-responsive">
                         {% if p.ruta_foto%}
                             <img src="media/{{ p.ruta_foto }}" width="150">
                         {% endif %}

                     </div>
                     <div class="form-top">
                         <div class="form-top-left" style="text-align: left;">
                             <strong>Nombres: </strong><p>{{ user.first_name }} {{ user.last_name }}</p>
                             <strong>Correo: </strong><p>{{ user.email }}</p>
                             <strong>C&eacute;dula: </strong><p>{{ p.cedula }}</p>
                        </div>
                    </div>
                 </div>
                 <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-box">
                     <div class="form-top">
                         <div class="form-top-left" style="text-align: left;">
                             <strong>Fecha de nacimiento: </strong><p>{{ p.fecha_nacimiento }}</p>
                             <strong>Tel&eacute;fono: </strong><p>{{ p.telefono }}</p>
                             <strong>G&eacute;nero: </strong><p>{{ p.genero }}</p>
                             <strong>SIM: </strong><p>{{ p.sim_dispositivo }}</p>
                             <a href="/clienteUpdate2/{{ user.pk }}">Editar Perfil</a>
                        </div>
                    </div>
                 </div>

                 <div class="col-lg-offset-8 col-md-offset-8 col-sm-offset-8 col-xs-offset-8  form-box">
                     <div class="form-top">
                         <div class="form-top-right">
                             <section>
                                 <div>Bienvenido
                                     <strong>{{user.username}}</strong>
                                 </div>
                             </section>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
{% endblock %}
