{% extends 'home/base.html' %}
{% load staticfiles %}
 {% block content %}
  {% block title %}
    <title>Registro</title>
  {%endblock title%}
  <link href="{% static 'home/css/login.css' %}" rel="stylesheet" />
    <div class="login">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>Registrar Usuario</h3>
                    </div>
                    <div class="socialLogin-separator">
                        <span>o</span>
                        <hr>
                    </div>
                    <br>
                </div>
                <div class="form-bottom">
                    <form class="post-form" method="POST" action="/clienteRegister" name="formUser" onsubmit="return comprobarPassword()">
                        {% csrf_token %}
                        {% for hidden in formulario.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <label for="nick" class="sr-only">
                            <small>* NICK</small>
                        </label>
                        <input required type="text" name="nick" value="" placeholder="Nickname..." class="form-nick form-control"><br>

                        <label for="mail" class="sr-only">
                            <small>* MAILK</small>
                        </label>
                        <input required type="text" name="mail" value="" placeholder="Correo Electrónico..." class="form-mail form-control"><br>

                        <label for="password" class="sr-only">
                            <small>* PASSWORD</small>
                        </label>
                        <input id="pass1" required type="password" name="password" value="" placeholder="Contraseña..." class="form-password form-control"><br>

                        <label for="pass2" class="sr-only">
                            <small>* CONFIRMAR PASSWORD</small>
                        </label>
                        <input id="password2" required type="password" name="password2" value="" placeholder="Confirmar Contraseña..." class="form-password2 form-control"><br>

                        <button type="submit" class="btn">Registrarse</button>

                    </form>
                    <br/>
                    <p> {{ msj }}</p>
                    <p id="passIgual"></p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

</form>

