{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Email GoodAppetit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="padding: 10px 0 30px 0;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
                    <tr>
                        <td align="center" bgcolor="#E4022D" style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
{#                            <img src="{{ request.get_host }}{% static 'home/img/email/logo_email.png' %}" alt="Logo GoodApettit" width="300" height="230" style="display: block;" />#}
{#                            <img src="http://www.imagen.com.mx/assets/img/imagen_share.png" alt="Logo GoodApetit" width="300" height="230" style="display: block;" />#}
                            <img src="{{ protocol }}://{{ domain }}{% static 'home/img/email/logo_email.png' %}" alt="Logo GoodApetit" style="display: block;" />

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">

                                        <b>Código de verificación en ¡GoodAppetit!</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                        <p>Hola {{ username }}</p>
                                        Para validar tu cuenta en <a href="https://goodappetit.com">GoodAppetit</a> usa el siguiente código de verificación: <b>{{ code }}</b><br><br>

                                        Saludos. <br>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#E4022D" style="padding: 30px 30px 30px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
                                        Teléfono: (07) 210 4038 - 098 463 0519
                                        <br/>
                                        Av. Crisantemos y Anturios 13-15
                                        <br/>
                                        Email: <a href="mailto:info@goodappetit.com" style="color: #49a4fe;"><font color="#49a4fe">info@goodappetit.com</font></a><br>
                                        Site: <a href="https://www.goodappetit.com" target="_blank" style="color: #49a4fe;"><font color="#49a4fe">https://www.goodappetit.com</font></a>
                                    </td>
                                    <td align="right" width="25%">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                    <a href="https://www.facebook.com/goodAppetit/" target="_blank" style="color: #ffffff;">
                                                        <img src="{{ protocol }}://{{ domain }}{% static 'home/img/email/fb.gif' %}" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
                                                    </a>
                                                </td>
                                                <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                    <a href="https://twitter.com/GoodAppetit_ec" target="_blank" style="color: #ffffff;">
                                                        <img src="{{ protocol }}://{{ domain }}{% static 'home/img/email/tw.gif' %}" alt="Facebook" width="38" height="38" style="display: block;" border="0" />
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>