<!doctype html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div class="container" >
<h2>Crear Detalle contrato</h2>
<form action="#" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {% for hidden in formulario.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <label for="codigo"><small>* codigo</small></label><input type="text" name="codigo" value=""><br>
    <label for="detalles"><small>* detalles</small></label><input type="text" name="detalles" value=""><br>
    <label for="vigencia"><small>* vigencia</small></label><input type="number" name="vigencia" value=""><br>
    <label for="fecha_inicio"><small>* fecha_inicio</small></label>{{formulario.fecha_inicio}}<br>
    <label for="fecha_fin"><small>* fecha_fin</small></label>{{formulario.fecha_fin}}<br>
    <label for="valor"><small>* valor</small></label>{{formulario.valor}}<br>
    <label for="ruta_contrato"><small>* ruta_contrato</small></label>{{formulario.ruta_contrato}}<br>
    <label for="id_proveedor"><small>* id_proveedor</small></label>{{formulario.id_proveedor}}<br>
    <label for="id_sucursal"><small>* id_sucursal</small></label>{{formulario.id_sucursal}}<br>

    <input type="submit" value="submit">

</form>
</div>
{% endblock content %}
</body>
</html>
