<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
<h2>CRUD CONTRATO</h2>
<a  href="contratoCreate">Crear Contrato</a>
<table border="1">

    <thead>
    <tr>
        <th scope="col">id_contrato</th>
        <th scope="col">codigo</th>
        <th scope="col">detalles</th>
        <th scope="col">vigencia</th>
        <th scope="col">fecha_inicio</th>
        <th scope="col">fechaFin</th>
        <th scope="col">valor</th>
        <th scope="col">ruta_contrato</th>
        <th scope="col">id_proveedor</th>
        <th scope="col">id_sucursal</th>
    </tr>
    </thead>
    <tbody>
    {% for c in contrato %}
    <tr>
        <td>{{c.id_contrato}}</td>
        <td>{{c.codigo}}</td>
        <td>{{c.detalles}}</td>
        <td>{{c.vigencia}}</td>
        <td>{{c.fecha_inicio}}</td>
        <td>{{c.fechaFin}}</td>
        <td>{{c.valor}}</td>
        <td>{{c.ruta_contrato}}</td>
        <td>{{c.id_proveedor}}</td>
        <td>{{c.id_sucursal}}</td>

        <td><a href="{% url 'contratoUpdate' c.id_contrato %}">Actualizar</a></td>
        <td><a href="{% url 'contratoDelete' c.id_contrato %}">Eliminar</a></td>

    </tr>
    {% endfor %}
    </tbody>
</body>
</div>
{% endblock content %}
</html>
