<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}
<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
<h2>CRUD coordenadas</h2>
<a  href="coordenadasCreate">Crear coordenadas</a>
<table border="1">

    <caption>Registro de coordenadas</caption>
    <thead>
    <tr>
        <th scope="col">id_coordenadas</th>
        <th scope="col">latitud</th>
        <th scope="col">longitud</th>
        <th scope="col">id_perfil</th>
    </tr>
    </thead>
    <tbody>
    {% for a in coordenadas %}
    <tr>
        <td>{{a.id_coordenadas}}</td>
        <td>{{a.latitud}}</td>
        <td>{{a.longitud}}</td>
         <td>{{a.id_perfil}}</td>

        <td><a href="{% url 'coordenadasUpdate' a.id_coordenadas %}">Actualizar</a></td>
        <td><a href="{% url 'coordenadasDelete' a.id_coordenadas %}">Eliminar</a></td>

    </tr>
    {% endfor %}
    </tbody>
</body>
 </div>
{% endblock content %}
</html>