<!doctype html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div class="container" >
<h2>Registro Coordenadas</h2>
<form action="#" method="POST">{% csrf_token %}

    <label for="latitud"><small>* latitud</small></label><input type="text" name="latitud" value=""><br>
    <label for="longitud"><small>* longitud</small></label><input type="text" name="longitud" value=""><br>
    <label for="id_perfil"><small>* ID PERFIL</small></label>{{formulario.id_perfil}}<br>
    <input type="submit" value="submit">
</form>
 </div>
{% endblock content %}
</body>
</html>



