<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
<h2>Actualizar Coordenadas</h2>
<form action="#" method="POST">{% csrf_token %}
    {% for hidden in formulario2.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <label for="latitud"><small>*latitud</small></label>{{formulario.latitud}}<br>
     <label for="longitud"><small>* longitud</small></label>{{formulario.longitud}}<br>
     <label for="id_perfil"><small>* id_perfil</small></label>{{formulario.id_perfil}}<br>
    <input type="submit" value="submit">
</form>
</div>
{% endblock content %}
</body>
</html>
