<!doctype html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<div class="container" >
<h2>Crear Detalle Pedido</h2>
<form action="#" method="POST">{% csrf_token %}
    {% for hidden in formulario.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <label for="valor"><small>* valor</small></label><input type="text" name="valor" value=""><br>
    <label for="observaciones"><small>* observaciones</small></label><input type="text" name="observaciones" value=""><br>
    <label for="cantidad_solicitada"><small>* cantidad_solicitada</small></label><input type="text" name="cantidad_solicitada" value=""><br>
    <label for="id_pedido"><small>* id_pedido</small></label>{{formulario.id_pedido}}<br>
    <label for="id_plato"><small>* id_plato</small></label>{{formulario.id_plato}}<br>
    <label for="id_sucrusal"><small>* id_sucrusal</small></label>{{formulario.id_sucrusal}}<br>

    <input type="submit" value="submit">

</form>
 </div>
{% endblock content %}
</body>
</html>
