<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container" >
<h2>CRUD DETALLE PEDIDO</h2>
<a  href="detallepedidoCreate">Crear Detalle</a>
<table border="1">

    <caption>DETALLE PEDIDO</caption>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">valor</th>
        <th scope="col">observaciones</th>
        <th scope="col">cantidad_solicitada</th>
        <th scope="col">id_pedido</th>
        <th scope="col">id_plato</th>
        <th scope="col">id_sucrusal</th>
    </tr>
    </thead>
    <tbody>
    {% for c in detallepedido %}
    <tr>
        <td>{{c.id_detalle}}</td>
        <td>{{c.valor}}</td>
        <td>{{c.observaciones}}</td>
        <td>{{c.cantidad_solicitada}}</td>
        <td>{{c.id_pedido}}</td>
        <td>{{c.id_plato}}</td>
        <td>{{c.id_sucrusal}}</td>

        <td><a href="{% url 'detallepedidoUpdate' c.id_detalle %}">Actualizar</a></td>
        <td><a href="{% url 'detallepedidoDelete' c.id_detalle %}">Eliminar</a></td>

    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}
</body>

</html>