{% load staticfiles %}
<md-dialog aria-label="Mango (Fruit)" ng-controller="perfilCtrl">
  <form name="dialog" style="width: 500px">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Datos de Perfil</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cerrar()">
        <md-icon md-svg-src="{% static 'home/img/icons/ic_close_24px.svg' %}" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div>
        <form action="#" method="POST">{% csrf_token %}
            <table>
                <tr>
                    <td>
                        <md-input-container>
                            <label>Cedula</label>
                            <input ng-model="cedula" required>
                            <!--div ng-messages="projectForm.description.$error">
                              <div ng-message="required">This is required.</div>
                            </div-->
                          </md-input-container>
                    </td>
                </tr>
                <tr>                    
                    <td>
                        <label>Fecha de Nacimiento</label>
                        <md-datepicker ng-model="fecha_nacimiento" md-placeholder="Enter date"></md-datepicker>
                        <!--md-input-container>
                            <label>Fecha de Nacimiento</label>
                            <input ng-model="fecha_nacimiento" type="date" required>

                          </md-input-container-->
                    </td>
                </tr>
                <tr>
                    <td>
                        <md-input-container>
                            <label>Telefono</label>
                            <input ng-model="telefono" required>
                            <!--div ng-messages="projectForm.description.$error">
                              <div ng-message="required">This is required.</div>                              
                            </div-->
                          </md-input-container>                         
                    </td>
                </tr> 
                <tr>
                    <td>
                        <md-input-container>
                            <label>Genero</label>
                            <input ng-model="genero" required>
                            <!--div ng-messages="projectForm.description.$error">
                              <div ng-message="required">This is required.</div>                              
                            </div-->
                          </md-input-container>                         
                    </td>
                </tr> 
                <tr>                    
                    <td>
                        <md-input-container>
                            <label>Ruta Foto</label>
                            <input ng-model="ruta_foto" required>
                            <!--div ng-messages="projectForm.description.$error">
                              <div ng-message="required">This is required.</div>                              
                            </div-->
                          </md-input-container>                        
                    </td>
                </tr>  
                <tr>
                    <td>
                        <md-input-container>
                            <label>Usuario</label>
                            <input ng-model="id_usuario" required>
                            <!--div ng-messages="projectForm.description.$error">
                              <div ng-message="required">This is required.</div>                              
                            </div-->
                          </md-input-container>                         
                    </td>
                </tr>
                <tr>
                    <td>
                        <md-input-container>
                            <label>Sim</label>
                            <input ng-model="sim_dispositivo" required>
                            <!--div ng-messages="projectForm.description.$error">
                              <div ng-message="required">This is required.</div>
                            </div-->
                          </md-input-container>
                    </td>
                </tr>
            </table>
        </form>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="guardar()" ng-disabled="dialog.$invalid" class="md-raised md-primary">
      Guardar
    </md-button>
    <md-button ng-click="cerrar()" class="md-raised md-primary">
      Cancelar
    </md-button>    
  </div>
  </form>
</md-dialog>
