{% load staticfiles %}
<md-dialog aria-label="Mango (Fruit)" ng-controller="pedidoCtrl">
  <form name="dialog" style="width: 500px">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Datos del pedido</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cerrar()">
        <md-icon md-svg-src="{% static 'home/img/icons/ic_close_24px.svg' %}" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div>

        <form action="#" method="POST">{% csrf_token %}
            <table class="table">
                      <thead>
                        <tr>
                          <th>Cantidad</th>
                          <th>Plato</th>
                          <th>Precio</th>
                        </tr>
                      </thead>
                <tbody>
                    <tr ng-repeat="producto in productos">
                        <th>
                            // producto.cantidad //
                        </th>
                        <th>
                            // producto.nombre //
                        </th>
                         <th>
                            // producto.valor //
                        </th>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>SubTotal</td>
                        <td>
                            // totales.subtotal //
                        </td>
                     </tr>
                    <tr>
                        <td></td>
                        <td>Precio Envio</td>
                        <td>
                            // totales.precio_envio //
                        </td>
                     </tr>
                     <tr>
                         <td></td>
                        <td>Total</td>
                        <td>
                            // totales.total //
                     </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="guardarPedido()" ng-disabled="dialog.$invalid" class="md-raised md-primary">
      Confirmar Pedido
    </md-button>
    <md-button ng-click="cerrar()" class="md-raised md-primary">
      Cerrar Pedido
    </md-button>    
  </div>
  </form>
</md-dialog>
