{% extends 'home/perfilUpdate.html' %} {% load staticfiles %} {% comment %}{% block content %}{% endcomment %} {% block title %}
<title>Actualizar Dirección</title>{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />

<br><br><br><br>
{% block menuPerfil %}
    <link rel="stylesheet" href="https://openlayers.org/en/v3.19.1/css/ol.css" type="text/css">
<!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
<script src="https://openlayers.org/en/v3.19.1/build/ol.js"></script>
{% comment %}<script src="{% static 'home/js/ol.js' %}"></script>{% endcomment %}
{% comment %}<div class="container" >{% endcomment %}
    <div class="col-sm-8 bk-main">
        <br>
    <div class="row">
    <div class="col-md-2"> <h2><a href="{% url 'gestionDirecion' %}" title="Regresar"><span class="glyphicon glyphicon-menu-left"></span>
        </a> </h2></div>
    <div class="col-md-10"><h2>  Actualizar Dirección &nbsp; <span class="glyphicon glyphicon-refresh"></span></h2></div>
        <br>
    </div>
        <hr>
<form action="#" method="POST">{% csrf_token %}
    {{formulario.user}}

    <div class="fields-act form-group"><label class="control-label" for="calle_principal">Calle Principal </label>
        <div class="inputGroupContainer">
            <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-road"></i></span>
                {{formulario.cPrincipal}}
                {{ formulario.latitud }}
            </div>
        </div>
    </div>

    <div class="fields-act form-group"><label class="control-label" for="calle_secundaria">Calle Secundaria </label>
        <div class="inputGroupContainer">
            <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-road"></i></span>
            {{formulario.cSecundaria}}
            </div>
        </div>
    </div>

    <div class="fields-act form-group"><label class="control-label" for="nroCasa">Numero de Casa </label>
        <div class="inputGroupContainer">
            <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            {{formulario.nroCasa}}
            </div>
        </div>
    </div>


            {{formulario.latitud}}

            {{formulario.longitud}}
            {{formulario.errors.longitud}}
            {{formulario.errors.latitud}}



    <div class="fields-act form-group"><label class="control-label" for="referencia">Referencia </label>
        <div class="inputGroupContainer">
            <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
            {{formulario.referencia}}
            </div>
        </div>
    </div>

    {% comment %}<div class="button-icon">
        <a><i class="glyphicon glyphicon-screenshot"></i></a>
        <button class="btn btn-default btn-ok" data-toggle="collapse" data-target="#demo"><i class="glyphicon glyphicon-screenshot"></i></button>
    </div>{% endcomment %}
    <button title="Localízame" id="buttonx" onclick="getPosition()" type="button" class="btn btn-default"><i class="glyphicon glyphicon-screenshot"></i></button>
    <span>Localízame</span>
    <br>
    <br>
    <div  id="map" class="full-map"></div>


    <div id="anzeige" class="marker"><span class="icon-flag"></span></div>

    <br><br>
    <input type="submit" class="btn btn-default btn-ok" value="Actualizar">
    <a href="{% url 'gestionDirecion' %}"><input type="button" class="btn btn-default btn-cancel" value="Cancelar"></a>
    <br><br>

</form>
 </div>
    <script>
    //function inicial(){
{#            var l; #}
{#            l[0]=document.getElementById('latitud').value;#}
{#            l[1]=document.getElementById('latitud').value;#}
{#            var pos = geolocation.getPosition();#}
{#            positionFeature.setGeometry(pos ?#}
{#                new ol.geom.Point(pos) : null);#}
{#            view.setCenter(pos);#}
{#            view.setZoom(16);#}
    //      }
    window.cb = function cb(json) {
	    //do what you want with the json
	    document.getElementById('cPrincipal').innerHTML = json.address.road + ',' + json.address.city;
        alert(json.address.road + ',' + json.address.city);
	};

	window.search = function search(lat, long) {
	    var s = document.createElement('script');
        var dates= 'https://nominatim.openstreetmap.org/reverse?format=json&lat='+lat+'&lon='+long+'&zoom=27&addressdetails=1';
	    s.src = 'https://nominatim.openstreetmap.org/reverse?json_callback=cb&format=json&lat='+lat+'&lon='+long+'&zoom=27&addressdetails=1';
	    document.getElementsByTagName('head')[0].appendChild(s);
	    //document.getElementsByTagName('head')[0].appendChild('<h1> palabras buenas</h2>');
        document.getElementById('latitud').value=lat;
        document.getElementById('longitud').value=long;

        $.ajax({
          type: "POST",
          url: "/street",
          data: {
              lat: lat,
              lon: long,
              csrfmiddlewaretoken:"{{ csrf_token }}"
          },
            success: function(result) {
                alert(result);
                var a="as";
            }, error: function (ass2) {
                var a=ass2.responseText.split(',');
                //var a=ass2.responseText;
                if (a.length > 5){
                    //var a=ass2.responseText;
                    document.getElementById('cPrincipal').value=a[1];
                    document.getElementById('cSecundaria').value=a[2];
                    document.getElementById('referencia').value=a[0]+","+" Codigo Postal: "+a[4];
                }
                if (a.length <= 5) {
                    document.getElementById('cPrincipal').value=a[0];
                    document.getElementById('cSecundaria').value=a[2];
                    document.getElementById('referencia').value=a[1]+","+" Codigo Postal: "+a[3];
                }
            }
        });
	};

    var wmsLayer = new ol.layer.Tile({
        source: new ol.source.OSM()
    });

    var view = new ol.View({
        projection: 'EPSG:4326',
        center: [{{ direccion.longitud }},{{ direccion.latitud }} ],
        zoom: 16
    });

    var iconGeometry = new ol.geom.Point([{{ direccion.longitud }}, {{ direccion.latitud }}]);

    var iconFeature = new ol.Feature({
                    geometry: iconGeometry
    });

    var iconStyle = new ol.style.Style({
                    image: new ol.style.Circle(({
                      radius: 10,
                      fill: new ol.style.Fill({
                        color: '#3399CC'
                      }),
                      stroke: new ol.style.Stroke({
                        color: '#fff',
                        width: 5
                      })
                    }))
                });

    iconFeature.setStyle(iconStyle);
                var vectorSource = new ol.source.Vector({
                    features: [iconFeature]
                });
                var vectorLayer = new ol.layer.Vector({
                    source: vectorSource
                });

    var map = new ol.Map({
        target: 'map',
        layers: [wmsLayer, vectorLayer],
        view: view
      });

    map.on('singleclick', function (evt) {
            var position = evt.coordinate;
          });

    map.on('singleclick', function (evt) {
        iconGeometry.setCoordinates(evt.coordinate);
        var lonlat = ol.proj.transform(evt.coordinate, 'EPSG:4326', 'EPSG:4326');
        var lon = lonlat[0];
        var lat = lonlat[1];
        document.getElementById("latitud").value = lon;
        document.getElementById("longitud").value = lat;
        search(lon, lat);

    });

    function getPosition() {
        var geolocation = new ol.Geolocation({
          tracking: true,
          trackingOptions: {
            enableHighAccuracy: true,
            maximumAge: 2000
          }

        });

        geolocation.on('change', function(event){
          geolocation.setTracking(false);

          var pos = geolocation.getPosition();
          search(pos[0], pos[1]);

          var iconGeometrynew = new ol.geom.Point(pos);
          iconFeature.setGeometry(iconGeometrynew);
          view.setCenter(pos);

          document.getElementById("latitud").value = pos[0];
          document.getElementById("longitud").value = pos[1];

          map.on('singleclick', function (evt) {
            var position = evt.coordinate;
          });

          map.on('singleclick', function (evt) {
                iconGeometrynew.setCoordinates(evt.coordinate);
                var lonlat = ol.proj.transform(evt.coordinate, 'EPSG:4326', 'EPSG:4326');
                  var lon = lonlat[0];
                  var lat = lonlat[1];
                  document.getElementById("latitud").value = lon;
                  document.getElementById("longitud").value = lat;

                    search(lon, lat);
            });
        });

      }


    </script>
{% endblock menuPerfil %}
