<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
<h2>CRUD DIRECCION</h2>
<a  href="direccionCreate">Crear Direccion</a>
<table border="1">

    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">C PRINCIPAL</th>
        <th scope="col">C SECUNDARIA</th>
        <th scope="col">NUMERO CASA</th>
        <th scope="col">LATITUD</th>
        <th scope="col">LONGITUD</th>
        <th scope="col">REFERENCIA</th>
        <th scope="col">ID PERFIL</th>
    </tr>
    </thead>
    <tbody>
    {% for d in direccion %}
    <tr>
        <td>{{d.id_direccion}}</td>
        <td>{{d.calle_principal}}</td>
        <td>{{d.calle_secundaria}}</td>
        <td>{{d.numero_casa}}</td>
        <td>{{d.latitud}}</td>
        <td>{{d.longitud}}</td>
        <td>{{d.referencia}}</td>
        <td>{{d.id_perfil}}</td>

        <td><a href="{% url 'direccionUpdate' d.id_direccion %}">Actualizar</a></td>
        <td><a href="{% url 'direccionDelete' d.id_direccion %}">Eliminar</a></td>

    </tr>
    {% endfor %}
    </tbody>
 </div>
{% endblock content %}
</body>
</html>