{% extends 'home/validarCuenta.html' %} {% load staticfiles %}{% comment %} {% block content %} {% endcomment %}{% block title %}
{%endblock title%}

{% block moreStyle %}

{% endblock moreStyle %}

{% block menuPerfil %}

<div class="col-sm-8 bk-main">
    {% comment %}<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />{% endcomment %}
    <div class="row text-center">
    <h2>Direcciones Registradas</h2>
    </div>
    <hr>
    <button type="button" class="btn btn-default btn-ok" onclick="window.location.href='{% url 'direccionCreate' %}'">
        Nueva Dirección <span class="glyphicon glyphicon-plus"></span>
    </button>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Calle Principal</th>
                    <th scope="col">Calle Secundaria</th>
                    <th scope="col">Nro. Casa</th>
                    <th scope="col">Referencia</th>
                </tr>
            </thead>
            <tbody>
                {% for d in direccion %}
                <tr>
                    <td>{{d.calle_principal}}</td>
                    <td>{{d.calle_secundaria}}</td>
                    <td>{{d.numero_casa}}</td>
                    <td>{{d.referencia}}</td>
                    <td><a href="{% url 'direccionUpdate' d.id_direccion %}"> <i class="glyphicon glyphicon-pencil" title="Actualizar dirección"></i> </a></td>
                    <td><a href="{% url 'direccionDelete' d.id_direccion %}"> <i class="glyphicon glyphicon-trash" title="Eliminar dirección"></i> </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock menuPerfil %}