{% extends 'home/base.html' %}
{% load staticfiles %}

{% block analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84799207-1', 'auto');
      ga('send', 'pageview');
    </script>
{% endblock %}

{% block content %}
  {% block title %}
      <title>Good Appetit</title>
      {%endblock title%}
  <div class="landing-page">
    <!-- Nav -->

    <div class="parallax filter-gradient red" data-color="blue">
        <div class="parallax-background">
            <img src="{% static 'home/img/landing-page-1/good_portada.jpg' %}">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    <div class="parallax-image">
                        <!--h2 style="color: white">Por nuestro lanzamiento</h2-->
                        <img src="{% static '/static/home/img/gratis.png' %}">
                    </div>
                     <!--h4 style="color: white">Del 8 al 11 de Septiembre</h4-->
                </div>
                <br><br><br><br>
                <div class="col-sm-7 col-xs-offset-1">
                    <div class="description">
                        <h2>Tu Comida Favorita, en la puerta de tu casa</h2>
                        <div class="step-description">
                            <h5>Elige un restaurante y paga en efectivo en el momento de la entrega.</h5>
                            <h5>Tenemos la mayor variedad de establecimientos de comida.</h5>
                            <br>
                            <br>
                            <a href="{% url 'spaapp.views.restaurantes' %}" class="btn btn-neutral btn-lg">Ver restaurantes</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="section section-gray section-clients">
        <div class="container text-center">
            <br><br><br>
            <h2 class="header-text">PRÓXIMAMENTE</h2>
            <p>
                   Podrás encontrar <strong>GoodAppetit</strong> en App Store y Google Play.
            </p><br>
            <div class="parallax-image">
                        <img src="{% static 'home/img/landing-page-1/iphone6.png' %}" style=" width: 200px; height: 400px"/>
                    </div>
            <br><br>
             <div class="buttons">
                        <a href="#" data-toggle="modal" data-target="#modalApp">
                            <img width="145" height="45" src="{% static 'home/img/app_store.png' %}" />
                        </a>
                        <!--<a href="#" data-toggle="modal" data-target="#modalApp"> -->
                        <a href="https://play.google.com/store/apps/details?id=com.goodappetit.mobile.app&hl=es">
                            <img width="145" height="45" src="{% static 'home/img/google_play.png' %}" />
                        </a>
                         <!-- <a href="#" data-toggle="modal" data-target="#modalApp">
                            <img width="145" height="45" src="{% static 'home/img/windows_phone_store.png' %}" />
                        </a>-->
                    </div>

        </div>
    </div>

      <!---------------------------------------------------------------------->


      <div class="section section-gray section-clients">
        <div class="container text-center">
            <!--h2 class="header-text">Tipo de comida</h2-->
            <p>

            </p>

        </div>
    </div>



    <div class="section section-no-padding">
        <div class="full-background filter-gradient orange" style="background-image:url({% static 'home/img/landing-page-1/good_parallax.jpg' %});">
            <div class="container">
                <div class="info">
                    <h1>La mejor aplicación web para vender tus productos</h1>
                    <p>¿Tienes un negocio de comida y bebidas? ¿Deseas que  tus productos sean conocidos y venderlos online?
                        Pues ahora es posible, únete y disfruta de todos nuestros servicios disponibles.</p>
                    <a href="{% url 'contacto_adm' %}" class="btn btn-neutral btn-lg">Únete</a>
                </div>
            </div>
        </div>
    </div>

    <div id="contacto" class="section section-contact">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>CONTACTO</h2>
                    <p>Crisantemos y Anturios 13-15   ·   (07) 210 4038 - 098 463 0519 </p>
                    <p>info@goodapettit.com </p>
                    <p></p>
                    <h6>Síguenos en:</h6>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/GoodAppetit_ec" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/goodAppetit/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>



        <!-- modal direccion -->
                    <div class="modal fade" id="modalApp" tabindex="5" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div style="text-align: center" class="modal-body">
                                    <h4>Muy pronto en tu tienda de apliciones!!!</h4>
                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-default btn-ok" data-dismiss="modal">
                                        Aceptar
                                    </button>
                                    <!--button type="button" ng-click="guardarDireccion()" class="btn btn-primary">Aceptar</button-->

                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- fin modal -->

    <footer class="footer main-footer">
        <div class="container">
            <nav class="pull-left copyright">
                &copy; 2017
                <a href="{% url 'acerca_de' %}" class="btn btn-social btn-simple">Acerca de</a>
            </nav>
            <div class="social-area pull-right">
                <a href="https://twitter.com/GoodAppetit_ec" target="_blank" class="btn btn-social btn-simple"><i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a>
                <a href="https://www.facebook.com/goodAppetit/" target="_blank" class="btn btn-social btn-simple"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"></span></a>
                <a href="#" class="btn btn-social btn-simple"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name"></span></a>
            </div>

        </div>

        <div class="fixed-plugin">
        </div>

    </footer>
</div>

<!-- Efecto parallax-->
<script type="text/javascript">
    var big_image;
    $().ready(function() {

        responsive = $(window).width();

        if (responsive >= 768) {
            big_image = $('.parallax-background').find('img');
            console.log(big_image);
            $(window).on('scroll', function() {
                parallax();
            });
        }

        $('.selector').click(function() {
            SelectColor(this);
        });
    });

    function SelectColor(btn) {
        oldColor = $('.filter-gradient').attr('data-color');
        newColor = $(btn).attr('data-color');

        oldButton = $('#Demo').attr('data-button');
        newButton = $(btn).attr('data-button');

        $('.filter-gradient').removeClass(oldColor).addClass(newColor).attr('data-color', newColor);

        $('#Demo').removeClass("btn-" + oldButton).addClass("btn-" + newButton).attr('data-button', newButton);

        $('.carousel-indicators').removeClass("carousel-indicators-" + oldColor).addClass("carousel-indicators-" + newColor);

        $('.card').removeClass("card-" + oldColor).addClass("card-" + newColor);

        $('.selector').parent().removeClass('active');
        $(btn).parent().addClass('active');
    }

    var parallax = function() {
        var current_scroll = $(this).scrollTop();

        oVal = ($(window).scrollTop() / 3);
        big_image.css('top', oVal);
    };
</script>
<script src="{% static 'home/js/SmoothScroll.js' %}"></script>

<!--Poner script para Google Analitics -->

{% endblock %}
