<!doctype html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div class="container" >
<h2>Crear Transportista</h2>
<form action="#" method="POST">{% csrf_token %}
    <label for="dias"><small>* dias</small></label><input type="text" name="dias" value=""><br>
    <label for="horas"><small>* horas</small></label><input type="text" name="horas" value=""><br>
    <label for="id_transportista"><small>* id_transportista</small></label>{{formulario.id_transportista}}<br>
    <input type="submit" value="submit">
</form>
 </div>
{% endblock content %}
</body>
</html>

