<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
<h2>CRUD HORARIO TRANSPORTISTA</h2>
<a  href="horariotransportistaCreate">Crear Horario Trasnportista</a>
<table border="1">

    <thead>
    <tr>
        <th scope="col">id_horario</th>
        <th scope="col">dias</th>
        <th scope="col">horas</th>
        <th scope="col">id_transportista</th>

    </tr>
    </thead>
    <tbody>
    {% for i in horariotransportista %}
    <tr>
        <td>{{i.id_horario}}</td>
        <td>{{i.dias}}</td>
        <td>{{i.horas}}</td>
        <td>{{i.id_transportista}}</td>
        <td><a href="{% url 'horariotransportistaUpdate' i.id_horario %}">Actualizar</a></td>
        <td><a href="{% url 'horariotransportistaDelete' i.id_horario %}">Eliminar</a></td>

    </tr>
    {% endfor %}
    </tbody>
     </div>
{% endblock content %}
</body>
</html>
