<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<body>
<div class="container" >
<h2>CRUD INGREDIENTE</h2>
<a  href="ingredienteCreate">Crear Ingrediente</a>
<table border="1">

    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">NOMBRE</th>

    </tr>
    </thead>
    <tbody>
    {% for i in ingrediente %}
    <tr>
        <td>{{i.id_ingrediente}}</td>
        <td>{{i.nombre}}</td>
        <td><a href="{% url 'ingredienteUpdate' i.id_ingrediente %}">Actualizar</a></td>
        <td><a href="{% url 'ingredienteDelete' i.id_ingrediente %}">Eliminar</a></td>

    </tr>
    {% endfor %}
    </tbody>
    </div>
{% endblock content %}
</body>
</html>