{% extends 'home/base.html' %}
{% load staticfiles %}

{% block analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84799207-1', 'auto');
      ga('send', 'pageview');
    </script>
{% endblock %}

 {% block content %}
  {% block title %}
      <title>Login</title>
  {%endblock title%}
  <link href="{% static 'home/css/login.css' %}" rel="stylesheet" />
  <div class="login">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 form-box content-login">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Inicia sesión con</h3><br>

                    <a href="{% url 'social:begin' 'facebook'%}" class="btn-facebook btn-lg btn-social-net">
                        <i class="fa fa-facebook fa-fw"></i>
                        <span class="network-name">Facebook</span>
                    </a>
                    {% comment %}<a href="{% url 'social:begin' 'twitter'%}" class="btn-twitter btn-lg btn-social-net">
                        <i class="fa fa-twitter fa-fw"></i>
                        <span class="network-name">Twitter</span>
                    </a>{% endcomment %}
                    <a href="{% url 'social:begin' 'google-oauth2'%}" class="btn-google btn-lg btn-social-net">
                        <i class="fa fa-google fa-fw"></i>
                        <span class="network-name">Google</span>
                    </a>
                    <br>

                </div>
                <div class="messages-menu">
                    {% if messages %}
                                <ul class="messages">
                                {% for message in messages %}
                                    <li class="{{ message.tags }}">{{ message }}</li>
                                {% endfor %}
                                </ul>
                    {% endif %}
                </div>

                <div class="socialLogin-separator">

                    <span>o</span>
                    <hr>

                </div>
                <div><p>Inicia sesión con tus datos:</p></div>


            </div>
            <div class="form-bottom">
                <!--form role="form" action="/login" method="post" class="login-form">
                  <div class="form-group">
                        <label class="sr-only" for="form-username">Username</label>
                        <input type="text" name="username" placeholder="Username..." class="form-username form-control" id="form-username">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-password">Password</label>
                        <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
                    </div>
                    <a href="#">¿Has olvidado tu contraseña?</a>
                    <br><br><br>

                   {% csrf_token %}

                    <button type="submit" class="btn btn-ok">Iniciar sesión</button>
                    <br><br><br>
                    <span>¿Eres nuevo en {{nombre_app}}? </span> <a href="#"> Registrate</a>
                </form-->
                <!--form class="post-form" method="POST" action="{% url 'login' %}"><!--name="formUser"-->
                <form class="post-form" method="POST" action="/login"><!--name="formUser"-->
                        {% csrf_token %}
                        {% for hidden in formulario.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        {{ form.as_p }}

                        <button type="submit" class="btn btn-ok">Inicia Sesión</button>


                </form>


            </div>
            <br>
                 <div class="etc-login-form">
                    <br><p>¿Eres nuevo en GoodAppetit? <a href="{% url 'registro' %}">Registrate</a></p>
                </div>
                <div class="etc-login-form">
                    <br><p>¿Olvidaste tu contraseña? <a href="{% url 'password_reset' %}">Recuperar contraseña</a></p>
                </div>

        </div>
    </div>
</div>
 {% endblock%}
