
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<div class="container">


    <div ng-app="countryApp" ng-controller="CountryListCtrl" ng-init="inicio()">

    <div class="row">
        <style type="text/css">
            #map-container { width: 740px; height:770px; float: left }
            #map { width: 800px; height: 100% }
        </style>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js"></script>
        <script src="{% static 'home/js/OpenLayers/OpenLayers.js' %}"></script>
        <script type="text/javascript">
            var countryApp = angular.module('countryApp', ["ngRoute"]);
            var rows = [], empleados = [], row, texto;
            var punto;
            var map, measureControls, vectorLayer;
            countryApp.controller('CountryListCtrl', function ($scope, $http) {

                function actualizar()
                {
                    map.layers[1].removeAllFeatures();
                    map.layers[2].removeAllFeatures();
                    var req = {
                        method: 'GET',
                        url: '../../../obtenerTodasDirecciones',
                        params: {
                            //fechaRecorrido:fechaRecorrido,
                            empleado: 1// empleado===undefined ? 0 : empleado.id
                        }
                    };
                    $http(req)
                            .success(function (response) {
                                //rows = response.records;
                                angular.forEach(response.lista, function (value, key) {
                                    rows.push(JSON.parse(value))
                                });
                                var i = 0;
                                var lon2 = -79.210953;
                                var lat2 = -4.0114529;
                                for (i = 0; i < rows.length; i++)
                                {
                                    texto = rows[i].calle_principal + " " + rows[i].calle_secundaria + "<>" + rows[i].numero_casa + "<>" + rows[i].referencia;
                                    lon = rows[i].longitud;
                                    lat = rows[i].latitud;

                                    lonlatObject1 = new OpenLayers.LonLat(lon, lat).transform(
                                            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                                            new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
                                            );

                                    punto1 = {"type": "Point", "coordinates": [lonlatObject1.lon, lonlatObject1.lat]};
                                    //var punto2 = {"type": "Point", "coordinates": [lonlatObject2.lon, lonlatObject2.lat]};
                                    geojson = new OpenLayers.Format.GeoJSON();
                                    /*if (i < rows.length - 1 && rows[i].empleado === rows[i + 1].empleado)
                                    {
                                        lon2 = rows[i + 1].longitud;
                                        lat2 = rows[i + 1].latitud;
                                        lonlatObject2 = new OpenLayers.LonLat(lon2, lat2).transform(
                                                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                                                new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
                                                );
                                        var json = {"type": "LineString", "coordinates": [[lonlatObject1.lon, lonlatObject1.lat], [lonlatObject2.lon, lonlatObject2.lat]]};
                                        punto.addFeatures(geojson.read(json));
                                    }*/
                                    //punto.addFeatures(geojson.read(punto1));
                                    //punto.addFeatures(geojson.read(punto2));

                                    feature = new OpenLayers.Feature.Vector(//-79.198753246573,-3.9866758993433
                                            new OpenLayers.Geometry.Point(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                                            new OpenLayers.Projection("EPSG:900913")),
                                            {description: texto},
                                            {
                                                externalGraphic: "{% static 'home/img/redMarker.png' %} ",
                                                graphicHeight: 25, graphicWidth: 21, graphicXOffset: -12, graphicYOffset: -25}
                                    );
                                    vectorLayer.addFeatures(feature);
                                    //map.addLayers([mapnik, punto, vectorLayer]);
                                }
                            });

                }
                $scope.click = function ()
                {
                    alert('x');
                }
                $scope.inicio = function () {

                    texto = "PC1";
                    var lon = -79.210953;
                    var lat = -4.0114529;

                    map = new OpenLayers.Map("map");
                    var mapnik = new OpenLayers.Layer.OSM();
                    var renderer = OpenLayers.Util.getParameters(window.location.href).renderer;
                    renderer = (renderer) ? [renderer] : OpenLayers.Layer.Vector.prototype.renderers;
                    punto = new OpenLayers.Layer.Vector("Puntos"
                            ,{
                        styleMap: new OpenLayers.StyleMap({
                        strokeColor: "#666000",
                        strokeWidth: 2,
                        strokeDashstyle: "dashdot",
                        pointRadius: 4,
                        pointerEvents: "visiblePainted"
                                }),
                                renderers: renderer
                            }
                    );

                    vectorLayer = new OpenLayers.Layer.Vector("Overlay");
                    var lonlatObject1 = new OpenLayers.LonLat(lon, lat).transform(
                            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                            new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
                            );
                    var lonlatObject2 = new OpenLayers.LonLat(lon, lat).transform(
                            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                            new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
                            );
                    var feature = new OpenLayers.Feature.Vector(//-79.198753246573,-3.9866758993433
                            new OpenLayers.Geometry.Point(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                            new OpenLayers.Projection("EPSG:900913")),
                            {description: texto},
                            {externalGraphic: 'redMarker.png', graphicHeight: 25, graphicWidth: 21, graphicXOffset: -12, graphicYOffset: -25}
                    );
                    var punto1 = {"type": "Point", "coordinates": [lonlatObject1.lon, lonlatObject1.lat]};
                    var geojson = new OpenLayers.Format.GeoJSON();
                    //punto.addFeatures(geojson.read(punto1));
                    map.addLayers([mapnik, punto, vectorLayer]);

                    var controls = {
                        selector: new OpenLayers.Control.SelectFeature(vectorLayer, {
                            onSelect:
                                    function (feature) {
                                        createPopup(feature);
                                    }
                            , onUnselect: destroyPopup})
                    };

                    map.addControl(controls['selector']);
                    controls['selector'].activate();

                    function createPopup(feature) {
                        feature.popup = new OpenLayers.Popup.FramedCloud("pop",
                                feature.geometry.getBounds().getCenterLonLat(),
                                null,
                                '<div class="markerContent">' + feature.data.description + '</div>',
                                null,
                                true,
                                function () {
                                    controls['selector'].unselectAll();
                                }
                        );
                        //feature.popup.closeOnMove = true;
                        map.addPopup(feature.popup);
                    }

                    function destroyPopup(feature) {
                        feature.popup.destroy();
                        feature.popup = null;
                    }
                    map.addControl(new OpenLayers.Control.PanZoomBar());
                    map.setCenter(new OpenLayers.LonLat(lon, lat) // Center of the map
                            .transform(
                                    new OpenLayers.Projection("EPSG:4326"),
                                    new OpenLayers.Projection("EPSG:900913")
                                    ), 14
                            );
                    actualizar();
                    setInterval(function () {
                        actualizar();
                    }, 30000);
                }
            });
        </script>


        <div id="map" style="width: 100%; height: 600px; border: 2px solid red;"></div>

        <div class="col-md-3">
            <a id="A_37" ng-click="alert('x')" >ok</a>
            <button ng-click="click()" >ok</button>
        </div>

        </div>
    </div>

</div>

{% endblock content %}