<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
<h2>CRUD PEDIDO</h2>
<a  href="pedidoCreate">Crear Pedido</a>
<table border="1">

    <caption>DETALLE PEDIDO</caption>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">fecha</th>
        <th scope="col">estado</th>
        <th scope="col">valor</th>
        <th scope="col">id_tipo_pago</th>
        <th scope="col">id_tipo_pedido</th>
        <th scope="col">id_trasportista</th>
        <th scope="col">id_cliente</th>
        <th scope="col">id_direccion</th>

    </tr>
    </thead>
    <tbody>
    {% for c in pedido %}
    <tr>
        <td>{{c.id_pedido}}</td>
        <td>{{c.fecha}}</td>
        <td>{{c.estado}}</td>
        <td>{{c.valor}}</td>
        <td>{{c.id_tipo_pago}}</td>
        <td>{{c.id_tipo_pedido}}</td>
        <td>{{c.id_trasportista}}</td>
        <td>{{c.id_cliente}}</td>
        <td>{{c.id_direccion}}</td>
        <td><a href="{% url 'pedidoUpdate' c.id_pedido %}">Actualizar</a></td>
        <td><a href="{% url 'pedidoDelete' c.id_pedido %}">Eliminar</a></td>

    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}

</body>
</html>

 