<!doctype html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div class="container" >
<h2>Crear Detalle Pedido</h2>
<form action="#" method="POST">{% csrf_token %}
    {% for hidden in formulario.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <label for="fecha"><small>* fecha</small></label><input type="date" name="fecha" value=""><br>
    <label for="estado"><small>* estado</small></label><input type="text" name="estado" value=""><br>
    <label for="valor"><small>* valor</small></label><input type="text" name="valor" value=""><br>
    <label for="id_tipo_pago"><small>* id_tipo_pago</small></label>{{formulario.id_tipo_pago}}<br>
    <label for="id_tipo_pedido"><small>* id_tipo_pedido</small></label>{{formulario.id_tipo_pedido}}<br>
    <label for="id_trasportista"><small>* id_trasportista</small></label>{{formulario.id_trasportista}}<br>
    <label for="id_cliente"><small>* id_cliente</small></label>{{formulario.id_cliente}}<br>
    <label for="id_direccion"><small>* id_direccion</small></label>{{formulario.id_direccion}}<br>

    <input type="submit" value="submit">

</form>
</div>
{% endblock content %}
</body>
</html>
