<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pedidoTitle</title>
</head>
<body>
<h1>hola</h1>

<p>{{ comentario }}</p>
<p>{{ domicilio }}</p>
<p>{{ pedido1 }}</p>

</body>
</html>