<!doctype html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<div class="container" >
    <h2>Crear perfil</h2>
<form action="#" method="POST" enctype="multipart/form-data">
{% csrf_token %}
    {% for hidden in formulario.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% csrf_token %}

                <div class="form-group">
                    <label for="nombre_propietario" class="col-sm-2 control-label">Cédula</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="nombre_propietario" placeholder="Cédula" name="cedula">
                    </div>
                  </div><br>
                  <div class="form-group">
                    <label for="apellidos" class="col-sm-2 control-label">Fecha de Nacimiento</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="apellidos" placeholder="Fecha de Nacimiento" name="fecha_nacimiento">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="ciudad" class="col-sm-2 control-label">Teléfono</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="ciudad" placeholder="Teléfono" name="telefono">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="nombre_empresa" class="col-sm-2 control-label">Género</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="nombre_empresa" placeholder="Género" name="genero">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="direccion" class="col-sm-2 control-label">Ruta de foto</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="direccion" placeholder="Ruta de la foto" name="ruta_foto">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="tipo_negocio" class="col-sm-2 control-label">Sim Dispositivo {{user.id}}</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="tipo_negocio" placeholder="Sim Dispositivo" name="sim_dispositivo">
                    </div>
                  </div>
                  

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <br><button type="submit" class="btn btn-default">Enviar</button>
                    </div>
                  </div>





    <!--
    <label for="cedula"><small>* cedula</small></label>{{formulario.cedula}}<br>
    <label for="fecha_nacimiento"><small>* fecha_nacimiento</small></label>{{formulario.fecha_nacimiento}}<br>
    <label for="telefono"><small>* telefono</small></label>{{formulario.telefono}}<br>
    <label for="genero"><small>* genero</small></label>{{formulario.genero}}<br>
    <label for="ruta_foto"><small>* ruta_foto</small></label>{{formulario.ruta_foto}}<br>
    <label for="id_usuario"><small>* id_usuario</small></label>{{formulario.id_usuario}}<br>
    <label for="sim_dispositivo"><small>* sim_dispositivo</small></label>{{formulario.sim_dispositivo}}<br>

    <input type="submit" value="submit">
    -->

</form>
    </div>
{% endblock content %}
</body>
</html>