
{% extends 'home/base.html' %} {% load staticfiles %}
{% block estilos %}
    <link href="{% static 'home/css/landing-page.css' %}" rel="stylesheet"/>
    <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet"/>
{% endblock estilos %}

{% block analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84799207-1', 'auto');
      ga('send', 'pageview');
    </script>
{% endblock %}

{% block content %}


    {% block title %}
        <title>Mis pedidos</title>
{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
{% comment %}<div class="container" ng-app="restauranteApp" ng-controller="restauranteCtrl">{% endcomment %}

    <div id="ordenar" class="container" ng-controller="restauranteCtrl">

<style>
    .star-rating__checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.star-rating__star {
  display: inline-block;
  padding: 2px;
  vertical-align: middle;
  line-height: 1;
  font-size: 2.5em;
  color: #ABABAB;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}
.star-rating__star:hover {
  cursor: pointer;
}
.star-rating__star.is-selected {
  color: #FFD700;
}
.star-rating__star.is-disabled:hover {
  cursor: default;
}
    </style>

    <div class="row">
        <!-- links navegación -->
        <ol class="breadcrumb path-menu-order">
            <li><a href="{% url 'spaapp.views.home' %}">Inicio</a></li>
            <li><a href="{% url 'spaapp.views.restaurantes' %}">Restaurantes</a></li>
            <li><a href="#" class="active">Pedidos</a></li>
        </ol>

    <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 titulo_restautantes">
        <br>
        <h3>Elige tu comida favorita en {{ sucursales.count }} restaurantes con entrega a domicilio</h3>
        <br>
    </div>-->
        <div class="main-content orders-main-content req-main-content">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <!-- Panel Filtros-->
                <div class="input-group input-group-lg">
                    <input id="buscarT" type="text" ng-model="txtBuscar" class="form-control"
                           placeholder="Busca tu pedido">
                    <span class="input-group-btn ">
                        <button class="btn btn-success">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <br>
                <div class="list-group">
                    <form action="" method="post">{% csrf_token %}
                        <input id="datos" type="hidden" name="opcion">
                    <input type="button" class="form-control btn " disabled value="Ordenar Por">
                    <input type="submit" class="form-control btn btnSelect" onclick="ordeFecha2(this)" value="Fecha">
                    <input type="submit" class="form-control btn btnSelect" onclick="ordeFecha2(this)" value="Nombre">
                    <input type="submit" class="form-control btn btnSelect" onclick="ordeFecha2(this)" value="Precio">
                    <input type="submit" class="form-control btn btnSelect" onclick="ordeFecha2(this)" value="Estado de Entrega">
                    {% comment %}<a href="#" class="list-group-item disabled">Ordenar Por</a>
                    <a href="#" class="list-group-item" onclick="ordeFecha()">Fecha</a>
                    <a href="#" class="list-group-item" onclick="ordeNombre()">Nombre</a>
                    <a href="#" class="list-group-item" onclick="ordePrecio()">Precio</a>
                    <a href="#" class="list-group-item" onclick="ordeEstado()">Estado de Entrega</a>{% endcomment %}
                    </form>
                </div>
                <div id="aviso"></div>

            </div>

        <div class="main-content">
            <span id="filter-count"></span>
        </div>

            <!-- Lista de restaurantes-->
            <div class="col-xs-12 col-sm-8 col-md-8">

                {% comment %}{% for sucursal in sucursales %}{% endcomment %}
                {% comment %}{% for deta in detalle %}
                <ul>
                <li>{{ deta.0.id_plato.nombre_producto }}AAA</li>
                </ul>
            {% endfor %}{% endcomment %}
                <div id="app">
                {% if resPediDeta %}
                {% for pedidos in resPediDeta %}

                    <div class="pedidos2 row" ng-repeat="sucursal in sucursales"
                         ng-if="sucursal.pk=={{ pedidos.pedido.id_sucursal_id }}">
                        {% comment %}{% for fo in pedidos.pedido %}{% endcomment %}
                        <div class="img_rest col-md-2 req-img req-img-cont">
                            <a href="#"><img class="req-img" alt="" width="150" height="150"
                                             src="media/{{ pedidos.pedido.id_sucursal.id_proveedor.id_perfil.ruta_foto }}"
                                             id="IMG_5"/></a>
                        </div>
                       {% comment %} {% endfor %}{% endcomment %}
                    <div class="descripcion_rest col-lg-10 req-descr">
                        <ul>
                        <li>
                            <a href="#" class="titulo_rest_desc req-title">{{ pedidos.pedido.id_sucursal.nombre_sucursal }}</a>
                        </li>
                            {% for foo in pedidos.detalle %}
                                    <li>
                                        <div>
                                            <a href="#" class="description"><i
                                                    class="fa fa-list-alt fa-fw"></i>{{ foo.id_plato.nombre_producto }}
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                                <li>
                                    {% comment %}<a href="#" class="description"><i class="fa fa-cutlery fa-fw" aria-hidden="true"> </i> {{ sucursal.id_proveedor.id_categoria }}</a>{% endcomment %}
                                    <a href="#" class="description"><i class="fa fa-calendar fa-fw"
                                                                       {% comment %}aria-hidden="true"> </i> {{ pedidos.pedido.fecha}}{% endcomment %}
                                                                       aria-hidden="true"> </i> {{ pedidos.fechaModifi}}
                                    </a>
                                </li>
                                <li>
                                    {% comment %}<a href="#" class="description"><i class="fa fa-cutlery fa-fw" aria-hidden="true"> </i> {{ sucursal.id_proveedor.id_categoria }}</a>{% endcomment %}
                                    <a href="#" class="description"><i class="fa fa-money fa-fw"
                                                                       aria-hidden="true"> </i> {{ pedidos.pedido.valor }} $
                                    </a>
                                </li>
                                <li>
                                    <div id="d{{ pedidos.pedido.id_pedido }}"></div>
                                    {% if pedidos.pedido.tiempo != null   %}
                                         <a href="#" class="description">

                                         {% if pedidos.pedido.id_tipo_pedido.pk == 1 %}
                                             {% if pedidos.pedido.id_estado.pk > 2%}
                                                 <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
                                                     Tiempo de entrega: {{ pedidos.pedido.tiempo }} min

                                             {% endif %}

                                         {% else %}
                                            <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
                                                Tiempo de entrega: {{ pedidos.pedido.tiempo }} min
                                         {% endif %}

                                         </a>
                                    {% endif %}
                                </li>
                                <li>

                                    {% comment %}<a href="#" class="description"><i class="fa fa-map-marker fa-fw"
                                                                       aria-hidden="true"> </i>{{ pedidos.pedido.id_sucursal.id_direccion }}
                                    </a>{% endcomment %}

                                    {% if pedidos.pedido.id_estado.pk == 5  %}
                                        <a href="#" class="description">
                                            <div class="progress">
                                                <div id="{{ pedidos.pedido.id_pedido }}" class="progress-bar progress-bar-success" role="progressbar"
                                                 style="width:100%">
                                                    Entregado <i class="fa fa-check fa-fw" aria-hidden="true"> </i>
                                                </div>
                                            </div>
                                        </a>

                                    {% elif pedidos.pedido.id_estado.pk == 4 %}
                                        <a href="#" class="description">
                                            <div class="progress">
                                                <div id="{{ pedidos.pedido.id_pedido }}" class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" style="width:80%">
                                                    En proceso <i class="fa fa-paper-plane fa-fw" aria-hidden="true"> </i>
                                                </div>
                                            </div>
                                        </a>

                                    {% elif pedidos.pedido.id_estado.pk == 3 %}
                                        <a href="#" class="description">
                                            <div class="progress">
                                                <div id="{{ pedidos.pedido.id_pedido }}" class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                                                style="width:60%">
                                                    En proceso <i class="fa fa-paper-plane fa-fw" aria-hidden="true"> </i>
                                                </div>
                                            </div>
                                        </a>

                                    {% elif pedidos.pedido.id_estado.pk == 2 %}
                                        <a href="#" class="description">
                                            <div class="progress">
                                                <div id="{{ pedidos.pedido.id_pedido }}" class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
                                                style="width:40%">
                                                    En proceso <i class="fa fa-paper-plane fa-fw"
                                                                       aria-hidden="true"> </i>
                                                </div>
                                            </div>
                                        </a>

                                    {% elif pedidos.pedido.id_estado.pk == 1 %}
                                        <a href="#" class="description">
                                            <div class="progress">
                                                <div id="{{ pedidos.pedido.id_pedido }}" class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
                                                style="width:20%">
                                                    En proceso <i class="fa fa-paper-plane fa-fw" aria-hidden="true"> </i>
                                                </div>
                                            </div>
                                        </a><br>
                                        <a href="#m{{ pedidos.pedido.pk }}" class="btn btn-danger cancel" id="b{{ pedidos.pedido.pk }}" data-toggle="modal">Cancelar Pedido</a>

                                    {% elif pedidos.pedido.id_estado.pk == 10 %}
                                        <a href="#" class="description">
                                            <div class="progress">
                                                <div id="{{ pedidos.pedido.id_pedido }}" class="progress-bar progress-bar-danger" role="progressbar"
                                                style="width:100%">
                                                    Pedido cancelado por el Cliente <i class="fa fa-minus-circle fa-fw" aria-hidden="true"> </i>
                                                </div>
                                            </div>
                                        </a>
                                        <p> <br></p>

                                    {% elif pedidos.pedido.id_estado.pk == 11 %}
                                        <a href="#" class="description">
                                            <div class="progress">
                                                <div id="{{ pedidos.pedido.id_pedido }}" class="progress-bar progress-bar-danger" role="progressbar"
                                                style="width:100%">
                                                    Pedido cancelado por el Restaurante <i class="fa fa-minus-circle fa-fw" aria-hidden="true"> </i>
                                                </div>
                                            </div>
                                        </a>
                                        <p> <br></p>


                                    {% endif %}
                                </li>
                                {% comment %}<li>
            <a href="#" class="description"> <i class="fa fa-money fa-fw" aria-hidden="true"> </i>Efectivo / online / cupones</a>
            </li>{% endcomment %}
                                {% comment %}<li>
                                    <div id="demo{{ pedidos.pedido.id_pedido }}"
                                         class="collapse">{{ pedidos.pedido.observaciones }}</div>
                                </li>{% endcomment %}

                                <li id="{{ pedidos.pedido.id_sucursal.pk }}" class="{{ pedidos.pedido.pk }}">

                                    <div class="valoracion" id="c{{ pedidos.pedido.pk }}">

                                        {% if pedidos.pedido.id_estado.pk != 10 and pedidos.pedido.id_estado.pk != 11 %}

                                            {% if pedidos.valor == None %}
                                                <star-rating></star-rating>
                                                <kbd class="lead" id='kbd{{ pedidos.pedido.id_pedido }}'>  Sin valoración</kbd>

                                             {% else %}
                                                <star-rating value="{{ pedidos.valor }}" disabled="true"></star-rating>
                                            {% endif %}

                                        {% endif %}
                                    </div>

                                </li>
                            </ul>
                        </div>
                        {% comment %}<a href="{% url 'spaapp.views.lista_menu' sucursal_id=sucursal.pk menu_id=sucursal.id_menu.pk %}" id="A_37">Ver Detalle</a>
            {% endcomment %}
                        {% comment %}<div class="btn_ver pull-right">
                <a href="#" id="A_37" data-toggle="collapse" data-target="#demo{{ pedidos.pedido.id_pedido }}">Ver Detalle</a>
            </div>{% endcomment %}
                    </div>
                    {% comment %}{% endfor %}{% endcomment %}

                    <!-- Modal para cancelar pedido -->

                        <div class="modal fade" id="m{{ pedidos.pedido.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document" id="{{ pedidos.pedido.pk }}">
                            <div class="modal-content">
                              <div class="modal-header modal-title">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4  class="modal-title" id="myModalLabel">Cancelar Pedido</h4>
                              </div>
                              <div class="modal-body">

                                  <h3>¿Está seguro que desea cancelar su pedido?</h3>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="cancelarPedido({{ pedidos.pedido.pk }}, 'Cancelado por Cliente'); ocultar(b{{ pedidos.pedido.pk }})">Aceptar</button>
                              </div>
                            </div>
                          </div>
                        </div>

                    <!-- Fin del modal -->

                {% endfor %}
                    {% else %}
                    <div class="col-md-12">
                    <p>Aun no has realizado ningún pedido, cuando lo realices podrás regresar aquí y visualizar el estado de todos tus pedidos realizados.</p>
                    </div>
                {% endif %}
                </div>
                {% comment %}{% for sucursal in sucursales %}

            <div class="restaurante" ng-repeat="sucursal in sucursales" ng-if="sucursal.pk=={{ sucursal.id_sucursal }}">
                <div class="img_rest">
                    <a href="#"><img alt="" width="80" height="80" src="media/{{ sucursal.id_proveedor.id_perfil.ruta_foto }}" id="IMG_5" /></a>
                </div>
                <div class="descripcion_rest">
                    <ul>
                        <li>
                            <div>
                                <a href="#" class="titulo_rest_desc">{{sucursal.nombre_sucursal}}</a>
                            </div>
                        </li>
                        <li>
                            <div id="DIV_13_">
                                <a href="#" id="A_15"></a>
                                <i id="I_17"><i id="I_18"></i></i>
                                <p id="P_19"><span id="SPAN_20_">64</span>Valoraciones de los usuarios</p>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="description"><i class="fa fa-cutlery fa-fw" aria-hidden="true"> </i> {{ sucursal.id_proveedor.id_categoria }}</a>
                        </li>
                        <li>
                            <a href="#" class="description"><i class="fa fa-map-marker fa-fw" aria-hidden="true"> </i>{{ sucursal.id_direccion }}
                                </a>
                        </li>
                        <li>
                            <a href="#" class="description"> <i class="fa fa-money fa-fw" aria-hidden="true"> </i>Efectivo / online / cupones</a>
                        </li>
                    </ul>
                </div>

                <div class="btn_ver pull-right">
                    <a href="{% url 'spaapp.views.lista_menu' sucursal_id=sucursal.pk menu_id=sucursal.id_menu.pk %}" id="A_37">Ver Menú</a>
                </div>
            </div>
            {% endfor %}{% endcomment %}
            </div>
        </div>
    </div>
</div>



    <footer class="footer main-footer">
        <div class="container">
            <nav class="pull-left copyright">
                &copy; 2016
            </nav>
            <div class="social-area pull-right">
                <a href="#" class="btn btn-social btn-simple"><i class="fa fa-twitter fa-fw"></i> <span
                        class="network-name"></span></a>
                <a href="#" class="btn btn-social btn-simple"><i class="fa fa-facebook fa-fw"></i> <span
                        class="network-name"></span></a>
                <a href="#" class="btn btn-social btn-simple"><i class="fa fa-google-plus fa-fw"></i> <span
                        class="network-name"></span></a>
            </div>
        </div>

        <div class="fixed-plugin">
        </div>
    </footer>


    <script type="text/x-template" id="template-star-rating">
  <div class="star-rating"
       onmouseout="selectDiv(this)"
       onclick="voto(this)">
    <label
      class="star-rating__star"
      onmouseover="select(this)"
      onmouseout="normal(this)"
      v-repeat="rating in ratings"
      v-class="is-selected: ((value >= rating) && value != null), is-disabled: disabled"
      v-on="mouseover: star_over(rating), mouseout: star_out, click: set(rating)">
      <input
        class="star-rating star-rating__checkbox"
        type="radio"
        v-attr="name: name, value: rating, required: required, id: id, disabled: disabled"
        v-model="value">
      ★
    </label>
    {% comment %}<kbd
    class="lead"
    id='kbd'>  Sin valoración</kbd>{% endcomment %}
  </div>


</script>


    <script src='https://cdn.jsdelivr.net/vue/0.12.16/vue.js'></script>
    <script src="{% static 'home/js/index.js' %}" type="text/javascript"></script>

    <script>
    var valorC=null;
function select(x) {
    var valor=valorC;
    {% comment %}valorC=null;{% endcomment %}
    var valorV=x.control.value;
    /*var valorC=x.nextElementSibling.id;*/
    /*alert(valorC);*/

    if (valorV==5){
        var kbd= document.getElementById(valor).innerHTML="Excelente";
        var kbd= document.getElementById(valor).className="lead btn-success";
    }
    else if (valorV==4){
        var kbd= document.getElementById(valor).innerHTML="Bueno";
        var kbd= document.getElementById(valor).className="lead btn-primary";
    }
    else if (valorV==3){
        var kbd= document.getElementById(valor).innerHTML="Normal";
        var kbd= document.getElementById(valor).className="lead btn-info";
    }
    else if (valorV==2){
        var kbd= document.getElementById(valor).innerHTML="Malo";
        var kbd= document.getElementById(valor).className="lead btn-warning";
    }
    else if (valorV==1){
        var kbd= document.getElementById(valor).innerHTML="Muy malo";
        var kbd= document.getElementById(valor).className="lead btn-danger";
    }

}

function normal(x) {
    var kbd= document.getElementById(valorC).innerHTML="Sin valoracion";
    var kbd= document.getElementById(valorC).className="lead";
    valorC=null;

}
function voto(x){
    console.log('voto');
    console.log(x);
    var cont=0;
        for(i=0; i<5; i++) {
            x.children[i].removeAttribute("onmouseover");
            x.children[i].removeAttribute("onmouseout");
            {% comment %}x.children[i].className=x.children[i].className.replace( /(?:^|\s)star-rating__star(?!\S)/g , 'holas' );{% endcomment %}
            x.children[i].className+=" is-disabled"
            if(x.children[i].className=="star-rating__star is-selected is-disabled"){
                cont++;
            }
        }
        var su=x.parentElement.id;
    var pe=x.parentElement.className;

    console.log(pe);

                $.ajax({
          type: "POST",
          url: "/guardarValoracion",
          data: {
              idPedido: pe,
              idSucursal: su,
              valoracion: cont,
              csrfmiddlewaretoken:"{{ csrf_token }}",
          },
            success: function(result) {
              var kbd= document.getElementById(valorC).innerHTML="Gracias por valorar";
            }
        });


        setTimeout(function(){
            var elem = document.getElementById(valorC);
        elem.remove();
}, 2000);

        {% comment %}var kbd= document.getElementById(valorC).className="lead";{% endcomment %}


    }
    function selectDiv(x){

        valorC=x.nextElementSibling.id;
        /*alert(valorC);*/
    }
    </script>


    <!--Script para cancelar pedido -->
<script type="text/javascript">

    function cancelarPedido(id_pedido, estado) {
        console.log(id_pedido);
        $.ajax({
            data: {'id_pedido': id_pedido, 'estado': estado},
            type: "get",
            url: "/cancelarPedido",
            success: function (data) {

            }
        })
    }

    function ocultar(x){
        $(x).hide();
    }

    function ocultar2(x){
        $('#'+"b" + x).hide();
    }

</script>
    <!--Fin cancelar pedido -->


<script type="text/javascript">

            var bandera=false;
            setInterval(function(){
                var x,y;
                var numBars=($('div.progress').length);
                var barras=$('div.progress');
                var valoracion = $('div.valoracion');


                if(!bandera) {

                    $.ajax({
                    type: "get",
                    url: "/actualizarEstadoPedido",
                    success: function (dataPers) {
                        for(x=0; x < numBars; x++){
                        var id=barras[x].children[0].id;
                        for(y=0; y<dataPers.length; y++){
                            if(id==dataPers[y].pk){
                            if(dataPers[y].fields.id_estado==1){
                                barras[x].children[0].style.width="20%";
                                barras[x].firstElementChild.className="progress-bar progress-bar-danger progress-bar-striped active";
                            }else if(dataPers[y].fields.id_estado==2){
                                barras[x].children[0].style.width="40%";
                                barras[x].firstElementChild.className="progress-bar progress-bar-warning progress-bar-striped active";
                                pk = dataPers[y].pk;
                                ocultar2(pk);
                            }else if(dataPers[y].fields.id_estado==3){
                                barras[x].children[0].style.width="60%";
                                barras[x].firstElementChild.className="progress-bar progress-bar-info progress-bar-striped active";
                                pk = dataPers[y].pk;
                                ocultar2(pk);
                            }else if(dataPers[y].fields.id_estado==4){
                                barras[x].children[0].style.width="80%";
                                barras[x].firstElementChild.className="progress-bar progress-bar-primary progress-bar-striped active";
                            }else if(dataPers[y].fields.id_estado==5){
                                barras[x].children[0].style.width="100%";
                                barras[x].firstElementChild.className="progress-bar progress-bar-success";
                                barras[x].children[0].innerHTML="Entregado<i class='fa fa-check fa-fw' aria-hidden='true'></i>";
                                pk = dataPers[y].pk;
                                ocultar2(pk);
                                {% comment %}barras[x].children[0].children[0].className="fa fa-check fa-fw";{% endcomment %}
                            } else if(dataPers[y].fields.id_estado == 10){
                                barras[x].children[0].style.width="100%";
                                barras[x].firstElementChild.className="progress-bar progress-bar-danger progress-bar-striped active";
                                barras[x].children[0].innerHTML="Pedido cancelado por el Cliente <i class='fa fa-minus-circle fa-fw' aria-hidden='true'></i>";
                            }
                             else if(dataPers[y].fields.id_estado == 11){
                                barras[x].children[0].style.width="100%";
                                barras[x].firstElementChild.className="progress-bar progress-bar-danger progress-bar-striped active";
                                barras[x].children[0].innerHTML="Pedido cancelado por el Restaurante <i class='fa fa-minus-circle fa-fw' aria-hidden='true'></i>";
                                pk = dataPers[y].pk;
                                ocultar2(pk);


                            }
                            }
                        }
                        }
                        }
                });
                }
            }, 5000);

</script>
    <script>
    var orden=0;



    function ordeNombre() {
        if(orden==0){
            orden=0;
    $.ajax({
          type: "POST",
          url: "/ordenarPorNombre",
          data: {
              idOrden: orden,
              csrfmiddlewaretoken:"{{ csrf_token }}"
          },
            success: function(result) {
              $('#ordenar').html(result);
                var foo=document.getElementsByClassName('footer');
                foo[0].remove();
            },
            complete : function(data)
    {
        var div ='<div id="temporal" class="alert alert-success" role="alert"> <i class="fa fa-check fa-2x" aria-hidden="true"> </i>  <strong> Listo!</strong> </div>';
        document.getElementById('aviso').innerHTML = div;
        orden=1;
    }

        });

        } else if(orden==1){
            orden=1;
    $.ajax({
          type: "POST",
          url: "/ordenarPorNombre",
          data: {
              idOrden: orden,
              csrfmiddlewaretoken:"{{ csrf_token }}"
          },
            success: function(result) {
              $('#ordenar').html(result);
                var foo=document.getElementsByClassName('footer');
                foo[0].remove();
            },
            complete : function(data)
    {
        var div ='<div id="temporal" class="alert alert-success" role="alert"> <i class="fa fa-check fa-2x" aria-hidden="true"> </i>  <strong> Listo!</strong> </div>';
        document.getElementById('aviso').innerHTML = div;
        orden=0;
    }

        });

        }
    setTimeout(function(){
            var elem = document.getElementById("temporal");
        elem.remove();
    }, 3000);

    }


    function ordeFecha2(button) {
        //alert(button);
        document.getElementById("datos").value=button.value;
    }

    {% comment %}function ordeFecha() {
        if(orden==0){
            orden=0;
    $.ajax({
          type: "POST",
          url: "/ordenarPorFecha",
          data: {
              idOrden: orden,
              csrfmiddlewaretoken:"{{ csrf_token }}",
          },
            success: function(result) {
              $('#ordenar').html(result);
                var foo=document.getElementsByClassName('footer');
                var nav=document.getElementsByClassName('navbar');
                nav[1].remove();
                foo[0].remove();
            },
            complete : function(data) {
        var div ='<div id="temporal" class="alert alert-success" role="alert"> <i class="fa fa-check fa-2x" aria-hidden="true"> </i>  <strong> Listo!</strong> </div>';
        document.getElementById('aviso').innerHTML = div;
        orden=1;
        }
    });
    } else if(orden==1){
            orden=1;
            $.ajax({
          type: "POST",
          url: "/ordenarPorFecha",
          data: {
              idOrden: orden,
              csrfmiddlewaretoken:"{{ csrf_token }}",
          },
            success: function(result) {
              $('#ordenar').html(result);
                var foo=document.getElementsByClassName('footer');
                var nav=document.getElementById('custom-nav');
                foo[0].remove();
            },
            complete : function(data) {
        var div ='<div id="temporal" class="alert alert-success" role="alert"> <i class="fa fa-check fa-2x" aria-hidden="true"> </i>  <strong> Listo!</strong> </div>';
        document.getElementById('aviso').innerHTML = div;
        orden=0;
        }
    });
    }

    setTimeout(function(){
            var elem = document.getElementById("temporal");
        elem.remove();
    }, 3000);

        }




    function ordePrecio() {
        if(orden==0){
            orden=0;
    $.ajax({
          type: "POST",
          url: "/ordenarPorPrecio",
          data: {
              idOrden: orden,
              csrfmiddlewaretoken:"{{ csrf_token }}",
          },
            success: function(result) {
              $('#ordenar').html(result);
                var foo=document.getElementsByClassName('footer');
                foo[0].remove();
            },
            complete : function(data)
    {
        var div ='<div id="temporal" class="alert alert-success" role="alert"> <i class="fa fa-check fa-2x" aria-hidden="true"> </i>  <strong> Listo!</strong> </div>';
        document.getElementById('aviso').innerHTML = div;
        orden=1;
    }

        });
        } else if(orden==1){
            orden=1;
            $.ajax({
          type: "POST",
          url: "/ordenarPorPrecio",
          data: {
              idOrden: orden,
              csrfmiddlewaretoken:"{{ csrf_token }}",
          },
            success: function(result) {
              $('#ordenar').html(result);
                var foo=document.getElementsByClassName('footer');
                foo[0].remove();
            },
            complete : function(data)
    {
        var div ='<div id="temporal" class="alert alert-success" role="alert"> <i class="fa fa-check fa-2x" aria-hidden="true"> </i>  <strong> Listo!</strong> </div>';
        document.getElementById('aviso').innerHTML = div;
        orden=0;
    }

        });
        }
    setTimeout(function(){
            var elem = document.getElementById("temporal");
        elem.remove();
    }, 3000);

    }





    function ordeEstado() {
        if(orden==0){
            orden=0;
    $.ajax({
          type: "POST",
          url: "/ordenarPorEstado",
          data: {
              idOrden: orden,
              csrfmiddlewaretoken:"{{ csrf_token }}",
          },
            success: function(result) {
              $('#ordenar').html(result);
                var foo=document.getElementsByClassName('footer');
                foo[0].remove();
            },
            complete : function(data)
    {
        var div ='<div id="temporal" class="alert alert-success" role="alert"> <i class="fa fa-check fa-2x" aria-hidden="true"> </i>  <strong> Listo!</strong> </div>';
        document.getElementById('aviso').innerHTML = div;
        orden=1;
    }

        });
            } else if(orden==1){
            orden=1;
            $.ajax({
          type: "POST",
          url: "/ordenarPorEstado",
          data: {
              idOrden: orden,
              csrfmiddlewaretoken:"{{ csrf_token }}",
          },
            success: function(result) {
              $('#ordenar').html(result);
                var foo=document.getElementsByClassName('footer');
                foo[0].remove();
            },
            complete : function(data)
    {
        var div ='<div id="temporal" class="alert alert-success" role="alert"> <i class="fa fa-check fa-2x" aria-hidden="true"> </i>  <strong> Listo!</strong> </div>';
        document.getElementById('aviso').innerHTML = div;
        orden=1;
    }

        });}

setTimeout(function(){
            var elem = document.getElementById("temporal");
        elem.remove();
}, 3000);
    }

    function buscarTxt() {
        var buscar=document.getElementById("buscarT").value;
         $.ajax({
          type: "POST",
          url: "/buscarTxt",
          data: {
              txtSearch: buscar,
              csrfmiddlewaretoken:"{{ csrf_token }}",
          },
            success: function(result) {
                if(!result){
                    var div ='<div id="temporal" class="alert alert-danger" role="alert"> <i class="fa fa-times fa-2x" aria-hidden="true"> </i>  <strong> No hay datos!</strong> </div>';
        document.getElementById('aviso').innerHTML = div;
                }
                else{
                    $('#ordenar').html(result);
                    var foo=document.getElementsByClassName('footer');
                    var nav=document.getElementsByClassName('navbar');
                    nav[1].remove();
                    foo[0].remove();
                }
            },
        });
          setTimeout(function(){
            var elem = document.getElementById("temporal");
            elem.remove();
    }, 3000);
    }{% endcomment %}
    </script>

<!-- Buscador de Pedidos    -->
    <script>

        $(document).ready(function () {
            $("#buscarT").keyup(function () {
                var filter = $(this).val();
                var count = 0;
                $(".pedidos2").each(function () {
                    if ($(this).text().search(new RegExp(filter, "i"))<0){
                        $(this).fadeOut();
                    } else {
                        $(this).show();
                        count ++;
                    }
                });
                var numberItems = count;
                $("#filter-count").text("Total de Búsqueda : "+count)
            })
            
        })


    </script>




{% endblock content %}