<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}<title>Mi Perfil</title>{% endblock %}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
{% comment %}<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mi perfil</title>
</head>
<body>{% endcomment %}
    <!-- links navegación -->
        <ol class="breadcrumb path-menu-profile">
            <li><a href="{% url 'spaapp.views.home' %}">Inicio</a></li>
            <li><a href="#" class="active">Perfil</a></li>
        </ol>
<div class="container main-content-profile row">{#container main-content-profile #}

    <div class="col-xs-12 col-sm-4 col-md-4 prl-menu">
        <div class="list-group">
            <a href="#" class="list-group-item disabled">Información de Usuario</a>
            <a href="{% url 'perfilUpdate' user.pk %}" class="list-group-item">Actualizar perfil</a>
           {% comment %} {% if not perfil.social %} {% endcomment %}
            <a href="{% url 'changePass' %}" class="list-group-item">Cambiar contraseña</a>
           {% comment %} {% endif %} {% endcomment %}
	        <a href="{% url 'gestionDirecion' %}" class="list-group-item">Gestión de direcciones</a>
            <a href="{% url 'validarCuenta' %}" class="list-group-item">Validar cuenta vía SMS</a>
        </div>
        {% if not perfil.cuentaVerif %}
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
         <strong>¡Alerta!</strong> Tu cuenta aun no esta verificada, mientras tu cuenta aun no este verificada no
            podrás realizar compras con dinero en efectivo, para verificar tu cuenta entra a <a href="{% url 'validarCuenta' %}" class="alert-link">validar cuenta vía SMS</a>
        </div>
        {% endif %}
    </div>
    {% comment %}{% endblock %}{% endcomment %}
    {% block menuPerfil %}
<div class="col-sm-8 bk-main">
<h2 class="main-title">Actualizar perfil</h2>
<form action="#" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="user-image-side">{{formulario2.errors.ruta_foto}}
        <div class="profile-img-content"><img rel="Icon made by Freepik from www.flaticon.com " id="blah" class="profile-img" src="{% if not perfil.social %}{{ MEDIA_URL }}{% endif %}{{ perfil.ruta_foto }}" alt=""></div>
        {% if not perfil.social %}
            <div class="input-img btn btn-ok"><span class="" for="ruta_foto">Cambiar Imagen</span>{{formulario2.ruta_foto}}</div>
        {% endif %}
    </div>

{#    <a align="right" class="btn btn-ok" href="/claveUser">Cambiar Contraseña</a><hr>#}
    {{formulario2.id_perfil}}
{#    {{formulario2.errors.cedula}}#}
{#    {{formulario2.fecha_nacimiento}}#}

{#    <div class="fields-act"><label class="label-profile" for="cedula">Cedula</label>{{formulario2.cedula}}</div>#}
{#    {{formulario2.errors.fecha_nacimiento}}#}
{#    <div class="fields-act"><label class="label-profile" for="fecha_nacimiento">Fecha de Nacimiento</label>{{formulario2.fecha_nacimiento}}</div>#}
    {% comment %}{{formulario2.errors.telefono}}
    <div class="fields-act"><label class="label-profile" for="telefono">Teléfono</label>{{formulario2.telefono}}</div>{% endcomment %}
    {{ formulario3.username }}

    {{formulario3.errors.genero}}
    <div class="fields-act"><label class="label-profile" for="genero">Genero</label>{{formulario3.genero}}</div>

    <!--<label for="id_usuario"><small>* id_usuario</small></label>{{formulario.id_usuario}}<br>-->
    <!--<label for="sim_dispositivo"><small>* sim_dispositivo</small></label>{{formulario.sim_dispositivo}}<br>-->
    {{formulario3.errors.first_name}}
    <div class="fields-act"><label class="label-profile" for="usuario-first_name">Nombre</label>{{formulario3.first_name}}</div>
    {{formulario3.errors.last_name}}
    <div class="fields-act"><label class="label-profile" for="usuario-last_name">Apellido</label>{{formulario3.last_name}}</div>
    {{formulario3.errors.email}}
    <div class="fields-act"><label class="label-profile" for="usuario-email">Email</label>{{formulario3.email}}</div>



    <!--{{ formulario3.as_p }}-->

    <input class="btn btn-ok" type="submit" value="Actualizar">

</form>
</div>

{% endblock %}
     </div>




<footer class="footer main-footer">
        <div class="container">
            <nav class="pull-left copyright">
                &copy; 2016
            </nav>
            <div class="social-area pull-right">
                <a href="#" class="btn btn-social btn-simple"><i class="fa fa-twitter fa-fw"></i> <span
                        class="network-name"></span></a>
                <a href="#" class="btn btn-social btn-simple"><i class="fa fa-facebook fa-fw"></i> <span
                        class="network-name"></span></a>
                <a href="#" class="btn btn-social btn-simple"><i class="fa fa-google-plus fa-fw"></i> <span
                        class="network-name"></span></a>
            </div>

        </div>

        <div class="fixed-plugin">
        </div>

    </footer>
{% endblock content %}

</body>
</html>


