{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}
<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br>
 <div class="container">
<h2>Perfil Read </h2>
<a  href="perfilCreate">perfil Read</a>
<table border="1">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">cedula</th>
        <th scope="col">fecha_nacimiento</th>
        <th scope="col">telefono</th>
         <th scope="col">genero</th>
        <th scope="col">ruta_foto</th>
        <th scope="col">id_usuario</th>
        <th scope="col">sim_dispositivo</th>

    </thead>
    <tbody>
    {% for m in perfil %}


    <tr>
        <td>{{m.id_perfil}}</td>
        <td>{{m.cedula}}</td>
        <td>{{m.fecha_nacimiento}}</td>
        <td>{{m.telefono}}</td>
        <td>{{m.genero}}</td>
        <td>{{m.ruta_foto}}</td>
        <td>{{m.id_usuario}}</td>
        <td>{{m.sim_dispositivo}}</td>
        <td><a href="{% url 'perfilUpdate' m.id_perfil %}">Actualizar</a></td>
        <td><a href="{% url 'perfilDelete' m.id_perfil %}">Eliminar</a></td>


    </tr>
    {% endfor %}
    </tbody>
</div>
{% endblock content %}









