{% extends 'home/base.html' %}
{% load staticfiles %} {% block content %} {% block title %}
<title>Create</title>
{%endblock title%}

<link href="{% static 'home/css/AdminLTE.css' %}" rel="stylesheet" />
<!--<h2>Crear Persona</h2>-->

    <div class="row">

    <div class="col-md-6 col-md-offset-3">

        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">CREAR PERSONA</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="#" method="POST">{% csrf_token %}
                <div class="box-body">
                    <div class="form-group">
                        {% for hidden in formulario.hidden_fields %} {{ hidden }} {% endfor %}
                        <label for="nombres" class="col-sm-2 control-label"><small>* NOMBRES</small></label>
                        <div class="col-sm-10">
                            <input type="text" name="nombres" class="form-control" id="nombres" placeholder="Nombres" value="">
                            <br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="apellidos " class="col-sm-2 control-label"><small>* APELLIDOS</small></label>
                        <div class="col-sm-10">
                            <input type="text" name="apellidos" class="form-control" id="apellidos" placeholder="Apellidos" value="">
                            <br>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cedula" class="col-sm-2 control-label"><small>* CEDULA</small></label>
                        <div class="col-sm-10">
                            <input type="text" name="cedula" class="form-control" id="cedula" placeholder="Cédula" value="">
                            <br>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="telefono" class="col-sm-2 control-label"><small>* TELEFONO</small></label>
                        <div class="col-sm-10">
                            <input type="text" name="telefono" class="form-control" id="telefono" placeholder="Teléfono" value="">
                            <br>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sexo" class="col-sm-2 control-label"><small>* SEXO</small> </label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="sexo" id="inlineRadio1" value="F"> Femenino
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="sexo" id="inlineRadio2" value="M"> Masculino
                            </label><br><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="direccion" class="col-sm-2 control-label"><small>* DIRECCION</small></label>
                        <div class="col-sm-10">
                            <input type="text" name="direccion" class="form-control" id="direccion" placeholder="Dirección" value="">
                            <br>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="coordenadas" class="col-sm-2 control-label"><small>* COORDENDAS</small></label>
                        <div class="col-sm-10">
                            <input type="text" name="coordenadas" class="form-control" id="coordenadas" placeholder="Coordenadas" value="">
                            <br>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="reset" class="btn btn-default">Limpiar</button>
                    <button type="submit" value="Guardar" class="btn btn-default pull-right">Guardar</button>
                </div>
                <!-- /.box-footer -->
                <!--<input type="submit" >-->

            </form>
        </div>
    </div>
</div>
{% endblock content %}
