<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Actualizar Persona</h2>
<form action="#" method="POST">{% csrf_token %}
    {% for hidden in formulario.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <label for="nombres"><small>* NOMBRES</small> {{ formulario.nombres }}</label><br>
    <label for="apellidos"><small>* APELLIDOS</small> {{ formulario.apellidos}} </label><br>
    <label for="cedula"><small>* CEDULA</small> {{ formulario.cedula}} </label><br>
    <label for="telefono"><small>* TELEFONO</small> {{ formulario.telefono}} </label><br>
    <label for="sexo"><small>* SEXO</small> {{ formulario.sexo}} </label><br>
    <label for="direccion"><small>* DIRECCION</small> {{ formulario.direccion}} </label><br>
    <label for="coordenadas"><small>* COORDENDAS</small> {{ formulario.coordenadas}} </label><br>
    <input type="submit" value="submit">


</form>
</form>
</body>
</html>