<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>CRUD PERSONAS</h2>
<a  href="personaCreate">Crear Registro</a>
<table border="1">

    <caption>Registro de Personas</caption>
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Cédula</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Sexo</th>
        <th scope="col">Dirección</th>
        <th scope="col">Coordenadas</th>
    </tr>
    </thead>
    <tbody>
    {% for p in personas %}


    <tr>
        <td>{{p.id_persona}}</td>
        <td>{{p.nombres}}</td>
        <td>{{p.apellidos}}</td>
        <td>{{p.cedula}}</td>
        <td>{{p.telefono}}</td>
        <td>{{p.sexo}}</td>
        <td>{{p.direccion}}</td>
        <td>{{p.coordenadas}}</td>
        <td><a href="{% url 'personaUpdate' p.id_persona %}">Actualizar</a></td>
        <td><a href="{% url 'personaDelete' p.id_persona %}">Eliminar</a></td>


    </tr>
    {% endfor %}
    </tbody>
</body>
</html>