{% extends 'home/base.html' %} {% load staticfiles %}

{% block content %}
{% block title %}
Create
{%endblock title%}
<!--Estilos temporales-->
<style>
    label{
        width: 15%;
    }
</style>
<!---->

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br>
 <div class="container">
     <h2>Crear Plato</h2>

     <form action="#" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {% for hidden in formulario.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <label for="nombre_producto"><small>* nombre_plato</small></label><input type="text" name="nombre_producto" value=""><br>
    <label for="ruta_foto"><small>* ruta_foto</small></label>{{formulario.ruta_foto}}<br>
    <label for="descripcion"><small>* descripcion</small></label><input type="text" name="descripcion" value=""><br>
    <label for="cantidad_diaria"><small>*cantidad_diaria</small> </label><input type="text" name="cantidad_diaria" value=""><br>
    <label for="venta_aproximada"><small>* venta_aproximada</small></label><input type="text" name="venta_aproximada" value=""><br>
    <label for="hora_mayor_venta"><small>* hora_mayor_venta</small></label><input type="text" name=" hora_mayor_venta" value=""><br>
    <label for="cantidad_mayor_venta"><small>* cantidad_mayor_venta</small></label>{{formulario.cantidad_mayor_venta}}<br>
    <label for="existencia_actual"><small>* existencia_actual</small></label></label><input type="text" name="existencia_actual" value=""><br>
    <label for="id_menu"><small>* id_menu</small></label>{{formulario.id_menu}}<br>
    <label for="id_platocategoria"><small>* id_platocategoria</small></label>{{formulario.id_platocategoria}}<br>
    <input type="submit" value="submit">


</form>
</div>
{% endblock content %}