{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}
<!--Estilos temporales-->
<style>
    label{
        width: 15%;
    }
</style>
<!---->

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br>
 <div class="container">
     <h2>Actualizar Sucursal</h2>

     <form action="#" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <label for="nombre_producto"><small>* nombre_producto</small></label>{{formulario.nombre_producto}}<br>
    <label for="ruta_foto"><small>* ruta_foto</small></label>{{formulario.ruta_foto}}<br>
    <label for="descripcion"><small>* descripcion</small></label>{{formulario.descripcion}}<br>
    <label for="cantidad_diaria"><small>*cantidad_diaria</small> </label>{{formulario.cantidad_diaria}}<br>
    <label for="venta_aproximada"><small>* venta_aproximada</small></label>{{formulario.venta_aproximada}}<br>
    <label for="hora_mayor_venta"><small>* hora_mayor_venta</small></label>{{formulario.hora_mayor_venta}}<br>
    <label for="cantidad_mayor_venta"><small>* cantidad_mayor_venta</small></label>{{formulario.cantidad_mayor_venta}}<br>
    <label for="existencia_actual"><small>* existencia_actual</small></label></label>{{formulario.existencia_actual}}<br>
    <label for="id_menu"><small>* id_menu</small></label>{{formulario.id_menu}}<br>
    <label for="id_platocategoria"><small>* id_platocategoria</small></label>{{formulario.id_platocategoria}}<br>

    <input type="submit" value="submit">
</form>
</div>
{% endblock content %}