{% extends 'home/base.html' %} {% load staticfiles %}

{% block content %}
{% block title %}
Create
{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br>
 <div class="container">

<h2>PLATO</h2>
<a  href="platoCreate"> Crear Plato</a>
<table border="1">

    <thead>
    <tr>

        <th scope="col">ID</th>
        <th scope="col">NOMBRE PLATO</th>
        <th scope="col">RUTA FOTO</th>
        <th scope="col">DESCRIPCION</th>
        <th scope="col">CAN. DIARIA</th>
        <th scope="col">VENTA APROX</th>
        <th scope="col">HORA VENTA</th>
        <th scope="col">CANT VENTA</th>
        <th scope="col">EXISTENCI ACTUAL</th>
        <th scope="col">ID MENU</th>
        <th scope="col">PLATO CATEGORIA</th>

    </tr>
    </thead>
    <tbody>
    {% for pl in plato%}


    <tr>
        <td>{{pl.id_plato}}</td>
        <td>{{pl.nombre_producto}}</td>
        <td>{{pl.ruta_foto}}</td>
        <td>{{pl.descripcion}}</td>
        <td>{{pl.cantidad_diaria}}</td>
        <td>{{pl.venta_aproximada}}</td>
        <td>{{pl.hora_mayor_venta}}</td>
        <td>{{pl.cantidad_mayor_venta}}</td>
        <td>{{pl.existencia_actual}}</td>
        <td>{{pl.id_menu}}</td>
        <td>{{pl.id_platocategoria}}</td>
        <td><a href="{% url 'platoUpdate' pl.id_plato %}">Actualizar</a></td>
        <td><a href="{% url 'platoDelete' pl.id_plato %}">Eliminar</a></td>

    </tr>
    {% endfor %}
    </tbody>

    </div>
{% endblock content %}