{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<!--Estilos temporales-->
<style>
    label{
        width: 15%;
    }
</style>
<!---->


<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<div class="container">
<h2>Actualizar Proveedor</h2>
<form action="#" method="POST">{% csrf_token %}
    <label for="nombre_comercial"><small>* NOMBRE COMERCIAL</small></label>{{formulario.nombre_comercial}}<br>
    <label for="telefono"><small>* TELEFONO</small></label>{{formulario.telefono}}<br>
    <label for="telefono_contacto"><small>* TELEFONO CONTACTO</small> </label>{{formulario.telefono_contacto}}<br>
    <label for="prioridad"><small>* PRIORIDAD</small></label>{{formulario.prioridad}}<br>
    <label for="me_gusta"><small>* FECHA REGISTRO</small></label>{{formulario.me_gusta}}<br>
    <label for="id_actividad"><small>* ID ACTIVIDAD</small></label>{{formulario.id_actividad}}<br>
    <label for="id_categoria"><small>* ID CATEGORIA</small></label>{{formulario.id_categoria}}<br>
    <label for="id_perfil"><small>* ID PERFIL</small></label>{{formulario.id_perfil}}<br>
    <label for="razon_social"><small>* RAZON SOCIAL</small></label>{{formulario.razon_social}}<br>


    <input type="submit" value="submit">
</form>
</div>
{% endblock content %}

