{% extends 'home/base.html' %} {% load staticfiles %}

{% block content %}
{% block title %}
<title>Create</title>
{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br>
 <div class="container">

<h2>Proveedores</h2>
<a  href="proveedorCreate"> Crear Proveedor</a>
<table border="1">

    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">NOMBRE COMERCIAL</th>
        <th scope="col">RAZON SOCIAL</th>
        <th scope="col">TELEFONO</th>
        <th scope="col">TELEFONO CONTACTO</th>
        <th scope="col">PRIORIDAD</th>
        <th scope="col">ME GUSTA</th>
        <th scope="col">ID ACTIVIDAD</th>
        <th scope="col">ID CATEGORIA</th>
        <th scope="col">ID PERFIL</th>

    </tr>
    </thead>
    <tbody>
    {% for pro in proveedor %}


    <tr>
        <td>{{pro.id_proveedor}}</td>
        <td>{{pro.nombre_comercial}}</td>
        <td>{{pro.razon_social}}</td>
        <td>{{pro.telefono}}</td>
        <td>{{pro.telefono_contacto}}</td>
        <td>{{pro.prioridad}}</td>
        <td>{{pro.me_gusta}}</td>
        <td>{{pro.id_actividad}}</td>
        <td>{{pro.id_categoria}}</td>
        <td>{{pro.id_perfil}}</td>
        <td><a href="{% url 'proveedorUpdate' pro.id_proveedor %}">Actualizar</a></td>
        <td><a href="{% url 'proveedorDelete' pro.id_proveedor %}">Eliminar</a></td>
    </tr>
    {% endfor %}
    </tbody></table>

    </div>
{% endblock content %}