{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<!--Estilos temporales-->
<style>
    label{
        width: 15%;
    }
</style>
<!---->


<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<form action="#" method="POST">{% csrf_token %}


        <!--style type="text/css">
            #map-container { width: 740px; height:770px; float: left }
            #map { width: 1400px; height: 100% }
        </style-->
 <div class="container" ng-app="mapaApp" ng-controller="mapaCtrl">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js"></script>

        <script src="{% static 'home/js/OpenLayers/OpenLayers.js' %}"></script>
        <script type="text/javascript">


            var punto;
            var map, measureControls, vectorLayer;

            var mapaApp = angular.module('mapaApp', ['ngRoute']);
            mapaApp.controller('mapaCtrl', function ($scope,$route) {
               $scope.obtenerDireccion = function()
               {
                   alert('1');
                  /**ModalService.showModal({
                    templateUrl: "modal.html",
                    controller: "ModalController"
                  }).then(function(modal) {

                    //it's a bootstrap element, use 'modal' to show it
                    modal.element.modal();
                    modal.close.then(function(result) {
                      console.log(result);
                    });
                  });*/

               }
                function init()
                {

                    texto = "PC1";
                    var lon = -79.210953;
                    var lat = -4.0114529;

                    map = new OpenLayers.Map("map");
                    var mapnik = new OpenLayers.Layer.OSM();
                    punto = new OpenLayers.Layer.Vector("Puntos");
                    vectorLayer = new OpenLayers.Layer.Vector("Overlay");

                    var lonlatObject1 = new OpenLayers.LonLat(lon, lat).transform(
                            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                            new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
                            );
                    var lonlatObject2 = new OpenLayers.LonLat(lon, lat).transform(
                            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                            new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
                            );
                    /**var feature = new OpenLayers.Feature.Vector(//-79.198753246573,-3.9866758993433
                            new OpenLayers.Geometry.Point(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                            new OpenLayers.Projection("EPSG:900913")),
                            {description: texto},
                            {externalGraphic: "{% static 'home/img/redMarker.png' %}", graphicHeight: 25, graphicWidth: 21, graphicXOffset: -12, graphicYOffset: -25}
                    );*/
                    var punto1 = {"type": "Point", "coordinates": [lonlatObject1.lon, lonlatObject1.lat]};
                    var geojson = new OpenLayers.Format.GeoJSON();
                    punto.addFeatures(geojson.read(punto1));
                    //punto.addFeatures(feature);
                    map.addLayers([mapnik, punto, vectorLayer]);

                    var controls = {
                        selector: new OpenLayers.Control.SelectFeature(vectorLayer, {
                            onSelect:
                                    function (feature) {
                                        createPopup(feature);
                                    }
                            , onUnselect: destroyPopup})
                    };

                    map.addControl(controls['selector']);
                    controls['selector'].activate();

                    function createPopup(feature) {
                        feature.popup = new OpenLayers.Popup.FramedCloud("pop",
                                feature.geometry.getBounds().getCenterLonLat(),
                                null,
                                '<div class="markerContent">' + feature.data.description + '</div>',
                                null,
                                true,
                                function () {
                                    controls['selector'].unselectAll();
                                }
                        );
                        //feature.popup.closeOnMove = true;
                        map.addPopup(feature.popup);
                    }

                    function destroyPopup(feature) {
                        feature.popup.destroy();
                        feature.popup = null;
                    }
                    map.addControl(new OpenLayers.Control.PanZoomBar());
                    map.setCenter(new OpenLayers.LonLat(lon, lat) // Center of the map
                            .transform(
                                    new OpenLayers.Projection("EPSG:4326"),
                                    new OpenLayers.Projection("EPSG:900913")
                                    ), 14
                            );

                    map.events.register("click", map, function (e) {
                        map.layers[1].removeAllFeatures();
                        map.layers[2].removeAllFeatures();
                        var position = map.getLonLatFromViewPortPx(e.xy);
                        //alert(position.lat + ":" + position.lon);
                        var feature = new OpenLayers.Feature.Vector(//-79.198753246573,-3.9866758993433
                                new OpenLayers.Geometry.Point(position.lon, position.lat),
                                        //.transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                                //new OpenLayers.Projection("EPSG:900913")),
                                {description: texto},
                                {externalGraphic: "{% static 'home/img/redMarker.png' %}", graphicHeight: 25, graphicWidth: 21, graphicXOffset: -12, graphicYOffset: -25}
                        );
                        punto.addFeatures(feature);

                    });
                    //inicio();
                    //$rootScope.reload();
                    /*actualizar();
                    setInterval(function () {
                        actualizar();
                    }, 30000);*/


                }
                $scope.inicio = function () {

                }
                init();
            });
        </script>


    <label for="nombre_comercial"><small>* NOMBRE COMERCIAL</small></label><input type="text" name="nombre_comercial" value=""><br>
    <label for="telefono"><small>* TELEFONO</small></label><input type="text" name="telefono" value=""><br>
    <label for="telefono_contacto"><small>* TELEFONO CONTACTO</small> </label><input type="text" name="telefono_contacto" value=""><br>
    <label for="prioridad"><small>* PRIORIDAD</small></label><input type="text" name="prioridad" value=""><br>
    <label for="me_gusta"><small>* ME GUSTA</small></label><input type="text" name="me_gusta" value=""><br>
    <label for="id_actividad"><small>* ID ACTIVIDAD</small></label>{{formulario.id_actividad}}<br>
    <label for="id_categoria"><small>* ID CATEGORIA</small></label>{{formulario.id_categoria}}<br>
        <label for="id_perfil"><small>* ID PERFIL</small></label>{{formulario.id_perfil}}<br>
    <label for="razon_social"><small>* RAZON SOCIAL</small></label><input type="text" name="razon_social" value=""><br>



        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Obtener Direccion
        </button>
        <br>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Ubicacion GPS</h4>
                      </div>
                      <div ng-init="inicio()" class="modal-body">
                            <div id="map" style="width:550px; height: 550px; border: 2px solid red;"></div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" ng-click="obtenerDireccion()" class="btn btn-primary">Aceptar</button>
                      </div>
                    </div>
                  </div>
                </div>

    <input type="submit" value="submit">
    </div>

</form>
{% endblock content %}