<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
<h2>CRUD red social</h2>
<a  href="redsocialCreate">Crear red social</a>
<table border="1">

    <caption>Registro de red social</caption>
    <thead>
    <tr>
        <th scope="col">id_red_social</th>
        <th scope="col">nombre_red_social</th>
        <th scope="col">cuenta_persona</th>
        <th scope="col">id_proveedor</th>
    </tr>
    </thead>
    <tbody>
    {% for a in redsocial %}
    <tr>
        <td>{{a.id_red_social}}</td>
        <td>{{a.nombre_red_social}}</td>
        <td>{{a.cuenta_persona}}</td>
         <td>{{a.id_proveedor}}</td>

        <td><a href="{% url 'redsocialUpdate' a.id_red_social %}">Actualizar</a></td>
        <td><a href="{% url 'redsocialDelete' a.id_red_social %}">Eliminar</a></td>

    </tr>
    {% endfor %}
    </tbody>
    </div>
{% endblock content %}
</body>
</html>
