<!doctype html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div class="container" >
<h2>Registro red social</h2>
<form action="#" method="POST">{% csrf_token %}

    <label for="nombre_red_social"><small>* nombre_red_social</small></label><input type="text" name="nombre_red_social" value=""><br>
    <label for="cuenta_persona"><small>* cuenta_persona</small></label><input type="text" name="cuenta_persona" value=""><br>
    <label for="id_proveedor"><small>* id_proveedor</small></label>{{formulario.id_proveedor}}<br>
    <input type="submit" value="submit">
</form>
</div>
{% endblock content %}
</body>
</html>


