{% extends 'home/base.html' %}
{% load staticfiles %}

{% block analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84799207-1', 'auto');
      ga('send', 'pageview');
    </script>
{% endblock %}

 {% block content %}
  {% block title %}
    <title>Registro</title>
  {%endblock title%}
  <link href="{% static 'home/css/login.css' %}" rel="stylesheet" />
     <script>
        function comprobarPassword(){
            pass1 = document.getElementById("pass1").value;
            pass2 = document.getElementById("pass2").value;
            console.log(pass1+" y "+pass2);
            if(pass1==pass2){
                $('#passIgual').val("");
                return true;
            }else{
                $('#passIgual').val("Las contraseñas no son iguales!!");
                alert("No son iguales");
                return false;
            }
        }
     </script>
    <div class="login">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 form-box content-login">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3 class="title3">Regístrate con</h3>

                        <a href="{% url 'social:begin' 'facebook' %}" class="btn-facebook btn-lg btn-social-net">
                            <i class="fa fa-facebook fa-fw"></i>
                            <span class="network-name">Facebook</span>
                        </a>
                        <a href="{% url 'social:begin' 'google-oauth2'%}" class="btn-google btn-lg btn-social-net">
                            <i class="fa fa-google fa-fw"></i>
                            <span class="network-name">Google</span>
                        </a>
                        {% comment %}<a href="#" class="btn-twitter btn-lg btn-social-net">
                            <i class="fa fa-twitter fa-fw"></i>
                            <span class="network-name">Twitter</span>
                        </a>{% endcomment %}
                        <br>
                    </div>
                    <div class="socialLogin-separator">
                        <span>o</span>
                        <hr>
                    </div>
                    <div class="form-top-left">
                        <h3 class="title3">Regístrate con tus datos</h3>
                    </div>
                </div>
                <div class="form-bottom">
                    <form class="post-form" method="POST" action="{% url 'registro' %}" name="formUser">
                        {% csrf_token %}
                        {% comment %}{% for hidden in formulario.hidden_fields %}
                            {{ hidden }}
                            <label> {{ hidden.username }} </label>
                        {% endfor %}{% endcomment %}

                        {{ form.as_p }}
{% comment %}
                        <!--label for="id_username" class="sr-only">
                            <small>* Usuario</small>
                        </label>
                        <!--{{form.username}}- ->
                        <!input required type="text" id="id_username" name="username" value="" placeholder="Usuario..." class="form-nick form-control"><br>

                        <label for="id_password" class="sr-only">
                            <small>* Clave</small>
                        </label>
                        <input id="pass1" required type="password" id="id_password" name="password" value="" placeholder="Contraseña..." class="form-password form-control"><br>

                        <label for="id_pass2" class="sr-only">
                            <small>* Confirmar Clave</small>
                        </label>
                        <input id="password2" required type="password" id="id_pass2" name="confirmPassword" value="" placeholder="Confirmar Contraseña..." class="form-password2 form-control"><br>

                        <label for="id_firstname" class="sr-only">
                            <small>* Nombres</small>
                        </label>
                        <!--{{form.first_name}}- ->
                        <!input required type="text" id="id_firstname" name="first_name" value="" placeholder="Nombres..." class="form-nick form-control"><br>

                        <label for="id_lastname" class="sr-only">
                            <small>* Apellidos</small>
                        </label>
                        <!--{{form.last_name}}-- >
                        {{form.last_name}}
                        <!input required type="text" id="id_lastname" name="last_name" value="" placeholder="Apellidos..." class="form-nick form-control"><br>

                        <label for="id_mail" class="sr-only">
                            <small>* Correo Electronico</small>
                        </label>
                        <!--{{form.email}}- ->
                        <!input required type="text" id="id_mail" name="email" value="" placeholder="Correo Electrónico..." class="form-mail form-control"><br>
                        <! -->{% endcomment %}

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="checkbox" value="true">Acepto <a href="{% url 'terminos_condiciones' %}">términos y condiciones</a>
                            </label>
                        </div>

                        <button type="submit" class="btn btn-ok" id="submitButton" disabled>Registrarme</button>


                    </form>
                    <br/>
                    <p> {{ msj }}</p>
                    <p id="passIgual"></p>
                </div>
            </div>
        </div>
    </div>

     <script>

     $(document).ready(function() {
        $('#checkbox').click(function(){
            if($(this).is(':checked')){
                $('#submitButton').removeAttr("disabled");
            }else {
                $('#submitButton').attr("disabled", "true");
            }

        });
     });
     </script>

{% endblock %}
