{% extends 'home/base.html' %} {% load staticfiles %}
{% comment %}{% block angular %}
    <script src="{% static 'home/js/SimpleStarRating.js' %}"></script>
    <link href="{% static 'home/css/SimpleStarRating.css' %}" rel="stylesheet"/>
{% endblock angular %}{% endcomment %}

{% block analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84799207-1', 'auto');
      ga('send', 'pageview');
    </script>
{% endblock %}

{% block content %}
    {% block title %}
        <title>Restaurantes</title>
    {% endblock title %}
    <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-messages.min.js"></script-->
    {% comment %}{% block angular %}
        <script src="{% static 'home/js/SimpleStarRating.js' %}"></script>
    <link href="{% static 'home/css/SimpleStarRating.css' %}" rel="stylesheet"/>
        {% endblock %}{% endcomment %}

    <script type="text/javascript">
        var data = [], row, rows = [], sucursales = [], totales;
        var totales = {
            subtotal: 0,
            precio_envio: 1.50,
            total: 0
        };
        var restauranteApp = angular.module('restauranteApp', ['ngRoute', 'ngTable'])
                .config(
                        function ($interpolateProvider, $httpProvider) {
                            $interpolateProvider.startSymbol('//');
                            $interpolateProvider.endSymbol('//');
                            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
                        }
                );
        restauranteApp.controller('restauranteCtrl', function ($scope, $route, ngTableParams, $http, $window) {
                    $scope.sucursales = sucursales;
                    $scope.totales = totales;
                    $scope.menu = 0;
                    $scope.imagen = "";
                    var resultado = [];
                    var pro;
                    var req = {
                        method: 'GET',
                        url: '../../../obtenerSucursales',
                        params: {
                            txtBuscar: $scope.txtBuscar == undefined ? "" : $scope.txtBuscar,
                            idCategoria:'0'
                        }
                    };
                    $http(req)
                            .success(function (response) {
                                $scope.sucursales = response;

                            });
                    $scope.change = function () {

                        var req = {
                            method: 'GET',
                            url: '../../../obtenerSucursales',
                            params: {
                                txtBuscar: $scope.txtBuscar == undefined ? "" : $scope.txtBuscar,
                                idCategoria:'0'
                            }
                        };
                        $http(req)
                                .success(function (response) {
                                    $scope.sucursales = response;

                                });

                    };
                    $scope.getCategoria = function(categoria) {
                        var req = {
                            method: 'GET',
                            url: '../../../obtenerSucursales',
                            params: {
                                idCategoria: categoria == undefined ? 0 : categoria,
                                txtBuscar: ""
                            }
                        };
                        $http(req)
                                .success(function (response) {
                                    $scope.sucursales = response;

                                });
                    }
                    $scope.getSucursalesOrdenadas = function(criterio) {
                        var req = {
                            method: 'GET',
                            url: '../../../getSucursalesOrdenadas',
                            params: {
                                idCriterio: criterio == undefined ? 0 : criterio

                            }
                        };
                        $http(req)
                                .success(function (response) {
                                    $scope.sucursales = response;

                                });
                    }
                    $scope.irSucursal = function(pk)
                    {
                        $window.location.href = "lista_menu/"+pk+"/";
                    }
                    $scope.verificarSucursales = function(link,sucursal, imagen)
                    {
                        //$scope.menu = menu;
                        $scope.imagen = imagen;
                        $scope.sucursalesProveedor = [];
                        $scope.proveedor = {};
                        var req = {
                            method: 'GET',
                            url: '../../../verificarSucursales',
                            params: {
                                sucursal: sucursal
                            }
                        };
                        $http(req)
                                .success(function (response) {
                                    if(!response)
                                        $window.location.href = link+"/"+sucursal+"/";
                                     else{
                                        angular.forEach(response, function (value, key) {
                                            $scope.sucursalesProveedor.push(value);
                                        });
                                        $scope.proveedor = $scope.sucursalesProveedor[$scope.sucursalesProveedor.length-1];
                                        $('#modalSucursales').modal('show');
                                    }


                                });
                    }
                }
        );
    </script>
    <link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet"/>
    <link href="{% static 'home/css/flaticon.css' %}" rel="stylesheet"/>
    <div class="container main-container" ng-app="restauranteApp" ng-controller="restauranteCtrl">
<style>
    .star-rating__checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.star-rating__star {
  display: inline-block;
  padding: 2px;
  vertical-align: middle;
  line-height: 0.8;
  font-size: 1.5em;
  color: #ABABAB;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}
.star-rating__star:hover {
  cursor: pointer;
}
.star-rating__star.is-selected {
  color: #E4022D;
}
.star-rating__star.is-disabled:hover {
  cursor: default;
}
    </style>
        <div class="img-head">
            <div class="find-restaurant">
                <!-- Panel Filtros-->
                <div class="content-search">
                    {% comment %}<p class="text-search">Busca tu restaurante favorito:</p>{% endcomment %}
                    <div class="input-group input-search">
                        <input type="text" ng-model="txtBuscar" ng-change="change()" class="form-control"
                               placeholder="Buscar...">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-ok btn-rest-search" type="button">Buscar</button>
                </span>
                    </div>
                </div>
            </div>
        </div>


        <!-- modal sucursales -->
        <div class="modal fade" id="modalSucursales" tabindex="5" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header modal-title">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                    </div>

{#                    <div class="modal-body">#}
{#                        <ul class="nav nav-tabs" role="tablist">#}
{#                            <li class="nav-item active" id="nav_login">#}
{#                                <a class="nav-link" data-toggle="tab" href="#login"#}
{#                                   role="tab">Sucursales Abiertas</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}

                    <!-- Tab panes -->
                    <div class="tab-content">
{#                        <div class="tab-pane active pane-main-content" id="login" role="tabpanel">#}
{#                            <div class="form-top-left form-bottom">#}
{#                                <form role="form" action="/loginUser" method="post" class="login-form">#}
                        <div class="res-brach-img-cont">
                            <img alt="" src="//imagen//" class="res-branchs-sup-img"/>
                        </div>

                                                <!--<table>
                                                    <tr ng-repeat="sucur in sucursalesProveedor" ng-click="irSucursal(sucur.pk)">
                                                        <td>//sucur.fields.nombre_sucursal//</td>
                                                    </tr>
                                                </table>-->
                        <div class="row">
                            <div class="col-md-6 res-brach-datarow" ng-repeat="sucur in sucursalesProveedor" ng-click="irSucursal(sucur.pk)">
{#                                        <div class="col-sm-4">#}
{#                                            <img alt="" src="/static/home/img/sucur.png" class="res-branch-img"/>#}
{#                                        </div>#}
                                <div ng-if="sucur.fields.nombre_sucursal" class="res-branch-items">
                                    <ul>
                                        <li class="res-branch-item res-branch-row-name">//sucur.fields.nombre_sucursal//</li>
                                        <li class="res-branch-item res-branch-row-descr">//sucur.fields.descripcion//</li>
                                        <li class="res-branch-item"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> //sucur.fields.telefono//</li>
                                        <li class="res-branch-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> //sucur.fields.dias_atencion//</li>
                                        <li class="res-branch-item"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> //sucur.fields.hora_atencion//</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                                    {% csrf_token %}
{#                                    <br><br><br>#}
{#                                </form>#}
{#                            </div>#}
{#                        </div>#}
                    </div>

                </div>
            </div>
        </div>


        <div class="row content-main">
            <ol class="breadcrumb path-status">
                <li><a href="{% url 'spaapp.views.home' %}">Inicio</a></li>
                <li><a href="#" class="active">Restaurantes</a></li>
            </ol>
            <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 titulo_restautantes">
        <h3>Elige tu comida favorita en {{ sucursales.count }} restaurantes con entrega a domicilio</h3>
    </div>-->
            <div class="main-content">

                <nav class="navbar navbar-default category-menu">
                    <div class="container-fluid">
                        <div class="navbar-header menu-cat-title">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Categorías</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <div class="staus menu-hover"></div>
                                    <a href="#" ng-click="getCategoria()" class="foodTypeItem">Todos</a></li>
                                {% for categoria in categoriasFijas %}
                                    <li><div class="staus"></div><a ng-click="getCategoria('{{ categoria.pk }}')" class="foodTypeItem">{{ categoria }}</a></li>
                                {% endfor %}

                            {% if categoriasDesplegables %}
                                <li class="dropdown">
                                    <div class="staus"></div>
                                    <a href="#" class="dropdown-toggle foodTypeItem2" data-toggle="dropdown">
                                        Mas...
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for categoria in categoriasDesplegables %}
                                            <li><a ng-click="getCategoria('{{ categoria.pk }}')" href="#" class="list-group-item dropdown-item-cat">{{ categoria }}</a></li>
                                        {% endfor %}

                                    </ul>

                                </li>
                            {% endif %}
                            {% comment %}

                                <li class="dropdown">
                                    <div class="staus"></div>
                                    <a href="#" class="dropdown-toggle foodTypeItem2" data-toggle="dropdown">
                                        Ordenar Por
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a ng-click="getSucursalesOrdenadas(1)" href="#" class="list-group-item">Nombre</a></li>
                                        <li><a href="#" class="list-group-item">Recomendados</a></li>
                                        <li><a href="#" class="list-group-item">Ofertas</a></li>
                                    </ul>

                                </li>
                                {% endcomment %}
                            </ul>

                        </div>

                    </div>

                </nav>


                <!--Menu Hrizontal // Categorias--><!--
        <div class="navbar navbar-inverse category-menu">
            <div class="container-fluid content-category">
                <ul class="nav navbar-nav content-items">
                    <li class="category-item"><div class="staus menu-hover"></div><a href="#" class="foodTypeItem">Todos</a></li>
                    {#% for categoria in categorias  %#}
                        <li class="category-item"><div class="staus"></div><a href="#" class="foodTypeItem">{#  #}{ categoria }}</a></li>
                    {#% endfor %#}
                    <li class="category-item dropdown">
                        <div class="staus"></div>
                        <a href="#" class="dropdown-toggle foodTypeItem" data-toggle="dropdown">
                            Ordenar Por
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="list-group-item">Recomendados</a></li>
                            <li><a href="#" class="list-group-item">Valoración</a></li>
                            <li><a href="#" class="list-group-item">Pedido mínimo</a></li>
                            <li><a href="#" class="list-group-item">Ofertas</a></li>
                            <li><a href="#" class="list-group-item">Nombre</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
-->
                {% comment %}<!--Catagoria seleconada-->
                <div class="restaurant-cat">
                    <span class="glyphicon glyphicon-bookmark"></span>
                    <h3 class="title-cat"><span id="text-cat">TODOS</span></h3>
                    <div class="line-cat"></div>
                    <!--<div class="line-cat"><hr class="hr-cat"></div>-->
                </div>{% endcomment %}

                <!--<div class="col-xs-12 col-sm-4 col-md-4">
                    <br>
                    <div class="list-group">
                        <a href="#" class="list-group-item disabled">Ordenar Por</a>
                        <a href="#" class="list-group-item">Recomendados</a>
                        <a href="#" class="list-group-item">Valoración</a>
                        <a href="#" class="list-group-item">Pedido mínimo</a>
                        <a href="#" class="list-group-item">Ofertas</a>
                        <a href="#" class="list-group-item">Nombre</a>
                    </div>
                </div>-->

                <!-- Lista de restaurantes-->
                <div class="row">
                    <div class="list-item">

                        {% comment %}{% for sucursal in sucursales %}

                    <div class="col-sm-3 restaurante" ng-repeat="sucursal in sucursales"
                         ng-if="sucursal.pk=={{ sucursal.id_sucursal }}">
                        <div class="img_rest">
                            <a href="#"><img alt="" width="251" height="251"
                                             src="media/{{ sucursal.id_proveedor.id_perfil.ruta_foto }}"
                                             id="IMG_5"/></a>
                            <div class="notice"></div>
                        </div>
                        <div class="descripcion_rest">
                            <ul class="desc-rest">
                                <li>
                                    <div>
                                        <a href="#" class="titulo_rest_desc">{{ sucursal.nombre_sucursal }}</a>
                                    </div>
                                </li>
                                <li>
                                    <div id="DIV_13_">
                                        <a href="#" id="A_15"></a>
                                        <i id="I_17"><i id="I_18"></i></i>
                                        <!--<p id="P_19"><span id="SPAN_20_">64</span>Valoraciones de los usuarios</p>-->
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="description"><i class="fa fa-cutlery fa-fw"
                                                                       aria-hidden="true"> </i> {{ sucursal.id_proveedor.id_categoria }}
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="description"><i class="fa fa-map-marker fa-fw"
                                                                       aria-hidden="true"> </i>{{ sucursal.id_direccion }}
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="description"> <i class="fa fa-money fa-fw"
                                                                        aria-hidden="true"> </i>Efectivo / cupones</a>
                                </li>
                            </ul>
                        </div>

                        <div class="btn_ver pull-right">
                            <a href="{% url 'spaapp.views.lista_menu' sucursal_id=sucursal.pk menu_id=sucursal.id_menu.pk %}"
                               id="A_37">Ver Menú</a>
                        </div>
                    </div>
                {% endfor %}{% endcomment %}

                         <div id="app">
                        {% for sucursal in puntuacion1 %}

                            <div class="restaurante" ng-repeat="sucursal in sucursales"
                                 ng-if="sucursal.pk=={{ sucursal.sucur.id_sucursal }}">
                                <div class="img_rest img-rest-logo">
                                    <a href=""><img
                                            class="logo-rest" alt="" width="251" height="251"
                                            src="media/{{ sucursal.sucur.id_proveedor.id_perfil.ruta_foto }}"
                                            id="IMG_5"  ng-click="verificarSucursales('lista_menu', {{sucursal.sucur.id_sucursal}}, 'media/{{ sucursal.sucur.id_proveedor.id_perfil.ruta_foto }}')" /></a>
                                    {% if sucursal.sucur.id_sucursal in oferta %}
                                        <img class="img-offer1 img-offer" src="/static/home/img/Oferta.png"
                                             alt="Oferta disponible">
{#                                        <div class="notice">Oferta</div>#}
{#                                    {% else %}#}
{#                                        <div class="notice"></div>#}
                                    {% endif %}
                                    {% comment %}<div class="notice">

                                    </div>{% endcomment %}

                                </div>
                                <div class="descripcion_rest">

                                    <ul class="desc-rest">
                                        <li>
                                            <div>
{#                                                <a href="{% url 'spaapp.views.lista_menu' sucursal_id=sucursal.sucur.id_sucursal %}"#}
{#                                                   class="titulo_rest_desc">{{ sucursal.sucur }}</a>#}
                                                <a href="" ng-click="verificarSucursales('lista_menu', {{sucursal.sucur.id_sucursal}}, 'media/{{ sucursal.sucur.id_proveedor.id_perfil.ruta_foto }}')"}
{#                                                   class="titulo_rest_desc">{{ sucursal.sucur.id_proveedor.nombre_comercial }}</a>
                                            </div>
                                        </li>
                                        <li >

                                                  <star-rating value="{{ sucursal.puntuacion }}"></star-rating>
                                                        <p id="P_19"><span id="SPAN_20_">{{ sucursal.personas }}</span>
                                                            Valoraciones de los usuarios</p>

                                </li>
                                <li>
                                    <a href="#" class="description"><i class="fa fa-cutlery fa-fw"
                                                                       aria-hidden="true"> </i>{{ sucursal.sucur.id_proveedor.id_categoria }}
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="description"><i class="fa fa-map-marker fa-fw"
                                                                       aria-hidden="true"> </i>{{ sucursal.sucur.id_direccion.calle_principal }} - {{ sucursal.sucur.id_direccion.calle_secundaria }}
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="description"> <i class="fa fa-money fa-fw"
                                                                        aria-hidden="true"> </i>Efectivo / Cupones</a>
                                </li>
                            </ul>
                        </div>

                                {% comment %}<div class="btn_ver pull-right">
                                    <a href="{% url 'spaapp.views.lista_menu' sucursal_id=sucursal.sucur.id_sucursal menu_id=sucursal.sucur.id_menu.pk %}"
                                       id="A_37">Ver Menú</a>
                                </div>{% endcomment %}
                            </div>
                        {% endfor %}







                        {% for sucursal in puntuacion2 %}

                            <div class="restaurante" ng-repeat="sucursal in sucursales"
                                 ng-if="sucursal.pk=={{ sucursal.sucur.id_sucursal }}">
                                <div class="img_rest img-rest-logo">
                                    <a href="{% url 'spaapp.views.lista_menu' sucursal_id=sucursal.sucur.id_sucursal %}"><img
                                            class="logo-rest" alt="" width="251" height="251"
                                            src="media/{{ sucursal.sucur.id_proveedor.id_perfil.ruta_foto }}"
                                            id="IMG_5"/>
                                        {% ifequal sucursal.sucur.estado 1 %}
                                            <div class="staus-rest staus-enable"></div>
                                        {% else %}
                                            <div class="tri">
                                                <p class="text">Cerrado</p>
                                            </div>
                                        {% endifequal %}
                                    </a>
                                    {% comment %}<div class="notice"></div>{% endcomment %}
                                </div>

                                <div class="descripcion_rest">

                                    <ul class="desc-rest">
                                        <li>
                                            <div>
                                                <a href="{% url 'spaapp.views.lista_menu' sucursal_id=sucursal.sucur.id_sucursal %}"
                                                   class="titulo_rest_desc">{{ sucursal.sucur }}</a>
                                            </div>
                                        </li>
                                        <li >

                                                        <star-rating value="{{ sucursal.puntuacion }}"></star-rating>
                                                        <p id="P_19"><span id="SPAN_20_">{{ sucursal.personas }}</span>
                                                            Valoraciones de los usuarios</p>

                                </li>
                                <li>
                                    <a href="#" class="description"><i class="fa fa-cutlery fa-fw"
                                                                       aria-hidden="true"> </i>{{ sucursal.sucur.id_proveedor.id_categoria }}
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="description"><i class="fa fa-map-marker fa-fw"
                                                                       aria-hidden="true"> </i>{{ sucursal.sucur.id_direccion.calle_principal }} - {{ sucursal.sucur.id_direccion.calle_secundaria }}
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="description"> <i class="fa fa-money fa-fw"
                                                                        aria-hidden="true"> </i>Efectivo / Cupones</a>
                                </li>
                            </ul>
                        </div>

                                {% comment %}<div class="btn_ver pull-right">
                                    <a href="{% url 'spaapp.views.lista_menu' sucursal_id=sucursal.sucur.id_sucursal menu_id=sucursal.sucur.id_menu.pk %}"
                                       id="A_37">Ver Menú</a>
                                </div>{% endcomment %}
                            </div>
                        {% endfor %}
                        </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



             {% if rSocial %}
      <script>
          $(document).ready(function(){
              $('#modalApp1').modal('show');
            });

      </script>
        <!-- modal datos incompletos para FACEBOOK -->
                    <div class="modal fade" id="modalApp1" tabindex="5" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div style="text-align: center" class="modal-header">
                                    <h4>¡Datos Incompletos¡</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Es necesario que llene este formulario, caso contrario usted no podra realizar compras por falta datos.</p>

                                    <form role="form" method="POST">{% csrf_token %}
                                      <div class="form-group">
                                        <label for="ejemplo_email_1">Identificador</label>
                                        {% comment %}<input type="text" class="form-control" id="ejemplo_email_1"
                                               placeholder="Cédula">{% endcomment %}
                                          {{ form.perfil }}
                                          {{ form.id.errors }}
                                          {{ form.id }}
                                      </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">
                                                Cancelar
                                            </button>
                                            <button type="submit" class="btn btn-default btn-ok">
                                                Aceptar
                                            </button>
                                        </div>

                                    </form>
                                    <!--button type="button" ng-click="guardarDireccion()" class="btn btn-primary">Aceptar</button-->

                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- fin modal -->
        {% endif %}





    <footer class="footer main-footer">
        <div class="container">
            <nav class="pull-left copyright">
                Copyright &copy; 2017. Todos los derechos reservados.
            </nav>
            <div class="social-area pull-right">
                <a href="https://twitter.com/GoodAppetit_ec" target="_blank" class="btn btn-social btn-simple"><i class="fa fa-twitter fa-fw"></i> <span
                        class="network-name"></span></a>
                <a href="https://www.facebook.com/goodAppetit/" target="_blank" class="btn btn-social btn-simple"><i class="fa fa-facebook fa-fw"></i> <span
                        class="network-name"></span></a>
                <a href="#" class="btn btn-social btn-simple"><i class="fa fa-google-plus fa-fw"></i> <span
                        class="network-name"></span></a>
            </div>
        </div>

        <div class="fixed-plugin">
        </div>
    </footer>
    <script>

        $(document).ready(function () {
            $("a.foodTypeItem, a.dropdown-item-cat").click(function () {
                $("div.staus").removeClass("menu-hover");
                $("a.foodTypeItem").removeClass("is-active");

                $(this).siblings().addClass("menu-hover");
                $(this).addClass("is-active");

                var txt = document.getElementsByClassName("is-active")[0].textContent;
                //document.getElementsById("text-cat").innerHTML = txt;
                document.getElementById("text-cat").innerHTML = txt;
                console.log(txt);
            });

            $("li").click(function () {
                $("li").removeClass("active");
                $(this).addClass("active");
            });
        });

    </script>

    <script type="text/x-template" id="template-star-rating">
  <div class="star-rating"
       onmouseout="selectDiv(this)"
       onclick="voto(this)">
    <label
      class="star-rating__star"
      onmouseover="select(this)"
      onmouseout="normal(this)"
      v-repeat="rating in ratings"
      v-class="is-selected: ((value >= rating) && value != null), is-disabled: disabled"
      v-on="mouseover: star_over(rating), mouseout: star_out, click: set(rating)">
      <input
        class="star-rating star-rating__checkbox"
        type="radio"
        v-attr="name: name, value: rating, required: required, id: id, disabled: disabled"
        v-model="value">
      ★
    </label>
    {% comment %}<kbd
    class="lead"
    id='kbd'>  Sin valoración</kbd>{% endcomment %}
  </div>
</script>

    <script src='https://cdn.jsdelivr.net/vue/0.12.16/vue.js'></script>
    <script src="{% static 'home/js/index.js' %}" type="text/javascript"></script>

{% endblock content %}

