{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
    Create{% endblock title %}

    <!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js"></script-->

    <script src="{% static 'home/js/OpenLayers/OpenLayers.js' %}"></script>
    <script type="text/javascript">


        var punto;
        var map, measureControls, vectorLayer;
        var position;
        var mapaApp = angular.module('mapaApp', ['ngRoute'])
                .config(
                        function ($interpolateProvider, $httpProvider) {
                            $interpolateProvider.startSymbol('//');
                            $interpolateProvider.endSymbol('//');
                            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
                        }
                );
        mapaApp.controller('mapaCtrl', function ($scope, $route, $http) {
            $scope.obtenerDireccion = function () {
                //alert(position.lon);
            }
            $scope.guardarDireccion = function () {
                if(position==undefined)
                {
                    alert('Seleccione la ubicacion');
                    return;
                }
                if($scope.calle_principal==undefined || $scope.calle_secundaria==undefined || $scope.referencia==undefined || $scope.numero_casa==undefined)
                {
                    alert('Informacion Incompleta');
                    return;
                }
                var req = {
                    method: 'POST',
                    url: '../../../guardarDireccion',
                    params: {
                        longitud: position.lon,
                        latitud: position.lat,
                        calle_principal: $scope.calle_principal,
                        calle_secundaria: $scope.calle_secundaria,
                        referencia: $scope.referencia,
                        numero_casa:$scope.numero_casa,
                        id_perfil:{{ id_perfil }}
                    }
                };
                $http(req).success(function (response) {
                    if (response == true) {
                        $('#myModal').modal('hide');
                    }
                    else
                        alert(response);

                    // mensajeSuccess('Se ha guardado la informacion.');
                    //d.hide();
                    //r.reload();
                })
                        .error(function (response) {
                            alert(response);
                        })
                ;
            };
            function init() {

                texto = "PC1";
                var lon = -79.210953;
                var lat = -4.0114529;

                map = new OpenLayers.Map("map");
                var mapnik = new OpenLayers.Layer.OSM();
                punto = new OpenLayers.Layer.Vector("Puntos");
                vectorLayer = new OpenLayers.Layer.Vector("Overlay");

                var lonlatObject1 = new OpenLayers.LonLat(lon, lat).transform(
                        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                        new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
                );
                var lonlatObject2 = new OpenLayers.LonLat(lon, lat).transform(
                        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                        new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
                );
                /**var feature = new OpenLayers.Feature.Vector(//-79.198753246573,-3.9866758993433
                 new OpenLayers.Geometry.Point(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                 new OpenLayers.Projection("EPSG:900913")),
                 {description: texto},
                 {externalGraphic: "{% static 'home/img/redMarker.png' %}", graphicHeight: 25, graphicWidth: 21, graphicXOffset: -12, graphicYOffset: -25}
                 );*/
                var punto1 = {"type": "Point", "coordinates": [lonlatObject1.lon, lonlatObject1.lat]};
                var geojson = new OpenLayers.Format.GeoJSON();
                punto.addFeatures(geojson.read(punto1));
                //punto.addFeatures(feature);
                map.addLayers([mapnik, punto, vectorLayer]);

                var controls = {
                    selector: new OpenLayers.Control.SelectFeature(vectorLayer, {
                        onSelect: function (feature) {
                            createPopup(feature);
                        }
                        , onUnselect: destroyPopup
                    })
                };

                map.addControl(controls['selector']);
                controls['selector'].activate();

                function createPopup(feature) {
                    feature.popup = new OpenLayers.Popup.FramedCloud("pop",
                            feature.geometry.getBounds().getCenterLonLat(),
                            null,
                            '<div class="markerContent">' + feature.data.description + '</div>',
                            null,
                            true,
                            function () {
                                controls['selector'].unselectAll();
                            }
                    );
                    //feature.popup.closeOnMove = true;
                    map.addPopup(feature.popup);
                }

                function destroyPopup(feature) {
                    feature.popup.destroy();
                    feature.popup = null;
                }

                map.addControl(new OpenLayers.Control.PanZoomBar());
                map.setCenter(new OpenLayers.LonLat(lon, lat) // Center of the map
                        .transform(
                                new OpenLayers.Projection("EPSG:4326"),
                                new OpenLayers.Projection("EPSG:900913")
                        ), 14
                );

                map.events.register("click", map, function (e) {
                    map.layers[1].removeAllFeatures();
                    map.layers[2].removeAllFeatures();
                    position = map.getLonLatFromViewPortPx(e.xy);

                    var feature = new OpenLayers.Feature.Vector(//-79.198753246573,-3.9866758993433
                            new OpenLayers.Geometry.Point(position.lon, position.lat),
                            //.transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                            //new OpenLayers.Projection("EPSG:900913")),
                            {description: texto},
                            {
                                externalGraphic: "{% static 'home/img/redMarker.png' %}",
                                graphicHeight: 25,
                                graphicWidth: 21,
                                graphicXOffset: -12,
                                graphicYOffset: -25
                            }
                    );
                    punto.addFeatures(feature);

                    position = new OpenLayers.LonLat(position.lon, position.lat).transform(
                            new OpenLayers.Projection("EPSG:900913"), // transform from WGS 1984
                            new OpenLayers.Projection("EPSG:4326") // to Spherical Mercator Projection
                    );

                });
                //inicio();
                //$rootScope.reload();
                /*actualizar();
                 setInterval(function () {
                 actualizar();
                 }, 30000);*/


            }

            $scope.inicio = function () {

            }
            init();
        });
    </script>

    <!--Estilos temporales-->
    <style>
        label {
            width: 15%;
        }
    </style>
    <!---->


    <link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet"/>
    <br><br><br><br>

    <div class="container" ng-app="mapaApp" ng-controller="mapaCtrl">
        <h2>Actualizar Proveedor</h2>
            <form action="#" method="POST">{% csrf_token %}
            <label for="nombre_sucursal">
                <small>* nombre_sucursal</small>
            </label>{{ formulario.nombre_sucursal }}<br>
            <label for="razon_social">
                <small>* razon_social</small>
            </label>{{ formulario.razon_social }}<br>
            <label for="telefono">
                <small>* telefono</small>
            </label>{{ formulario.telefono }}<br>
            <label for="telefono_contacto">
                <small>*telefono_contacto</small>
            </label>{{ formulario.telefono_contacto }}<br>
            <label for="dias_atencion">
                <small>* dias_atencion</small>
            </label>{{ formulario.dias_atencion }}<br>
            <label for="hora_atencion">
                <small>* hora_atencion</small>
            </label>{{ formulario.hora_atencion }}<br>
            <label for="prioridad">
                <small>* prioridad</small>
            </label>{{ formulario.prioridad }}<br>
            <label for="activo">
                <small>* activo</small>
            </label>{{ formulario.activo }}<br>
            <label for="hora_pico">
                <small>* hora_pico</small>
            </label>{{ formulario.hora_pico }}<br>
            <label for="me_gusta">
                <small>* me_gusta</small>
            </label>{{ formulario.me_gusta }}<br>
            <label for="id_ciudad">
                <small>* id_ciudad</small>
            </label>{{ formulario.id_ciudad }}<br>
            <label for="id_direccion">
                <small>* id_direccion</small>
            </label>{{ formulario.id_direccion }}<br>
            <label for="id_proveedor">
                <small>* id_proveedor</small>
            </label>{{ formulario.id_proveedor }}<br>
            <label for="id_menu">
                <small>* id_menu</small>
            </label>{{ formulario.id_menu }}<br>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Cambiar Direccion
            </button>
            <input type="submit" value="submit">


        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Ubicacion GPS</h4>
                    </div>

                        <div ng-init="inicio()" class="modal-body">
                            <table>
                                <tr>
                                    <td>
                                        <div id="map" style="width:550px; height: 500px; border: 2px solid red;"></div>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                        <table>
                            <tr>
                                <td>
                                    C. Principal
                                </td>
                                <td>
                                    <input ng-model="calle_principal" type="text">
                                </td>
                                <td>
                                    Referencia
                                </td>
                                <td>
                                    <input ng-model="referencia" style="width: 150px" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    C. Secundaria
                                </td>
                                <td>
                                    <input ng-model="calle_secundaria" type="text">
                                </td>
                                <td>
                                    Nro Casa
                                </td>
                                <td>
                                    <input ng-model="numero_casa" style="width: 150px" type="text">
                                </td>
                            </tr>
                        </table>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <!--button type="button" ng-click="guardarDireccion()" class="btn btn-primary">Aceptar</button-->
                                <input type="button" value="Confirmar Pedido" class="btn btn-default"
                                       id="add-producto" ng-click="guardarDireccion()">
                    </div>

                </div>
            </div>
        </div>
         </form>
    </div>
{% endblock content %}