{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}
<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br>
 <div class="container">
<h2>SUCURSALES</h2>
<a  href="sucursalCreate">Crear Sucursal</a>
<table border="1">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">nombre_sucursal</th>
        <th scope="col"> razon_social</th>
        <th scope="col">telefono</th>
        <th scope="col">telefono_contacto</th>
        <th scope="col">dias_atencion</th>
        <th scope="col">hora_atencion</th>
        <th scope="col">prioridad</th>
        <th scope="col">activo</th>
        <th scope="col">hora_pico</th>
         <th scope="col">me gusta</th>
        <th scope="col">id_ciudad</th>
        <th scope="col">id_proveedor</th>
        <th scope="col">id_direccion</th>

    </thead>
    <tbody>
    {% for m in sucursal %}


    <tr>
        <td>{{m.id_sucursal}}</td>
        <td>{{m.nombre_sucursal}}</td>
        <td>{{m.razon_social}}</td>
        <td>{{m.telefono}}</td>
        <td>{{m.telefono_contacto}}</td>
        <td>{{m.dias_atencion}}</td>
        <td>{{m.hora_atencion}}</td>
        <td>{{m.prioridad}}</td>
        <td>{{m.activo}}</td>
        <td>{{m.hora_pico}}</td>
        <td>{{m.me_gusta}}</td>
        <td>{{m.id_ciudad}}</td>
        <td>{{m.id_proveedor}}</td>
        <td>{{m.id_direccion}}</td>
        <td><a href="{% url 'sucursalUpdate' m.id_sucursal %}">Actualizar</a></td>
        <td><a href="{% url 'sucursalDelete' m.id_sucursal %}">Eliminar</a></td>


    </tr>
    {% endfor %}
    </tbody>
</div>
{% endblock content %}