{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<!--Estilos temporales-->
<style>
    label{
        width: 15%;
    }
</style>
<!---->


<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<div class="container">
<h2>Actualizar Tamanio</h2>
<form action="#" method="POST">{% csrf_token %}

  <label for="tamanio"><small>* tamanio</small></label>{{formulario.tamanio}}<br>
    <input type="submit" value="submit">

</form>
</div>
{% endblock content %}