{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}
<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br>
 <div class="container">
<h2>TAMANIO</h2>
<a  href="tamanioCreate">Crear Tamanio</a>
<table border="1">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">tamanio</th>
    </thead>
    <tbody>
    {% for t in tamanio %}


    <tr>
        <td>{{t.id_tamanio}}</td>
        <td>{{t.tamanio}}</td>
        <td><a href="{% url 'tamanioUpdate' t.id_tamanio %}">Actualizar</a></td>
        <td><a href="{% url 'tamanioDelete' t.id_tamanio %}">Eliminar</a></td>


    </tr>
    {% endfor %}
    </tbody>
</div>
{% endblock content %}