<!doctype html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div class="container" >
<h2>Actualizar Tipo pago</h2>
<form action="#" method="POST">{% csrf_token %}
    {% for hidden in formulario2.hidden_fields %}
        {{ hidden }}
    {% endfor %}
  <label for="tipo_pago"><small>* tipo_pago</small></label>{{formulario.tipo_pago}}<br>
    <label for="observaciones"><small>* observaciones</small></label>{{formulario.observaciones}}<br>

    <input type="submit" value="submit">

</form>
 </div>
{% endblock content %}
</body>
</html>