<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
<h2>CRUD TIPO PEDIDO</h2>
<a  href="tipopedidoCreate">Crear Tipo Pedido</a>
<table border="1">

    <caption>Menú</caption>
    <thead>
    <tr>
        <th scope="col">id_tipo_pedido</th>
        <th scope="col">tipo_pedido</th>
        <th scope="col"> observaciones</th>


    </thead>
    <tbody>
    {% for m in tipopedido %}


    <tr>
        <td>{{m.id_tipo_pedido}}</td>
        <td>{{m.tipo_pedido}}</td>
        <td>{{m.observaciones}}</td>
        <td><a href="{% url 'tipopedidoUpdate' m.id_tipo_pedido %}">Actualizar</a></td>
        <td><a href="{% url 'tipopedidoDelete' m.id_tipo_pedido %}">Eliminar</a></td>


    </tr>
    {% endfor %}
    </tbody>
 </div>
{% endblock content %}
</body>
</html>