<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
<h2>CRUD MENU</h2>
<a  href="tipopagoCreate">Crear Tipo Pago</a>
<table border="1">

    <caption>Menú</caption>
    <thead>
    <tr>
        <th scope="col">id_tipo_pago</th>
        <th scope="col">tipo_pago</th>
        <th scope="col"> observaciones</th>


    </thead>
    <tbody>
    {% for m in tipopago %}


    <tr>
        <td>{{m.id_tipo_pago}}</td>
        <td>{{m.tipo_pago}}</td>
        <td>{{m.observaciones}}</td>
        <td><a href="{% url 'tipopagoUpdate' m.id_tipo_pago %}">Actualizar</a></td>
        <td><a href="{% url 'tipopagoDelete' m.id_tipo_pago %}">Eliminar</a></td>


    </tr>
    {% endfor %}
    </tbody>
 </div>
{% endblock content %}
</body>
</html>