<!doctype html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div class="container" >
<h2>Crear Tipo Pago</h2>
<form action="#" method="POST">{% csrf_token %}
    <label for="tipo_pago"><small>* tipo_pago</small></label><input type="text" name="tipo_pago" value=""><br>
    <label for="observaciones"><small>* observaciones</small></label><input type="text" name="observaciones" value=""><br>
    <input type="submit" value="submit">
</form>
 </div>
{% endblock content %}
</body>
</html>
