<!doctype html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div class="container" >
<h2>Crear Transportista</h2>
<form action="#" method="POST">{% csrf_token %}
    <label for="tipo_transporte"><small>* tipo_transporte</small></label><input type="text" name="tipo_transporte" value=""><br>
    <label for="tipo_servicio"><small>* tipo_servicio</small></label><input type="text" name="tipo_servicio" value=""><br>
    <label for="id_perfil"><small>* id_perfil</small></label>{{formulario.id_perfil}}<br>
    <input type="submit" value="submit">
</form>
</div>
{% endblock content %}
</body>
</html>

