<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
<h2>CRUD transportista</h2>
<a  href="transportistaCreate">Crear transportista</a>
<table border="1">

    <thead>
    <tr>
        <th scope="col">id_transportista</th>
        <th scope="col">tipo_transporte</th>
        <th scope="col">tipo_servicio</th>
        <th scope="col">id_perfil</th>
    </tr>
    </thead>
    <tbody>
    {% for i in transportista %}
    <tr>
        <td>{{i.id_transportista}}</td>
        <td>{{i.tipo_transporte}}</td>
        <td>{{i.tipo_servicio}}</td>
        <td>{{i.id_perfil}}</td>
        <td><a href="{% url 'transportistaUpdate' i.id_transportista %}">Actualizar</a></td>
        <td><a href="{% url 'transportistaDelete' i.id_transportista %}">Eliminar</a></td>

    </tr>
    {% endfor %}
    </tbody>
    </div>
{% endblock content %}
</body>
</html>
