<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>CRUD Usuario</h2>
<a  href="usuarioCreate">Crear Usuario</a>
<table border="1">

    <caption>Registro de Usuarios</caption>
    <thead>
    <tr>
        <th scope="col">Celular</th>
        <th scope="col">Nick</th>
        <th scope="col">Password</th>
        <th scope="col">Activo</th>
        <th scope="col">Foto</th>
        <th scope="col">Id Persona</th>
        <th scope="col">Id Tipo Usuario/th>
    </tr>
    </thead>
    <tbody>
    {% for p in usuarios %}


    <tr>
        <td>{{p.celular}}</td>
        <td>{{p.nick}}</td>
        <td>{{p.password}}</td>
        <td>{{p.activo}}</td>
        <td>{{p.foto}}</td>
        <td>{{p.id_persona}}</td>
        <td>{{p.id_tipo_usuario}}</td>
        <td><a href="{% url 'usuarioUpdate' p.id_usuario %}">Actualizar</a></td>
        <td><a href="{% url 'usuarioDelete' p.id_usuario %}">Eliminar</a></td>

    </tr>
    {% endfor %}
    </tbody>
</body>
</html>