<<<<<<< Updated upstream
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Actualizar Usuario</h2>
<form action="#" method="POST"  enctype="multipart/form-data">{% csrf_token %}
    {% for hidden in formulario3.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <label for="celular"><small>* CELULAR</small>{{formulario3.celular}}</label><br>
    <label for="nick"><small>* NICK</small></label>{{formulario3.nick}}<br>
    <label for="password"><small>* PASSWORD</small></label>{{formulario3.password}}<br>
    <label for="activo"><small>* ACTIVO</small></label>{{formulario3.activo}}<br>
    <label for="rutaFoto"><small>* ELIGE TU FOTO</small> {{formulario3.rutaFoto}}<br>
    <label for="idPersona"><small>* ID PERSONA</small></label>{{formulario3.id_persona}}<br>
    <label for="idTipoUsuario"><small>* TIPO USUARIO</small></label>{{formulario3.id_tipo_usuario}}<br>
    <input type="submit" value="submit">

</form>
</body>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Actualizar Usuario</h2>
<form action="#" method="POST"  enctype="multipart/form-data">{% csrf_token %}
    {% for hidden in formulario3.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <label for="celular"><small>* CELULAR</small>{{formulario3.celular}}</label><br>
    <label for="nick"><small>* NICK</small></label>{{formulario3.nick}}<br>
    <label for="password"><small>* PASSWORD</small></label>{{formulario3.password}}<br>
    <label for="activo"><small>* ACTIVO</small></label>{{formulario3.activo}}<br>
    <label for="rutaFoto"><small>* ELIGE TU FOTO</small> {{formulario3.rutaFoto}}<br>
    <label for="idPersona"><small>* ID PERSONA</small></label>{{formulario3.idPersona}}<br>
    <label for="idTipoUsuario"><small>* TIPO USUARIO</small></label>{{formulario3.idTipoUsuario}}<br>
    <input type="submit" value="submit">

</form>
</body>
>>>>>>> Stashed changes
</html>