<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Registro Usuario</h2>
<form action="#" method="POST"  enctype="multipart/form-data">{% csrf_token %}
    {% for hidden in formulario.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <label for="celular"><small>* CELULAR</small></label><input type="text" name="celular" value=""><br>
    <label for="nick"><small>* NICK</small></label><input type="text" name="nick" value=""><br>
    <label for="password"><small>* PASSWORD</small></label><input type="text" name="password" value=""><br>
    <label for="activo"><small>* ACTIVO</small></label><input type="checkbox" name="activo" value=""><br>
    <label for="rutaFoto"><small>* ELIGE TU FOTO</small> </label><input name="rutaFoto" type="file"><br>
    <label for="idPersona"><small>* ID PERSONA</small></label><input type="text" name="idPersona" value=""><br>
    <label for="idTipoUsuario"><small>* TIPO USUARIO</small></label><input type="text" name="idTipoUsuario" value=""><br>
    <input type="submit" value="submit">




</form>
</body>
</html>