{% extends 'home/perfilUpdate.html' %} {% load staticfiles %}{% comment %} {% block content %} {% endcomment %}{% block title %} <title>Validar Cuenta</title>
{%endblock title%}

{% block moreStyle %}

{% endblock moreStyle %}

{% block menuPerfil %}
<div class="col-sm-8 bk-main">


    <link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<link href="{% static 'home/css/validarCuenta.css' %}" rel="stylesheet"/>
<script src="{% static 'home/js/validarCuenta.js' %}" type="text/javascript"></script>

{% comment %}<div class="row">
    <section>{% endcomment %}
    <div class="wizard">
        <div class="wizard-inner">
            <div class="connecting-line"></div>
            <ul class="nav nav-tabs" role="tablist">

                <li role="presentation" class="active">
                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Configuración de número">
                        <span class="round-tab">
                            <i class="glyphicon glyphicon-cog"></i>
                        </span>
                    </a>
                </li>


                <li role="presentation" class="disabled">
                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Enviar mensaje de verificación">
                        <span class="round-tab">
                            <i class=" glyphicon glyphicon-send"></i>
                        </span>
                    </a>
                </li>

                <li role="presentation" class="disabled">
                    <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Listo">
                        <span class="round-tab">
                            <i class="glyphicon glyphicon-ok"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>

        {% comment %}<form role="form">{% endcomment %}
            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="step1">
                    <div class="step1">
                        {% if perfil.telefono == None %}
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">
                                <img rel="Icon made by Freepik from www.flaticon.com " width="128" height="128" src="{% static 'home/img/telefonoIngresar.png' %}" alt="">

                            </div>
                            <div class="col-md-7">
                                <form action="#" method="POST">{% csrf_token %}
                                    <label for="exampleInputEmail1">Ingresar número</label>
                                    {{ form.errors.celular }}
                                    {{ form.celular }}
                                    {{ form.id_perfil }}
                                    {% comment %}<input type="text" class="form-control" id="newMovil" placeholder="Celular">{% endcomment %}
                                    {% comment %}<p>{{ form.as_p }}</p>{% endcomment %}
                                    <br>
                                    <ul class="list-inline pull-right">
                                        <li><button type="submit" class="btn">Guardar</button></li>
                                    </ul>
                                </form>
                            </div>
                        </div>

                            {% else %}
                        <div class="row">
                            <div id="cambiarNumero" class="collapse col-md-6">
                                <form action="#" method="POST">{% csrf_token %}
                                    <label for="exampleInputEmail1">Ingrese el nuevo número</label>
                                    {{ form3.errors.celular }}
                                    {{ form3.celular }}
                                    {{ form3.id_perfil }}
                                    {% comment %}<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Celular">{% endcomment %}
                                    <br>
                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn">Cambiar</button></li>
                                    </ul>
                                 </form>
                            </div>
                            <div class="col-md-6">
                                <form method="POST" action="#">{% csrf_token %}
                                    <label for="exampleInputEmail1">Número existente</label>
                                    {% comment %}<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Celular"
                                           value="{{ perfil.telefono }}" disabled>{% endcomment %}
                                    {{ form2.as_p }}
                                    {% comment %}<a data-toggle="collapse" data-target="#cambiarNumero">¿Cambiar numero? </a>{% endcomment %}&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a style="text-align: right" aria-hidden="true" id="add-producto"
                                                                   data-toggle="modal"
                                                                   data-toggle="modal" data-target="#modalApp"> ¿Borrar número?</a>
                                    <br>
                                    {% if not perfil.cuentaVerif %}
                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn next-step" onclick="enviarC();">Enviar Código</button></li>
                                    </ul>
                                        {% endif %}
                                </form>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="step2">
                    <div class="step2">
                        <div class="step_21">
                            <div class="row"></div>
                        </div>
                        <div class="step-22">

                        </div>
                    </div>
                    {% comment %}<ul class="list-inline pull-right">
                        <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                        <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                    </ul>{% endcomment %}
                </div>
                <div class="tab-pane" role="tabpanel" id="step3">
                    <div class="step33">
                    <h5><strong>Enviamos un mensaje de texto al {{ perfil.telefono }} con un código, en caso de que el mensaje no llegue,
                        por favor revise su correo electrónico.</strong></h5>


                <div class="modal-footer">

                    <form method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <img rel="Icon made by Freepik from www.flaticon.com "  width="128" height="128" src="{% static 'home/img/telefono.png' %}" />
                            </div>
                            <div class="col-md-8">
                                <br>
                                <br>
                                 <div class="form-group ">
                                  <label  class="control-label " for="name">
                                   Ingrese el código de verificación.
                                  </label>
                                  <input class="form-control" id="codigoId" name="name" type="text"/>
                                     <a id="errorCodigoM" href="" style="color: red"></a>
                                 </div>
                            </div>
                        </div>
                     <div class="form-group">
                      <div>
                       <button type="button" class="btn btn-info-full" data-dismiss="modal" onclick="compararC()">
                        Verificar
                    </button>
                      </div>
                     </div>
                    </form>

                    <!--button type="button" ng-click="guardarDireccion()" class="btn btn-primary">Aceptar</button-->

                </div>

            </div>



                    {% comment %}<ul class="list-inline pull-right">
                        <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                        <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                        <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
                    </ul>{% endcomment %}
                </div>
                <div class="tab-pane" role="tabpanel" id="complete">
                    <div class="step44">
                        <div class="row">
                            <div class="col-md-4">
                                <img width="128" height="128" src="{% static 'home/img/complete.png' %}" />
                            </div>
                            <div class="col-md-8 text-center">
                                <h5>Validación Completada</h5>
                                <p>!Gracias por tu tiempo! Ahora podrás realizar tus compras sin problemas.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        {% comment %}</form>{% endcomment %}
    </div>
{% comment %}</section>
</div>{% endcomment %}

        </div>


    <!-- modal borrar numero -->
    <div class="modal fade" id="modalApp" tabindex="5" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-title">
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"
                        id="myModalLabel">Borrar número de celular</h4>
                </div>

                <div style="text-align: center" class="modal-body">
                    <h4>!Te recordamos que si borras tu no podrás realizar pedidos en efectivo!</h4>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger btn-cancel" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-default btn-ok" data-dismiss="modal" onclick="borrarN();">Aceptar</button>
                    <!--button type="button" ng-click="guardarDireccion()" class="btn btn-primary">Aceptar</button-->

                </div>

            </div>
        </div>
    </div>
    <!-- fin modal morrar numero-->


    <script>
    var extra;
    {% if not perfil.cuentaVerif %}
    function enviarC() {
         $.ajax({
          type: "POST",
          url: "/enviarCo",
          data: {
              csrfmiddlewaretoken:"{{ csrf_token }}",
          },
            complete: function(result) {
              extra=result.responseJSON;
                if(!result){

                }
                else{

                }
            },
        });

    }
    {% endif %}
    
    function compararC() {
        var coder=document.getElementById("codigoId").value;
        document.getElementById("codigoId").value="";

        $.ajax({
          type: "POST",
          url: "/verificarC",
          data: {
              extraC:extra,
              coder:coder,
              csrfmiddlewaretoken:"{{ csrf_token }}",
          },
            complete: function(result) {
                if(result.responseJSON){
                    saltar();
                }
                else{
                    document.getElementById("errorCodigoM").innerHTML="Codigo incorrecto o caducado";

                    setTimeout(function(){
                    document.getElementById("errorCodigoM").innerHTML="";
                    }, 3000);
                }
            },
        });
    }
    function borrarN() {
        $.ajax({
          type: "POST",
          url: "/borrarN",
          data: {
              csrfmiddlewaretoken:"{{ csrf_token }}",
          },
            complete: function(result) {
                if(result.responseJSON){
                    window.location.reload();
                }
            },
        });
    }
    </script>
    {% comment %}<script>
    //document.getElementById("id_validar-celular");
    //var v=document.getElementById("id_validar2-celular").onkeyup='clonar1()';
    //v.onkeyup="clonar1()"
    $("#id_validar-celular").attr("onkeyup","clonar1()");
    $("#id_validar2-celular").attr("onkeyup","clonar1()");
    function clonar1() {
        var da=document.getElementById("id_validar2-celular").value;
        document.getElementById("id_validar-celular").value="";
        document.getElementById("id_validar-celular").value=da;
        alert(da);

    }
    function clonar2() {
        var da2=document.getElementById("id_validar-celular").value;
        document.getElementById("id_validar2-celular").value="";
        document.getElementById("id_validar2-celular").value=da2;


    }
    </script>{% endcomment %}
    {% endblock menuPerfil %}



