<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
<h2>Actualizar valoracion</h2>
<form action="#" method="POST">{% csrf_token %}

    <label for="valor_servicio"><small>*valor_servicio</small></label>{{formulario.valor_servicio}}<br>
     <label for="valor_proveedor"><small>* valor_proveedor</small></label>{{formulario.valor_proveedor}}<br>
     <label for="valor_transportista"><small>* valor_transportista</small></label>{{formulario.valor_transportista}}<br>
    <label for="valoracion_general"><small>* valoracion_general</small></label>{{formulario.valoracion_general}}<br>
    <label for="observaciones"><small>* observaciones</small></label>{{formulario.observaciones}}<br>
    <label for="id_proveedor"><small>* id_proveedor</small></label>{{formulario.id_proveedor}}<br>
    <label for="id_transportista"><small>* id_transportista</small></label>{{formulario.id_transportista}}<br>
    <label for="id_pedido"><small>* id_pedido</small></label>{{formulario.id_pedido}}<br>
    <label for="id_cliente"><small>* id_cliente</small></label>{{formulario.id_cliente}}<br>
    <label for="id_sucursal"><small>* id_sucursal</small></label>{{formulario.id_sucursal}}<br>
    <input type="submit" value="submit">
</form>
  </div>
{% endblock content %}
</body>
</html>



