<!DOCTYPE html>
{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %}
Create{%endblock title%}

<link href="{% static 'home/css/restaurantes.css' %}" rel="stylesheet" />
<br><br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
<h2>CRUD valoracion</h2>
<a  href="valoracionCreate">Registrar valoracion</a>
<table border="1">

    <caption>Registro de valoracion</caption>
    <thead>
    <tr>
        <th scope="col">id_valoracion</th>
        <th scope="col">valor_servicio</th>
        <th scope="col">valor_proveedor</th>
        <th scope="col">valor_transportista</th>
        <th scope="col">valoracion_general</th>
        <th scope="col">observaciones</th>
        <th scope="col">id_proveedor</th>
        <th scope="col">id_transportista</th>
        <th scope="col">id_pedido</th>
        <th scope="col">id_cliente</th>
    </tr>
    </thead>
    <tbody>
    {% for a in valoracion %}
    <tr>
         <td>{{a.id_valoracion}}</td>
        <td>{{a.valor_servicio}}</td>
        <td>{{a.valor_proveedor}}</td>
        <td>{{a.valor_transportista}}</td>
        <td>{{a.valoracion_general}}</td>
        <td>{{a.observaciones}}</td>
        <td>{{a.id_proveedor}}</td>
        <td>{{a.id_transportista}}</td>
        <td>{{a.id_pedido}}</td>
        <td>{{a.id_cliente}}</td>
        <td>{{a.id_sucursal}}</td>

        <td><a href="{% url 'valoracionUpdate' a.id_valoracion %}">Actualizar</a></td>
        <td><a href="{% url 'valoracionDelete' a.id_valoracion %}">Eliminar</a></td>

    </tr>
    {% endfor %}
    </tbody>
 </div>
{% endblock content %}
</body>
</html>

