{% extends 'home/base.html' %} {% load staticfiles %} {% block content %}
    {% block title %} <title>Panel de Administración</title> {% endblock title %}


    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS     -->
    <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!-- Animation library for notifications   -->
    <link href="{% static 'proveedor/css/animate.min.css' %}" rel="stylesheet"/>
    <!--  Paper Dashboard core CSS    -->
    <link href="{% static 'proveedor/css/paper-dashboard.css' %}" rel="stylesheet"/>
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'proveedor/css/demo.css' %}" rel="stylesheet"/>
    <!--  Fonts and icons     -->
    <link href="{% static 'proveedor/css/themify-icons.css' %}" rel="stylesheet">


    <div class="wrapper">
        <div class="sidebar" data-background-color="white" data-active-color="danger">
            <!--
                Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
                Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
            -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text"><img alt="" width="100" height="100" src="media/{{ perfil.ruta_foto }}"
                                                         id="IMG_5"/></a>
                </div>
              {% block nav %}{% endblock nav %}
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand" href="#">Panel de Administración</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#">
                                    <p>Bienvenido, {{ nombre_sucursal }}</p>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>


            {% block extraContenido %}{% endblock extraContenido %}


            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Licencias y condiciones
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>
                        , desarrollado por <a href="http://nodo.com.ec">Nodo</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    {% block extraScripts %}{% endblock extraScripts %}

     <!--   Core JS Files   -->
    <script src="{% static 'home/js/jquery-1.10.2.js' %}" type="text/javascript"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}" type="text/javascript"></script>

    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="{% static 'proveedor/js/bootstrap-checkbox-radio.js' %}"></script>

    <!--  Charts Plugin -->

    <!--  Notifications Plugin    -->
    <script src="{% static 'proveedor/js/bootstrap-notify.js' %}"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
    <script src="{% static 'proveedor/js/paper-dashboard.js' %}"></script>

    <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="{% static 'proveedor/js/demo.js' %}"></script>
{% endblock content %}


