 {% load staticfiles %}
  <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Licencias y condiciones
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>
                        , desarrollado por <a href="http://nodo.com.ec">Nodo</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    {% block extraScripts %}{% endblock extraScripts %}

     <!--   Core JS Files   -->
    <script src="{% static 'home/js/jquery-1.10.2.js' %}" type="text/javascript"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}" type="text/javascript"></script>

    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="{% static 'proveedor/js/bootstrap-checkbox-radio.js' %}"></script>

    <!--  Charts Plugin -->

    <!--  Notifications Plugin    -->
    <script src="{% static 'proveedor/js/bootstrap-notify.js' %}"></script>

    <!--  Google Maps Plugin
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> -->

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
    <script src="{% static 'proveedor/js/paper-dashboard.js' %}"></script>

    <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="{% static 'proveedor/js/demo.js' %}"></script>