{% load staticfiles %}
{% block title %} <title>Panel de Administración</title> {% endblock title %}
    <br><br>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS     -->
    <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!-- Animation library for notifications   -->
    <link href="{% static 'proveedor/css/animate.min.css' %}" rel="stylesheet"/>
    <!--  Paper Dashboard core CSS    -->
    <link href="{% static 'proveedor/css/paper-dashboard.css' %}" rel="stylesheet"/>
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'proveedor/css/demo.css' %}" rel="stylesheet"/>
    <!--  Fonts and icons     -->
    <link href="{% static 'proveedor/css/themify-icons.css' %}" rel="stylesheet">