<div class="content">
    <div class="container-fluid">
        <div class="row">
            <center>
                <img alt="" width="50%" height="50%" ng-src="// imagen //"/>
            </center>
        </div>
    </div>
</div>