<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 class="title">Datos de Transportista</h4>
            </div>
            <!--p><a href class="btn btn-default btn-lg " ng-click="showYesNo()">Show Yes No</a></p-->
            <button type="button" ng-click="openDialog(-1)"
                    title="Editar" class="btn btn-default">Crear Transportista
            </button>

            <div class="doc-content">
                <table ng-table="tableParams" show-filter="true" class="table ng-table-responsive">
                    <tbody>
                    <tr ng-repeat="rec in $data" ng-class="{'selected':$index == selectedRow}">
                        <td data-title="'Cedula'">// rec.cedula //</td>
                        <td data-title="'Nombre'">// rec.nombre //</td>
                        <td data-title="'Telefono'">// rec.telefono //</td>
                        <!--td data-title="'Fecha de Nacimiento'">// rec.fecha_nacimiento //</td-->
                        <td data-title="'Tipo Servicio'">// rec.tipo_servicio //</td>
                        <td data-title="'Sim'">// rec.sim //</td>
                        <td data-title="'Tipo Transporte'">// rec.tipo_transporte //</td>
                        <td data-title="'Edit'">
                            <input ng-hide="true" ng-model="pk_perfil">
                            <i ng-click="openDialog($index)" style="color:#3F5367"
                               title="Editar" class="fa fa-pencil-square-o fa-lg"></i>
                            <i ng-click="eliminar($index)" style="color:#3F5367" title="Eliminar"
                               class="fa fa-trash fa-lg"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>


    </div>


</div>