<div class="modal fade" id="dialogTransportista" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Datos de Transportista</h4>// mensaje //
                    </div>
                    <div class="modal-body">
                        <form name="myForm" style="width: 500px">
                            <div>
                                <form action="#" method="POST">{% csrf_token %}
                                    <table class="table table-striped" id="table_detalle">
                                        <tbody>
                                        <tr>
                                            <td>
                                                Cedula
                                            </td>
                                            <td>
                                                <input ng-model="cedula" type="text" maxlength="10" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Nombre
                                            </td>
                                            <td>
                                                <input ng-model="nombre" type="text" maxlength="30" required>
                                            </td>
                                        </tr>
                                        <!--tr>
                                            <td>
                                                Fecha Nacimiento
                                            </td>
                                            <td>
                                                <input ng-model="fecha" type="date" data-date-format="yyyy-MM-dd">
                                            </td>
                                        </tr-->
                                        <tr>
                                            <td>
                                                Telefono
                                            </td>
                                            <td>
                                                <input ng-model="telefono" type="text" maxlength="10" required>
                                            </td>
                                        </tr>
                                        <!--tr>
                                            <td>
                                                Genero
                                            </td>
                                            <td>
                                                <select ng-model="genero" required>
                                                    <option ng-repeat="genero in generos" value="//genero.valor//"
                                                            required>
                                                        // genero.nombre //
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Ruta Foto
                                            </td>
                                            <td>
                                                <input file-model="foto" type="file">
                                            </td>
                                        </tr-->
                                        <tr>
                                            <td>
                                                Sim Dispositivo
                                            </td>
                                            <td>
                                                <input ng-model="sim" type="text" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Tipo Transporte
                                            </td>
                                            <td>
                                                <input ng-model="tipo_transporte" type="text" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Tipo Servicio
                                            </td>
                                            <td>
                                                <input ng-model="tipo_servicio" type="text" required>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar
                                </button>
                                <input type="button" value="Guardar Transportista" class="btn btn-default" data-dismiss="modal"
                                       ng-click="guardarTransportista()"
                                       ng-disabled="myForm.$invalid">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>