<div class="modal fade" id="confirmar" tabindex="-1"
                 role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header modal-title">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Confirmar Envio</h4>
                        </div>
                        <div class="modal-body">
                            <form name="dialog" class="resumen_pedido">
                                <div>
                                    <h3 class="text_center">Resumen del envio</h3>
                                </div>
                                <div>
                                    <form action="#" method="POST">{% csrf_token %}
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Cantidad</th>
                                                <th>Plato</th>
                                                <th>Precio</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="detalle in detalles">
                                                <th>
                                                   //  detalle.cantidad_solicitada //
                                                </th>
                                                <th>
                                                    // detalle.nombre_producto //
                                                </th>
                                                <th>
                                                    // detalle.valor //
                                                </th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th>Total del pedido</th>
                                                <th>// subtotal //</th>

                                            </tr>

                                            </tbody>
                                            <tfoot>
                                            <tr ng-if="mostrar">
                                                <td></td>
                                                <td>Tiempo Estimado</td>
                                                <td>
                                                    <input id="tiempoEntrega" ng-model="tiempoEntrega" type="number" class="form-control">
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </form>
                                </div>
                            </form>

                            <div class="modal-footer" ng-if="mostrar">
                                <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cerrar</button>
                                <input type="button" value="Confirmar Envio" class="btn btn-default btn-ok" data-dismiss="modal"
                                       id="add-producto" ng-click="guardarEnvio()">
                            </div>
                        </div>


                    </div>
                </div>
            </div>