{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %} Transportista
{% endblock title %}

    <title>Panel de Transportista</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
    <!-- Bootstrap core CSS     -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!-- Animation library for notifications   -->
    <link href="{% static 'proveedor/css/animate.min.css' %}" rel="stylesheet"/>
    <!--  Paper Dashboard core CSS    -->
    <link href="{% static 'proveedor/css/paper-dashboard.css' %}" rel="stylesheet"/>
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'proveedor/css/demo.css' %}" rel="stylesheet"/>
    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'proveedor/css/themify-icons.css' %}" rel="stylesheet">

    <!--link href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.3.3/ng-table.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.3.3/ng-table.min.js"></script-->

    <!--link data-require="bootstrap@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <script data-require="angular.js@1.4.5" data-semver="1.4.5" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script-->

    <script src="{% static 'home/js/OpenLayers/OpenLayers.js' %}"></script>

    <script type="text/javascript">

        var transportistaApp = angular.module('transportistaApp', ['ngAnimate', 'ngRoute', 'ngTable', 'angularModalService'])
                .config(
                        function ($interpolateProvider, $httpProvider) {
                            $interpolateProvider.startSymbol('//');
                            $interpolateProvider.endSymbol('//');
                            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
                        }
                );
        transportistaApp.config(function ($routeProvider) {
            $routeProvider

            // route for the home page
                    .when('/', {
                        templateUrl: 'adminTransportista',
                        controller: 'adminCtrl'
                    })
                    .when('/todosPedidos', {
                        templateUrl: 'todosPedidos',
                        controller: 'pedidosCtrl'
                    })
                    .when('/ubicacion', {
                        templateUrl: 'ubicacion',
                        controller: 'ubicacionCtrl'
                    })
                    .when('/ultimosPedidos', {
                        templateUrl: 'ultimosPedidos',
                        controller: 'ultimosPedidosCtrl'
                    })
                    .when('/datosTransportista', {
                        templateUrl: 'datosTransportista',
                        controller: 'transportistaCtrl'
                    })
                    .otherwise({redirectTo: '/'})
            ;
        });
        transportistaApp.controller('pedidosCtrl', function ($scope, $route, ngTableParams, $http, ModalService) {
            $scope.pedidos = [];

            $scope.clickDetalles = function (id_pedido, mostrar) {
                //$scope.detalle = mostrar;
                var req = {
                    method: 'GET',
                    url: '../../../obtenerDetallesPedido',
                    params: {
                        id_pedido: id_pedido
                    }
                };
                $http(req)
                        .success(function (response) {
                            $scope.datos = response.lista;
                            $scope.detalles = [];
                            angular.forEach($scope.datos, function (value, key) {
                                $scope.detalles.push(JSON.parse(value))
                            });
                            detalles = $scope.detalles;
                            ModalService.showModal({
                                inputs: {
                                    mostrar: mostrar,
                                    tiempo: 0
                                },
                                templateUrl: "datosPedido",
                                controller: "YesNoController"
                            }).then(function (modal) {
                                modal.element.modal();
                                modal.close.then(function (result) {
                                    //$scope.yesNoResult = result ? "You said Yes" : "You said No";
                                    //$scope.detalles = detalles;
                                    $scope.tableParams.reload();
                                });
                            });
                        });
            };

            $scope.tableParams = new ngTableParams(
                    {
                        page: 1,            // show first page
                        count: 5,           // count per page
                        sorting: {
                            id: 'asc'     // initial sorting
                        }
                    },
                    {
                        total: 1, // length of data
                        getData: function ($defer, params) {
                            var req = {
                                method: 'GET',
                                url: '../../../obtenerTodosPedidos',
                                params: {
                                    count: params.count(),
                                    page: params.page(),
                                    name: params.filter().name,
                                    code: params.filter().code
                                }
                            };
                            $http(req)
                                    .success(function (response) {
                                        $scope.pedidos = [];
                                        angular.forEach(response.lista, function (value, key) {
                                            $scope.pedidos.push(JSON.parse(value))
                                        });
                                        $scope.tableParams.total($scope.pedidos[0].total);
                                        $defer.resolve($scope.pedidos);
                                        rowsTransportistas = $scope.pedidos;
                                    });
                        }
                    }
            );

        });
        var rowsTransportistas = [], rowsPedidos = [], detalles = [], row, texto, empleados = [],rows = [];
        var punto;
        var map, measureControls, vectorLayer, pedido_id,subtotal;
        transportistaApp.controller('ultimosPedidosCtrl', function ($scope, $http, ngTableParams, ModalService ) {
             $scope.cambiarEstadoEntregado = function (id_pedido) {
                var req = {
                    method: 'GET',
                    url: '../../../cambiarEstadoEntregado',
                    params: {
                        id_pedido: id_pedido
                    }
                };
                $http(req)
                        .success(function (response) {

                        });
            }
            $scope.clickDetalles = function (id_pedido, mostrar) {
                $scope.detalle = mostrar;
                pedido_id = id_pedido;
                $scope.id_pedido = id_pedido;
                var req = {
                    method: 'GET',
                    url: '../../../obtenerDetallesPedido',
                    params: {
                        id_pedido: id_pedido
                    }
                };
                $http(req)
                        .success(function (response) {
                            $scope.datos = response.lista;
                            $scope.detalles = [];
                            $scope.subtotal=0;
                            angular.forEach($scope.datos, function (value, key) {
                                $scope.detalles.push(JSON.parse(value));
                                $scope.subtotal+= JSON.parse(value).valor;

                            });
                            detalles = $scope.detalles;
                            subtotal = $scope.subtotal;

                            ModalService.showModal({
                                inputs: {
                                    mostrar: true,
                                    tiempo: $scope.detalles.length>0 ? $scope.detalles[0].tiempo:0
                                },
                                templateUrl: "datosPedido",
                                controller: "YesNoController"
                            }).then(function (modal) {
                                modal.element.modal();
                                modal.close.then(function (result) {
                                    //$scope.yesNoResult = result ? "You said Yes" : "You said No";
                                    //$scope.detalles = detalles;
                                    $scope.tableParams.reload();
                                });
                            });
                        });
            };
            $scope.pedidosActivos = [];
            $scope.tableParams = new ngTableParams(
                    {
                        page: 1,            // show first page
                        count: 5,           // count per page
                        sorting: {
                            id: 'asc'     // initial sorting
                        }
                    },
                    {
                        total: 1, // length of data
                        getData: function ($defer, params) {
                            var req = {
                                method: 'GET',
                                url: '../../../obtenerUltimosPedidos',
                                params: {
                                    count: params.count(),
                                    page: params.page(),
                                    name: params.filter().name,
                                    code: params.filter().code
                                }
                            };
                            $http(req)
                                    .success(function (response) {
                                        $scope.pedidos = [];
                                        $scope.pedidosActivos = [];
                                        angular.forEach(response.lista, function (value, key) {
                                            $scope.pedidos.push(JSON.parse(value))
                                        });
                                        /*angular.forEach($scope.pedidos, function (value, key) {
                                            if(value.estado=="confirmado")
                                                    $scope.pedidosActivos.push(value);
                                        });*/
                                        if($scope.pedidos.length==0)
                                            $scope.tableParams.total(0);
                                        else
                                            $scope.tableParams.total($scope.pedidos[0].total);
                                        $defer.resolve($scope.pedidos);
                                        rowsPedidos = $scope.pedidos;
                                    });
                        }
                    }
            );
            setInterval(function () {
                $scope.tableParams.reload();
            }, 5000);
            setInterval(function () {
                if($scope.pedidosActivos.length > 0)
                    $("#alerta").slideToggle();
                $("#alerta").hide();
            }, 5000);
        });
        transportistaApp.controller('ubicacionCtrl', function ($scope, $http) {

            function setDataTransportista() {
                //map.layers[3].removeAllFeatures();
                var req = {
                    method: 'GET',
                    url: 'obtenerUbicacionTransportista',
                    params: {
                        //fechaRecorrido:fechaRecorrido,
                        //empleado: 1// empleado===undefined ? 0 : empleado.id
                    }
                };
                $http(req)
                        .success(function (response) {
                            rows = [];
                            angular.forEach(response.lista, function (value, key) {
                                rows.push(JSON.parse(value))
                            });
                            var i = 0;
                            var lon2 = -79.210953;
                            var lat2 = -4.0114529;
                            for (i = rows.length-1; i < rows.length; i++) {
                                texto = rows[i].fecha;
                                lon = rows[i].longitud;
                                lat = rows[i].latitud;

                                lonlatObject1 = new OpenLayers.LonLat(lon, lat).transform(
                                        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                                        new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
                                );

                                punto1 = {
                                    "type": "Point",
                                    "coordinates": [lonlatObject1.lon, lonlatObject1.lat]
                                };

                                feature = new OpenLayers.Feature.Vector(//-79.198753246573,-3.9866758993433
                                        new OpenLayers.Geometry.Point(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                                                new OpenLayers.Projection("EPSG:900913")),
                                        {description: texto},
                                        {
                                            externalGraphic: "{% static 'home/img/ubicacion-carro.png' %} ",
                                            graphicHeight: 25,
                                            graphicWidth: 25,
                                            graphicXOffset: -12,
                                            graphicYOffset: -25
                                        }
                                );
                                //var n_feature = vectorLayer.features.length;
                                //map.layers[2].removeFeatures(n_feature);
                                vectorLayer.addFeatures(feature);
                            }
                        });

            }

            function actualizar() {
                map.layers[1].removeAllFeatures();
                map.layers[2].removeAllFeatures();
                var req = {
                    method: 'GET',
                    url: 'ubicacionDatos',
                    params: {
                        //fechaRecorrido:fechaRecorrido,
                        //empleado: 1// empleado===undefined ? 0 : empleado.id
                    }
                };
                $http(req)
                        .success(function (response) {
                            //rows = response;
                            angular.forEach(response.lista, function (value, key) {
                                rows.push(JSON.parse(value))
                            });
                            var i = 0;
                            var lon2 = -79.210953;
                            var lat2 = -4.0114529;
                            for (i = 0; i < rows.length; i++) {
                                texto = rows[i].nombre+" -> "+ rows[i].calle_principal + " " + rows[i].calle_secundaria + "<>" + rows[i].numero_casa + "<>" + rows[i].referencia;
                                texto_ = rows[i].nombre_+" -> "+ rows[i].calle_principal_ + " " + rows[i].calle_secundaria_ + "<>" + rows[i].numero_casa_ + "<>" + rows[i].referencia_;
                                lon = rows[i].longitud;
                                lat = rows[i].latitud;
                                lon_ = rows[i].longitud_;
                                lat_ = rows[i].latitud_;

                                lonlatObject1 = new OpenLayers.LonLat(lon, lat).transform(
                                        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                                        new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
                                );

                                punto1 = {
                                    "type": "Point",
                                    "coordinates": [lonlatObject1.lon, lonlatObject1.lat]
                                };
                                //var punto2 = {"type": "Point", "coordinates": [lonlatObject2.lon, lonlatObject2.lat]};
                                geojson = new OpenLayers.Format.GeoJSON();
                                //if (i < rows.length - 1 && rows[i].empleado === rows[i + 1].empleado) {
                                lon2 = rows[i].longitud_;
                                lat2 = rows[i].latitud_;
                                lonlatObject2 = new OpenLayers.LonLat(lon2, lat2).transform(
                                        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                                        new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
                                );
                                var json = {
                                    "type": "LineString",
                                    "coordinates": [[lonlatObject1.lon, lonlatObject1.lat], [lonlatObject2.lon, lonlatObject2.lat]]
                                };

                                punto.addFeatures(geojson.read(json));
                                //}
                                //punto.addFeatures(geojson.read(punto1));
                                //punto.addFeatures(geojson.read(punto2));

                                feature = new OpenLayers.Feature.Vector(//-79.198753246573,-3.9866758993433
                                        new OpenLayers.Geometry.Point(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                                                new OpenLayers.Projection("EPSG:900913")),
                                        {description: texto},
                                        {
                                            externalGraphic: "{% static 'home/img/proveedor.jpg' %} ",
                                            graphicHeight: 25,
                                            graphicWidth: 25,
                                            graphicXOffset: -12,
                                            graphicYOffset: -25
                                        }
                                );
                                feature_ = new OpenLayers.Feature.Vector(//-79.198753246573,-3.9866758993433
                                        new OpenLayers.Geometry.Point(lon_, lat_).transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                                                new OpenLayers.Projection("EPSG:900913")),
                                        {description: texto_},
                                        {
                                            externalGraphic: "{% static 'home/img/cliente.png' %} ",
                                            graphicHeight: 25,
                                            graphicWidth: 25,
                                            graphicXOffset: -12,
                                            graphicYOffset: -25
                                        }
                                );
                                vectorLayer.addFeatures(feature);
                                vectorLayer.addFeatures(feature_);
                            }
                        });

            }

            $scope.inicio = function () {

                texto = "PC1";
                var lon = -79.210953;
                var lat = -4.0114529;

                map = new OpenLayers.Map("map");
                var mapnik = new OpenLayers.Layer.OSM();
                var renderer = OpenLayers.Util.getParameters(window.location.href).renderer;
                renderer = (renderer) ? [renderer] : OpenLayers.Layer.Vector.prototype.renderers;
                punto = new OpenLayers.Layer.Vector("Puntos"
                        , {
                            styleMap: new OpenLayers.StyleMap({
                                strokeColor: "#660000",
                                strokeWidth: 3,
                                strokeDashstyle: "dashdot",
                                pointRadius: 6,
                                pointerEvents: "visiblePainted"
                            }),
                            renderers: renderer
                        }
                );

                vectorLayer = new OpenLayers.Layer.Vector("Overlay");
                var lonlatObject1 = new OpenLayers.LonLat(lon, lat).transform(
                        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                        new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
                );
                var lonlatObject2 = new OpenLayers.LonLat(lon, lat).transform(
                        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                        new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
                );
                var feature = new OpenLayers.Feature.Vector(//-79.198753246573,-3.9866758993433
                        new OpenLayers.Geometry.Point(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                                new OpenLayers.Projection("EPSG:900913")),
                        {description: texto},
                        {
                            externalGraphic: 'redMarker.png',
                            graphicHeight: 25,
                            graphicWidth: 21,
                            graphicXOffset: -12,
                            graphicYOffset: -25
                        }
                );
                var punto1 = {"type": "Point", "coordinates": [lonlatObject1.lon, lonlatObject1.lat]};
                var geojson = new OpenLayers.Format.GeoJSON();
                //punto.addFeatures(geojson.read(punto1));
                map.addLayers([mapnik, punto, vectorLayer]);

                var controls = {
                    selector: new OpenLayers.Control.SelectFeature(vectorLayer, {
                        onSelect: function (feature) {
                            createPopup(feature);
                        }
                        , onUnselect: destroyPopup
                    })
                };

                map.addControl(controls['selector']);
                controls['selector'].activate();

                function createPopup(feature) {
                    feature.popup = new OpenLayers.Popup.FramedCloud("pop",
                            feature.geometry.getBounds().getCenterLonLat(),
                            null,
                            '<div class="markerContent">' + feature.data.description + '</div>',
                            null,
                            true,
                            function () {
                                controls['selector'].unselectAll();
                            }
                    );
                    //feature.popup.closeOnMove = true;
                    map.addPopup(feature.popup);
                }

                function destroyPopup(feature) {
                    feature.popup.destroy();
                    feature.popup = null;
                }

                map.addControl(new OpenLayers.Control.PanZoomBar());
                map.setCenter(new OpenLayers.LonLat(lon, lat) // Center of the map
                        .transform(
                                new OpenLayers.Projection("EPSG:4326"),
                                new OpenLayers.Projection("EPSG:900913")
                        ), 14
                );
                setInterval(function () {
                    setDataTransportista();
                }, 30000);
                actualizar();
            }
        });

        transportistaApp.controller('YesNoController', ['$scope', 'close', '$http', 'mostrar', 'tiempo',
            function ($scope, close, $http, mostrar, tiempo) {
                $scope.mostrar = mostrar;
                $scope.tiempoEntrega = 0;
                $scope.detalles = detalles;
                $scope.subtotal = subtotal;
                $scope.close = function (result) {
                    close(result, 500); // close, but give 500ms for bootstrap to animate
                };
                $scope.guardarEnvio = function () {
                    $scope.tiempoEntrega = parseInt( document.getElementById("tiempoEntrega").value);
                    if (tiempo == undefined) {
                        alert("Ingrese el tiempo estimado del envio");
                        return;
                    }
                    var req = {
                        method: 'POST',
                        url: '../../../guardarEnvio',
                        params: {
                            id_pedido: pedido_id,
                            tiempo: $scope.tiempoEntrega + tiempo
                        }
                    };
                    $http(req).success(function (response) {
                        if (response == true) {
                            $scope.close();
                        }
                        else
                            alert(response);
                    }).error(function (response) {
                        alert(response);
                    })
                    ;
                };
            }]);

        transportistaApp.controller('datosPersonalesController', ['$scope', 'close', '$filter', '$http',
            function ($scope, close, $filter, $http) {
                if (row != undefined) {
                    $scope.cedula = row.cedula;
                    $scope.nombre = row.nombre;
                    $scope.telefono = row.telefono;
                    $scope.genero = row.genero;
                    $scope.foto = row.foto;
                    $scope.sim = row.sim;
                    $scope.tipo_transporte = row.tipo_transporte;
                    $scope.tipo_servicio = row.tipo_servicio;
                }
                $scope.generos =
                        [
                            {
                                nombre: "Masculino",
                                valor: "Masculino"
                            },
                            {
                                nombre: "Femenino",
                                valor: "Femenino"
                            }
                        ]
                $scope.close = function (result) {
                    close(result, 500); // close, but give 500ms for bootstrap to animate
                };
                $scope.guardarTransportista = function () {
                    var req = {
                        method: 'POST',
                        url: '../../../guardarTransportista',
                        params: {
                            pk_transportista: row == undefined ? 0 : row.pk_transportista,
                            pk_perfil: row == undefined ? 0 : row.pk_perfil,
                            cedula: $scope.cedula,
                            nombre: $scope.nombre,
                            //fecha: $scope.fecha == undefined ? "2000-10-10" : $filter('date')(new Date($scope.fecha), 'yyyy-MM-dd'),
                            telefono: $scope.telefono,
                            genero: $scope.genero,
                            //foto: $scope.foto == undefined ? "noname" : $scope.foto,
                            sim: $scope.sim,
                            tipo_transporte: $scope.tipo_transporte,
                            tipo_servicio: $scope.tipo_servicio
                        }
                    };
                    $http(req).success(function (response) {
                        if (response == true) {
                            $scope.close();
                        }
                        else
                            alert(response);
                    })
                            .error(function (response) {
                                alert(response);
                            })
                    ;
                };
            }]);
        var ngTableParams;
        transportistaApp.controller('transportistaCtrl', function ($scope, $http, ngTableParams, $filter, ModalService) {

            $scope.openDialog = function (id) {

                if (id === -1) {
                    row = undefined;
                }
                else {
                    row = rowsTransportistas[id];
                    $scope.cedula = row.cedula;
                }


                ModalService.showModal({
                    templateUrl: "datosPersonales",
                    controller: "datosPersonalesController"
                }).then(function (modal) {
                    modal.element.modal();
                    modal.close.then(function (result) {
                        //$scope.yesNoResult = result ? "You said Yes" : "You said No";
                        $scope.tableParams.reload();
                    });
                });
            };

            $scope.tableParams = new ngTableParams(
                    {
                        page: 1,            // show first page
                        count: 5,           // count per page
                        sorting: {
                            id: 'asc'     // initial sorting
                        }
                    },
                    {
                        total: 1, // length of data
                        getData: function ($defer, params) {
                            var req = {
                                method: 'GET',
                                url: '../../../listaTransportistas',
                                params: {
                                    count: params.count(),
                                    page: params.page(),
                                    name: params.filter().name,
                                    code: params.filter().code
                                }
                            };
                            $http(req)
                                    .success(function (response) {
                                        $scope.pedidos = [];
                                        angular.forEach(response.lista, function (value, key) {
                                            $scope.pedidos.push(JSON.parse(value))
                                        });
                                        $scope.tableParams.total($scope.pedidos[0].total);
                                        $defer.resolve($scope.pedidos);
                                        rowsTransportistas = $scope.pedidos;
                                    });
                        }
                    }
            );
        });

        transportistaApp.controller('adminCtrl', function ($scope, $http, ngTableParams, $filter, ModalService) {
            $scope.imagen = "{% static 'home/img/moto_entrega.gif' %}";
        });

        transportistaApp.controller('SampleController', ['$scope', 'ModalService', function ($scope, ModalService) {
        }]);
        transportistaApp.controller('SampleController1', ['$scope', 'ModalService', function ($scope, ModalService) {
        }]);

    </script>

    <div class="wrapper" ng-app="transportistaApp">

        <!-- Modal confirmar compra-->
        <div class="modal fade" id="confirmar" tabindex="5"
             role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Confirmar Envio</h4>
                    </div>
                    <div class="modal-body">
                        <form name="dialog" style="width: 500px">
                            <div>
                                <h3 class="text_center">Resumen del envio</h3>
                            </div>
                            <div>
                                <form>{% csrf_token %}
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Cantidad</th>
                                            <th>Plato</th>
                                            <th>Precio</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="detalle in detalles">
                                            <th>
                                                {{ detalle.cantidad_solicitada }}
                                            </th>
                                            <th>
                                                // detalle.nombre_producto //
                                            </th>
                                            <th>
                                                // detalle.valor //
                                            </th>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td></td>
                                            <td>Tiempo Estimado</td>
                                            <td>
                                                <input ng-model="tiempo">
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </form>
                            </div>
                            <div class="menu-switcher">
                                {% for pago in tipo_pago %}
                                    <div class="menu-switcher-item">
                                        <input type="radio" name="tipo_pago" value="{{ pago.pk }}"
                                               ng-model="tipo_pago">
                                        <strong>{{ pago.tipo_pago }}</strong>

                                    </div>
                                {% endfor %}
                            </div>
                        </form>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <input type="button" value="Confirmar Envio" class="btn btn-default"
                                   id="add-producto" ng-click="guardarEnvio()">
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- fin modal -->

        <!-- Modal datos Transportista-->
        <div class="modal fade" id="dialogTransportista" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Datos de Transportista</h4>// mensaje //
                    </div>
                    <div class="modal-body">
                        <form name="myForm" style="width: 500px">
                            <div>
                                <form action="#" method="POST">{% csrf_token %}
                                    <table class="table table-striped" id="table_detalle">
                                        <tbody>
                                        <tr>
                                            <td>
                                                Cedula
                                            </td>
                                            <td>
                                                <input ng-model="cedula" type="text" maxlength="10" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Fecha Nacimiento
                                            </td>
                                            <td>
                                                <input ng-model="fecha" type="date" data-date-format="yyyy-MM-dd">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Telefono
                                            </td>
                                            <td>
                                                <input ng-model="telefono" type="text" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Genero
                                            </td>
                                            <td>
                                                <select ng-model="genero" required>
                                                    <option ng-repeat="genero in generos" value="//genero.valor//"
                                                            required>
                                                        // genero.nombre //
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Ruta Foto
                                            </td>
                                            <td>
                                                <input file-model="foto" type="file">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Sim Dispositivo
                                            </td>
                                            <td>
                                                <input ng-model="sim" type="text" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Tipo Transporte
                                            </td>
                                            <td>
                                                <input ng-model="tipo_transporte" type="text" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Tipo Servicio
                                            </td>
                                            <td>
                                                <input ng-model="tipo_servicio" type="text" required>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar
                                </button>
                                <input type="button" value="Guardar Transportista" class="btn btn-default"
                                       ng-click="guardarTransportista()"
                                       ng-disabled="myForm.$invalid">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin modal -->


        <div class="sidebar" data-background-color="white" data-active-color="danger">

            <!--
                Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
                Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
            -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#/" class="simple-text">
                        <img alt="" width="100" height="100" src="{% static 'home/img/carrito_mundo.gif' %}"
                             id="IMG_5"/>
                    </a>
                </div>

                <ul class="nav">
                    <li>
                        <a href="#ultimosPedidos">
                            <i class="ti-panel"></i>
                            <p>Ultimos Pedidos</p>
                        </a>
                    </li>
                    <li>
                        <a href="#todosPedidos">
                            <i class="ti-server"></i>
                            <p>Administración</p>
                        </a>
                    </li>
                    <li>
                        <a href="#ubicacion">
                            <i class="ti-agenda"></i>
                            <p>Ubicacion</p>
                        </a>
                    </li>
                    <li>
                        <a href="#datosTransportista">
                            <i class="ti-user"></i>
                            <p>Datos personales</p>
                        </a>
                    </li>
                    <li>
                        <a href="#/">
                            <i class="ti-bell"></i>
                            <p>Mi Menú</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p/>
        <div class="main-panel">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Panel de Administración de Transportistas</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#">
                                    <p>Bienvenido,
                                    <p> {{ usuario_actual }}</p>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>

            <div id="main">
                <!-- angular templating -->
                <!-- this is where content will be injected -->
                <div ng-view>
                </div>

            </div>


            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Licencias y condiciones
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>
                        , desarrollado por <a href="http://nodo.com.ec">Nodo</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="{% static 'home/js/jquery-1.10.2.js' %}" type="text/javascript"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}" type="text/javascript"></script>

    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="{% static 'proveedor/js/bootstrap-checkbox-radio.js' %}"></script>

    <!--  Charts Plugin -->

    <!--  Notifications Plugin    -->
    <script src="{% static 'proveedor/js/bootstrap-notify.js' %}"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
    <script src="{% static 'proveedor/js/paper-dashboard.js' %}"></script>

    <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="{% static 'proveedor/js/demo.js' %}"></script>


    <script src="{% static 'home/js/ng-table.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'home/js/angular-modal-service.js' %}" type="text/javascript"></script>

    <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'home/css/landing-page.css' %}" rel="stylesheet"/>

{% endblock content %}


