<div class="content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Lista de Pedidos</h4>
                        <p class="category">
                        </p>
                    </div>
                    <div class="content">
                        <div class="content table-responsive table-full-width">
                            <table ng-table="tableParams" show-filter="true" class="table ng-table-responsive">
                                <tbody>
                                <tr ng-repeat="rec in $data" ng-class="{'selected':$index == selectedRow}">

                                    <td data-title="'Cliente'" filter="{'cliente':'text'}">// rec.cliente //</td>
                                    <td data-title="'Fecha'">// rec.fecha //</td>
                                    <td data-title="'Direccion'">// rec.direccion //</td>
                                    <td data-title="'Tipo Pago'">// rec.tipo_pago //</td>
                                    <td data-title="'Valor'">// rec.valor //</td>
                                    <td data-title="'Estado'">// rec.estado //</td>
                                    <td>
                                        <button class="btn btn-success btn-fill"
                                                ng-click="clickDetalles( rec.pk, false )">
                                            Ver detalle
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="ti-reload"></i> Último pedido hace 3 minutos
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Estadísticas</h4>
                        <p class="category">Productos más vendidos</p>
                    </div>
                    <div class="content">
                        <div id="myChart" class="ct-chart ct-perfect-fourth"></div>
                        <div class="footer">
                            <div class="chart-legend">
                                <i class="fa fa-circle text-info"></i> Cangre burger
                                <i class="fa fa-circle text-danger"></i> Combo 2
                                <i class="fa fa-circle text-warning"></i> producto 1
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="ti-timer"></i> Últimos 3 días
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card ">
                    <div class="header">
                        <h4 class="title">Ventas 2016</h4>
                        <p class="category">Todos los productos</p>
                    </div>
                    <div class="content">
                        <div id="chartActivity" class="ct-chart"></div>

                        <div class="footer">
                            <div class="chart-legend">
                                <i class="fa fa-circle text-info"></i> Menu 1
                                <i class="fa fa-circle text-warning"></i> Combo 1
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="ti-check"></i> Promedios mensuales
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>