<div class="content">

    <div class="container-fluid">


        <div class="card">
            <div class="header">
                <h4 class="title">Ubicacion</h4>

                <div ng-app="ubicacionApp" ng-controller="ubicacionCtrl" ng-init="inicio()">

                    <div class="row">

                        <style type="text/css">
                            #map {
                                width: 700px;
                                height: 100%
                            }
                        </style>

                        <div class="col-md-12 info_rest">
                            <div id="map" style="width: 100%; height: 500px;"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>
</div>