<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 class="title">Lista de Pedidos</h4>
                <!--div id="alerta" class="alert alert-success alert-dismissable" style="width: 30%;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong class="glyphicon glyphicon-info-sign">Tienes un nuevo ¡Pedido!</strong>
                    <p>Hace unos segundos</p>
                </div-->

            </div>
            <div class="content table-responsive table-full-width">
                <table ng-table="tableParams" show-filter="true" class="table ng-table-responsive">
                    <tbody>
                    <tr ng-repeat="rec in $data" ng-class="{'selected':$index == selectedRow}">

                        <td data-title="'Cliente'">// rec.cliente //</td>
                        <td data-title="'Fecha'" style="width:400px">// rec.fecha //</td>
                        <td data-title="'Direccion'" style="width:400px">// rec.direccion //</td>
                        <td data-title="'Sucursal'">// rec.sucursal //</td>
                        <td data-title="'Pago'" class="text-center" header-class="'text-center'">//
                            rec.tipo_pago //
                        </td>
                        <td data-title="'Valor'" class="text-center" header-class="'text-center'">//
                            rec.valor //
                        </td>
                        <td data-title="'Estado'" class="text-center" header-class="'text-center'">
                            <span ng-if=" rec.estado == 'En Proceso'" class="label label-danger"> // rec.estado //</span>
                            <span ng-if=" rec.estado == 'Transportista en Espera'" class="label label-warning"> // rec.estado //</span>
                            <span ng-if=" rec.estado == 'Enviado'" class="label label-success"> // rec.estado //</span>
                        </td>
                        <td data-title="'Tiempo'" class="text-center" header-class="'text-center'">
                            // rec.tiempo //
                        </td>
                        <td>
                            <input type="hidden" name="title" value="// source.title //">
                            <button class="btn btn-info btn-fill" ng-if="rec.estado=='En Proceso'"
                                    ng-click="clickDetalles( rec.pk, true )">
{#                                By #laifermilton#}
                               Aceptar Pedido
                            </button>
                            <button class="btn btn-success btn-fill" ng-if="rec.estado=='Enviado'"
                                    ng-click="cambiarEstadoEntregado( rec.pk )">
{#                                By #laifermilton#}
                                Entregar
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>