{% extends 'bases/base_admin_sucursal.html' %}{% load staticfiles %}
{% include 'bases/sucursal_head.html' %}

{% block menuDesple %}
        <li><a href="{% url 'misDatos' %}">Mi perfil</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/cerrar">Cerrar Sesion</a></li>
    {% endblock menuDesple  %}


{% block nav %}
    <ul class="nav">
        <li>
            <a href="proveedor">
                <i class="ti-panel"></i>
                <p>Administración</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="ti-server"></i>
                <p>Pedidos</p>
            </a>
        </li>
        <li>
            <a class="menu" href="#">
                <i class="ti-agenda"></i>
                <p>Facturas</p>
            </a>
        </li>
        <li class="active">
            <a href="{% url 'misDatos' %}">
                <i class="ti-user"></i>
                <p>Mi Perfil</p>
            </a>
        </li>
        <li>
            <a href="{% url 'miMenu' %}">
                <i class="ti-bell"></i>
                <p>Mi Menú</p>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="ti-tag"></i>
                <p>promociones</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="ti-truck"></i>
                <p>Entregas tiempo real</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="ti-bell"></i>
                <p>Notificaciones</p>
            </a>
        </li>
    </ul>{% endblock nav %}
{% block extraContenido %}
    <div class="content" ng-app="proveedorApp" ng-controller="proveedorCtrl" ng-init="init()">

        <div class="container-fluid">

            <div class="card">
                <div class="header">
                    <h4 class="title">Mis Datos</h4>
                </div>
                <div>
                    <form action="#" method="POST">{% csrf_token %}
                        <div class="fields-profile-content">
                            {% for hidden in formulario.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {{formulario2.username}}
                            <hr>
                            {{formulario2.errors.curPassword}}
                            <div class="fields-act"><label class="label-profile" for="usuario-curPassword">Contraseña Actual</label>{{formulario2.curPassword}}</div>
                            {{formulario2.errors.password}}
                            <div class="fields-act"><label class="label-profile" for="usuario-password">Contraseña Nueva</label>{{formulario2.password}}</div>
                            {{formulario2.errors.confirmPassword}}
                            <div class="fields-act"><label class="label-profile" for="usuario-confirmPassword">Confirmar Contraseña Nueva </label>{{formulario2.confirmPassword}}</div>



                            <input class="btn btn-ok" type="submit" value="Actualizar">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap 3.3.6 -->
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
{% endblock extraContenido %}

