{% extends 'home/base.html' %}
{% load staticfiles %}
 {% block content %}
  {% block title %}
    <title>Login</title>
  {%endblock title%}
  <link href="{% static 'home/css/login.css' %}" rel="stylesheet" />
  <div class="login">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Inicia sesión con</h3><br><br>

                    <a href="{% url 'social:begin' 'facebook'%}" class="btn-facebook btn-lg">
                        <i class="fa fa-facebook fa-fw"></i>
                        <span class="network-name">Facebook...</span>
                    </a>
                    <br><br>

                </div>
                <div class="socialLogin-separator">

                    <span>o</span>
                    <hr>

                </div>
                <div><p>Introduce tu usuario y contraseña para entrar:</p></div>

            </div>
            <div class="form-bottom">
                <form role="form" action="/loginProveedor" method="post" class="login-form">
                  <div class="form-group">
                        <label class="sr-only" for="form-username">Username</label>
                        <input type="text" name="username" placeholder="Username..." class="form-username form-control" id="form-username">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-password">Password</label>
                        <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
                    </div>
                    <a href="#">¿Has olvidado tu contraseña?</a>
                    <br><br><br>

                   {% csrf_token %}

                    <button type="submit" class="btn">Iniciar sesión</button>
                    <br><br><br>
                    <span>¿Eres nuevo en {{nombre_app}}? </span> <a href="#"> Registrate</a>
                </form>
            </div>
        </div>
    </div>
</div>
 {% endblock%}
