{% extends 'home/base.html' %} {% load staticfiles %}
{% block menuDesple %}
<li><a href="{% url 'misDatos' %}">Mi perfil</a></li>
<li role="separator" class="divider"></li>
<li><a href="/cerrar">Cerrar Sesión</a></li>
{% endblock menuDesple  %}
{% block content %}
{% include 'bases/sucursal_head.html' %}

<!--<script src="{% static 'home/js/angular-media/dist/angular-media-preview.min.js' %}" type="text/javascript"></script>-->
<script src="{% static 'home/js/angular-media/ng-file-upload-shim.min.js' %}" type="text/javascript"></script>
<script src="{% static 'home/js/angular-media/ng-file-upload-shim.js' %}" type="text/javascript"></script>
<script src="{% static 'home/js/angular-media/ng-file-upload.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    function fade(obj, opacity) {
        $(obj).stop().fadeTo('fast', opacity);
    }
    var proveedorApp = angular.module('proveedorApp', ['ngRoute', 'ngTable', 'ngFileUpload'])
            .config(
                    function ($interpolateProvider, $httpProvider) {
                        $interpolateProvider.startSymbol('//');
                        $interpolateProvider.endSymbol('//');
                        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
                    }
            );

    proveedorApp.controller('proveedorCtrl', ['$scope', '$route', 'ngTableParams', '$http', 'uploadPlato', 'updatePlato',
        function ($scope, $route, ngTableParams, $http, uploadPlato, updatePlato) {

            $scope.promociones = []
            $scope.precio_oferta = '';
            $scope.id_plato = '';
            $scope.ocultarImgBoolean = true;
            $scope.selectedPlato = null;
            $scope.dataPlatoCategoria = {
                model: null,
                listaPlatoCategoria: []
            };
            $scope.nuevosIngredientes = []
            $scope.IngredientesSelecionados = [];
            $scope.nombre_producto = "";
            $scope.ruta_foto = "";
            $scope.descripcion = "";
            $scope.cantidad_diaria = "5";
            $scope.venta_aproximada = "5";
            $scope.hora_mayor_venta = "12:00:00";
            $scope.cantidad_mayor_venta = "5";
            $scope.existencia_actual = "5";
            $scope.id_menu = "";
            $scope.platocategoria = "";
            $scope.platoActivo = true;
            $scope.msjPlatoBoolean = false;

            $scope.dataTamanioPlato = {
                id: null,
                tamanio: null,
                precio: null,
                listaTamanioPlato: [],
                valor_oferta: null
            };

            $scope.tamanioPlatosSelecionados = [];

            $scope.iniciarActualizarPlato = function (pk) {

                $scope.data = [];
                $('#actualizarPlatoModal').modal('show');
                var reqPlato = {
                    method: 'GET',
                    url: '../../../iniciarActualizarPlato',
                    params: {pk: pk.id_plato}
                };
                $http(reqPlato)
                        .success(function (response) {
                                    $scope.ocultarImgBoolean = true;
                                    $scope.nombre_producto = "";
                                    $scope.ruta_foto = "";
                                    $scope.descripcion = "";
                                    $scope.cantidad_diaria = "";
                                    $scope.venta_aproximada = "";
                                    $scope.hora_mayor_venta = "";
                                    $scope.cantidad_mayor_venta = "";
                                    $scope.existencia_actual = "";
                                    $scope.id_menu = "";
                                    $scope.platocategoria = "";
                                    $scope.IngredientesSelecionados = [];
                                    $scope.tamanioPlatosSelecionados = [];
                                    $scope.dataPlatoCategoria = {
                                        model: null,
                                        listaPlatoCategoria: []
                                    };
                                    $scope.platoActivo = true;
                                    $scope.nuevosIngredientes = []
                                    $scope.listarCategoriasPlato();
                                    angular.forEach(response.lista, function (value, key) {
                                        $scope.data.push(JSON.parse(value));
                                        $scope.id_plato = $scope.data[0].id_plato;
                                        $scope.nombre_producto = $scope.data[0].nombre_producto;
                                        $scope.ruta_foto = "/media/" + $scope.data[0].ruta_foto;
                                        $scope.descripcion = $scope.data[0].descripcion;
                                        $scope.cantidad_diaria = $scope.data[0].cantidad_diaria;
                                        $scope.venta_aproximada = $scope.data[0].venta_aproximada;
                                        $scope.hora_mayor_venta = $scope.data[0].hora_mayor_venta;
                                        $scope.cantidad_mayor_venta = $scope.data[0].cantidad_mayor_venta;
                                        $scope.existencia_actual = $scope.data[0].existencia_actual;
                                        $scope.id_menu = $scope.data[0].id_menu[0].id_menu;
                                        $scope.platocategoria = $scope.data[0].id_platocategoria;
                                        $scope.IngredientesSelecionados = $scope.data[0].ingredientes;
                                        $scope.tamanioPlatosSelecionados = $scope.data[0].tamanios;
                                        $scope.dataPlatoCategoria.model = $scope.data[0].id_platocategoria;
                                        $scope.platoActivo = $scope.data[0].activo;
                                        $scope.analizarTamActivo();
                                    });
                                }
                        );
            }

            $scope.obtenerIngredientes = function () {
                $('#ingredientes').modal('show');
                var reqPedidos = {
                    method: 'GET',
                    url: '../../../obtenerIngredientes',
                    params: {}
                };
                $http(reqPedidos)
                        .success(function (response) {
                                    $scope.data = [];
                                    $scope.listaIngredientes = [];
                                    angular.forEach(response.lista, function (value, key) {
                                        $scope.data.push(JSON.parse(value));
                                    });
                                    for (i = 0; i < $scope.data.length; i++) {
                                        $scope.listaIngredientes.push(
                                                {
                                                    pk: $scope.data[i].pk,
                                                    nombre: $scope.data[i].nombre,
                                                    seleccionado: false,
                                                    obligatorio: false
                                                }
                                        );
                                    }
                                    if ($scope.IngredientesSelecionados.length != 0) {

                                        if ($scope.nuevosIngredientes.length != 0) {
                                            for (k = 0; k < $scope.nuevosIngredientes.length; k++) {
                                                $scope.listaIngredientes.push($scope.nuevosIngredientes[k]);
                                            }
                                        }
                                        for (i = 0; i < $scope.IngredientesSelecionados.length; i++) {
                                            for (j = 0; j < $scope.listaIngredientes.length; j++) {
                                                if ($scope.IngredientesSelecionados[i].nombre == $scope.listaIngredientes[j].nombre) {
                                                    $scope.listaIngredientes[j].seleccionado = $scope.IngredientesSelecionados[i].seleccionado;
                                                    $scope.listaIngredientes[j].obligatorio = $scope.IngredientesSelecionados[i].obligatorio;
                                                    j = $scope.listaIngredientes.length;
                                                }
                                            }
                                        }
                                    }
                                }
                        );
            }

            $scope.obtenerTamanioPlato = function () {
                $scope.dataTamanioPlato = {
                    id: null,
                    tamanio: null,
                    precio: null,
                    listaTamanioPlato: [],
                    valor_oferta: null
                };
                $('#tamanioplato').modal('show');
                var reqPedidos = {
                    method: 'GET',
                    url: '../../../obtenerTamanioPlato',
                    params: {}
                };
                $http(reqPedidos)
                        .success(function (response) {
                                    $scope.data = [];
                                    angular.forEach(response.lista, function (value, key) {
                                        $scope.data.push(JSON.parse(value));
                                    });
                                    for (i = 0; i < $scope.data.length; i++) {
                                        $scope.dataTamanioPlato.listaTamanioPlato.push(
                                                {
                                                    pk: $scope.data[i].pk,
                                                    tamanio: $scope.data[i].tamanio
                                                }
                                        );
                                    }
                                }
                        );
            }

            $scope.agregarTamanioPlato = function () {
                $scope.tamanioPlato = null
                $scope.tamPlato = $scope.dataTamanioPlato.listaTamanioPlato.length;
                for (i = 0; i < $scope.tamPlato; i++) {
                    if ($scope.dataTamanioPlato.listaTamanioPlato[i].pk == $scope.dataTamanioPlato.id) {
                        $scope.tamanioPlato = $scope.dataTamanioPlato.listaTamanioPlato[i].tamanio;
                        i = $scope.tamPlato;
                    }
                }
                var precio_prom = $scope.dataTamanioPlato.valor_oferta;
                if (precio_prom==''){
                    precio_prom = null;
                }
                $scope.tamanioPlatosSelecionados.push({
                    id: $scope.dataTamanioPlato.id,
                    precio: $scope.dataTamanioPlato.precio,
                    tamanio: $scope.tamanioPlato,
                    activo: true,
                    valor_oferta: precio_prom
                })
            }

            $scope.obtenerPlatoCategoria = function () {

                $scope.dataPlatoCategoria = {
                    model: null,
                    listaPlatoCategoria: []
                };
                $scope.IngredientesSelecionados = [];
                $scope.tableParamsIng.reload();
                $scope.nombre_producto = "";
                $scope.ruta_foto = "";
                $scope.descripcion = "";
                $scope.cantidad_diaria = "5";
                $scope.venta_aproximada = "5";
                $scope.hora_mayor_venta = "12:00:00";
                $scope.cantidad_mayor_venta = "5";
                $scope.existencia_actual = "5";
                $scope.id_menu = "";
                $scope.platocategoria = "";
                $scope.nuevoIngrediente = "";
                $scope.booleanNuevoIngrediente = false;
                $scope.dataTamanioPlato = {
                    id: null,
                    tamanio: null,
                    precio: null,
                    listaTamanioPlato: [],
                    valor_oferta: null
                };
                $scope.tamanioPlatosSelecionados = [];
                $('#confirmar').modal('show');
                $scope.listarCategoriasPlato();
            }

            $scope.listarCategoriasPlato = function () {
                var reqPlatoCategoria = {
                    method: 'GET',
                    url: '../../../obtenerPlatoCategoria',
                    params: {}
                };
                $http(reqPlatoCategoria)
                        .success(function (response) {
                                    $scope.data = [];
                                    angular.forEach(response.lista, function (value, key) {
                                        $scope.data.push(JSON.parse(value));
                                    });
                                    for (i = 0; i < $scope.data.length; i++) {
                                        $scope.dataPlatoCategoria.listaPlatoCategoria.push(
                                                {
                                                    pk: $scope.data[i].pk,
                                                    categoria: $scope.data[i].categoria
                                                }
                                        );
                                    }
                                    if ($scope.dataPlatoCategoria.model != null) {
                                        for (j = 0; j < $scope.dataPlatoCategoria.listaPlatoCategoria.length; j++) {
                                            if ($scope.dataPlatoCategoria.listaPlatoCategoria[j].pk == $scope.dataPlatoCategoria.model) {
                                                $scope.dataPlatoCategoria.model = $scope.dataPlatoCategoria.listaPlatoCategoria[j];
                                                j = $scope.dataPlatoCategoria.listaPlatoCategoria.length;
                                            }
                                        }
                                        $scope.tableParamsIngAct.reload();
                                    }
                                }
                        );
            }

            $scope.agregarIngrediente = function () {

                for (i = 0; i < $scope.listaIngredientes.length; i++) {
                    if ($scope.listaIngredientes[i].nombre.toLowerCase() == $scope.nuevoIngrediente.toLowerCase()) {
                        $scope.booleanNuevoIngrediente = true
                        i = $scope.listaIngredientes.length
                    } else {
                        $scope.booleanNuevoIngrediente = false
                    }
                }
                if ($scope.booleanNuevoIngrediente == false) {
                    $scope.listaIngredientes.push(
                            {
                                nombre: $scope.nuevoIngrediente,
                                obligatorio: false
                            }
                    );
                    $scope.nuevosIngredientes.push(
                            {
                                nombre: $scope.nuevoIngrediente,
                                obligatorio: false
                            }
                    )
                }
                $scope.nuevoIngrediente = "";
            }

            $scope.tableParamsIng = new ngTableParams(
                    {
                        page: 1,            // show first page
                        count: 2,           // count per page
                        sorting: {
                            id: 'asc'     // initial sorting
                        }
                    },
                    {
                        counts: [2, 4, 6],
                        total: 1, // length of data
                        getData: function ($defer, params) {
                            $scope.tableParamsIng.total($scope.IngredientesSelecionados.length);
                            $scope.sublista = $scope.IngredientesSelecionados.slice(
                                    (params.page() - 1) * params.count(), params.page() * params.count());
                            $defer.resolve($scope.sublista);
                        }
                    }
            );

            $scope.tableParamsIngAct = new ngTableParams(
                    {
                        page: 1,            // show first page
                        count: 2,           // count per page
                        sorting: {
                            id: 'asc'     // initial sorting
                        }
                    },
                    {
                        counts: [2, 4, 6],
                        total: 1, // length of data
                        getData: function ($defer, params) {
                            $scope.tableParamsIngAct.total($scope.IngredientesSelecionados.length);
                            $scope.sublista = $scope.IngredientesSelecionados.slice(
                                    (params.page() - 1) * params.count(), params.page() * params.count());
                            $defer.resolve($scope.sublista);
                        }
                    }
            );

            $scope.tablePlatos = new ngTableParams(
                    {
                        page: 1,            // show first page
                        count: 5,           // count per page
                        sorting: {
                            id: 'asc'     // initial sorting
                        }
                    },
                    {
                        counts: [5, 10, 15, 20, 25],
                        total: 1, // length of data
                        getData: function ($defer, params) {
                            var req = {
                                method: 'GET',
                                url: '../../../listarPlatos',
                                params: {
                                    count: params.count(),
                                    page: params.page(),
                                    name: params.filter().name,
                                    code: params.filter().code
                                }
                            };
                            $http(req)
                                    .success(function (response) {
                                        $scope.platosList = [];
                                        angular.forEach(response.lista, function (value, key) {
                                            $scope.platosList.push(JSON.parse(value))
                                        });
//                                        console.log($scope.platosList);
                                        $scope.tablePlatos.total($scope.platosList[0].total);
                                        $defer.resolve($scope.platosList);
                                        rows = $scope.platosList;
                                    });
                        }
                    }
            );

            $scope.agregarIngredientes = function () {
                $scope.IngredientesSelecionados = []
                angular.forEach($scope.listaIngredientes, function (value, key) {
                    if (value.seleccionado)
                        $scope.IngredientesSelecionados.push(value);
                });
                $scope.tableParamsIng.reload();
            }

            $scope.quitarIngredientes = function (index) {
                for (i = 0; i < $scope.IngredientesSelecionados.length; i++) {
                    if ($scope.IngredientesSelecionados[i] == index) {
                        $scope.IngredientesSelecionados.splice(i, 1);
                    }
                }
                $scope.tableParamsIng.reload();
            }

            $scope.quitarIngredienteUpdate = function (index) {
                for (i = 0; i < $scope.IngredientesSelecionados.length; i++) {
                    if ($scope.IngredientesSelecionados[i] == index) {
                        $scope.IngredientesSelecionados.splice(i, 1);
                    }
                }
                $scope.tableParamsIngAct.reload();
            }
            $scope.quitarTamanioPlato = function (index) {
                for (i = 0; i < $scope.tamanioPlatosSelecionados.length; i++) {
                    if ($scope.tamanioPlatosSelecionados[i] == index) {
                        $scope.tamanioPlatosSelecionados.splice(i, 1);
                    }
                }
            }

            $scope.guardarPlato = function () {

                var file = $scope.ruta_foto;
                var nombre_producto = $scope.nombre_producto;
                var descripcion = $scope.descripcion;
                var cantidad_diaria = $scope.cantidad_diaria;
                var venta_aproximada = $scope.venta_aproximada;
                var hora_mayor_venta = $scope.hora_mayor_venta;
                var cantidad_mayor_venta = $scope.cantidad_mayor_venta;
                var existencia_actual = $scope.existencia_actual;
                var id_menu = $scope.id_menu;
                var platocategoria = $scope.dataPlatoCategoria.model
                var listaIngredientes = angular.toJson($scope.IngredientesSelecionados)
                var tamanioPlatosSelecionados = angular.toJson($scope.tamanioPlatosSelecionados)

                uploadPlato.uploadFile(file, nombre_producto, descripcion, cantidad_diaria, venta_aproximada,
                        hora_mayor_venta, cantidad_mayor_venta, existencia_actual, id_menu, platocategoria,
                        listaIngredientes, tamanioPlatosSelecionados).then(function (res) {
//                            console.log(JSON.parse(res.data.lista[0]).msj);
                    $scope.tablePlatos.reload();
                    //$scope.IngredientesSelecionados = [];


                })
            }



            $scope.actualizarPlato = function () {

                var id_plato = $scope.id_plato;
                var file = $scope.ruta_foto;
                var nombre_producto = $scope.nombre_producto;
                var descripcion = $scope.descripcion;
                var cantidad_diaria = $scope.cantidad_diaria;
                var venta_aproximada = $scope.venta_aproximada;
                var hora_mayor_venta = $scope.hora_mayor_venta;
                var cantidad_mayor_venta = $scope.cantidad_mayor_venta;
                var existencia_actual = $scope.existencia_actual;
                var id_menu = $scope.id_menu;
                var platocategoria = angular.toJson($scope.dataPlatoCategoria.model)
                var listaIngredientes = angular.toJson($scope.IngredientesSelecionados)
                var tamanioPlatosSelecionados = angular.toJson($scope.tamanioPlatosSelecionados)
                var activo = $scope.platoActivo;
                if ($scope.msjPlatoBoolean == true) {
                    var activo = false;
                }

                updatePlato.updateFile(id_plato, file, nombre_producto, descripcion, cantidad_diaria, venta_aproximada,
                        hora_mayor_venta, cantidad_mayor_venta, existencia_actual, id_menu, platocategoria,
                        listaIngredientes, tamanioPlatosSelecionados, activo).then(function (res) {
//                            console.log(JSON.parse(res.data.lista[0]).msj);
                    $scope.tablePlatos.reload();
                })
            }

            $scope.open = function (index) {
                $scope.selectedPlato = index.id_plato;
                $('#eliminarplato').modal('show');
            }

            $scope.eliminar = function () {
                var deletePlato = {
                    method: 'GET',
                    url: '../../../eliminarPlato',
                    params: {index: $scope.selectedPlato}
                };
                $http(deletePlato)
                        .success(function (response) {
                            console.log(response)
                            $scope.tablePlatos.reload()
                        })
                        .error(function (error) {
                            console.log(error)
                        })
            }

            $scope.uploadImage = function () {
                $scope.ocultarImgBoolean = false;
            }

            $scope.analizarTamActivo = function () {
                var contador = 0;
                var tam = $scope.tamanioPlatosSelecionados.length;
                for (i = 0; i < tam; i++) {
                    if ($scope.tamanioPlatosSelecionados[i].activo == false) {
                        contador++;
                    }
                }
                if (contador == tam) {
                    $scope.msjPlatoBoolean = true;
                    $scope.platoActivo = false;
                } else {
                    $scope.msjPlatoBoolean = false;
//                    $scope.platoActivo = true;
                }
            }

            $scope.agregarOferta = function (plato) {
                $scope.promociones = {
                    'id_tamanioplato': plato.id_tamanioplato,
                    'tamanio': plato.tamanio,
                    'precio': plato.precio,
                    'activo': plato.activo,
                    'valor_oferta': plato.valor_oferta
                }
                $('#agregarPromocionModal').modal('show');
            }

            $scope.guardarOferta = function () {
                for (i=0; i<$scope.tamanioPlatosSelecionados.length; i++){
                    if($scope.tamanioPlatosSelecionados[i].id_tamanioplato == $scope.promociones.id_tamanioplato){
                        $scope.tamanioPlatosSelecionados[i].valor_oferta = $scope.promociones.valor_oferta
                        i = $scope.tamanioPlatosSelecionados.length;
                    }
                }

            }

        }
    ]);

    proveedorApp.directive('uploaderModel', ["$parse", function ($parse) {
        return {
            restrict: 'A',
            link: function (scope, iElement, iAttrs) {
                iElement.on("change", function (e) {
                    $parse(iAttrs.uploaderModel).assign(scope, iElement[0].files[0]);
                });
            }
        };
    }])

    proveedorApp.service('uploadPlato', ["$http", "$q", function ($http, $q) {
        this.uploadFile = function (file, nombre_producto, descripcion, cantidad_diaria, venta_aproximada,
                                    hora_mayor_venta, cantidad_mayor_venta, existencia_actual, id_menu, platocategoria,
                                    listaIngredientes, tamanioPlatosSelecionados) {
            var deferred = $q.defer();
            var formData = new FormData();
            formData.append("file", file);
            formData.append("nombre_producto", nombre_producto)
            formData.append("descripcion", descripcion)
            formData.append("cantidad_diaria", cantidad_diaria)
            formData.append("venta_aproximada", venta_aproximada)
            formData.append("hora_mayor_venta", hora_mayor_venta)
            formData.append("cantidad_mayor_venta", cantidad_mayor_venta)
            formData.append("existencia_actual", existencia_actual)
            formData.append("id_menu", id_menu)
            formData.append("platocategoria", platocategoria)
            formData.append("ingredientes", listaIngredientes)
            formData.append("tamanioPlatosSelecionados", tamanioPlatosSelecionados)

            return $http.post("../../../guardarPlato", formData, {
                headers: {
                    "Content-type": undefined
                },
                transformRequest: angular.identity
            })
                    .success(function (res) {
                        deferred.resolve(res);
                    })
                    .error(function (msg, code) {
                        deferred.reject(msg);
                    })
            return deferred.promise;
        }
    }]);


    proveedorApp.service('updatePlato', ["$http", "$q", function ($http, $q) {
        this.updateFile = function (id_plato, file, nombre_producto, descripcion, cantidad_diaria, venta_aproximada,
                                    hora_mayor_venta, cantidad_mayor_venta, existencia_actual, id_menu, platocategoria,
                                    listaIngredientes, tamanioPlatosSelecionados, activo) {
            var deferred = $q.defer();
            var formData = new FormData();
            formData.append("file", file);
            formData.append("id_plato", id_plato)
            formData.append("nombre_producto", nombre_producto)
            formData.append("descripcion", descripcion)
            formData.append("cantidad_diaria", cantidad_diaria)
            formData.append("venta_aproximada", venta_aproximada)
            formData.append("hora_mayor_venta", hora_mayor_venta)
            formData.append("cantidad_mayor_venta", cantidad_mayor_venta)
            formData.append("existencia_actual", existencia_actual)
            formData.append("id_menu", id_menu)
            formData.append("platocategoria", platocategoria)
            formData.append("ingredientes", listaIngredientes)
            formData.append("tamanioPlatosSelecionados", tamanioPlatosSelecionados)
            formData.append("platoActivo", activo)

            return $http.post("../../../actualizarPlato", formData, {
                headers: {
                    "Content-type": undefined
                },
                transformRequest: angular.identity
            })
                    .success(function (res) {
                        deferred.resolve(res);
                    })
                    .error(function (msg, code) {
                        deferred.reject(msg);
                    })
            return deferred.promise;
        }
    }])

</script>
<!-- Modal Crear Plato -->
<div ng-app="proveedorApp" ng-controller="proveedorCtrl">

    <div class="modal fade" id="confirmar" tabindex="5"
         role="dialog" aria-labelledby="myModalLabel">
{#        <div class="modal-dialog" role="document" style="width: 990px;">#}
        <div class="modal-dialog modal-new-dish" role="document">
            <div class="modal-content">
                <div class="modal-header modal-title">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Crear Plato</h4>
                </div>
                <div class="modal-body">
                    <form name="dialog">
                        <div>
                            <form name="formPlato" action="#"
                                  method="POST" enctype="multipart/form-data">{% csrf_token %}
                                {% for hidden in formulario.hidden_fields %}
                                {{ hidden }}
                                {% endfor %}
                                <div class="row">
                                    <div class="col-xs-7 col-sm-7 col-md-7 modal-dish-general-data">
                                        <div class="col-md-12 modal-dish-col" style="padding: 5px 5px">
                                            <div class="col-xs-4 col-sm-4 col-md-4 modal-col-label">
                                                <label for="nombre_producto">
                                                    * Nombre del Plato
                                                </label>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 modal-col-control">
                                                <input type="text" id="id_nombre_producto" name="nombre_producto"
                                                       ng-model="nombre_producto" maxlength="50" value="nombre_producto"><br>
                                            </div>

                                        </div>

                                        <div class="col-md-12 modal-dish-col" style="padding: 5px 5px">
                                            <div class="col-xs-4 col-sm-4 col-md-4 modal-col-label">
                                                <label for="ruta_foto">
                                                    * Imagen
                                                </label>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 modal-col-control">
                                             <!--   <input type="file" id="id_ruta_foto" name="ruta_foto" value="ruta_foto"
                                                       uploader-model="ruta_foto" ng-model="ruta_foto"
                                                       preview-class="img-thumbnail2" preview-container="mediaHere"
                                                       media-preview><br>-->
                                                <img ng-show="formPlato.ruta_foto.$valid" ngf-thumbnail="ruta_foto" class="img-thumbnail" width="200" height="200">
                                                <input type="file" id="id_ruta_foto" name="ruta_foto"
                                                       ngf-select ng-model="ruta_foto" value="ruta_foto"
                                                     accept="image/*" ngf-max-size="2MB" required
                                                     ngf-model-invalid="errorFile">
                                            </div>
                                        </div>

                                        <div class="col-md-12 modal-dish-col" style="padding: 5px 5px">
                                            <div class="col-xs-4 col-sm-4 col-md-4 modal-col-label">
                                                <label for="descripcion">
                                                    * Descripción
                                                </label>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 modal-col-control">
                                                <input type="text" id="id_descripcion" name="descripcion"
                                                       ng-model="descripcion" maxlength="50" value="descripcion"><br>
                                            </div>
                                        </div>

                                        <div class="col-md-12 modal-dish-col" style="padding: 5px 5px">
                                            <div class="col-xs-4 col-sm-4 col-md-4 modal-col-label">
                                                <label for="id_platocategoria">
                                                    * Categor&iacute;a del plato
                                                </label>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 modal-col-control">
                                                <select name="id_platocategoria" id="id_id_platocategoria"
                                                        ng-model="dataPlatoCategoria.model">
                                                    <option ng-repeat="option in dataPlatoCategoria.listaPlatoCategoria"
                                                            value="//option.pk//">//option.categoria//
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        {% comment %}<div class="col-md-12" style="padding: 5px 5px">
                                            <div class="col-xs-4 col-sm-4 col-md-4">
                                                <label for="id_ingredientes">
                                                    * Ingredientes
                                                </label>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8">
                                                <i class="fa fa-plus-circle fa-2x" aria-hidden="true"
                                                   ng-click="obtenerIngredientes()" title="Agregar Ingredientes"
                                                   style="cursor: pointer; color: #20ac76;"
                                                   onMouseOver="fade(this,0.6)" onMouseOut="fade(this,1)">
                                                </i>
                                            </div>
                                        </div>{% endcomment %}

                                        <div class="col-md-12 modal-dish-col" style="padding: 5px 5px">
                                            <div class="col-xs-4 col-sm-4 col-md-4 modal-col-label">
                                                <label for="id_ingredientes">
                                                    * Tama&ntilde;o
                                                </label>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 modal-col-control">
                                                <i class="fa fa-plus-circle fa-2x" aria-hidden="true"
                                                   ng-click="obtenerTamanioPlato()"
                                                   title="Agregar Tama&ntilde;os de platos"
                                                   style="cursor: pointer; color: #20ac76;"
                                                   onMouseOver="fade(this,0.6)" onMouseOut="fade(this,1)">
                                                </i>
                                            </div>
                                        </div>


                                            <div class="col-md-12 modal-dish-col" style="padding: 5px 32px">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <td style="padding: 0px 22px;">
                                                    Tamaño
                                                </td>
                                                <td style="padding: 0px 22px;">
                                                    Oferta
                                                </td>
                                                <td style="padding: 0px 22px;">
                                                    Opción
                                                </td>
                                            </tr>
                                            </thead>
                                            <tr ng-repeat="tam in tamanioPlatosSelecionados">
                                                <td>
                                                    //tam.tamanio// - $ //tam.precio//
                                                </td>
                                                <td>
                                                    <p ng-if="tam.valor_oferta!=null" class="animate-if"
                                                       style="padding: 10px 15px 0px 15px; font-size: 15px;">
                                                      $ //tam.valor_oferta//
                                                    </p>
                                                    <p ng-if="tam.valor_oferta==null" class="animate-if"
                                                       style="padding: 10px 15px 0px 15px; font-size: 15px;">
                                                      Sin oferta
                                                    </p>

                                                </td>
                                                <td style="padding: 0px 30px;">
                                                    <i class="fa fa-plus-circle fa-2x" aria-hidden="true"
                                                       ng-click="agregarOferta(tam)" title="Agregar Promoción"
                                                       style="cursor: pointer; color: #20ac76;"
                                                       onMouseOver="fade(this,0.6)" onMouseOut="fade(this,1)">
                                                    </i>
                                                </td>
                                            </tr>
                                        </table>
                                        </div>

                                        <div>
                                            <input type="text" id="id_cantidad_diaria" name="cantidad_diaria"
                                                   ng-model="cantidad_diaria" value="cantidad_diaria" hidden="hidden">
                                            <input type="text" id="id_venta_aproximada" name="venta_aproximada"
                                                   ng-model="venta_aproximada" value="venta_aproximada" hidden="hidden">
                                            <input type="text" id="id_hora_mayor_venta" name="hora_mayor_venta"
                                                   ng-model="hora_mayor_venta" value="hora_mayor_venta" hidden="hidden">
                                            <input type="text" id="id_cantidad_mayor_venta" name="cantidad_mayor_venta"
                                                   ng-model="cantidad_mayor_venta" value="cantidad_mayor_venta"
                                                   hidden="hidden">
                                            <input type="text" id="id_existencia_actual" name="existencia_actual"
                                                   ng-model="existencia_actual" value="existencia_actual" value=""
                                                   hidden="hidden">
                                            <input type="text" id="id_id_menu" name="id_menu" ng-model="id_menu"
                                                   value="//id_menu = {{menu.pk}}//" hidden="hidden">
                                        </div>

                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-md-offset-1 side-ingredients modal-dish-item">
                                        <div class="content table-responsive table-full-width ingredients">
                                            <div class="ingredients-title"><h3 class="ingredients-title-h3">Ingredientes</h3></div>

                                            <div class="col-md-12" style="padding: 5px 5px">
                                                <div class="lbl-ingredientes">
                                                    <label for="id_ingredientes">
                                                        * Ingredientes
                                                    </label>
                                                </div>
                                                <div class="btn-ingredients">
                                                    <i class="fa fa-plus-circle fa-2x" aria-hidden="true"
                                                       ng-click="obtenerIngredientes()" title="Agregar Ingredientes"
                                                       style="cursor: pointer; color: #20ac76;"
                                                       onMouseOver="fade(this,0.6)" onMouseOut="fade(this,1)">
                                                    </i>
                                                </div>
                                            </div>

                                            <table ng-table="tableParamsIng" class="table" show-filter="true">
                                                <tbody>
                                                <!--tr ng-repeat="item in IngredientesSelecionados"-->
                                                <tr ng-repeat="item in $data track by $index"
                                                    ng-class="{'selected':$index == selectedRow}">
                                                    <td data-title="'Nombre'">// item.nombre //</td>
                                                    <td data-title="'Quitar'">

                                                        <i ng-click="quitarIngredientes(item)"
                                                           style="color:#3F5367; cursor: pointer;"
                                                           title="Quitar" class="fa fa-trash fa-lg"></i>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="col-xs-12 col-sm-12 col-md-12" style="padding: 5px 20px">
                                            <label>
                                                <small>(*) Campos obligatorios</small>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar
                        </button>
                        <input type="button" value="Confirmar" class="btn btn-default" data-dismiss="modal"
                               id="guardar-estado" ng-click="guardarPlato()"
                               ng-disabled="nombre_producto==''|| ruta_foto=='' || descripcion=='' ||
                               dataPlatoCategoria.model==null || tamanioPlatosSelecionados.length==0 ||
                               IngredientesSelecionados.length==0">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin modal -->


    <div class="modal fade" id="actualizarPlatoModal" tabindex="5"
         role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 990px;">
            <div class="modal-content">
                <div class="modal-header modal-title">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Actualizar Plato</h4>
                </div>
                <div class="modal-body">
                    <form name="dialog" style="width: 950px">
                        <div>
                            <!--<form name="formPlato" action="#" style="width: 950px"-->
                            <!--method="POST" enctype="multipart/form-data">{% csrf_token %}-->
                            {% for hidden in formulario.hidden_fields %}
                            {{ hidden }}
                            {% endfor %}
                            <div class="row">
                                <div class="col-xs-7 col-sm-7 col-md-7">
                                    <div class="col-md-12" style="padding: 5px 5px">
                                        <div class="col-xs-4 col-sm-4 col-md-4">
                                            <label for="nombre_producto">
                                                * Nombre del plato
                                            </label>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8">
                                            <input type="text" id="id_nombre_producto" name="nombre_producto"
                                                   ng-model="nombre_producto" value="nombre_producto"><br>
                                        </div>

                                    </div>

                                    <div class="col-md-12" style="padding: 5px 5px">
                                        <div class="col-xs-4 col-sm-4 col-md-4">
                                            <label for="descripcion">
                                                * Descripción
                                            </label>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8">
                                            <input type="text" id="id_descripcion" name="descripcion"
                                                   ng-model="descripcion" value="descripcion"><br>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="padding: 5px 5px">
                                        <div class="col-xs-4 col-sm-4 col-md-4">
                                            <label for="platoActivo">
                                                * Activo
                                            </label>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8">
                                            <input type="checkbox" id="id_platoActivo" name="platoActivo"
                                                   ng-model="platoActivo" value="platoActivo"><br>
                                        </div>
                                    </div>

                                       <div class="col-md-12" style="padding: 5px 5px">
                                        <div class="col-xs-4 col-sm-4 col-md-4">
                                            <label for="platoActivo">
                                                * Imagen2
                                            </label>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8">
                                            <img id="blah" class="profile-img"
                                                                      ngf-src="ruta_foto"
                                                                      alt="">

                                             <div class="input-img btn btn-ok"><span class=""
                                                                        for="ruta_foto">Cambiar Imagen</span>
                                                    <input type="file" id="id_ruta_foto" name="ruta_foto"
                                                       ngf-select ng-model="ruta_foto"  ngf-src="ruta_foto"
                                                     accept="image/*" ngf-max-size="2MB" required
                                                     ngf-model-invalid="errorFile">
                                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="padding: 5px 5px">
                                        <div class="col-xs-4 col-sm-4 col-md-4">
                                            <label for="id_platocategoria">
                                                * Categor&iacute;a del plato
                                            </label>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8">
                                            <select name="id_platocategoria" id="id_id_platocategoria"
                                                    ng-options="option.categoria for option in dataPlatoCategoria.listaPlatoCategoria"
                                                    ng-model="dataPlatoCategoria.model">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="padding: 5px 5px">
                                        <div class="col-xs-4 col-sm-4 col-md-4">
                                            <label for="id_ingredientes">
                                                * Ingredientes
                                            </label>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8">
                                            <i class="fa fa-plus-circle fa-2x" aria-hidden="true"
                                               ng-click="obtenerIngredientes()" title="Agregar Ingredientes"
                                               style="cursor: pointer; color: #20ac76;"
                                               onMouseOver="fade(this,0.6)" onMouseOut="fade(this,1)">
                                            </i>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="padding: 5px 5px">
                                        <div class="col-xs-4 col-sm-4 col-md-4">
                                            <label for="id_ingredientes">
                                                * Tama&ntilde;o
                                            </label>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8">
                                            <i class="fa fa-plus-circle fa-2x" aria-hidden="true"
                                               ng-click="obtenerTamanioPlato()"
                                               title="Agregar Tama&ntilde;os de platos"
                                               style="cursor: pointer; color: #20ac76;"
                                               onMouseOver="fade(this,0.6)" onMouseOut="fade(this,1)">
                                            </i>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="padding: 5px 32px">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <td style="padding: 0px 22px;">
                                                    Tamaño
                                                </td>
                                                <td style="padding: 0px 22px;">
                                                    Activo
                                                </td>
                                                <td style="padding: 0px 22px;">
                                                    Oferta
                                                </td>
                                                <td style="padding: 0px 22px;">
                                                    Opción
                                                </td>
                                            </tr>
                                            </thead>
                                            <tr ng-repeat="tam in tamanioPlatosSelecionados">
                                                <td>
                                                    //tam.tamanio// - $ //tam.precio//
                                                </td>
                                                <td style="padding: 0px 30px;">
                                                    <input type="checkbox" ng-model="tam.activo"
                                                           ng-change="analizarTamActivo()">
                                                </td>
                                                <td>
                                                    <p ng-if="tam.valor_oferta!=null" class="animate-if" style="font-size: 15px;">
                                                      $ //tam.valor_oferta//
                                                    </p>
                                                    <p ng-if="tam.valor_oferta==null" class="animate-if" style="font-size: 15px;">
                                                      Sin oferta
                                                    </p>

                                                </td>
                                                <td style="padding: 0px 30px;">
                                                    <i class="fa fa-plus-circle fa-2x" aria-hidden="true"
                                                       ng-click="agregarOferta(tam)" title="Agregar Promoción"
                                                       style="cursor: pointer; color: #20ac76;"
                                                       onMouseOver="fade(this,0.6)" onMouseOut="fade(this,1)">
                                                    </i>
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="check-element animate-hide"
                                             ng-show="msjPlatoBoolean">
                                            <span style="color: #761c19;"
                                                  class="fa fa-exclamation-circle"></span>
                                            Es necesario tener un tama&ntilde;o de plato activo, caso contrario su plato
                                            quedara inactivo!!
                                        </div>
                                    </div>

                                    <div>
                                        <input type="text" id="id_id_plato" name="id_plato"
                                               ng-model="id_plato" value="id_plato" hidden="hidden">
                                        <input type="text" id="id_cantidad_diaria" name="cantidad_diaria"
                                               ng-model="cantidad_diaria" value="cantidad_diaria" hidden="hidden">
                                        <input type="text" id="id_venta_aproximada" name="venta_aproximada"
                                               ng-model="venta_aproximada" value="venta_aproximada" hidden="hidden">
                                        <input type="text" id="id_hora_mayor_venta" name="hora_mayor_venta"
                                               ng-model="hora_mayor_venta" value="hora_mayor_venta" hidden="hidden">
                                        <input type="text" id="id_cantidad_mayor_venta" name="cantidad_mayor_venta"
                                               ng-model="cantidad_mayor_venta" value="cantidad_mayor_venta"
                                               hidden="hidden">
                                        <input type="text" id="id_existencia_actual" name="existencia_actual"
                                               ng-model="existencia_actual" value="existencia_actual" value=""
                                               hidden="hidden">
                                        <input type="text" id="id_id_menu" name="id_menu" ng-model="id_menu"
                                               value="//id_menu = {{menu.pk}}//" hidden="hidden">
                                    </div>

                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-md-offset-1">
                                    <div class="content table-responsive table-full-width">
                                        <div class="ingredients-title"><h3 class="ingredients-title-h3">Ingredientes</h3></div>
                                        <table ng-table="tableParamsIngAct" class="table" show-filter="true">
                                            <tbody>
                                            <!--tr ng-repeat="item in IngredientesSelecionados"-->
                                            <tr ng-repeat="item in $data track by $index"
                                                ng-class="{'selected':$index == selectedRow}">
                                                <td data-title="'Nombre'">// item.nombre //</td>
                                                <td data-title="'Quitar'">

                                                    <i ng-click="quitarIngredienteUpdate(item)"
                                                       style="color:#3F5367; cursor: pointer;"
                                                       title="Quitar" class="fa fa-trash fa-lg"></i>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="col-xs-12 col-sm-12 col-md-12" style="padding: 5px 20px">
                                        <label>
                                            <small>(*) Campos obligatorios</small>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!--</form>-->
                        </div>
                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar
                        </button>
                        <input type="button" value="Confirmar" class="btn btn-default" data-dismiss="modal"
                               id="guardar-estado" ng-click="actualizarPlato()"
                               ng-disabled="nombre_producto==''|| descripcion=='' ||
                               dataPlatoCategoria.model==null || tamanioPlatosSelecionados.length==0 ||
                               IngredientesSelecionados.length==0">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin modal -->


    <!-- Modal Ingredientes -->
    <div class="modal fade" id="ingredientes" tabindex="5"
         role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-title">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Ingredientes del Plato</h4>
                </div>
                <div class="modal-body">
                    <form name="dialog">
                        <div>
                            <form action="#" method="POST" enctype="multipart/form-data">{% csrf_token %}
                                <div class="content table-responsive table-full-width">

                                    Buscador <input id="searchTerm" type="text" onkeyup="buscador()" />
                                    <table class="table table-striped" id="datos">
                                        <thead>
                                        <td>Ingrediente</td>
                                        <td>Obligatorio</td>
                                        <td>Agregar</td>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in listaIngredientes">
                                            <td width="30">// item.nombre //</td>
                                            <td><input type="checkbox" ng-model="item.obligatorio"
                                                       value="item.obligatorio" ng-disabled="!item.seleccionado">
                                            </td>
                                            <td><input type="checkbox" ng-model="item.seleccionado"
                                                       value="item.seleccionado">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" ng-model="nuevoIngrediente" value="nuevoIngrediente">
                                            </td>
                                            <td>
                                                <div class="check-element animate-hide"
                                                     ng-show="booleanNuevoIngrediente">
                                                    <span style="color: #761c19;"
                                                          class="fa fa-exclamation-circle"></span>
                                                    Este ingrediente ya existe!!
                                                </div>
                                            </td>
                                            <td>
                                                <input type="button" value="A&ntilde;adir"
                                                       class="btn btn-success btn-fill"
                                                       data-dismiss="modal" id="agregar-ingrediente"
                                                       ng-click="agregarIngrediente()"
                                                       ng-disabled="nuevoIngrediente==''">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar
                        </button>
                        <input type="button" value="Agregar Ingredientes" class="btn btn-default" data-dismiss="modal"
                               id="guardar-estado" ng-click="agregarIngredientes()">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin modal -->


    <!-- Modal Tamanio Plato -->
    <div class="modal fade" id="tamanioplato" tabindex="5"
         role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-title">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Tama&ntilde;o de plato</h4>
                </div>
                <div class="modal-body">
                    <form name="dialog">
                        <div>
                            <form action="#" method="POST" enctype="multipart/form-data">{% csrf_token %}
                                <div class="content table-responsive table-full-width">

                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td>Tama&ntilde;o</td>
                                                <td>
                                                    <select name="id_tamanio" id="id_id_tamanio"
                                                            ng-model="dataTamanioPlato.id">
                                                        <option ng-repeat="option in dataTamanioPlato.listaTamanioPlato"
                                                                value="//option.pk//">//option.tamanio//
                                                        </option>
                                                    </select>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>Precio</td>
                                                <td>
                                                    <input type="input" ng-model="dataTamanioPlato.precio"
                                                           value="dataTamanioPlato.precio" id="decimal2">
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Oferta</td>
                                                <td>
                                                    <input type="input" ng-model="dataTamanioPlato.valor_oferta"
                                                           value="dataTamanioPlato.valor_oferta" id="decimal">
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar
                        </button>
                        <input type="button" value="Agregar Tama&ntilde;o" class="btn btn-default" data-dismiss="modal"
                               id="guardar-estado" ng-click="agregarTamanioPlato()">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin modal -->

    <!-- Modal Promocion de Plato -->
    <div class="modal fade" id="agregarPromocionModal" tabindex="5"
         role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-title">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Agregar Oferta</h4>
                </div>
                <div class="modal-body">
                    <form name="dialog">
                        <div>
                            <form action="#" method="POST" enctype="multipart/form-data">{% csrf_token %}
                                <div class="content table-responsive table-full-width">

                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td><label>Tama&ntilde;o</label></td>
                                                <td>
                                                    <p>//promociones.tamanio//</p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td><label>Precio</label></td>
                                                <td>
                                                    //promociones.precio//
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label>Precio de oferta</label></td>
                                                <td>
                                                    <input ng-model="promociones.valor_oferta">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar
                        </button>
                        <input type="button" value="Agregar Oferta" class="btn btn-default" data-dismiss="modal"
                               id="guardar-estado" ng-click="guardarOferta()">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin modal -->

    <!-- Modal Confirmar Eliminiar -->
    <div class="modal fade" id="eliminarplato" tabindex="5"
         role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-title">
                    <h4 class="modal-title" id="myModalLabel">Confirmar!!</h4>
                </div>
                <div class="modal-body">
                    <form name="dialog">
                        <div>
                            <h5>Seguro que desea eliminar este elemento?</h5>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" data-dismiss="modal" ng-click="eliminar()">
                            Aceptar
                        </button>
                        <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin modal -->


    <div class="wrapper">
        <div class="sidebar" data-background-color="white" data-active-color="danger">
            <!--
                Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
                Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
            -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text"><img alt="" width="100" height="100"
                                                         src="media/{{ perfil.ruta_foto }}"
                                                         id="IMG_5"/></a>
                </div>
                <ul class="nav">
                    <li>
                        <a href="{% url 'proveedorApp.views.soyProveedor' %}">
                            {% comment %}<i class="ti-panel"></i>{% endcomment %}
                            <img class="ti-panel test-colour" src="/static/home/img/icons-web/administracion.png">
                            <p class="panel-txt">Administración</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'proveedorApp.views.pedidosEntregados' %}">
                            {% comment %}<i class="ti-server"></i>{% endcomment %}
                            <img class="ti-panel test-colour" src="/static/home/img/icons-web/pedidos.png">
                            <p class="panel-txt">Todos los pedidos</p>
                        </a>
                    </li>
                    <li>
                        <a class="menu" href="#">
                            {% comment %}<i class="ti-agenda"></i>{% endcomment %}
                            <img class="ti-panel test-colour" src="/static/home/img/icons-web/facturas.png">
                            <p class="panel-txt">Facturas</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'misDatos' %}">
                            {% comment %}<i class="ti-user"></i>{% endcomment %}
                            <img class="ti-panel test-colour" src="/static/home/img/icons-web/perfil.png">
                            <p class="panel-txt">Mi perfil</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            {% comment %}<i class="ti-bell"></i>{% endcomment %}
                            <img class="ti-panel test-colour" src="/static/home/img/icons-web/menu.png">
                            <p class="panel-txt">Mi Menú</p>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            {% comment %}<i class="ti-tag"></i>{% endcomment %}
                            <img class="ti-panel test-colour" src="/static/home/img/icons-web/promociones.png">
                            <p class="panel-txt">promociones</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {% comment %}<i class="ti-truck"></i>{% endcomment %}
                            <img class="ti-panel test-colour" src="/static/home/img/icons-web/transporte.png">
                            <p class="panel-txt">Entregas tiempo real</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {% comment %}<i class="ti-bell"></i>{% endcomment %}
                            <img class="ti-panel test-colour" src="/static/home/img/icons-web/notificaciones.png">
                            <p class="panel-txt">Notificaciones</p>
                        </a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand" href="#">Panel de Administración</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#">
                                    <p>Bienvenido, {{ nombre_sucursal }}</p>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>


            <div class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Menú</h4>
                        </div>
                        <button class="btn btn-success btn-fill" data-toggle="modal"
                                ng-click="obtenerPlatoCategoria()"> Crear Plato
                        </button>
                        <div class="doc-content">
                            <table ng-table="tablePlatos" show-filter="true" class="table ng-table-responsive">
                                <tbody>
                                <tr ng-repeat="rec in $data" ng-class="{'selected':$index == selectedRow}">
                                    <td data-title="'ID'">// rec.pk //</td>
                                    <td data-title="'Producto'">// rec.nombre_producto //</td>
                                    <td data-title="'Descripci&oacute;n'">// rec.descripcion //</td>
                                    <td data-title="'Categor&iacute;a'">// rec.categoria //</td>
                                    <td data-title="'Activo'">
                                        <div class="check-element animate-hide"
                                             ng-show="rec.activo">
                                                    <span style="color: #14610b;"
                                                          class="fa fa-check-square-o"></span>
                                        </div>
                                        <div class="check-element animate-hide"
                                             ng-show="!rec.activo">
                                                    <span style="color: #bd1010;"
                                                          class="fa fa-square-o"></span>
                                        </div>
                                    </td>
                                    <td data-title="'Editar'">
                                        <input ng-hide="true" ng-model="pk">
                                        <i ng-click="iniciarActualizarPlato(rec)"
                                           style="color:#3F5367; cursor: pointer;"
                                           title="Editar" class="fa fa-pencil-square-o fa-lg"></i>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
    <script src="{% static 'proveedor/js/paper-dashboard.js' %}"></script>

    <script type="text/javascript">
        jQuery('#decimal').keyup(function () {
          this.value = this.value.replace(/[^0-9.]/g,'');
        });
        jQuery('#decimal2').keyup(function () {
          this.value = this.value.replace(/[^0-9.]/g,'');
        });
    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#ingredientes").on('hidden.bs.modal',function () {
                $('body').addClass('modal-open');
            });

            $("#tamanioplato").on('hidden.bs.modal',function () {
                $('body').addClass('modal-open');
            });

            $("#agregarPromocionModal").on('hidden.bs.modal',function () {
                $('body').addClass('modal-open');
            });
        });
    </script>

    <!-- Buscador de ingredientes   -->
    <script type="text/javascript">
        function buscador() {
            var tabIngredientes = document.getElementById('datos');
            var searchText = document.getElementById('searchTerm').value.toLowerCase();
            var celda = "";
            var found = false;
            var comparador = "";

            // recorremos filas
            for (var i = 0; i < tabIngredientes.rows.length; i++){
                celda = tabIngredientes.rows[i].getElementsByTagName('td');
                found = false;
                // recorre las celdas
                for (var j = 0; j < 1 && !found; j++){
                    comparador = celda[j].innerHTML.toLowerCase();
                    // buscamos el texto que contiene la celda
                    if (searchText.length == 0 || (comparador.indexOf(searchText) >= 0)){
                        found = true;
                    }
                }
                if(found){
                    tabIngredientes.rows[i].style.display = '';
                    tabIngredientes.rows[0].style.display = '';
                }else{
                    tabIngredientes.rows[i].style.display = 'none';
                }
            }
        }    
    </script>

    <!-- Mensaje para validar el tamaño de la foto al crear plato   -->
    <script type="text/javascript">
        $('#id_ruta_foto').bind('change',function () {
            if (this.files[0].size > 2000000){
                alert('El tamaño de la imagen no puede superar los 2MB');
            }
        })
    </script>



{% endblock content %}
{% include 'bases/sucursal_fooder.html' %}