{% extends 'bases/base_admin_sucursal.html' %}{% load staticfiles %}
{% include 'bases/sucursal_head.html' %}
{% block menuDesple %}
    <li><a href="{% url 'misDatos' %}">Mi perfil</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="/cerrar">Cerrar Sesión</a></li>
{% endblock menuDesple %}
{% block extraScripts %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <script src="{% static 'home/js/OpenLayers/OpenLayers.js' %}"></script>
    <script src="{% static 'home/js/angular-modal-service.js' %}" type="text/javascript"></script>
    <script type="text/javascript">

        var proveedorApp = angular.module('proveedorApp', ['ngRoute', 'ngTable', 'angularModalService'])
                .config(
                        function ($interpolateProvider, $httpProvider) {
                            $interpolateProvider.startSymbol('//');
                            $interpolateProvider.endSymbol('//');
                            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
                        }
                );


        var rows = [], empleados = [], row, texto;
        var punto;
        var map, measureControls, vectorLayer;

        proveedorApp.controller('proveedorCtrl', function ($scope, $http, ModalService, $window) {


            $scope.abrirUbicacion = function () {
                ModalService.showModal({
                    templateUrl: "modalDireccion",
                    controller: "direccionController"
                }).then(function (modal) {
                    modal.element.modal();
                    modal.close.then(function (result) {
                        //$scope.yesNoResult = result ? "You said Yes" : "You said No";
                        //$scope.tableParams.reload();
                    });
                });
            }
            $scope.abrirUbicacionX = function () {

                //$('#myModalDir').modal('show');
            }

            function init() {

                texto = "PC1";
                var lat = '{{ formulario2.latitud.value }}';
                var lon = '{{ formulario2.longitud.value }}';
                if (lat === "") {
                    if ($window.navigator.geolocation) {
                        $window.navigator.geolocation.getCurrentPosition(function (position) {
                            $scope.$apply(function () {

                                map.setCenter(new OpenLayers.LonLat(position.coords.longitude, position.coords.latitude) // Center of the map
                                        .transform(
                                                new OpenLayers.Projection("EPSG:4326"),
                                                new OpenLayers.Projection("EPSG:900913")
                                        ), 15
                                );
                                position = new OpenLayers.LonLat(position.coords.longitude, position.coords.latitude).transform(
                                        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                                        new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
                                );
                                $scope.position = position;

                                var feature = new OpenLayers.Feature.Vector(//-79.198753246573,-3.9866758993433
                                        new OpenLayers.Geometry.Point(position.lon, position.lat),
                                        {description: ""},
                                        {
                                            externalGraphic: "{#% static 'home/img/redMarker.png' %#}",
                                            graphicHeight: 25,
                                            graphicWidth: 21,
                                            graphicXOffset: -12,
                                            graphicYOffset: -25
                                        }
                                );
                                punto.addFeatures(feature);
                            });
                        });
                    }
                }
                map = new OpenLayers.Map("map");

                var mapnik = new OpenLayers.Layer.OSM();

                punto = new OpenLayers.Layer.Vector("Puntos");
                //puntoX = new OpenLayers.Layer.Vector("Puntos");
                vectorLayer = new OpenLayers.Layer.Vector("Overlay");

                var lonlatObject1 = new OpenLayers.LonLat(lon, lat).transform(
                        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                        new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
                );
                var lonlatObject2 = new OpenLayers.LonLat(lon, lat).transform(
                        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                        new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
                );

                var punto1 = {"type": "Point", "coordinates": [lonlatObject1.lon, lonlatObject1.lat]};
                var geojson = new OpenLayers.Format.GeoJSON();

                feature = new OpenLayers.Feature.Vector(//-79.198753246573,-3.9866758993433
                        new OpenLayers.Geometry.Point(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                                new OpenLayers.Projection("EPSG:900913")),
                        {description: texto},
                        {
                            externalGraphic: "{% static 'home/img/redMarker.png' %}",
                            graphicHeight: 25,
                            graphicWidth: 21,
                            graphicXOffset: -12,
                            graphicYOffset: -25
                        }
                );

                //punto.addFeatures(geojson.read(punto1));
                //punto.addFeatures(feature);
                map.addLayers([mapnik, punto, vectorLayer]);


                var controls = {
                    selector: new OpenLayers.Control.SelectFeature(vectorLayer, {
                        onSelect: function (feature) {
                            createPopup(feature);
                        }
                        , onUnselect: destroyPopup
                    })
                };

                map.addControl(controls['selector']);
                //mapX.addControl(controls['selector']);
                controls['selector'].activate();

                function createPopup(feature) {
                    feature.popup = new OpenLayers.Popup.FramedCloud("pop",
                            feature.geometry.getBounds().getCenterLonLat(),
                            null,
                            '<div class="markerContent">' + feature.data.description + '</div>',
                            null,
                            true,
                            function () {
                                controls['selector'].unselectAll();
                            }
                    );
                    map.addPopup(feature.popup);
                }

                function destroyPopup(feature) {
                    feature.popup.destroy();
                    feature.popup = null;
                }

                map.addControl(new OpenLayers.Control.PanZoomBar());
                map.setCenter(new OpenLayers.LonLat(lon, lat) // Center of the map
                        .transform(
                                new OpenLayers.Projection("EPSG:4326"),
                                new OpenLayers.Projection("EPSG:900913")
                        ), 16
                );

                map.events.register("moveend", map, function (e) {
                    /*var center = ol.proj.transform(e.map.getView().getCenter(), 'EPSG:3857', 'EPSG:4326');
                     var coord_street = [center[0], center[1]];
                     utils.createFeature(coord_street, 1);*/
                    map.layers[1].removeAllFeatures();
                    map.layers[2].removeAllFeatures();
                    //position = map.getLonLatFromViewPortPx(e.object.center);
                    position = e.object.center;
                    var feature = new OpenLayers.Feature.Vector(//-79.198753246573,-3.9866758993433
                            new OpenLayers.Geometry.Point(position.lon, position.lat),
                            //.transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                            //new OpenLayers.Projection("EPSG:900913")),
                            {description: texto},
                            {
                                //externalGraphic: "{·% static 'home/img/redMarker.png' %}",
                                graphicHeight: 25,
                                graphicWidth: 21,
                                graphicXOffset: -12,
                                graphicYOffset: -25
                            }
                    );
                    punto.addFeatures(feature);

                    position = new OpenLayers.LonLat(position.lon, position.lat).transform(
                            new OpenLayers.Projection("EPSG:900913"), // transform from WGS 1984
                            new OpenLayers.Projection("EPSG:4326") // to Spherical Mercator Projection
                    );
                    $scope.position = position;

                    var myElementlon = document.getElementById("id_direccion-longitud");
                    myElementlon.value = position.lon;

                    var myElementlat = document.getElementById("id_direccion-latitud");
                    myElementlat.value = position.lat;

                    return true;
                });


                /*map.events.register("click", map, function (e) {
                    map.layers[1].removeAllFeatures();
                    map.layers[2].removeAllFeatures();
                    position = map.getLonLatFromViewPortPx(e.xy);

                    var feature = new OpenLayers.Feature.Vector(//-79.198753246573,-3.9866758993433
                            new OpenLayers.Geometry.Point(position.lon, position.lat),
                            //.transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                            //new OpenLayers.Projection("EPSG:900913")),
                            {description: texto},
                            {
{#                                externalGraphic: "{% static 'home/img/redMarker.png' %}",#}
                                graphicHeight: 25,
                                graphicWidth: 21,
                                graphicXOffset: -12,
                                graphicYOffset: -25
                            }
                    );
                    punto.addFeatures(feature);


                    position = new OpenLayers.LonLat(position.lon, position.lat).transform(
                            new OpenLayers.Projection("EPSG:900913"), // transform from WGS 1984
                            new OpenLayers.Projection("EPSG:4326") // to Spherical Mercator Projection
                    );
                    var myElementlon = document.getElementById("id_direccion-longitud");
                    myElementlon.value = position.lon;

                    var myElementlat = document.getElementById("id_direccion-latitud");
                    myElementlat.value = position.lat;

                });*/

                vectorLayer.redraw(true);
                vectorLayer.refresh({force: true});
            }

            init();
            $scope.divUbicacion = false;
            $scope.mostrarUbicacion = function () {
                $scope.divUbicacion = !$scope.divUbicacion;
            }
        });

        proveedorApp.controller('direccionController', ['$scope', '$http',
            function ($scope, $http) {
                //inicio();
                $scope.guardarEnvio = function () {

                    var req = {
                        method: 'POST',
                        url: '../../../guardarEnvio',
                        params: {}
                    };
                    $http(req).success(function (response) {
                        if (response == true) {
                            $scope.close();
                        }
                        else
                            alert(response);
                    }).error(function (response) {
                        alert(response);
                    })
                    ;
                };

                $('#myModalDir').modal('hide');

            }]);

    </script>
{% endblock extraScripts %}
{% block nav %}
    <ul class="nav">
        <li>
            <a href="proveedor">
                {% comment %}<i class="ti-panel"></i>{% endcomment %}
                <img class="ti-panel test-colour" src="/static/home/img/icons-web/administracion.png">
                <p class="panel-txt">Administración</p>
            </a>
        </li>
        <li>
            <a href="{% url 'proveedorApp.views.pedidosEntregados' %}">
                {% comment %}<i class="ti-server"></i>{% endcomment %}
                <img class="ti-panel test-colour" src="/static/home/img/icons-web/pedidos.png">
                <p class="panel-txt">Todos los pedidos</p>
            </a>
        </li>
        <li>
            <a class="menu" href="#">
                {% comment %}<i class="ti-agenda"></i>{% endcomment %}
                <img class="ti-panel test-colour" src="/static/home/img/icons-web/facturas.png">
                <p class="panel-txt">Facturas</p>
            </a>
        </li>
        <li class="active">
            <a href="{% url 'misDatos' %}">
                {% comment %}<i class="ti-user"></i>{% endcomment %}
                <img class="ti-panel test-colour" src="/static/home/img/icons-web/perfil.png">
                <p class="panel-txt">Mi Perfil</p>
            </a>
        </li>
        <li>
            <a href="{% url 'miMenu' %}">
                {% comment %}<i class="ti-bell"></i>{% endcomment %}
                <img class="ti-panel test-colour" src="/static/home/img/icons-web/menu.png">
                <p class="panel-txt">Mi Menú</p>
            </a>
        </li>

        <li>
            <a href="#">
                {% comment %}<i class="ti-tag"></i>{% endcomment %}
                <img class="ti-panel test-colour" src="/static/home/img/icons-web/promociones.png">
                <p class="panel-txt">promociones</p>
            </a>
        </li>
        <li>
            <a href="#">
                {% comment %}<i class="ti-truck"></i>{% endcomment %}
                <img class="ti-panel test-colour" src="/static/home/img/icons-web/transporte.png">
                <p class="panel-txt">Entregas tiempo real</p>
            </a>
        </li>
        <li>
            <a href="#">
                {% comment %}<i class="ti-bell"></i>{% endcomment %}
                <img class="ti-panel test-colour" src="/static/home/img/icons-web/notificaciones.png">
                <p class="panel-txt">Notificaciones</p>
            </a>
        </li>
    </ul>{% endblock nav %}
{% block extraContenido %}
    <div class="content" ng-app="proveedorApp" ng-controller="proveedorCtrl" ng-init="init()">
{#        {% if recargame == 'True' %}#}
{#        <script>#}
{#            function recargame() {#}
{#                document.href = ""#}
{#                alert('Hello');#}
{#            }#}
{#            window.onload = setTimeout(recargame(), 1000);#}
{#        </script>#}
{#        {% endif %}#}

        <div class="container-fluid">

            <div class="card">
                <div class="header">
                    <h4 class="title">Mis Datos</h4>
                </div>
                <div>
                    <form action="#" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <div class="fields-profile-content">
                        {{ formulario.id_perfil }}

                            {% for hidden in formulario.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {{ formulario.ruta_foto.errors }}
                            <div class="user-image-side">
                                <div class="profile-img-content"><img id="blah" class="profile-img"
                                                                      src="
                                                                              {{ MEDIA_URL }}{{ perfil.ruta_foto }}"
                                                                      alt=""></div>
                                <div class="input-img btn btn-ok"><span class=""
                                                                        for="ruta_foto">Cambiar Imagen</span>{{ formulario.ruta_foto }}
                                </div>
                            </div>

                            <a align="right" class="btn btn-ok" href="/clave">Cambiar Contraseña</a>

                            <hr>
                            <div class="messages-menu">
                                {% if messages %}
                                            <ul class="messages">
                                            {% for message in messages %}
                                                <li class="{{ message.tags }}">{{ message }}</li>
                                            {% endfor %}
                                            </ul>
                                {% endif %}
                            </div>

                            {{ formulario3.descripcion.errors }}
                            <div class="fields-act"><label class="label-profile" for="cedula">Descripción del Sucursal
                            </label>{{ formulario3.descripcion }}</div>
                            {{ formulario2.calle_principal.errors }}
                            <div class="fields-act"><label class="label-profile" for="cedula">Calle
                                Principal</label>{{ formulario2.calle_principal }}</div>
                            {{ formulario2.calle_secundaria.errors }}
                            <div class="fields-act"><label class="label-profile" for="cedula">Calle
                                Secundaria</label>{{ formulario2.calle_secundaria }}</div>
                            {{ formulario2.numero_casa.errors }}
                            <div class="fields-act"><label class="label-profile" for="cedula">Número de
                                Casa</label>{{ formulario2.numero_casa }}</div>
                            {{ formulario2.referencia.errors }}
                            <div class="fields-act"><label class="label-profile"
                                                           for="cedula">Referencia</label>{{ formulario2.referencia }}
                            </div>
                            <hr>
                            {{ formulario2.longitud.errors }}
                            {{ formulario2.longitud }}
                            {{ formulario2.latitud.errors }}
                            {{ formulario2.latitud }}
                            {{ formulario3.telefono.errors }}
                            <div class="fields-act"><label class="label-profile"
                                                           for="cedula">Teléfono</label>{{ formulario3.telefono }}</div>
                            {{ formulario3.dias_atencion.errors }}
                            <div class="fields-act"><label class="label-profile" for="cedula">Dias de
                                Atención</label>{{ formulario3.dias_atencion }}</div>
                            {{ formulario3.hora_atencion.errors }}
                            <div class="fields-act"><label class="label-profile" for="cedula">Horario de
                                Atención</label>{{ formulario3.hora_atencion }}</div>
                            {{ formulario3.hora_pico.errors }}
                            <div class="fields-act"><label class="label-profile" for="cedula">Horario
                                Pico</label>{{ formulario3.hora_pico }}</div>
                            <hr>
                            {{ formulario3.precio_envio.errors }}
                            <div class="fields-act"><label class="label-profile" for="cedula">Precio de
                                Envío</label>{{ formulario3.precio_envio }}</div>

                                {{ formulario3.visitas }}

                            <input class="btn btn-ok" type="submit" value="Actualizar">
                            <input type="button" value="Mostrar Ubicación" class="btn btn-default"
                                   id="add-producto" ng-click="mostrarUbicacion()">
                            <div ng-show="divUbicacion" id="map" ng-init="init()"
                                 style="width:100%; height: 500px; border: 2px solid red;">
                                <div class='pin'></div>
                                <div class='pulse'></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock extraContenido %}

