<div class="modal fade" id="myModalDir" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ubicacion GPS</h4>
            </div>

            <div class="modal-body">
                <table>
                    <tr>
                        <td>
                            <div id="map"
                                 style="width:550px; height: 500px; border: 2px solid red;"></div>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
            <!--div class="modal-footer">
                <table>
                    <tr>
                        <td>
                            C. Principal
                        </td>
                        <td>
                            <input ng-model="calle_principal" type="text">
                        </td>
                        <td>
                            Referencia
                        </td>
                        <td>
                            <input ng-model="referencia" style="width: 150px" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            C. Secundaria
                        </td>
                        <td>
                            <input ng-model="calle_secundaria" type="text">
                        </td>
                        <td>
                            Nro Casa
                        </td>
                        <td>
                            <input ng-model="numero_casa" style="width: 150px" type="text">
                        </td>
                    </tr>
                </table>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar
                </button>
                <input type="button" value="Guardar Direccion" class="btn btn-default"
                       id="add-producto" ng-click="guardarDireccion()">
            </div-->

        </div>
    </div>
</div>