{% extends 'home/base.html' %} {% load staticfiles %}
{% block menuDesple %}
        <li><a href="{% url 'misDatos' %}">Mi perfil</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/cerrarP">Cerrar Sesión</a></li>
    {% endblock menuDesple  %}
{% block content %}
    {% include 'bases/sucursal_head.html' %}


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {% block dirAudio %}
    <audio id="myAudio">
        <source src="{% static 'home/sound/notificationProveedor.mp3'%}" type="audio/mpeg">
    </audio>
    {% endblock %}


    <script type="text/javascript">
        var proveedorLApp = angular.module('proveedorLApp', ['ngRoute', 'ngTable'])
                .config(
                        function ($interpolateProvider, $httpProvider) {
                            $interpolateProvider.startSymbol('//');
                            $interpolateProvider.endSymbol('//');
                            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
                        }
                );


        var rows = [], empleados = [], row, texto;
        var punto;
        var map, measureControls, vectorLayer;
        var ocultar = false;
        var recoger = false;
        proveedorLApp.controller('detalleCtrl', function ($scope, $http) {
            $scope.ocultar = ocultar;
            $scope.iniciar = function () {
                $scope.ocultar = ocultar;
            }
        });
        proveedorLApp.controller('proveedorLCtrl', function ($scope, $http) {

            $("#alerta").hide();
            $scope.notificarPedidosNuevos = function () {
                var x = document.getElementById("myAudio");
                var req = {
                    method: 'GET',
                    url: '../../../obtenerPedidosNotificar',
                    {% comment %}params: {
                        csrfmiddlewaretoken:"{{ csrf_token }}",
                    }{% endcomment %}
                };
                $http(req).success(function (response) {

                    if(response){
                        var estado = response[0].fields.id_estado;

                        if (estado == 1){
                            x.play();
                            $.notifier('success', 'Pedido Nuevo', 'Tienes un Nuevo Pedido', 'repeat', '10000');
                        }

                        if (estado == 10){
                            x.play();
                            $.notifier('danger', 'Pedido Cancelado', 'El pedido ha sido cancelado por el usuario', '', '10000');
                        }


                    }

                        });
            };
            $scope.actualizarPedidos = function () {
                var req = {
                    method: 'GET',
                    url: '../../../obtenerPedidos',
                    params: {
                        //txtBuscar: $scope.txtBuscar == undefined ? "" : $scope.txtBuscar
                    }
                };
                $http(req)
                        .success(function (response) {
                            $scope.datos = response.lista;
                            $scope.pedidos = [];
                            angular.forEach($scope.datos, function (value, key) {
                                $scope.pedidos.push(JSON.parse(value));
                            });
                            $scope.notificarPedidosNuevos();

                        });
            };
            $scope.actualizarPedidos();
            setInterval(function () {
                $scope.actualizarPedidos();
            }, 5000);
            setInterval(function () {
                $("#alerta").slideToggle();
            }, 3000);

            $scope.verDetalle = function (observaciones, id_pedido, op,recoger, estado) {
                ocultar = op;
                recoger = recoger;
                estado_id = estado;

                  if(ocultar){
                    $("#divOcultar").hide();
                    $("#divGuardar").hide();
                    $("#divGuardarX").hide();
                }else if(recoger)
                {
                    $("#divOcultar").show();
                    $("#divGuardar").hide();
                    $("#divGuardarX").show();
                    $("#divCancelar").show();
                }
                else if(estado_id == 'Cancelado por Cliente' || estado_id == 'Problema de Proveedor' || estado_id == 'Cancelado por Proveedor')
                {
                    $("#divOcultar").hide();
                    $("#divGuardar").hide();
                    $("#divGuardarX").hide();
                    $("#divCancelar").hide();

                }
                else if(estado_id == 'En Espera'){
                    $("#divCancelar").show();
                    $("#divGuardar").show();
                    $("#divGuardarX").hide();
                }

                else
                {
                    $("#divOcultar").hide();
                    $("#divGuardar").hide();
                    $("#divCancelar").hide();
                    $("#divGuardarX").hide();
                }


                $("tbody#detalle").html("");

                $.ajax({
                    data: {'id_pedido': id_pedido},
                    type: "get",
                    url: "/obtenerDetalle",
                    success: function (data) {
                        var obj;
                        for (i = 0; i < data.lista.length; i++) {

                            obj = JSON.parse(data.lista[i]);
                            console.log(obj);
                            $("#table_detalle").append("<tr><td>" + obj.nombre_producto + "</td><td>" + obj.tamaño
                                    + "</td><td>" + obj.cantidad_solicitada + "</td><td>"+parseFloat(obj.valor).toFixed(2)+"</td><td><del>"+obj.sinIngredientes+"</del></td></tr>");
                        }

                        $("div#observacion").html("<h5>Obsevaciones de pedido</h5><p  class='well well-sm'>" + obj.observaciones + "</p>");
                        $("input#pedido").val(id_pedido);
                    }

                });
            };
            $scope.cambiarEstadoEnviado = function () {

            };

        $scope.guardarEstado = function(id , estado) {

            tiempo = $("input#tiempo").val();
            var id_pedido= 0 ;
            if(id == -1)
                id_pedido = $("input#pedido").val();
            else
                    id_pedido = id;
            $.ajax({
                data: {'tiempo': 0,'id_pedido': id_pedido, 'estado':estado},
                type: "get",
                url: "/guardarEstado",
                success: function (data) {
                    //alert('confirmado');
                }
            });
        }

        });

        function guardarEstado(id , estado) {

             tiempo = $("input#tiempo").val();

              if(tiempo <= 0)
                {
                    alert("Introducir un numero positivo");
                    return false;
                }

            var id_pedido= 0 ;
            if(id == -1)
                id_pedido = $("input#pedido").val();
            else
                    id_pedido = id;
            console.log(id_pedido);
            $.ajax({
                data: {'tiempo': tiempo, 'id_pedido': id_pedido, 'estado':estado},
                type: "get",
                url: "/guardarEstado",
                success: function (data) {
                    $('#confirmar').modal('hide');
                    //alert('confirmado');
                }

            });
        }

        // Función para cancelar pedido de Proveedor

        function cancelarPedido(id, estado) {

            if(id == -1)
                id_pedido = $("input#pedido").val();
            else
                id_pedido = id;

            console.log(id_pedido);

            $.ajax({
            data: {'id_pedido': id_pedido, 'estado': estado},
            type: "get",
            url: "/cancelarPedido",
            success: function (data) {
                $('#confirmar').modal('hide');

            }
        })
        }

        // Fin de la función

        // Abrir o Cerrar Restaurante
        function openClose(e) {
            open_close = $("div.estado").html();
            if (open_close == 'Cerrado') {
                var focus=document.getElementById("estadoInicial");
                if(focus==null){}else {
                focus.id="";
                    }
                $("div.estado").html("Abierto");
                $("div.estado2").html("Cerrar");
                {% comment %}$("div#icon_power").html("<div id='icon_power' class='icon-success text-center'><i class='ti-power-off'></i></div>");{% endcomment %}
                $("div#icon_power").html("<div id='icon_power' class='icon-success text-center'><img src='/static/home/img/icons-web/abierto-web.png'></div>");
            } else {

                $("div.estado").html("Cerrado");
                $("div.estado2").html("Abrir");
                {% comment %}$("div#icon_power").html("<div id='icon_power' class='icon-danger text-center'><i class='ti-power-off'></i></div>");{% endcomment %}
                $("div#icon_power").html("<div id='icon_power' class='icon-danger text-center'><img src='/static/home/img/icons-web/cerrado-web.png'></div>");
            }
            $.ajax({
                data: {'estado': open_close },
                type: "get",
                url: "/openCloseRestaurante",
                success: function (data) {
                    //alert('confirmado');
                }
            });

        }

        // Ver detalles del pedido
        function verDetalle(observaciones, id_pedido) {

            if (observaciones == 'Sin Comentario') {
                observaciones = 'No hay observaciones para este pedido';
            }

            $("tbody#detalle").html("");

            $.ajax({
                data: {'id_pedido': id_pedido},
                type: "get",
                url: "/obtenerDetalle",
                success: function (data) {

                    for (i = 0; i < data.lista.length; i++) {

                        var obj = JSON.parse(data.lista[i]);
                        $("#table_detalle").append("<tr><td>" + obj.nombre_producto + "</td><td>" + parseFloat(obj.valor).toFixed(2)
                                + "</td><td>" + obj.cantidad_solicitada + "</td><td>Standart</td> </tr>");
                    }
                }
            });

            $("div#observacion").html("<h5>Obsevaciones de pedido</h5><p>" + observaciones + "</p>");
            $("input#pedido").val(id_pedido);
            //$("#table_detalle tr#detalle").append("<td>" + observaciones + "</td>");
        }





        // Guardar Estado de pendiente a confirmado
        //--------------------Estadísticas-----------------------
        /* $.ajax({
         url: '/estadisticas',
         success: function(data) {
         for (i = 0; i < data.platos_vendidos.length; i++) {
         var obj = JSON.parse(data.platos_vendidos[i]);
         //$('div#datos').append(data.platos_vendidos[i]);
         }*/

        google.load('visualization', '1', {'packages': ['corechart']});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var platosEst = [];
            var jsonData = $.ajax({
                url: "{% url 'estadisticas' %}",
                dataType: "json",
                async: false
            }).done(function (data) {
                var row = [];
                angular.forEach(data.platos_vendidos, function (value, key) {
                    row = [];
                    rowJson = JSON.parse(value);
                    row.push(rowJson.nombre);
                    row.push(rowJson.cantidad);
                    platosEst.push(row);
                });
            });
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Plato');
            data.addColumn('number', 'Cantidad');
            data.addRows(platosEst);

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('datos'));
            chart.draw(data, {title: 'Productos más vendidos', pieHole: 0.4, width: '100%', height: 400});
        }



        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawBarColors);

        function drawBarColors() {
            var ventas = [];
            var jsonData = $.ajax({
                url: "{% url 'ventasDiarias' %}",
                dataType: "json",
                async: false
            }).done(function (data) {
                var row = [];
                angular.forEach(data.datos, function (value, key) {
                    row = [];
                    rowJson = JSON.parse(value);
                    row.push(rowJson.dia_del_mes);
                    row.push(rowJson.cuenta_ventas);
                    row.push(parseFloat(rowJson.total_ventas));
                    ventas.push(row);
                });
            });

            var datos = new google.visualization.DataTable();

            datos.addColumn('string', 'Día');
            datos.addColumn('number', 'Ventas realizadas');
            datos.addColumn('number', 'Total de Ganancias');
          datos.addRows(ventas);

            var options = {
                title: 'Ventas Diarias',

                chartArea: {width: '50%', height: '80%'},
                colors: ['#dc3912','#3366cc'],
                hAxis: {
                    title: 'Total ventas',
                    minValue: 0
                },
                vAxis: {
                    title: 'Días'
                }
            };

            var myChart = new google.visualization.BarChart(document.getElementById('myChart'));
            myChart.draw(datos, options);
        }


    </script>

    <!-- Modal confirmar pedido-->
    <div class="modal fade" id="confirmar" tabindex="5" ng-controller="detalleCtrl"
         role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content ">
                <div class="modal-header modal-title">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
                </div>
                <div class="modal-body" ng-init="iniciar()">
                    <form name="dialog" style="width: 550px">
                        <div>
                            <h3 class="text_center" align="center"><strong>Resumen del pedido</strong></h3>
                        </div>
                        <div id="observacion"></div>
                        <input type="hidden" id="pedido">

                        <div>
                            <form action="#" method="POST">{% csrf_token %}
                                <table class="table table-striped" id="table_detalle">
                                    <thead>
                                    <tr>
                                        <th><strong>Plato</strong></th>
                                        <th><strong>Tamaño</strong></th>
                                        <th><strong>Cantidad</strong></th>
                                        <th><strong>Valor</strong></th>
                                        <th><strong>Sin</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody id="detalle">
                                    </tbody>
                                </table>
                                <div id="divOcultar" >
                                Tiempo estimado: <input class="input_minutos" id="tiempo" type="number" value="1"> en minutos.</div>
                            </form>
                        </div>
                    </form>
                    <br>

                    <div class="modal-footer">
                        <input id="divCancelar" ng-if="!ocultar" type="button" value="Rechazar Pedido" class="btn btn-default pull-left"
                               id="guardar-estado" onclick="cancelarPedido(-1, 'Cancelado por Proveedor')">

                        <button type="button" class="btn btn-default btn-cancel " data-dismiss="modal">Cerrar
                        </button>

                        <input id="divGuardar" ng-if="!ocultar" type="button" value="Confirmar" class="btn btn-default btn-ok"
                               id="guardar-estado" onclick="guardarEstado(-1,'En Proceso')">

                        <input id="divGuardarX" ng-if="ocultar" type="button" value="Confirmar" class="btn btn-default btn-ok"
                               id="guardar-estadodos" onclick="guardarEstado(-1,'Enviado')">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin modal -->

    <div class="wrapper" ng-app="proveedorLApp" ng-controller="proveedorLCtrl">
        <div class="sidebar" data-background-color="white" data-active-color="danger">
            <!--
                Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
                Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
            -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text"><img alt="" width="100" height="100" src="media/{{ perfil.ruta_foto }}"
                                                         id="IMG_5"/></a>
                </div>
                <ul class="nav">
                    <li class="active">
                        <a href="proveedor">
                            {% comment %}<i class="ti-panel"></i>{% endcomment %}
                            <img class="ti-panel test-colour" src="/static/home/img/icons-web/administracion.png">
                            <p class="panel-txt">Administración</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'proveedorApp.views.pedidosEntregados' %}">
{#                            <i class="ti-server"></i>#}
                            <img class="ti-panel test-colour" src="/static/home/img/icons-web/pedidos.png">
                            <p class="panel-txt">Todos los pedidos</p>
                        </a>
                    </li>
                    <li>
                        <a class="menu" href="#">
                            {% comment %}<i class="ti-agenda"></i>{% endcomment %}
                            <img class="ti-panel test-colour" src="/static/home/img/icons-web/facturas.png">
                            <p class="panel-txt">Facturas</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'misDatos' %}">
                            {% comment %}<i class="ti-user"></i>{% endcomment %}
                            <img class="ti-panel test-colour" src="/static/home/img/icons-web/perfil.png">
                            <p class="panel-txt">Mi perfil</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'miMenu' %}">
                            {% comment %}<i class="ti-bell"></i>{% endcomment %}
                            <img class="ti-panel test-colour" src="/static/home/img/icons-web/menu.png">
                            <p class="panel-txt">Mi Menú</p>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            {% comment %}<i class="ti-tag"></i>{% endcomment %}
                            <img class="ti-panel test-colour" src="/static/home/img/icons-web/promociones.png">
                            <p class="panel-txt">promociones</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {% comment %}<i class="ti-truck"></i>{% endcomment %}
                            <img class="ti-panel test-colour" src="/static/home/img/icons-web/transporte.png">
                            <p class="panel-txt">Entregas tiempo real</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {% comment %}<i class="ti-bell"></i>{% endcomment %}
                            <img class="ti-panel test-colour" src="/static/home/img/icons-web/notificaciones.png">
                            <p class="panel-txt">Notificaciones</p>
                        </a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="main-panel">

         <!--div id="alerta" class="alert alert-success alert-dismissable" style="width: 30%;">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <strong class="glyphicon glyphicon-info-sign">Tienes un nuevo ¡Pedido!</strong>
                                        <p>Hace unos segundos</p>
                                    </div-->

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand" href="#">Panel de Administración</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#">
                                    <p>Bienvenido, {{ sucursal.nombre_sucursal }}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <div class="icon-big icon-warning text-center">
                                                {% comment %}<i class="ti-server"></i>{% endcomment %}
                                                <img src="/static/home/img/icons-web/pedidos-web.png">
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="numbers">
                                                <p>Pedidos</p>
                                                {{ pedidos_entregados }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr/>
                                        <div class="stats">
                                            <i class="ti-calendar"></i> Hoy | Entregados
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <div class="icon-big icon-success text-center">
                                                {% comment %}<i class="ti-shopping-cart"></i>{% endcomment %}
                                                <img src="/static/home/img/icons-web/ventas-web.png">
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="numbers">
                                                <p>Ventas</p>

                                                $ {{ total_ventas |floatformat:2 }}


                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr/>
                                        <div class="stats">
                                            <i class="ti-calendar"></i> Hoy
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <div class="icon-big icon-danger text-center">
                                                {% comment %}<i class="ti-pulse"></i>{% endcomment %}
                                                <img src="/static/home/img/icons-web/perdidos-web.png">
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="numbers">
                                                <p>Perdidos</p>
                                                {% if total_ventas_perdidas > 0  %}
                                                    $ - {{ total_ventas_perdidas }}
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr/>
                                        <div class="stats">
                                            <i class="ti-timer"></i>Fallidos {{ pedidos_perdidos }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="padre" class="col-lg-3 col-sm-6">
                            <div id="" class="card">
                                <div class="content" onclick="openClose()">
                                    <div class="row" style="cursor: pointer">
                                        <div class="col-xs-5">
                                            <div id="icon_power" class="icon-big icon-success text-center">
                                                {% comment %}<i class="ti-power-off"></i>{% endcomment %}
                                                <img src='/static/home/img/icons-web/abierto-web.png'>
                                            </div>

                                        </div>
                                        <div class="col-xs-7">
                                            <div class="numbers">
                                                <p>Estado</p>
                                                    <div class="estado" >Abierto</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr/>
                                        <div class="stats">
                                            <i class="ti-reload"></i>
                                            <div class="estado2">Cerrar</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Pedidos:   <script>
                                            var meses = new Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
                                            var diasSemana = new Array("Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado");
                                            var f = new Date();
                                            document.write(diasSemana[f.getDay()] + ", " + f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
                                        </script></h4>
                                </div>
                                <div class="content">
                                    <!--input type="text" ng-model="txtBuscar" ng-change="change()"-->


                                    <div class="content table-responsive table-full-width" ng-cloak>
                                        <table class="table table-striped">
                                            <thead>

                                            <th><b>Pedido</b></th>
                                            <th><b>Cliente</b></th>
                                            <th><b>Fecha</b></th>
                                            <th><b>Dirección</b></th>
                                            <th><b>Tipo de Pago</b></th>
                                            <th><b>Tipo de Envío</b></th>
                                            <th><b>Valor</b></th>
                                            <th><b>Estado</b></th>
                                            <th><b>Detalle</b></th>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="pe in pedidos" ng-if="pe.estado != 'Entregado'">
                                                <td><i class="fa fa-plus-circle" aria-hidden="true" data-toggle="modal"
                                                            data-target="#confirmar" ng-click="verDetalle(pe.fields.observaciones, pe.pk, true,false )">
                                                    </i>//$index+1//</td>
                                                <td>// pe.cliente //</td>
                                                <td>// pe.fecha //</td>
                                                <td>// pe.direccion //</td>
                                                <td>// pe.tipo_pago //</td>
                                                <td>//pe.tipo_pedido//</td>
                                                <td>$ // pe.valor | number:2  //</td>
                                                <td> <span ng-if=" pe.estado == 'En Espera'" class="label label-danger"> // pe.estado //</span>
                                                     <span ng-if=" pe.estado == 'En Proceso'" class="label label-warning"> // pe.estado //</span>
                                                    <span ng-if=" pe.estado == 'Transportista en Espera'" class="label label-info"> // pe.estado //</span>
                                                    <span ng-if=" pe.estado == 'Enviado'" class="label label-primary"> // pe.estado //</span>
                                                    <span ng-if=" pe.estado == 'Salir a recoger'" class="label label-primary"> Enviado</span>
                                                    <span ng-if=" pe.estado == 'Entregado'" class="label label-success"> // pe.estado //</span>
                                                    <span ng-if=" pe.estado == 'Problema de Proveedor'" class="label label-danger"> // pe.estado //</span>
                                                    <span ng-if=" pe.estado == 'Cancelado por Cliente'" class="label label-danger"> // pe.estado //</span>
                                                    <span ng-if=" pe.estado == 'Cancelado por Proveedor'" class="label label-danger"> // pe.estado //</span>



                                                </td>
                                                <td>
                                                    <a ng-if="pe.tipo_pedido == 'A domicilio' ||   pe.tipo_pedido == 'Para recoger'" class="btn btn-success btn-fill" data-toggle="modal"
                                                            data-target="#confirmar"
                                                            ng-click="verDetalle(pe.fields.observaciones, pe.pk, false, false, pe.estado)">
                                                        Ver detalle
                                                    </a>
                                                </td>

                                                <td>
                                                    <input type="hidden" name="title" value="// source.title //">
                                                     <button ng-if="pe.estado == 'Transportista en Espera'" class="btn btn-info btn-fill"
                                                            ng-click="guardarEstado(pe.pk, 'Enviado')">Enviar
                                                    </button>

                                                      <button ng-if="pe.tipo_pedido == 'Para recoger' && pe.estado == 'En Proceso'" class="btn btn-success btn-fill"
                                                               ng-click="guardarEstado(pe.pk, 'Entregado')">Entregar
                                                    </button>
                                                    <!--input ng-if="pe.estado == 'Transportista en Espera'" type="button"
                                                           value="Enviar" class="btn btn-info btn-fill"
                                                        ng-click="guardarEstado(pe.pk, 'Enviado')"-->


                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="footer">
                                        <hr>
                                        <div class="stats">
                                            <i class="ti-reload"></i> Último pedido hace unos minutos
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Estadísticas</h4>
                                    <p class="category">Productos más vendidos</p>
                                </div>
                                <div class="content">
                                    <div id="datos"></div>
                                    <div class="footer">
                                        <hr>
                                        <div class="stats">
                                            <i class="ti-timer"></i> Mes actual
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card ">
                                <div class="header">
                                    <h4 class="title">Ventas Diarias</h4>
                                    <p class="category">
                                        <script>
                                            var meses = new Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
                                            var diasSemana = new Array("Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado");
                                            var f = new Date();
                                            document.write(meses[f.getMonth()] +' '+ f.getFullYear());
                                        </script></p>

                                </div>
                                <div class="content">
                                    <div id="myChart" style="width: 85%; height: 400px"></div>
                                    <div class="footer">
                                        <div class="chart-legend">

                                        </div>
                                        <hr>
                                        <div class="stats">
                                            <i class="ti-check"></i> Mes actual

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    var q=1;
            $.ajax({
                type: "get",
                url: "/openCloseRestauranteStatus",
                success: function (data) {
                    if(data){
                        //var focus=document.getElementById("estadoInicial");
                        //focus.id="";
                        $("div.estado").html("Abierto");
                        $("div.estado2").html("Cerrar");
                        {% comment %}$("div#icon_power").html("<div id='icon_power' class='icon-success text-center'><i class='ti-power-off'></i></div>");{% endcomment %}
                        $("div#icon_power").html("<div id='icon_power' class='icon-success text-center'><img src='/static/home/img/icons-web/abierto-web.png'></i></div>");
                    }else{
                        var focus=document.getElementById("padre");
                        focus.childNodes[1].id="estadoInicial";
                        $("div.estado").html("Cerrado");
                        {% comment %}$("div#icon_power").html("<div id='icon_power' class='icon-danger text-center'><i class='ti-power-off'></i></div>");{% endcomment %}
                        $("div#icon_power").html("<div id='icon_power' class='icon-danger text-center'><img src='/static/home/img/icons-web/cerrado-web.png'></i></div>");
                        $("div.estado2").html("Abrir");
                         setTimeout(function(){ focus.childNodes[1].id=""; }, 5000);
                    }
                }, complete: function (data) {


                }
            });

    </script>
<script src="{% static 'proveedor/js/paper-dashboard.js' %}"></script>


{% endblock content %}
{% include 'bases/sucursal_fooder.html' %}