{% extends "admin/base.html" %}

{% block title %} <title> {{ title }} | {{ site_title|default:_('Django site admin') }} </title>{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Administraci&oacute;n SPA</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
