{% extends 'home/base.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'bases/sucursal_head.html' %}
    {% block title %}
        <title>Acerca de</title>
    {%endblock title%}


    <div class="wrapper">
        <div class="sidebar" data-background-color="white" data-active-color="danger">
            <div class="sidebar-wrapper">
                <ul class="nav">

                    <li class="active">
                        <a href="#">
                            <i class="ti-panel"></i>
                            <p>Empresa</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'terminos_condiciones' %}">
                            <i class="ti-panel"></i>
                            <p>Términos y Condiciones</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="container">

                            <h2>GoodAppetit</h2>

                            <h3>INFORMACIÓN DE OFICINAS</h3>
                            <p>Quo-Hub</p>
                            <p>Calle Crisantemos y Anturios 13 - 15</p>
                            <p>Telf. (07) 210-2999</p>
                            <p>Loja - Ecuador</p>

                            <h3>Equipo</h3>
                            <h5>Nodo</h5>
                            <ul>
                                <li><p>Ing. Jorge Barba</p></li>
                            </ul>
                            <h5>CIDSecure</h5>
                            <ul>
                                <li><p>Ing. Rommel Macas</p></li>
                            </ul>
                            <br><br>

                            <p>&copy; 2016-2017 GoodAppetit</p>
                            <p>versión 1.0.0 (beta)</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}
