{% extends 'home/base.html' %} {% load staticfiles %}
{% block menuDesple %}
        <li role="separator" class="divider"></li>
        <li><a href="/cerrarP">Cerrar Sesion</a></li>
    {% endblock menuDesple  %}
{% block content %}
    {% include 'bases/sucursal_head.html' %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
        var proveedorLApp = angular.module('proveedorLApp', ['ngRoute', 'ngTable'])
                .config(
                        function ($interpolateProvider, $httpProvider) {
                            $interpolateProvider.startSymbol('//');
                            $interpolateProvider.endSymbol('//');
                            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
                        }
                );


        var rows = [], empleados = [], row, texto;
        var punto;
        var map, measureControls, vectorLayer;
        var ocultar = false;
        proveedorLApp.controller('detalleCtrl', function ($scope, $http) {
            $scope.ocultar = ocultar;
            $scope.iniciar = function () {
                $scope.ocultar = ocultar;
            }
        });
        proveedorLApp.controller('proveedorLCtrl', function ($scope, $http, ngTableParams, $interval) {
            $scope.actualizarPedidos = new ngTableParams(
                    {
                        page: 1,
                        count: 10,
                        sorting: {
                            id: 'asc'     // initial sorting
                        }
                    },
                    {
                        counts: [10, 20, 50, 100, 200, 500],
                        total: 1,
                        getData: function ($defer, params) {
                            var req = {
                                method: 'GET',
                                url: '../../../admin_seguimiento',
                                params: {
                                    count: params.count(),
                                    page: params.page(),
                                    name: params.filter().name,
                                    code: params.filter().code
                                }
                            };
                            $http(req)
                                .success(function (response) {
                                    $scope.datos = response.lista;
                                    $scope.pedidos = [];
                                    angular.forEach($scope.datos, function (value, key) {
                                        $scope.pedidos.push(JSON.parse(value))
                                    });
                            });
                        }
                    }


            );

            $scope.actualizarPedidos.reload();
            var intervalo = setInterval(function () {
                $scope.actualizarPedidos.reload();
            }, 3000);
            setInterval(function () {
                $("#alerta").slideToggle();
            }, 3000);

            var intervalo2 = null;

            $scope.reset = function () {
                $scope.actualizarPedidos.reload();
                intervalo2 = setInterval(function () {
                    $scope.actualizarPedidos.reload();
                }, 3000);
                document.getElementById('searchTerm').value ="";
                document.getElementById('limpiar').disabled = true;

            };

            $scope.buscador_prueba = function () {
                var searchText = document.getElementById('searchTerm').value.toLowerCase();

                if(searchText.length>0) {
                    document.getElementById('limpiar').disabled = false;
                    $interval.cancel();
                    clearInterval(intervalo);
                    clearInterval(intervalo2);
                }else{
                    document.getElementById('limpiar').disabled = true;
                    $scope.actualizarPedidos.reload();
                }
            };



            /*$("#alerta").hide();
            $scope.actualizarPedidos = function () {
                var req = {
                    method: 'GET',
                    url: '../../../admin_seguimiento',
                    params: {

                    }
                };
                $http(req)
                        .success(function (response) {
                            $scope.datos = response.lista;
                            $scope.pedidos = [];
                            angular.forEach($scope.datos, function (value, key) {
                                $scope.pedidos.push(JSON.parse(value))
                            });
                        });
            }
            $scope.actualizarPedidos();
            setInterval(function () {
                $scope.actualizarPedidos();
            }, 5000);
            setInterval(function () {
                $("#alerta").slideToggle();
            }, 3000);
             */

            $scope.verDetalle = function (observaciones, id_pedido, op) {
                ocultar = op;
                if(op){
                    $("#divOcultar").hide();
                    $("#divGuardar").hide();
                }else
                {
                    $("#divOcultar").show();
                    $("#divGuardar").show();
                }



                $("tbody#detalle").html("");

                $.ajax({
                    data: {'id_pedido': id_pedido},
                    type: "get",
                    url: "/obtenerDetalle",
                    success: function (data) {
                        var obj;
                        for (i = 0; i < data.lista.length; i++) {
                            console.log(data.lista[i].valor);
                            obj = JSON.parse(data.lista[i]);
                            $("#table_detalle").append("<tr><td>" + obj.nombre_producto + "</td><td>" + parseFloat(obj.valor).toFixed(2)
                                    + "</td><td>" + obj.cantidad_solicitada + "</td><td>"+obj.tamaño+"</td><td>"+obj.sinIngredientes+"</td></tr>");
                        }

                        $("div#observacion").html("<h5>Obsevaciones de pedido</h5><p>" + obj.observaciones + "</p>");
                        $("input#pedido").val(id_pedido);
                    }

                });
            $scope.guardarEstado = function(id , estado) {

            tiempo = $("input#tiempo").val();
            var id_pedido= 0 ;
            if(id == -1)
                id_pedido = $("input#pedido").val();
            else
                    id_pedido = id;
            $.ajax({
                data: {'tiempo': 0,'id_pedido': id_pedido, 'estado':estado},
                type: "get",
                url: "/save_estado",
                success: function (data) {
                    //alert('confirmado');
                }
            });
        }


            }
            $scope.cambiarEstadoEnviado = function () {

            }



        });



        function guardarEstado(id , estado) {

             tiempo = $("input#tiempo").val();

              if(tiempo <= 0)
                {
                    alert("Introducir un numero positivo");
                    return false;
                }


            var id_pedido= 0 ;
            if(id == -1)
                id_pedido = $("input#pedido").val();
            else
                    id_pedido = id;
            $.ajax({
                data: {'tiempo': tiempo, 'id_pedido': id_pedido, 'estado':estado},
                type: "get",
                url: "../../../save_estado",
                success: function (data) {
                    $('#confirmar').modal('hide');
                    //alert('confirmado');
                }

            });
        }

        // Ver detalles del pedido
        function verDetalle(observaciones, id_pedido) {

            if (observaciones == 'Sin Comentario') {
                observaciones = 'No hay observaciones para este pedido';
            }

            $("tbody#detalle").html("");

            $.ajax({
                data: {'id_pedido': id_pedido},
                type: "get",
                url: "/obtenerDetalle",
                success: function (data) {

                    for (i = 0; i < data.lista.length; i++) {
                        console.log(data.lista[i].valor);
                        var obj = JSON.parse(data.lista[i]);
                        $("#table_detalle").append("<tr><td>" + obj.nombre_producto + "</td><td>" + parseFloat(obj.valor).toFixed(2)
                                + "</td><td>" + obj.cantidad_solicitada + "</td><td>Standart</td> </tr>");
                    }
                }
            });

            $("div#observacion").html("<h5>Obsevaciones de pedido</h5><p>" + observaciones + "</p>");
            $("input#pedido").val(id_pedido);
            //$("#table_detalle tr#detalle").append("<td>" + observaciones + "</td>");
        }

        // Guardar Estado de pendiente a confirmado
    </script>

    <div class="modal fade" id="confirmar" tabindex="5" ng-controller="detalleCtrl"
         role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
                </div>
                <div class="modal-body" ng-init="iniciar()">
                    <form name="dialog" style="width: 500px">
                        <div>
                            <h3 class="text_center">Resumen del pedido</h3>
                        </div>
                        <div id="observacion"></div>
                        <input type="hidden" id="pedido">

                        <div>
                            <form action="#" method="POST">{% csrf_token %}
                                <table class="table table-striped" id="table_detalle">
                                    <thead>
                                    <tr>
                                        <th>Plato</th>
                                        <th>valor</th>
                                        <th>cantidad</th>
                                        <th>Tamaño</th>
                                        <th>Sin</th>
                                    </tr>
                                    </thead>
                                    <tbody id="detalle">
                                    </tbody>
                                </table>
                                <div id="divOcultar" >
                                Tiempo estimado: <input class="input_minutos" id="tiempo" type="number" value="1"> en minutos.</div>
                            </form>
                        </div>
                    </form>

                    <div class="modal-footer">
                        <button class="btn btn-success btn-fill" style="background-color: #D9534F" onclick="guardarEstado(-1, 'En Espera')">Espera
                        </button>
                        <input id="divGuardar" ng-if="!ocultar" style="background-color: #F0AD4E" type="button" value="Proceso" class="btn btn-default" data-dismiss="modal"
                               id="guardar-estado" onclick="guardarEstado(-1,'En Proceso')">
                        <button  class="btn btn-success btn-fill" style="background-color: #5BC0DE" onclick="guardarEstado(-1, 'Transportista en Espera')">Trs espera
                        </button>
                        <button  class="btn btn-success btn-fill" style="background-color: #337AB7" onclick="guardarEstado(-1, 'Enviado')">Enviado
                        </button>
                        <button  class="btn btn-success btn-fill" style="background-color: #5CB85C" onclick="guardarEstado(-1, 'Entregado')">Entregado
                        </button><br><br>
                        <center><button  class="btn btn-success btn-fill" style="background-color: #337AB7" onclick="guardarEstado(-1, 'Salir a recoger')">Salir a recoger
                        </button>
                        <button class="btn btn-success btn-fill" style="background-color: #D9534F" onclick="guardarEstado(-1, 'Cancelado por Cliente')">Cancelado por Cliente
                        </button>
                        <button class="btn btn-success btn-fill" style="background-color: #D9534F" onclick="guardarEstado(-1, 'Cancelado por Proveedor')">Cancelado por Proveedor
                        </button></center>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="wrapper" ng-app="proveedorLApp" ng-controller="proveedorLCtrl">
        <div class="sidebar" data-background-color="white" data-active-color="danger">
            <!--
                Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
                Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
            -->

            <div class="sidebar-wrapper">

                <ul class="nav">
                    <li >
                        <a href="{% url 'proveedor_admin' %}">
                            <i class="ti-server"></i>
                            <p>Proveedores</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <i class="ti-panel"></i>

                            <p>Administración</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'admin_transportista' %}" >
                            <i class="ti-map-alt"></i>
                            <p>Transportistas</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'sugerencias_admin' %}">
                            <i class="ti-agenda"></i>

                            <p>Sugerencias</p>
                        </a>
                    </li>

                </ul>

            </div>
        </div>

        <div class="main-panel">

         <!--div id="alerta" class="alert alert-success alert-dismissable" style="width: 30%;">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <strong class="glyphicon glyphicon-info-sign">Tienes un nuevo ¡Pedido!</strong>
                                        <p>Hace unos segundos</p>
                                    </div-->

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand" href="#">Panel de Administración</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#">
                                    <p>Bienvenido, {{ sucursal.nombre_sucursal }}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Todos los Pedidos</h4>

                                    <p class="category">
                                        <script>
                                            var meses = new Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
                                            var diasSemana = new Array("Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado");
                                            var f = new Date();
                                            document.write(diasSemana[f.getDay()] + ", " + f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
                                        </script>
                                    </p>
                                </div>
                                <div class="content">
                                    <input placeholder="Buscar" type="text" onkeyup="buscador()" ng-keydown="buscador_prueba()" id="searchTerm">
                                    <button ng-Click="reset()" id="limpiar">Limpiar</button>


                                    <div class="content table-responsive table-full-width">
                                        <div id="loading"><h3>cargando...</h3></div>

                                        <table ng-table="actualizarPedidos" class="table table-striped" id="datos">
                                            <thead>

                                            <th>Pedido</th>
                                            <th>Cliente</th>
                                            <th>Proveedor</th>
                                            <th>Fecha</th>
                                            <th>Direccion</th>
                                            <th>Tipo de Pago</th>
                                            <th>Tipo de Envio</th>
                                            <th>valor</th>
                                            <th>Estado</th>
                                            <th>Detalle</th>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="pe in pedidos">
                                                <td><i class="fa fa-plus-circle" aria-hidden="true" data-toggle="modal"
                                                            data-target="#confirmar" ng-click="verDetalle(pe.fields.observaciones, pe.pk, true )">
                                                    </i>//$index+1//</td>
                                                <td>// pe.cliente //</td>
                                                <td>// pe.sucursal //</td>
                                                <td>// pe.fecha //</td>
                                                <td>// pe.direccion //</td>
                                                <td>// pe.tipo_pago //</td>
                                                <td>//pe.tipo_pedido//</td>
                                                <td>$ // pe.valor | number:2  //</td>
                                                <td> <span ng-if=" pe.estado == 'En Espera'" class="label label-danger"> // pe.estado //</span>
                                                     <span ng-if=" pe.estado == 'En Proceso'" class="label label-warning"> // pe.estado //</span>
                                                    <span ng-if=" pe.estado == 'Transportista en Espera'" class="label label-info"> // pe.estado //</span>
                                                    <span ng-if=" pe.estado == 'Enviado'" class="label label-primary"> // pe.estado //</span>
                                                    <span ng-if=" pe.estado == 'Salir a recoger'" class="label label-primary"> // pe.estado //</span>
                                                    <span ng-if=" pe.estado == 'Entregado'" class="label label-success"> // pe.estado //</span>
                                                    <span ng-if=" pe.estado == 'Problema de Proveedor'" class="label label-danger"> // pe.estado //</span>
                                                    <span ng-if=" pe.estado == 'Cancelado por Cliente'" class="label label-danger"> // pe.estado //</span>
                                                    <span ng-if=" pe.estado == 'Cancelado por Proveedor'" class="label label-danger"> // pe.estado //</span>
                                                </td>

                                                <td>
                                                    <input type="hidden" name="title" value="// source.title //">

                                                    <!--input ng-if="pe.estado == 'Transportista en Espera'" type="button"
                                                           value="Enviar" class="btn btn-info btn-fill"
                                                        ng-click="guardarEstado(pe.pk, 'Enviado')"-->

                                                    <button class="btn btn-success btn-fill" data-toggle="modal"
                                                            data-target="#confirmar"
                                                            ng-click="verDetalle(pe.fields.observaciones, pe.pk, false )">
                                                        Ver detalle
                                                    </button>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="footer">
                                        <hr>
                                        <div class="stats">
                                            <i class="ti-reload"></i> Último pedido hace unos minutos
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

<script src="{% static 'proveedor/js/paper-dashboard.js' %}"></script>


<!-- Buscador de pedidos   -->
<script type="text/javascript">
    function buscador() {
        var tabIngredientes = document.getElementById('datos');
        var searchText = document.getElementById('searchTerm').value.toLowerCase();
        var celda = "";
        var found = false;
        var comparador = "";

        // recorremos filas
        for (var i = 1; i <= tabIngredientes.rows.length; i++){
            celda = tabIngredientes.rows[i].getElementsByTagName('td');
            found = false;
            // recorre las celdas
            for (var j = 0; j <= 8 && !found; j++){
                comparador = celda[j].innerHTML.toLowerCase();
                // buscamos el texto que contiene la celda
                if (searchText.length == 0 || (comparador.indexOf(searchText) >= 0)){
                    found = true;
                }
            }
            if(found){
                tabIngredientes.rows[i].style.display = '';
                tabIngredientes.rows[0].style.display = '';
            }else{
                tabIngredientes.rows[i].style.display = 'none';
            }
        }
    }
</script>

<script type="text/javascript">
   $(document).ready(function() {
        setTimeout(function() {
            $("#loading").fadeOut(1000);
        },1000);
    });

</script>
{% endblock content %}
{% include 'bases/sucursal_fooder.html' %}