{% extends 'home/base.html' %}{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="https://openlayers.org/en/v3.20.1/css/ol.css" type="text/css">
    <script src="https://openlayers.org/en/v3.20.1/build/ol.js"></script>
{% endblock %}

{% block menuDesple %}
    <li role="separator" class="divider"></li>
    <li><a href="/cerrarP">Cerrar Sesion</a></li>
{% endblock menuDesple  %}

{% block content %}
{% include 'bases/sucursal_head.html' %}


<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="{% url 'proveedor_admin' %}">
                        <i class="ti-server"></i>
                        <p>Proveedores</p>
                    </a>

                </li>
                <li>
                    <a href="{% url 'seguimiento' %}">
                        <i class="ti-panel"></i>
                        <p>Administración</p>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <i class="ti-map-alt"></i>
                        <p>Transportistas</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'sugerencias_admin' %}">
                        <i class="ti-agenda"></i>
                        <p>Sugerencias</p>
                    </a>
                </li>

            </ul>

        </div>
    </div>


    <div class="main-panel">

        <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand" href="#">Panel de Administración</a>

                    </div>
                </div>
        </nav>


        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h3>Transportistas</h3>

                            </div>
                            <div id="map" style="width: 100%; height: 500px;">
                            </div><br>
                            <div id="info"></div>
                        </div>

                        <div class="card">
                            <div class="header">
                                <h3>Pedidos a domicilio</h3>

                            </div>
                            <div id="map2" style="width: 100%; height: 500px; border: 2px solid red;">
                            </div><br>
                            <div id="info2"></div>
                        </div>
                    </div>

                </div>
            </div>
                    <br><br>


        </div>
</div>
</div>




    <script>

        var vectorSource = new ol.source.Vector();
        var cache = {};

        function style(feature) {
            var key = feature.get('id_transportista');

            if (!cache[key]) {
                cache[key] = new ol.style.Style();
            }
            return cache[key];
        }

        function flickrStyle(feature) {
            return [style(feature)];
        }

        function selectedStyle(feature) {
            return [style(feature)];
        }

        var flickrLayer = new ol.layer.Vector({
            source: vectorSource,
            style: flickrStyle
        });

        var layer = new ol.layer.Tile({
            source: new ol.source.OSM()
        });

        var center = ol.proj.transform([-79.1945637,-3.9971979], 'EPSG:4326', 'EPSG:3857');

        var view = new ol.View({
            center: center,
            zoom: 13
        });

        var map = new ol.Map({
            target: 'map',
            layers: [layer, flickrLayer],
            view: view
        });

        setInterval(function () {

            var select = new ol.interaction.Select({
                layers: [flickrLayer],
                style: selectedStyle
            });
            map.addInteraction(select);

            var selectedFeatures = select.getFeatures();

            selectedFeatures.on('add', function(event) {
                console.log('click en transportista');
                var feature = event.target.item(0);
                var transportista = feature.get('id_transportista');

                $('#info').html('<b>Tipo: </b>'+transportista.tipo_transporte + '<br>' +
                                '<b>Estado: </b>' + transportista.estado + '<br>' +
                                '<b>Teléfono: </b>' + transportista.numero);
            });


            selectedFeatures.on('remove', function(event) {
                $('#info').empty();
            });


            function successHandler(data) {

                //console.log('Transportistas', data);
                //console.log(data[0].longitud + data[0].latitud);

                var transform = ol.proj.getTransform('EPSG:4326', 'EPSG:3857');
                vectorSource.clear();
                data.forEach(function(item) {
                    var feature = new ol.Feature(item);
                    var coordinate = transform([parseFloat(item.longitud), parseFloat(item.latitud)]);
                    var geometry = new ol.geom.Point(coordinate);
                    feature.setGeometry(geometry);
                    vectorSource.addFeature(feature);

                    var id_transp = feature.get('id_transportista');


                    if (id_transp.estado == 'ocupado'){
                        feature.setStyle(new ol.style.Style({
                            image: new ol.style.Icon(({
                              color: '#eef43a',
                              crossOrigin: 'anonymous',
                              src: 'https://openlayers.org/en/v4.1.1/examples/data/dot.png'
                            }))
                        }));

                    } else {

                        feature.setStyle(new ol.style.Style({
                            image: new ol.style.Icon(({
                              color: '#237c17',
                              crossOrigin: 'anonymous',
                              src: 'https://openlayers.org/en/v4.1.1/examples/data/dot.png'
                            }))
                        }));

                    }


                });


            }

            $.ajax({
              url: '/api/rest/TranspCoord',
              dataType: 'json',
              success: successHandler
            });

        }, 5000);


    </script>

<!----------------------- PEDIDOS ----------------------------------------------------------------->

    <script>

        var vectorSource2 = new ol.source.Vector();
        var cache2 = {};


        function style2(feature) {
            //console.log('Pedidos', feature);
            var key2 = feature.get('id_pedido');
            if (!cache2[key2]) {

                cache2[key2] = new ol.style.Style();

            }
            return cache2[key2];
        }

        function flickrStyle2(feature) {
            return [style2(feature)];
        }

        function selectedStyle2(feature) {
            return [style2(feature)];
        }

        var flickrLayer2 = new ol.layer.Vector({
            source: vectorSource2,
            style: flickrStyle2
        });

        var layer2 = new ol.layer.Tile({
            source: new ol.source.OSM()
        });

        var center2 = ol.proj.transform([-79.1945637,-3.9971979], 'EPSG:4326', 'EPSG:3857');

        var view2 = new ol.View({
            center: center2,
            zoom: 13
        });

        var map2 = new ol.Map({
            target: 'map2',
            layers: [layer2, flickrLayer2],
            view: view2
        });


        setInterval(function () {

            var select2 = new ol.interaction.Select({
                layers: [flickrLayer2],
                style: selectedStyle2
            });
            map2.addInteraction(select2);

            var selectedFeatures2 = select2.getFeatures();

            selectedFeatures2.on('add', function(event) {
                var feature2 = event.target.item(0);
                var fecha = feature2.get('fecha');
                var sucursal = feature2.get('id_sucursal');
                var estado = feature2.get('id_estado');
                var tiempo = feature2.get('tiempo');
                var usuario = feature2.get('usuario');

                $('#info2').html('<b>Sucursal:</b> ' + sucursal.nombre_sucursal + '<br>' +
                                '<b>Estado:</b> ' + '<b>' + estado.estado+ '</b>' + '<br>' +
                                '<b>Hora:</b> ' + fecha + '<br>' +
                                '<b>Tiempo de entrega:</b> ' + tiempo + ' min' + '<br>' +
                                '<b>Cliente:</b> ' + usuario.first_name + ' ' + usuario.last_name
                );
            });


            selectedFeatures2.on('remove', function(event) {
                $('#info2').empty();
            });

            function successHandler2(data) {
                //console.log('Pedidos', data);
                var transform2 = ol.proj.getTransform('EPSG:4326', 'EPSG:3857');
                data.forEach(function(item) {
                    var feature2 = new ol.Feature(item);
                    var coordinate2 = transform2([parseFloat(item.id_direccion.longitud),
                                                parseFloat(item.id_direccion.latitud)]);
                    var geometry2 = new ol.geom.Point(coordinate2);
                    feature2.setGeometry(geometry2);
                    vectorSource2.addFeature(feature2);

                    var estado2 = feature2.get('id_estado');

                    if (estado2.estado == 'En Espera'){
                        feature2.setStyle(new ol.style.Style({
                            image: new ol.style.Icon(({
                              color: '#f70939',
                              crossOrigin: 'anonymous',
                              src: 'https://openlayers.org/en/v4.1.1/examples/data/dot.png'
                            }))
                        }));

                    } else {

                        feature2.setStyle(new ol.style.Style({
                            image: new ol.style.Icon(({
                              color: '#3023f7',
                              crossOrigin: 'anonymous',
                              src: 'https://openlayers.org/en/v4.1.1/examples/data/dot.png'
                            }))
                        }));

                    }
                });
            }

            $.ajax({
                url: '/api/rest/PedidosDiaTodos',
                dataType: 'json',
                success: successHandler2
            });

        }, 5000);

    </script>



{% endblock %}