{% extends 'home/base.html' %}
{% load staticfiles %}

{% block analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84799207-1', 'auto');
      ga('send', 'pageview');
    </script>
{% endblock %}

 {% block content %}
  {% block title %}
    <title>Registro</title>
  {%endblock title%}
  <link href="{% static 'home/css/login.css' %}" rel="stylesheet" />
     
    <div class="login">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        {% for message in messages %}
                        <h3><li style="color: red" class="{{ message.tags }}">{{ message }}</li></h3>
                    {% endfor %}
                        <h3>CONTACTO</h3>
                    </div>
                    <div class="socialLogin-separator">
                        <span>o</span>
                        <hr>
                    </div>
                    <br>
                </div>
                <div class="form-bottom">
                    <form class="form-horizontal" method="POST" onsubmit="return checkform(this);">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="control-label">Nombre del propietario</label>
                            {{ form.nombre_propietario }}
                            {{ form.errors.nombre_propietario }}

						  </div>
						  <div class="form-group">
                              <label class="control-label">Apellidos</label>
                              {{ form.apellidos }}
                            {{ form.errors.apellidos }}
						  </div>
						  <div class="form-group">
                              <label class="control-label">Ciudad</label>
						    {{ form.ciudad }}
                            {{ form.errors.ciudad }}
						  </div>
						  <div class="form-group">
                              <label class="control-label">Nombre de la empresa</label>
						    {{ form.nombre_empresa }}
                            {{ form.errors.nombre_empresa }}
						  </div>
						  <div class="form-group">
                              <label class="control-label">Dirección</label>
						    {{ form.direccion }}
                            {{ form.errors.direccion }}
						  </div>
						  <div class="form-group">
                              <label class="control-label">Tipo de negocio</label>
						    {{ form.tipo_negocio }}
                            {{ form.errors.tipo_negocio }}
						  </div>
						  <div class="form-group">
                              <label class="control-label">Teléfono</label>
						    {{ form.telefono }}
                              {{ form.errors.telefono }}
						  </div>
                          <div class="form-group">
						    <label for="email" class="control-label">Correo Electrónico</label>
						    <div class="col-sm-13">
						      <input type="email" required class="form-control" id="email" name="email">
						    </div>
						  </div>

                       <font color="#DD0000">Ingrese código de seguridad ></font> <span id="txtCaptchaDiv" style="background-color:#A51D22;color:#FFF;padding:5px"></span>
                        <input type="hidden" id="txtCaptcha" />
                        <input type="text" name="txtInput" id="txtInput" size="15" />


						  <div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
						      <br><button type="submit" class="btn btn-default">Enviar</button>
						    </div>
						  </div>
                        


                    </form>
                    <br/>
                   
                </div>
            </div>
        </div>
    </div>
     <script>
     
     function numeros(e) {
       var keynum = window.event ? window.event.keyCode : e.which;
       if ((keynum == 8) || (keynum == 46))
            return true;
       return /\d/.test(String.fromCharCode(keynum));
         
     }

     </script>

     <script>
        function checkform(theform){
        var why = "";

        if(theform.txtInput.value == ""){
        why += "- El código de seguridad no puede estar vacío\n";
        }
        if(theform.txtInput.value != ""){
        if(ValidCaptcha(theform.txtInput.value) == false){
        why += "- Código de seguridad incorrecto\n";
        }
        }
        if(why != ""){
        alert(why);
        return false;
        }
        }

        //Generates the captcha function
        var a = Math.ceil(Math.random() * 9)+ '';
        var b = Math.ceil(Math.random() * 9)+ '';
        var c = Math.ceil(Math.random() * 9)+ '';
        var d = Math.ceil(Math.random() * 9)+ '';
        var e = Math.ceil(Math.random() * 9)+ '';

        var code = a + b + c + d + e;
        document.getElementById("txtCaptcha").value = code;
        document.getElementById("txtCaptchaDiv").innerHTML = code;

        // Validate the Entered input aganist the generated security code function
        function ValidCaptcha(){
        var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
        var str2 = removeSpaces(document.getElementById('txtInput').value);
        if (str1 == str2){
            return true;

        }else{
            return false;
        }
        }

        // Remove the spaces from the entered and generated code
        function removeSpaces(string){
        return string.split(' ').join('');
        }
    </script>
{% endblock %}


	