{% extends 'home/base.html' %}{% load staticfiles %}

{% block title %} <title>Nuevo Proveedor</title> {% endblock title %}

{% block jquery %}<script src="{% static 'home/js/jquery-3.0.0.min.js' %}" type="text/javascript"></script> {% endblock %}

{% block menuDesple %}

    <li role="separator" class="divider"></li>
    <li><a href="/cerrar">Cerrar Sesion</a></li>
{% endblock menuDesple %}

{% block content %}
    {% include 'bases/sucursal_head.html' %}

    <div class="wrapper">

        <div class="sidebar" data-background-color="white" data-active-color="danger">
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="{% url 'proveedor_admin' %}">
                            <i class="ti-panel"></i>
                            <p>Proveedores</p>
                        </a>
                    </li>
                    <li class="active">
                        <a><p>Nueva sucursal</p></a>
                    </li>
                    <li>
                        <a href="{% url 'seguimiento' %}">
                            <i class="ti-panel"></i>
                            <p>Administración</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ti-map-alt"></i>
                            <p>Transportistas</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'sugerencias_admin' %}">
                            <i class="ti-agenda"></i>
                            <p>Sugerencias</p>
                        </a>
                    </li>

                </ul>

            </div>
        </div>

        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="container">
                            <form class="post-form fields-active ng-pristine ng-valid" method="POST"
                                  onsubmit="return checkForm(this);">

                                <h2>Crear Usuario</h2>
                                <div class="container">
                                    {% csrf_token %}

                                    <div class="row">
                                        <label for="correo" class="col-sm-2 control-label">Correo electrónico</label>
                                        <div class="col-sm-8">
                                            {{ form.username }}
                                            {{ form.errors.username }}

                                        </div>
                                     </div>

                                    <div class="row">
                                        <label for="password" class="col-sm-2 control-label">Contraseña</label>
                                        <div class="col-sm-8">
                                          {{ form.password1 }}
                                            {{ form.errors.password1 }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <label for="confirmPassword" class="col-sm-2 control-label">Confirmar contraseña</label>
                                        <div class="col-sm-8">
                                          {{ form.confirmPassword }}
                                            {{ form.errors.confirmPassword }}
                                        </div>
                                    </div>
                                    <p id="error"></p>

                                    <div class="row">
                                        <label for="id_first_name" class="col-sm-2 control-label">Nombres</label>
                                        <div class="col-sm-8">
                                          {{ form.first_name }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="id_last_name" class="col-sm-2 control-label">Apellidos</label>
                                        <div class="col-sm-8">
                                          {{ form.last_name }}
                                        </div>
                                    </div>

                                    <h2>Crear Nueva Sucursal</h2>

                                    <div class="row">
                                        <label for="nombre_sucursal" class="col-sm-2 control-label">Nombre de sucursal</label>
                                        <div class="col-sm-8">
                                          {{ form.nombre_sucursal }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="dias_atencion" class="col-sm-2 control-label">Días de atención</label>
                                        <div class="col-sm-8">
                                          De: {{ form.dias_atencion_desde }} A: {{ form.dias_atencion_hasta }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="dias_atencion" class="col-sm-2 control-label">Teléfono</label>
                                        <div class="col-sm-8">
                                          {{ form.telefono }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="hora_atencion" class="col-sm-2 control-label">Hora de atención</label>
                                        <div class="col-sm-8">
                                          Inicio: {{ form.hora_atencion_hora_inicio }} : {{ form.hora_atencion_minuto_inicio }} Fin: {{ form.hora_atencion_hora_fin }} : {{ form.hora_atencion_minuto_fin }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="activo" class="col-sm-2 control-label">Activo</label>
                                        <div class="col-sm-8">
                                          {{ form.activo }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="hora_pico" class="col-sm-2 control-label">Hora pico</label>
                                        <div class="col-sm-8">
                                          {{ form.hora_pico_hora }} : {{ form.hora_pico_minuto }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="descripcion" class="col-sm-2 control-label">Descripción</label>
                                        <div class="col-sm-8">
                                          {{ form.descripcion }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <label for="id_ciudad" class="col-sm-2 control-label">Ciudad</label>
                                        <div class="col-sm-8">
                                          <select class="form-control fields-pl" name="ciudad">
                                             <option value="">Escoger ciudad</option>
                                              {% for ciu in ciudad %}
                                                  <option value="{{ ciu.pk }}" name="ciudad">{{ ciu.nombre }}</option>
                                              {% endfor %}
                                          </select>
                                        </div>
                                    </div>

                                    <h4>Dirección</h4>
                                    <div class="row">
                                        <label for="razon_social" class="col-sm-2 control-label">Calle principal</label>
                                        <div class="col-sm-8">
                                          {{ form.calle_principal }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="razon_social" class="col-sm-2 control-label">Calle secundaria</label>
                                        <div class="col-sm-8">
                                          {{ form.calle_secundaria }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="razon_social" class="col-sm-2 control-label">Número de casa</label>
                                        <div class="col-sm-8">
                                          {{ form.numero_casa }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="razon_social" class="col-sm-2 control-label">Referencia</label>
                                        <div class="col-sm-8">
                                          {{ form.referencia }}
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="container"> <br><br>
                                        <button type="submit" class="btn btn-ok" style="margin-bottom: 30px">Guardar</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


<script>
    $(document).ready(function() {

        var pass1 = $('[name=password1]');
        var pass2 = $('[name=confirmPassword]');
        var confirmacion = "Las contraseñas si coinciden";
        var longitud = "La contraseña debe estar formada de 6 o más caracteres";
        var negacion = "No coinciden las contraseñas";
        var vacio = "La contraseña no puede estar vacía";
        //oculto por defecto el elemento span
        var span = $('<span></span>').insertAfter(pass2);
        span.hide();
        //función que comprueba las dos contraseñas
        function coincidePassword(){
        var valor1 = pass1.val();
        var valor2 = pass2.val();
        //muestro el span
        span.show().removeClass();
        //condiciones dentro de la función
        if(valor1 != valor2){
        span.text(negacion).addClass('negacion');
        }
        if(valor1.length==0 || valor1==""){
        span.text(vacio).addClass('negacion');
        }
        if(valor1.length<6){
        span.text(longitud).addClass('negacion');
        }
        if(valor1.length!=0 && valor1==valor2){
        span.text(confirmacion).removeClass("negacion").addClass('confirmacion');
        }
        }
        //ejecuto la función al soltar la tecla
        pass2.keyup(function(){
        coincidePassword();
        });
    });
</script>

{% endblock %}