{% extends 'home/base.html' %}{% load staticfiles %}

{% block menuDesple %}
    <li role="separator" class="divider"></li>
    <li><a href="/cerrarP">Cerrar Sesion</a></li>
{% endblock menuDesple  %}

{% block content %}
{% include 'bases/sucursal_head.html' %}


<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active">
                    <a href="#">
                        <i class="ti-server"></i>
                        <p>Proveedores</p>
                    </a>

                </li>
                <li>
                    <a href="{% url 'seguimiento' %}">
                        <i class="ti-panel"></i>
                        <p>Administración</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin_transportista' %}">
                        <i class="ti-map-alt"></i>
                        <p>Transportistas</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'sugerencias_admin' %}">
                        <i class="ti-agenda"></i>
                        <p>Sugerencias</p>
                    </a>
                </li>

            </ul>

        </div>
    </div>


    <div class="main-panel">

        <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand" href="#">Panel de Administración</a>

                    </div>
                </div>
        </nav>


        <div class="content">
                <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">

                    <a href="{% url 'nuevo_proveedor' %}" class="btn btn-ok dropdown-toggle">Nuevo Proveedor</a>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th><b>N°</b></th>
                            <th><b>Proveedores</b></th>
                            <th><b>Categoría</b></th>
                            <th><b>Nueva Sucursal</b></th>
                        </tr>
                    </thead>
                        <tbody>

                        {% for a in prov %}
                            <tr>
                            <td></td>
                            <td>{{ a.nombre_comercial }}</td>
                            <td>{{ a.id_categoria }}</td>
                            <td><a href="{% url 'nueva_sucursal' a.id_proveedor %}">Agregar</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
                    <br><br>

    </div>
</div>

<style>
        table
        {
            counter-reset: rowNumber;
        }

        table tr > td:first-child
        {
            counter-increment: rowNumber;
        }

        table tr td:first-child::before
        {
            content: counter(rowNumber);
            min-width: 1em;
            margin-right: 0.5em;
        }
    </style>


{% endblock %}