{% extends 'home/base.html' %}{% load staticfiles %}

{% block menuDesple %}
    <li role="separator" class="divider"></li>
    <li><a href="/cerrarP">Cerrar Sesion</a></li>
{% endblock menuDesple  %}

{% block content %}
{% include 'bases/sucursal_head.html' %}



<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="{% url 'proveedor_admin' %}">
                        <i class="ti-server"></i>
                        <p>Proveedores</p>
                    </a>

                </li>
                <li>
                    <a href="{% url 'seguimiento' %}">
                        <i class="ti-panel"></i>
                        <p>Administración</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin_transportista' %}">
                        <i class="ti-map-alt"></i>
                        <p>Transportistas</p>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <i class="ti-agenda"></i>
                        <p>Sugerencias</p>
                    </a>
                </li>

            </ul>

        </div>
    </div>


    <div class="main-panel">

        <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand" href="#">Panel de Administración</a>

                    </div>
                </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Sugerencias</h4>
                            </div>
                            <div class="content">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>N°</th>
                                            <th>Tipo</th>
                                            <th>Fecha</th>
                                            <th>Pedido</th>
                                            <th>Usuario</th>
                                            <th>Detalle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for sugerencia in sugerencias %}
                                            <tr>
                                                <td></td>
                                                <td>{{ sugerencia.tipo }}</td>
                                                <td>{{ sugerencia.fecha }}</td>
                                                <td>{{ sugerencia.id_pedido.id_sucursal.nombre_sucursal }}</td>
                                                <td>{{ sugerencia.usuario.first_name }} {{ sugerencia.usuario.last_name }}</td>
                                                <td>
                                                    <button class="btn btn-success btn-fill" data-toggle="modal"
                                                                data-target="#{{ sugerencia.id_sugerencia }}">
                                                        Ver detalle
                                                    </button>

                                                    <div class="modal fade in" id="{{ sugerencia.id_sugerencia }}" tabindex="-10" role="dialog" aria-labelledby="myModalLabel" style="padding-right: 100px;">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                    <h4 class="modal-title" id="myModalLabel">Resumen de Sugerencia</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                        <div>
                                                                            <h3 class="text_center">Sugerencia</h3>
                                                                        </div>
                                                                        <div id="observacion"></div>

                                                                            <p>
                                                                                Fecha: {{ sugerencia.fecha }}<br>
                                                                                Motivo: {{ sugerencia.tipo }}<br>
                                                                                Usuario: {{ sugerencia.usuario.first_name }} {{ sugerencia.usuario.last_name }}<br>
                                                                                Email: {{ sugerencia.usuario.email }}
                                                                            </p>

                                                                        <div>
                                                                            <table class="table table-striped">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th>Observación</th>

                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>{{ sugerencia.observacion }}</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>

                                                                        </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar
                                                                        </button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                     </div>
                                                </td>
                                            </tr>





                                        {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

<script>
    $('.modal').appendTo("body").modal('show');
</script>

    <style>
        table
        {
            counter-reset: rowNumber;
        }

        table tr > td:first-child
        {
            counter-increment: rowNumber;
        }

        table tr td:first-child::before
        {
            content: counter(rowNumber);
            min-width: 1em;
            margin-right: 0.5em;
        }
    </style>

{% endblock %}