{% extends 'home/base.html' %} {% load staticfiles %} {% block content %} {% block title %} Proveedor
{% endblock title %}

    <title>Panel de Administración</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
    <!-- Bootstrap core CSS     -->
    <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!-- Animation library for notifications   -->
    <link href="{% static 'proveedor/css/animate.min.css' %}" rel="stylesheet"/>
    <!--  Paper Dashboard core CSS    -->
    <link href="{% static 'proveedor/css/paper-dashboard.css' %}" rel="stylesheet"/>
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'proveedor/css/demo.css' %}" rel="stylesheet"/>
    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'proveedor/css/themify-icons.css' %}" rel="stylesheet">

    <!-- Estilos tabla -->
    <link rel="stylesheet" href="{% static 'proveedor/css/dataTables.bootstrap.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'home/css/AdminLTE.css' %}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load.
    <link rel="stylesheet" href="../dist/css/skins/_all-skins.min.css">-->



    <div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

        <!--
            Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
            Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">Logo restaurante</a>
            </div>

            <ul class="nav">
                <li>
                    <a href="">
                    <!a href="{ % url 'soyProveedor' % }">
                        <i class="ti-panel"></i>
                        <p>Administración</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-server"></i>
                        <p>Pedidos</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-agenda"></i>
                        <p>Facturas</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'misDatos' %}">
                        <i class="ti-user"></i>
                        <p>Datos personales</p>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <i class="ti-bell"></i>
                        <p>Mi Menú</p>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="ti-tag"></i>
                        <p>promociones</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-truck"></i>
                        <p>Entregas tiempo real</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-bell"></i>
                        <p>Notificaciones</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Panel de Administración</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                <p>Bienvenido,
                                <p>{{ usuario_actual }}</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">

            <div class="container-fluid">


             <div class="card">
                                <div class="header">
                                    <h4 class="title">Menú</h4>


                                </div>
                 <div>
                     <form action="#" method="POST" enctype="multipart/form-data">{% csrf_token %}
     {% for hidden in formulario.hidden_fields %}
        {{ hidden }}
    {% endfor %}
                    {{formulario.as_p}}
                     {{formulario2.as_p}}
    <input type="submit" value="submit">

</form>
                 </div>

                    </div>


                </div>
            </div>


            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Licencias y condiciones
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>
                        , desarrollado por <a href="http://nodo.com.ec">Nodo</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--   Core JS Files   -->

    <!-- Bootstrap 3.3.6 -->
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>

    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="{% static 'proveedor/js/bootstrap-checkbox-radio.js' %}"></script>

    <!--  Charts Plugin -->
    <script src="{% static 'proveedor/js/chartist.min.js' %}"></script>

    <!--  Notifications Plugin    -->
    <script src="{% static 'proveedor/js/bootstrap-notify.js' %}"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
    <script src="{% static 'proveedor/js/paper-dashboard.js' %}"></script>

    <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="{% static 'proveedor/js/demo.js' %}"></script>



  <!-- jQuery 3.0.0 -->
    <script src="{% static 'home/js/jquery-3.0.0.min.js' %}"></script>

    <!-- DataTables -->
    <script src="{% static 'proveedor/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'proveedor/js/dataTables.bootstrap.min.js' %}"></script>
    <!-- SlimScroll
    <script src="../plugins/slimScroll/jquery.slimscroll.min.js"></script> -->
    <!-- FastClick
    <script src="../plugins/fastclick/fastclick.min.js"></script>-->
    <!-- AdminLTE App
    <script src="../dist/js/app.min.js"></script>-->
    <!-- AdminLTE for demo purposes
    <script src="../dist/js/demo.js"></script>-->
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>


{% endblock content %}


