@import "variables";

$break-small: 767px;
$break-large: 768px;

.login{
    padding-top: 90px;
    align-content: center;
    text-align: center;
}

.socialLogin-separator {
    height: 25px;
    position: relative;
    margin-top: 10px;
}

.socialLogin-separator hr {
    margin: -10px auto 10px;
    width: 90%;
    padding: 8px;
    border-color: #ccc;
    border-bottom: 0;
}
hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;

}

.socialLogin-separator span {
    background-color: #FFF;
    display: inline-block;
    width: 26px;
    font-size: 18px;
    font-size: 1.5rem;
    color: #666;
}

.content-login {

    @media screen and (max-width: $break-small) {
        width: 90%;
        margin: auto;
    }
}
