.notify.container{
	width: 360px;
    min-height: 100px;
    position: fixed;
    right: 10px;
    top: 150px;
    z-index: 999;
}
.notify.item{
	position:relative;
	width:100%;
	min-height:90px;
	box-shadow: 0 1px 10px 0 rgba(0,0,0,.1), 0 2px 15px 0 rgba(0,0,0,.05);
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    border-left-width: 5px;
    border-left-style: solid;
    padding: 5px;
    margin-bottom: 15px;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    transition: all .6s cubic-bezier(0.5, -0.5, 0.3, 1.4);
	
}
.notify.item.danger{
	border-color: #ec3e1e;
	background: rgba(255, 255, 255, 0.75);
}
.notify.item.info{
	border-color: #64b8ef;
	background: rgba(255, 255, 255, 0.75);
}
.notify.item.warning{
	border-color: #f1df4e;
	background: rgba(255, 255, 255, 0.75);
}
.notify.item.success{
	border-color: #3cad6d;
	background: rgba(255, 255, 255, 0.75);
}
.notify.item.reminder{
	border-color: #3ca9ad;
	background: rgba(255, 255, 255, 0.75);
}
.notify.item.todo{
	border-color: #868686;
	background: rgba(255, 255, 255, 0.75);
}
.notify .img{
	float:left;
	margin-right:10px;
	margin-bottom:5px;
	width:48px;
	height:48px;
}
.notify .img-danger{
	background:url('../img/notificacion/danger.png');
}
.notify .img-info{
	background:url('../img/notificacion/notifier-info.png');
}
.notify .img-warning{
	background:url('../img/notificacion/warning.png');
}
.notify .img-success{
	background:url('../img/notificacion/success.png');
}
.notify .img-reminder{
	background:url('../img/notificacion/reminder.png');
}
.notify .img-todo{
	background:url('../img/notificacion/todo.png');
}
.notify .header{
	font-size: 20px;
	color:#555;
	margin-left:5px;
}
.notify .content2{
	display:inline-block;
	font-size: 14px;
	color:#555;
}
.notify img{
	margin-right: 10px;
}
.notify .close-btn{
	float: right;
    cursor: pointer;
    text-decoration: none;
    color: #ccc;
    width: 20px;
    height: 20px;
    background-color: #fff;
    text-align: center;
    font-weight: 700;
    vertical-align: middle;
    border-radius: 50%;
}
.notify .close-btn:hover{
    color: #444;
    background-color: #eee;
}

.notify.show-notifier{
	-webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
