@charset "UTF-8";
@font-face {
  font-family: FuturaStd-CondensedBold;
  src: url(fonts/FuturaStd-CondensedBold.otf); }
@font-face {
  font-family: FuturaStd-CondensedLight;
  src: url(fonts/FuturaStd-CondensedLight.otf); }
@font-face {
  font-family: 'Helvetica Neue';
  src: url(fonts/HelveticaNeueLTStd_Lt.otf); }
@font-face {
  font-family: 'Helvetica Neue B';
  src: url(fonts/helvetica-neue-bold.ttf); }
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(fonts/UyBMtLsHKBKXelqf4x7VRQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(fonts/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
body {
  background-image: url("../img/bg_tapiz_goodappetit.png"); }

#ARTICLE_1 {
  box-sizing: border-box;
  color: #333333;
  height: 120px;
  position: relative;
  width: 874.391px;
  column-rule-color: #333333;
  perspective-origin: 437.188px 60px;
  transform-origin: 437.188px 60px;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  outline: #333333 none 0px;
  padding: 0px 0px 20px; }

/*#ARTICLE_1*/
#DIV_2 {
  box-sizing: border-box;
  color: #333333;
  height: 100px;
  position: relative;
  width: 874.391px;
  column-rule-color: #333333;
  perspective-origin: 437.188px 50px;
  transform-origin: 437.188px 50px;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  outline: #333333 none 0px; }

/*#DIV_2*/
#DIV_3 {
  box-sizing: border-box;
  color: #333333;
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100px;
  column-rule-color: #333333;
  perspective-origin: 50px 50px;
  transform-origin: 50px 50px;
  background: white none repeat scroll 0% 0%/auto padding-box border-box;
  border: 2px solid #e5e4e3;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  outline: #333333 none 0px; }

/*#DIV_3*/
#A_4 {
  box-sizing: border-box;
  color: #333333;
  text-decoration: none;
  column-rule-color: #333333;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  outline: #333333 none 0px; }

/*#A_4*/
#IMG_5 {
  box-sizing: border-box;
  color: #333333;
  display: block;
  vertical-align: middle;
  column-rule-color: #333333;
  perspective-origin: 48px 48px;
  transform-origin: 48px 48px;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  outline: #333333 none 0px; }

.logo-rest {
  margin: auto; }
  @media screen and (max-width: 647px) {
    .logo-rest {
      height: 150px;
      width: 150px;
      border-radius: 5px; } }

/*#IMG_5*/
#DIV_6 {
  box-sizing: border-box;
  color: #333333;
  height: 100px;
  min-height: 100px;
  position: relative;
  width: 574.391px;
  column-rule-color: #333333;
  perspective-origin: 287.188px 50px;
  transform-origin: 287.188px 50px;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  margin: 0px 180px 0px 120px;
  outline: #333333 none 0px; }

/*#DIV_6*/
#DIV_6:after {
  box-sizing: border-box;
  clear: both;
  color: #333333;
  content: '"' '"';
  display: table;
  column-rule-color: #333333;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  outline: #333333 none 0px; }

/*#DIV_6:after*/
#DIV_6:before {
  box-sizing: border-box;
  color: #333333;
  content: '"' '"';
  display: table;
  column-rule-color: #333333;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  outline: #333333 none 0px; }

/*#DIV_6:before*/
#DIV_7 {
  box-sizing: border-box;
  color: #222222;
  height: 22px;
  width: 574.391px;
  column-rule-color: #222222;
  perspective-origin: 287.188px 11px;
  transform-origin: 287.188px 11px;
  border: 0px none #222222;
  font: normal normal bold normal 20px / 22px Helvetica, Arial, sans-serif;
  outline: #222222 none 0px; }

/*#DIV_7*/
#A_8 {
  box-sizing: border-box;
  color: #222222;
  text-decoration: none;
  column-rule-color: #222222;
  border: 0px none #222222;
  font: normal normal bold normal 20px / 22px Helvetica, Arial, sans-serif;
  outline: #222222 none 0px; }

/*#A_8*/
#UL_9 {
  box-sizing: border-box;
  color: #333333;
  height: 20px;
  width: 574.391px;
  column-rule-color: #333333;
  perspective-origin: 287.188px 10px;
  transform-origin: 287.188px 10px;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  list-style: none outside none;
  margin: 0px;
  outline: #333333 none 0px;
  padding: 0px; }

/*#UL_9*/
#LI_10 {
  box-sizing: border-box;
  color: #333333;
  display: inline-block;
  height: 20px;
  width: 59px;
  column-rule-color: #333333;
  perspective-origin: 29.5px 10px;
  transform-origin: 29.5px 10px;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  list-style: none outside none;
  outline: #333333 none 0px; }

/*#LI_10*/
#LI_10:after {
  box-sizing: border-box;
  color: #333333;
  content: '",' '"';
  height: auto;
  width: auto;
  column-rule-color: #333333;
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  list-style: none outside none;
  outline: #333333 none 0px; }

/*#LI_10:after*/
#LI_11 {
  box-sizing: border-box;
  color: #333333;
  display: inline-block;
  height: 20px;
  width: 163px;
  column-rule-color: #333333;
  perspective-origin: 81.5px 10px;
  transform-origin: 81.5px 10px;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  list-style: none outside none;
  outline: #333333 none 0px; }

/*#LI_11*/
#LI_11:after {
  box-sizing: border-box;
  color: #333333;
  content: '",' '"';
  height: auto;
  width: auto;
  column-rule-color: #333333;
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  list-style: none outside none;
  outline: #333333 none 0px; }

/*#LI_11:after*/
#LI_12 {
  box-sizing: border-box;
  color: #333333;
  display: inline-block;
  height: 20px;
  width: 159px;
  column-rule-color: #333333;
  perspective-origin: 79.5px 10px;
  transform-origin: 79.5px 10px;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  list-style: none outside none;
  outline: #333333 none 0px; }

/*#LI_12*/
#LI_12:after {
  box-sizing: border-box;
  color: #333333;
  content: '""';
  height: auto;
  width: auto;
  column-rule-color: #333333;
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  list-style: none outside none;
  outline: #333333 none 0px; }

/*#LI_12:after*/
#A_15 {
  box-sizing: border-box;
  color: #333333;
  text-decoration: none;
  column-rule-color: #333333;
  border: 0px none #333333;
  font: normal normal normal normal 12px / 12px Helvetica, Arial, sans-serif;
  outline: #333333 none 0px; }

/*#A_15*/
#DIV_16 {
  box-sizing: border-box;
  color: #333333;
  display: inline-block;
  height: 14px;
  position: relative;
  text-align: left;
  vertical-align: text-bottom;
  width: 247.109px;
  column-rule-color: #333333;
  perspective-origin: 123.547px 7px;
  transform-origin: 123.547px 7px;
  border: 0px none #333333;
  font: normal normal normal normal 12px / 12px Helvetica, Arial, sans-serif;
  outline: #333333 none 0px; }

/*#DIV_16*/
#I_17 {
  background-position: 0px -1133px;
  box-sizing: border-box;
  color: #333333;
  display: inline-block;
  height: 14px;
  position: relative;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  width: 70px;
  column-rule-color: #333333;
  perspective-origin: 35px 7px;
  transform-origin: 35px 7px;
  background: transparent url("https://www.laneveraroja.com/_/sprite/common-cc2087b2e0098b22022f10db967d34a9.png") repeat scroll 0px -1133px/auto padding-box border-box;
  border: 0px none #333333;
  font: italic normal normal normal 12px / 12px Helvetica, Arial, sans-serif;
  outline: #333333 none 0px;
  overflow: hidden; }

/*#I_17*/
#I_18 {
  background-position: 0px -685px;
  box-sizing: border-box;
  color: #333333;
  display: block;
  height: 14px;
  left: 0px;
  position: absolute;
  text-align: left;
  top: 0px;
  vertical-align: middle;
  white-space: nowrap;
  width: 51.7969px;
  column-rule-color: #333333;
  perspective-origin: 25.8906px 7px;
  transform-origin: 25.8906px 7px;
  background: transparent url("https://www.laneveraroja.com/_/sprite/common-cc2087b2e0098b22022f10db967d34a9.png") repeat scroll 0px -685px/auto padding-box border-box;
  border: 0px none #333333;
  font: italic normal normal normal 12px / 12px Helvetica, Arial, sans-serif;
  outline: #333333 none 0px;
  overflow: hidden; }

/*#I_18*/
#P_19 {
  box-sizing: border-box;
  color: #bfbfbf;
  /*display: inline-block;*/
  height: 14px;
  text-align: left;
  vertical-align: bottom;
  width: 194.109px;
  column-rule-color: #777777;
  perspective-origin: 87.0469px 7px;
  transform-origin: 87.0469px 7px;
  border: 0px none #777777;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight-: normal;
  font-stretch: normal;
  font-size: 12px;
  line-height: 12px;
  margin: 0px;
  font-family: FuturaStd-CondensedLight;
  outline: #777777 none 0px;
  padding: 2px 0px 15px; }

/*#P_19*/
#SPAN_20 {
  box-sizing: border-box;
  color: #777777;
  text-align: left;
  column-rule-color: #777777;
  border: 0px none #777777;
  font: normal normal normal normal 12px / 12px Helvetica, Arial, sans-serif;
  outline: #777777 none 0px; }

/*#SPAN_20*/
#DIV_21 {
  box-sizing: border-box;
  color: #333333;
  display: inline-block;
  height: 17px;
  vertical-align: middle;
  width: 32px;
  column-rule-color: #333333;
  perspective-origin: 16px 8.5px;
  transform-origin: 16px 8.5px;
  border: 0px none #333333;
  font: normal normal normal normal 12px / 12px Helvetica, Arial, sans-serif;
  outline: #333333 none 0px; }

/*#DIV_21*/
#DIV_22 {
  box-sizing: border-box;
  color: #333333;
  height: 17px;
  width: 32px;
  column-rule-color: #333333;
  perspective-origin: 16px 8.5px;
  transform-origin: 16px 8.5px;
  border: 0px none #333333;
  font: normal normal normal normal 12px / 12px Helvetica, Arial, sans-serif;
  outline: #333333 none 0px; }

/*#DIV_22*/
#SPAN_23 {
  box-sizing: border-box;
  color: #959595;
  display: inline-block;
  height: 17px;
  position: relative;
  width: 32px;
  column-rule-color: #959595;
  perspective-origin: 16px 8.5px;
  transform-origin: 16px 8.5px;
  background: #eeeeee none repeat scroll 0% 0%/auto padding-box border-box;
  border: 0px none #959595;
  border-radius: 100px 100px 100px 100px;
  font: normal normal bold normal 13px / 13px Helvetica, Arial, sans-serif;
  outline: #959595 none 0px;
  padding: 2px 5px 2px 19px; }

/*#SPAN_23*/
#SPAN_23:before {
  background-position: 0px -61px;
  box-sizing: border-box;
  color: #959595;
  content: '""';
  display: block;
  height: 11px;
  left: 5px;
  position: absolute;
  top: 8.5px;
  width: 12px;
  column-rule-color: #959595;
  perspective-origin: 6px 5.5px;
  transform-origin: 6px 5.5px;
  background: transparent url("https://www.laneveraroja.com/_/sprite/common-cc2087b2e0098b22022f10db967d34a9.png") repeat scroll 0px -61px/auto padding-box border-box;
  border: 0px none #959595;
  font: normal normal bold normal 13px / 13px Helvetica, Arial, sans-serif;
  margin: -5.5px 0px 0px;
  outline: #959595 none 0px; }

/*#SPAN_23:before*/
#DIV_24 {
  box-sizing: border-box;
  color: #333333;
  height: 33px;
  width: 449.391px;
  column-rule-color: #333333;
  perspective-origin: 224.688px 16.5px;
  transform-origin: 224.688px 16.5px;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  margin: 0px 125px 0px 0px;
  outline: #333333 none 0px; }

/*#DIV_24*/
#DIV_24:after {
  box-sizing: border-box;
  clear: both;
  color: #333333;
  content: '"' '"';
  display: table;
  column-rule-color: #333333;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  outline: #333333 none 0px; }

/*#DIV_24:after*/
#DIV_24:before {
  box-sizing: border-box;
  color: #333333;
  content: '"' '"';
  display: table;
  column-rule-color: #333333;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  outline: #333333 none 0px; }

/*#DIV_24:before*/
#DL_25 {
  box-sizing: border-box;
  color: #333333;
  float: left;
  height: 30px;
  width: 63px;
  column-rule-color: #333333;
  perspective-origin: 31.5px 15px;
  transform-origin: 31.5px 15px;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 14px Helvetica, Arial, sans-serif;
  margin: 3px 20px 0px 0px;
  outline: #333333 none 0px; }

/*#DL_25*/
#DT_26 {
  box-sizing: border-box;
  color: #aaaaaa;
  height: 14px;
  width: 63px;
  column-rule-color: #aaaaaa;
  perspective-origin: 31.5px 7px;
  transform-origin: 31.5px 7px;
  border: 0px none #aaaaaa;
  font: normal normal normal normal 13px / 14px Helvetica, Arial, sans-serif;
  outline: #aaaaaa none 0px; }

/*#DT_26*/
#DD_27 {
  box-sizing: border-box;
  color: #333333;
  height: 14px;
  width: 63px;
  column-rule-color: #333333;
  perspective-origin: 31.5px 7px;
  transform-origin: 31.5px 7px;
  border: 0px none #333333;
  font: normal normal normal normal 13px / 14px Helvetica, Arial, sans-serif;
  margin: 2px 0px 0px;
  outline: #333333 none 0px; }

/*#DD_27*/
#DL_28 {
  box-sizing: border-box;
  color: #333333;
  float: left;
  height: 30px;
  width: 100px;
  column-rule-color: #333333;
  perspective-origin: 50px 15px;
  transform-origin: 50px 15px;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 14px Helvetica, Arial, sans-serif;
  margin: 3px 20px 0px 0px;
  outline: #333333 none 0px; }

/*#DL_28*/
#DT_29 {
  box-sizing: border-box;
  color: #aaaaaa;
  height: 14px;
  width: 100px;
  column-rule-color: #aaaaaa;
  perspective-origin: 50px 7px;
  transform-origin: 50px 7px;
  border: 0px none #aaaaaa;
  font: normal normal normal normal 13px / 14px Helvetica, Arial, sans-serif;
  outline: #aaaaaa none 0px; }

/*#DT_29*/
#DD_30 {
  box-sizing: border-box;
  color: #333333;
  height: 14px;
  width: 100px;
  column-rule-color: #333333;
  perspective-origin: 50px 7px;
  transform-origin: 50px 7px;
  border: 0px none #333333;
  font: normal normal normal normal 13px / 14px Helvetica, Arial, sans-serif;
  margin: 2px 0px 0px;
  outline: #333333 none 0px; }

/*#DD_30*/
#DL_31 {
  box-sizing: border-box;
  color: #333333;
  float: left;
  height: 30px;
  width: 87px;
  column-rule-color: #333333;
  perspective-origin: 43.5px 15px;
  transform-origin: 43.5px 15px;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 14px Helvetica, Arial, sans-serif;
  margin: 3px 20px 0px 0px;
  outline: #333333 none 0px; }

/*#DL_31*/
#DT_32 {
  box-sizing: border-box;
  color: #aaaaaa;
  height: 14px;
  width: 87px;
  column-rule-color: #aaaaaa;
  perspective-origin: 43.5px 7px;
  transform-origin: 43.5px 7px;
  border: 0px none #aaaaaa;
  font: normal normal normal normal 13px / 14px Helvetica, Arial, sans-serif;
  outline: #aaaaaa none 0px; }

/*#DT_32*/
#DD_33 {
  box-sizing: border-box;
  color: #333333;
  height: 14px;
  width: 87px;
  column-rule-color: #333333;
  perspective-origin: 43.5px 7px;
  transform-origin: 43.5px 7px;
  border: 0px none #333333;
  font: normal normal normal normal 13px / 14px Helvetica, Arial, sans-serif;
  margin: 2px 0px 0px;
  outline: #333333 none 0px; }

/*#DD_33*/
#UL_34 {
  bottom: 0px;
  box-sizing: border-box;
  color: #333333;
  height: 32px;
  position: absolute;
  right: 0px;
  width: 36px;
  column-rule-color: #333333;
  perspective-origin: 18px 16px;
  transform-origin: 18px 16px;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  list-style: none outside none;
  margin: 0px -2px;
  outline: #333333 none 0px;
  padding: 0px; }

/*#UL_34*/
#LI_35 {
  background-position: 4px -2069px;
  box-sizing: border-box;
  color: transparent;
  display: inline-block;
  height: 32px;
  position: relative;
  width: 32px;
  column-rule-color: transparent;
  perspective-origin: 16px 16px;
  transform-origin: 16px 16px;
  background: #ecf5ef url("https://www.laneveraroja.com/_/sprite/common-cc2087b2e0098b22022f10db967d34a9.png") no-repeat scroll 4px -2069px/auto padding-box border-box;
  border: 1px solid #e2e0dc;
  font: normal normal normal normal 0px / 0px a;
  list-style: none outside none;
  margin: 0px 2px;
  outline: transparent none 0px;
  overflow: hidden; }

/*#LI_35*/
#DIV_36 {
  bottom: 0px;
  box-sizing: border-box;
  color: #333333;
  height: 32px;
  position: absolute;
  right: 0px;
  width: 160px;
  column-rule-color: #333333;
  perspective-origin: 80px 16px;
  transform-origin: 80px 16px;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  outline: #333333 none 0px; }

/*#DIV_36*/
#A_37 {
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: block;
  height: 32px;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 160px;
  column-rule-color: white;
  perspective-origin: 80px 16px;
  transform-origin: 80px 16px;
  background: #17B890 none repeat scroll 0% 0%/auto padding-box border-box;
  border: 0px solid #a80000;
  border-radius: 2px 2px 2px 2px;
  font: normal normal 500 normal 17px / 20px Helvetica, Arial, sans-serif;
  outline: white none 0px;
  padding: 6px 12px;
  font-weight: 700;
  font-family: 'Lato'; }

/*#A_37*/
/*--------------------- ESTILOS PARA EL TEMPLATE RESTAURANTES------------------------- */
.content_option_in p{
  display: ruby-base;
}
.breadcrumb {
  background-color: transparent;
  background-repeat: repeat;
  /*padding: 78px 0px 2px;*/ }

.restaurante {
  background-color: #FFFFFF;
  display: inline-block;
  padding: 0;
  /*margin-bottom: 20px;
  margin-right: 20px;*/
  box-shadow: 1px -1px 5px #ccc;
  width: 251px;
  text-align: justify;
  vertical-align: top;
  margin: 10px 5px; }
  @media screen and (max-width: 647px) {
    .restaurante {
      width: 100%;
      text-align: center;
      margin: 10px 0; } }

.pedidos2 {
  background-color: #FFFFFF;
  display: -webkit-flex;
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 2px -2px 10px #888888;
  width: 100%;
  /*estilos para borde izquierdo*/
  border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  border: 0px solid #000000; }

.titulo_restautantes {
  /*padding-bottom: 35px;*/
  text-align: center; }

.descripcion_rest ul {
  list-style-type: none; }

.descripcion_rest {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background: #f5f5f5; }

/*este estilo daña el icono de cargar al realizar la compra, por ese motivo fue comentado*/
/*.fa {*/
  /*padding-right: 23px; }*/

.foodType {
  margin: 0 auto; }

/*.btn_ver {
  !*position: relative;
  margin-top: 8%;
  right: -25%;*!
  float: initial !important;
  display: none;
}*/
/*
a:link, a:hover, a:visited, a:active{
text-decoration: none;
  color: #333;
}*/
.titulo_rest_desc {
  font-family: FuturaStd-CondensedBold;
  font-size: 2.7rem;
  color: #000000; }

a {
  font-family: 'Lato', FuturaStd-CondensedLight; }

.description {
  color: #666;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin: 0; }

.category-menu {
  /*background-color: #fff;*/
  /*border-color: #B6B6B6;*/
  background: #666;
  margin-bottom: 10px; }

.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #fff; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: #727272; }

.desc-rest {
  padding-left: 15px; }

/*.col-sm-3 {
  width: 200px;
  @media screen and (min-width: $break-large) {
    width: 200px;
  }

  @media screen and (max-width: $break-small) {
    width: 200px;
  }
}*/
.img_rest {
  position: relative; }

.img-rest-logo {
  display: inline-block;
  /*@media screen and (max-width: 360px) {
    display: block;
    margin: auto;
  }*/ }
  @media screen and (max-width: 647px) {
    .img-rest-logo {
      height: 150px;
      width: 150px;
      margin-top: 10px; } }

/*.notice {
  float: left;
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
  text-align: center;
  color: #fff;
  display: none;
}*/
.navbar .navbar-nav > li > a.foodTypeItem {
  padding: 15px;
  margin: 0;
  color: #bfbfbf;
  text-transform: uppercase;
  cursor: pointer; }

.foodTypeItem2 {
  padding: 15px !important;
  margin: 0 !important;
  color: #bfbfbf !important;
  text-transform: uppercase;
  cursor: pointer; }

.row {
  margin-right: 0;
  margin-left: 0; }

.title-cat {
  display: inline-block;
  padding-left: 10px;
  font-size: 15px;
  margin: 0; }

.line-cat {
  /*display: inline-block;*/
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #a0a0a0;
  /*margin: 0px 0 10px;*/ }

.path-status {
  margin: 0; }

.content-pedido {
  padding: 0; }

.list-item {
  /*margin-left: 15px;*/
  text-align: center; }
  @media screen and (max-width: 647px) {
    .list-item {
      margin-left: 0; } }

.main-content {
  background: #e8e8e8b3;
  padding: 10px;
  margin: 10px;
  margin-top: 0; }
  @media screen and (max-width: 430px) {
    .main-content {
      margin: 0;
      padding: 0; } }

.img-head {
  background-image: url("../img/banner.jpg");
  height: 200px;
  margin-top: 50px;
  width: 100%;
  position: absolute;
  left: 0;
  background-size: 100% 100%; }
  @media screen and (max-width: 768px) {
    .img-head {
      margin-top: 45px; } }

.find-restaurant {
  width: 50%;
  height: inherit; }
  @media screen and (max-width: 992px) {
    .find-restaurant {
      width: 100%; } }

/*.text-search {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 8px #002, 0 0 8px #002;
    font-size: 20px;
  display: none;
}*/
.content-search {
  margin: auto;
  width: 60%;
  padding-top: 50px; }
  @media screen and (max-width: 545px) {
    .content-search {
      width: 100%; } }

.input-search {
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px; }

.content-category {
  display: table; }

.category-item {
  width: 130px;
  text-align: center;
  /*border-bottom: 1px solid #888;*/
  margin-right: 10px; }

.menu-hover {
  background: #17B890; }

.staus {
  height: 5px;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .staus {
      display: none; } }

.content-main {
  margin-top: 250px; }

.table-center {
  display: inline-block; }

#text-cat {
  text-transform: uppercase; }

.star-rating__star {
  margin: 0;
  padding: 0; }

.descripcion_rest_ul {
  margin: 0; }

.close-rest {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.menu-product {
  width: 100%; }

.staus-rest {
  height: 20px;
  width: 20px;
  padding: 10px;
  border-radius: 51%;
  margin: 5px; }

.staus-enable {
  background: #03fd16; }

.staus-disable {
  background: #fd6162 !important; }

.tri {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 100px 100px 100px;
  border-color: transparent rgba(255, 54, 54, 0.9) transparent transparent;
  position: absolute;
  top: 0px;
  text-shadow: 0 0 20px white; }
  @media screen and (max-width: 647px) {
    .tri {
      border-width: 0 70px 70px 0px; } }

p.text {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 25px;
  left: 87px;
  position: relative;
  /* width: 0px; */
  /* height: 0px; */
  margin: 0px;
  color: #fff;
  display: inline-block; }
  @media screen and (max-width: 647px) {
    p.text {
      top: 15px;
      left: 90px;
      font-size: 12px; } }

@media screen and (min-width: 768px) {
  .menu-cat-title {
    display: none; } }

.btn-rest-search {
  padding: 7px 12px !important;
  border: none !important; }

.res-brach-img-cont {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  margin: 0 auto;
  padding: 1rem;
  width: 95%; }

.res-branchs-sup-img {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  display: block;
  margin: auto;
  width: 25%; }

.res-branch-img {
  width: 100%; }

.res-branch-items {
  border-bottom: 1px solid #ccc;
  margin: 1rem; }
  .res-branch-items:hover {
    background: #eee;
    border-radius: 0.3rem;
    cursor: pointer; }

.res-branch-item {
  list-style-type: none;
  text-align: justify; }

.res-branch-item {
  font-family: 'Helvetica Neue';
  font-size: 14px; }

.res-branch-row-name {
  font-family: 'Helvetica Neue B';
  font-weight: bold;
  font-size: 16px; }

/*--------------------- ESTILOS PARA EL TEMPLATE MEN├Ü------------------------- */
.menu-switcher {
  display: flex;
  border-bottom: #d4d4d4 solid 1px; }

.menu-switcher-item {
  padding: 5px; }

.box-pane {
  display: flex; }

.box-right {
  text-align: right; }

.total {
  font-size: 14px;
  color: #444;
  font-weight: 700; }
  @media screen and (max-width: 768px) {
    .total {
      font-size: 13px; } }

.btn_pagar {
  padding: 8px; }

#A_37 {
  width: 100%; }

.btn-add-cart {
  color: #17B890;
  padding-left: 5px; }

.menu_list {
  background-color: #FFFFFF;
  display: -webkit-flex;
  display: flex;
  padding: 15px; }
  @media screen and (max-width: 768px) {
    .menu_list {
      padding: 0; } }

.product-description {
  color: #444444;
  font-size: 12px; }

.tab-content {
  background-color: white;
  padding: 15px; }
  @media screen and (max-width: 768px) {
    .tab-content {
      padding: 0; } }

.info_rest {
  /*display: block;
  padding-bottom: 12px;*/
  text-align: center;
  padding: 0;
  margin-top: 25px;
  /*background-image: url('../img/cat/pizza-banner.jpg');*/
  position: absolute;
  left: 0;
  right: 0;
  background-size: 100% 100%; }
  @media screen and (max-width: 767px) {
    .info_rest {
      margin-top: 20px; } }

.img_info_rest {
  /*margin: auto;*/
  /*width: 200px;*/
  display: inline-block;
  position: relative;
  z-index: 2;
  margin: auto;
  margin-top: 50px;
  border-radius: 6px;
  box-shadow: 0 2px 5px #8e969d;
  border: solid 2px #fff;
  background-color: rgba(255, 255, 255, 0.7); }

.titulo_rest_menu {
  font-family: 'Arvo', sans-serif;
  font-size: 3rem;
  color: #E4022D; }
  @media screen and (max-width: 768px) {
    .titulo_rest_menu {
      font-size: 2rem; } }

.descripcion_rest_menu {
  /*display: inline-block;
  height: 200px;
  vertical-align: bottom;*/
  width: 500px;
  margin: auto;
  margin-top: -20px;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px 0;
  border-radius: 5px; }
  @media screen and (max-width: 768px) {
    .descripcion_rest_menu {
      border-radius: 0px;
      width: 100%;
      margin-top: -15px; } }

.descripcion_rest_menu ul, .estrellas i {
  list-style-type: none;
  padding: 0px;
  text-align: center; }

.descripcion_rest_menu_box {
  /*display: inline-block;
  padding: 20px 25px;
  background: rgba(255,255,255,0.5);
  border-radius: 6px;*/ }

.btn_car_add {
  font-size: 15px;
  color: #17B890;
  padding-right: 2px; }

.img_menu {
  box-sizing: border-box;
  color: #333333;
  display: block;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  column-rule-color: #333333;
  perspective-origin: 48px 48px;
  transform-origin: 48px 48px;
  border: 0px none #333333;
  font: normal normal normal normal 14px / 20px Helvetica, Arial, sans-serif;
  outline: #333333 none 0px;
  border: 2px solid #e5e4e3;
  border-radius: 6px; }

.modal-content {
  border: 5px solid #E4022D; }

.modal-title {
  color: #E4022D;
  text-align: center;
  font-size: 14px; }

.text_center {
  text-align: center;
  font-family: 'Arvo', sans-serif; }
  @media screen and (max-width: 768px) {
    .text_center {
      font-size: 16px; } }

.nav ul li a.active {
  color: green; }

i.icon_carrito {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  font-size: 80px;
  background-color: #dedede;
  color: #fefefe; }

div.centrado {
  text-align: center;
  color: #d4d4d4; }

.sidenav {
  width: 200px;
  padding: 0; }
  @media screen and (max-width: 770px) {
    .sidenav {
      width: auto;
      position: static; } }

.group-category {
  width: 200px; }
  @media screen and (max-width: 768px) {
    .group-category {
      width: auto; } }
  @media screen and (min-width: 768px) {
    .group-category {
      width: 200px; } }

.content-pedido {
  width: 27.4%; }
  @media screen and (max-width: 1200px) {
    .content-pedido {
      width: 100%;
      z-index: 1; } }

.content-menu {
  padding: 0px;
  width: 55%; }
  @media screen and (max-width: 1200px) {
    .content-menu {
      width: 78.5%; } }
  @media screen and (max-width: 992px) {
    .content-menu {
      width: 69%; } }
  @media screen and (max-width: 767px) {
    .content-menu {
      width: 100%; } }

.split {
  margin: auto;
  /*display: table;*/ }
  @media screen and (max-width: 1200px) {
    .split {
      /*margin: auto;*/
      display: table; } }
  @media screen and (max-width: 425px) {
    .split {
      /*margin: auto;*/
      display: block; } }

.table-cart {
  width: auto; }
  @media screen and (max-width: 1200px) {
    .table-cart {
      /*margin: auto;*/
      display: table-cell; } }
  @media screen and (max-width: 425px) {
    .table-cart {
      margin: auto;
      display: table; } }

.liness {
  display: none; }
  @media screen and (max-width: 1200px) {
    .liness {
      display: table-cell;
      padding: 5px;
      border-right: 1px solid grey; } }
  @media screen and (max-width: 425px) {
    .liness {
      display: none; } }

@media screen and (max-width: 1200px) {
  .user-content {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px; } }
@media screen and (max-width: 425px) {
  .user-content {
    display: block;
    vertical-align: top;
    padding-left: 0; } }

.general-content {
  padding-bottom: 10px; }

.content {
  overflow: auto;
  background: #fff;
  box-shadow: 5px 5px 5px #888888; }

.modal-title {
  background: #f0f0f0; }

.subtotal {
  color: grey;
  font-size: small; }

/*.total {
    font-size: large;
}*/
.btn-ok {
  background: #17B890;
  color: #fff; }

.btn-ok:hover {
  background: #17B890;
  color: #fff; }

.btn-cancel {
  background: #ff4842;
  color: #fff; }

.btn-cancel:hover {
  background: #ff4842;
  color: #fff; }

.panel-car {
  border: 0; }

.item-cat {
  border: 0; }
  @media screen and (max-width: 767px) {
    .item-cat {
      border: 1px solid #ddd;
      position: static; } }

.path-menu {
  padding: 55px 0 10px;
  margin: 0;
  margin-top: 240px; }
  @media screen and (max-width: 768px) {
    .path-menu {
      padding: 40px 0 10px; } }

.path-menu-order {
  margin-top: 70px;
  margin-bottom: 0; }

.path-menu-profile {
  margin: 0;
  margin-left: 10%; }

.form-top-left {
  text-align: center; }

.btn-facebook {
  background-color: #3b5998;
  border-color: #3b5998;
  border-bottom-color: #344e86;
  color: #fff; }

.pane-main-content {
  width: 80%;
  margin: auto; }

.signin {
  text-align: center; }

.resumen_pedido {
  width: auto; }

.navbar-brand {
  width: 180px;
  height: 20px;
  padding: 14px;
  text-transform: uppercase; }

@media screen and (max-width: 430px) {
  .main-container {
    padding: 0; } }

@media screen and (max-width: 768px) {
  .product-title {
    font-size: 14px;
    line-height: 15px; } }

.img-menu {
  border-radius: 5px;
  height: 100px;
  width: 100px; }

.menu-banner {
  background: rgba(255, 255, 255, 0.5);
  padding-bottom: 5px; }

/*este estilo daña el icono de cargar al realizar la compra, por ese motivo fue comentado*/
/*.disabled {*/
  /*background: #f5f5f5 !important;*/
  /*border-radius: 0px !important; }*/

.orders-main-content {
  display: inline-block; }

.menu-categor-head {
  min-height: 40px; }

.title-car {
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #777; }

.panel-title-car {
  padding: 12px 15px; }

#map {
  width: 100% !important;
  height: 300px;
  border: 2px solid red; }

@media screen and (max-width: 768px) {
  .tr.table-head {
    font-size: 14px; } }

@media screen and (max-width: 768px) {
  .table-body {
    font-size: 12px; } }

.number {
  text-align: right; }

@media screen and (max-width: 768px) {
  .mobile-normal-text-size {
    font-size: 12px; } }

@media screen and (max-width: 768px) {
  .modal_title {
    font-size: 16px; } }

.modal-description {
  text-align: justify; }
  @media screen and (max-width: 768px) {
    .modal-description {
      font-size: 12px; } }

@media screen and (max-width: 768px) {
  .modal-subtitle {
    font-size: 14px; } }

.cmb-dir {
  width: 100%; }

.mn-img-dish {
  max-width: 100%; }

.mn-mod-foot {
  padding: 0; }

/*##################### PERFIL USUARIO ########################*/
.main-content-profile {
  background: #fff;
  padding: 20px;
  margin: 0 auto 10px auto; }
  @media screen and (max-width: 768px) {
    .main-content-profile {
      width: 80%; } }

.main-title {
  text-align: center; }

th#sinLinea {
  border-top: 0px;
  padding-top: 20px; }

.categ {
  padding: 0px; }

.nav-size {
  font-size: 13px !important; }

/*##################### PEDIDOS USUARIO ########################*/
.req-img {
  width: 154px;
  padding: 0;
  margin: 0 auto;
  border-radius: 5px; }
  @media screen and (max-width: 767px) {
    .req-img {
      height: 100px;
      width: 100px; } }

.req-descr {
  width: 73%; }
  @media screen and (min-width: 1200px) {
    .req-descr {
      width: 78%; } }
  @media screen and (max-width: 991px) {
    .req-descr {
      width: 100%; } }

.req-descr ul {
  padding: 0; }

.req-img-cont {
  padding: 5px; }

@media screen and (max-width: 767px) {
  .req-title {
    font-size: 1.5rem; } }

@media screen and (max-width: 430px) {
  .req-main-content {
    padding-top: 10px; } }

.star-rating {
  font-size: 12px; }

.bk-main {
  background: rgba(0, 0, 0, 0.1); }

.img-offer {
  -webkit-animation: pulse2 2s linear infinite;
  -moz-animation: pulse2 2s linear infinite;
  -ms-animation: pulse2 2s linear infinite;
  animation: pulse2 2s linear infinite; }

.txt-no-offer {
  display: inline-block;
  text-decoration: line-through;
  font-weight: 100;
  font-size: 12px; }

.txt-offer {
  display: inline-block;
  color: green; }

.img-offer1 {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0; }

.td-offer {
  padding: 0 !important; }

.has-offer {
  background: #E4022D;
  color: #fff;
  text-align: center; }

@keyframes pulse2 {
  0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pulse2 {
  0% {
    -moz-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -moz-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -moz-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-ms-keyframes pulse2 {
  0% {
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -ms-transform: scale(1);
    transform: scale(1); } }
.prl-menu {
  padding: 15px; }
  @media screen and (max-width: 767px) {
    .prl-menu {
      float: none; } }

.pin {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50% 50% 50% 0;
  border-radius: 50% 50% 50% 0;
  background: #E4022D;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  -ms-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  z-index: 1500; }

.pin:after {
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #2f2f2f;
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.pulse {
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  -webkit-transform: rotateX(55deg);
  -moz-transform: rotateX(55deg);
  -o-transform: rotateX(55deg);
  -ms-transform: rotateX(55deg);
  transform: rotateX(55deg);
  z-index: 1500; }

.pulse:after {
  content: "";
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  -webkit-animation: pulsate 1s ease-out;
  -moz-animation: pulsate 1s ease-out;
  -o-animation: pulsate 1s ease-out;
  -ms-animation: pulsate 1s ease-out;
  animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-box-shadow: 0 0 1px 2px #E4022D;
  box-shadow: 0 0 1px 2px #E4022D;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  animation-delay: 1.1s; }

@-moz-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); } }
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); } }
@-o-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); } }
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); } }
@-moz-keyframes bounce {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px) rotate(-45deg);
    -moz-transform: translateY(-2000px) rotate(-45deg);
    -o-transform: translateY(-2000px) rotate(-45deg);
    -ms-transform: translateY(-2000px) rotate(-45deg);
    transform: translateY(-2000px) rotate(-45deg); }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px) rotate(-45deg);
    -moz-transform: translateY(30px) rotate(-45deg);
    -o-transform: translateY(30px) rotate(-45deg);
    -ms-transform: translateY(30px) rotate(-45deg);
    transform: translateY(30px) rotate(-45deg); }
  80% {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -moz-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg); }
  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg); } }
@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px) rotate(-45deg);
    -moz-transform: translateY(-2000px) rotate(-45deg);
    -o-transform: translateY(-2000px) rotate(-45deg);
    -ms-transform: translateY(-2000px) rotate(-45deg);
    transform: translateY(-2000px) rotate(-45deg); }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px) rotate(-45deg);
    -moz-transform: translateY(30px) rotate(-45deg);
    -o-transform: translateY(30px) rotate(-45deg);
    -ms-transform: translateY(30px) rotate(-45deg);
    transform: translateY(30px) rotate(-45deg); }
  80% {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -moz-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg); }
  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg); } }
@-o-keyframes bounce {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px) rotate(-45deg);
    -moz-transform: translateY(-2000px) rotate(-45deg);
    -o-transform: translateY(-2000px) rotate(-45deg);
    -ms-transform: translateY(-2000px) rotate(-45deg);
    transform: translateY(-2000px) rotate(-45deg); }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px) rotate(-45deg);
    -moz-transform: translateY(30px) rotate(-45deg);
    -o-transform: translateY(30px) rotate(-45deg);
    -ms-transform: translateY(30px) rotate(-45deg);
    transform: translateY(30px) rotate(-45deg); }
  80% {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -moz-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg); }
  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg); } }
@keyframes bounce {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px) rotate(-45deg);
    -moz-transform: translateY(-2000px) rotate(-45deg);
    -o-transform: translateY(-2000px) rotate(-45deg);
    -ms-transform: translateY(-2000px) rotate(-45deg);
    transform: translateY(-2000px) rotate(-45deg); }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px) rotate(-45deg);
    -moz-transform: translateY(30px) rotate(-45deg);
    -o-transform: translateY(30px) rotate(-45deg);
    -ms-transform: translateY(30px) rotate(-45deg);
    transform: translateY(30px) rotate(-45deg); }
  80% {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -moz-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg); }
  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg); } }

/*# sourceMappingURL=restaurantes.css.map */
