@charset "UTF-8";

.rating {
  display: none;
  font-size: 20px;
  font-weight: bold;
  color: #3af;
  white-space: nowrap; }
.big-red {
                color: #ffca11;
                font-size: 25px;
            }
.big-per {
                color: #ffca11;
                font-size: 30px;
            }
.rating .star {
  display: inline-block;
  position: relative;
  letter-spacing: 0.05em; }

.rating .star::before {
  display: inline-block;
  color: #aaa;
  content: '☆';
  width: 1em;
  height: 1em; }

.rating .star::after {
  display: inline-block;
  position: absolute;
  content: '★';
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
  transition: all 0.1s linear;
  overflow: hidden; }

.rating:not([disabled]) .star:hover::after,
.rating .star.active::after {
  opacity: 1;
  width: 1em;
  height: 1em; }

.rating .star.active.half::after {
  width: 0.5em; }

/*# dato */
#tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

#tooltip #tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

#tooltip #tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

#tooltip:hover #tooltiptext {
    visibility: visible;
}