$color_primario: #E52B50;
$color_secundario: #eee;
$info: gray;
$warning: red;
$color_facebook_btn: #3b5998;
$color_twitter_btn: #55acee;
$color_google_btn: #dd4b39;
$color_youtube_btn: #bb0000;

/*referencia de colores http://designpieces.com/2012/12/social-media-colours-hex-and-rgb/*/
