@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:700);
html,
body {
  width: 100%;
  margin: 0 auto;
  background-color: #1c1c1c;
  font-family: 'Archivo Narrow', sans-serif;
  overflow: hidden;
}
html #background,
body #background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(polina.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
html .main,
body .main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
}
html .main #content,
body .main #content {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  min-height: 24px;
  height: 100%;
  position: relative;
  text-align: center;
  top: 16%;
}
html .main #content .title,
body .main #content .title {
  color: white;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
html .main #content .title span,
body .main #content .title span {
  font-size: 4rem;
  cursor: pointer;
}
html .main #content .title:hover,
body .main #content .title:hover {
  -webkit-animation: MISSION-HOVER 1.5s infinite;
  -moz-animation: MISSION-HOVER 1.5s infinite;
  -o-animation: MISSION-HOVER 1.5s infinite;
  animation: MISSION-HOVER 1.5s infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}
.fa-spin-back {
  -moz-animation: fa-spin 2s infinite linear reverse;
  -o-animation: fa-spin 2s infinite linear reverse;
  -webkit-animation: fa-spin 2s infinite linear reverse;
  animation: fa-spin 2s infinite linear reverse;
}
/*
@-webkit-keyframes MISSION-HOVER {
  0%, 100% {
    font-size: 4rem;
    color: white;
  }
  50% {
    color: #BFFCFF;
    letter-spacing: 5px;
    text-shadow: 0px 0px 30px #bffcff;
  }
}
*/
html .main #content p,
body .main #content p {
  color: #FFF;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0;
  letter-spacing: .1rem;
  text-transform: uppercase;
}
html .main #content p:last-child,
body .main #content p:last-child {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 3em auto;
  padding: 0;
  letter-spacing: .1rem;
}
html .main #content p:last-child > a,
body .main #content p:last-child > a {
  text-decoration: none;
  color: inherit;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
html .main #content p:last-child > a:hover,
body .main #content p:last-child > a:hover {
  color: #fff;
}
html .main #content section,
body .main #content section {
  color: #fff;
  margin: 0 auto;
  line-height: 24px;
  font-size: 1rem;
  font-weight: 700;
}
html .main #content section ul,
body .main #content section ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 0;
}
html .main #content section ul li,
body .main #content section ul li {
  display: inline-block;
  margin-right: 2rem;
  width: 6rem;

    padding: 12px 0;
    font-size: 40px;
    text-shadow: 1px 1px 3px $color-main;
    border-radius: 70px;
    max-width: 600px;
    min-height: 10px;
    font-weight: bold;
    background-color: rgba(1,1,1,0.5);


}
html .main #content section .timenumbers,
body .main #content section .timenumbers {
  display: block;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0 auto;
  text-align: center;
}
html .main #content section p.timedescription,
body .main #content section p.timedescription {
  font-size: .5rem;
  font-variant: small-caps;
  line-height: 1.5rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 0px;
}
