{% extends 'home/base.html' %}
{% load staticfiles %}
{% block content %}
    {% block title %}<title>Recuperar Contraseña</title>{% endblock title %}
    <link href="{% static 'home/css/login.css' %}" rel="stylesheet" />

    <div class="login">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 form-box content-login">
                <div class="form-top">
                    <div class="form-top-left">
                        <h4>Te hemos enviado un correo con un enlace para reestablecer tu contraseña :D</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}