{% extends 'home/base.html' %}
{% load staticfiles %}
{% block content %}
    {% block title %}
        <title>Recuperar Contraseña</title>
        {% endblock title %}
    <link href="{% static 'home/css/login.css' %}" rel="stylesheet" />

    <div class="login">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 form-box content-login">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3 class="text-center">Su contraseña se reestableció correctamente</h3>
                    </div>
                    <a href="{% url 'spaapp.views.login' %}">Inicia Sesión</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}