{% extends 'home/base.html' %}
{% load staticfiles %}
{% block content %}
    {% block title %}<title>Recuperar Contraseña</title>{% endblock title %}
    <link href="{% static 'home/css/login.css' %}" rel="stylesheet" />

    <div class="login">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 form-box content-login">
                <div class="form-top">
                    <div class="form-top-left">

                        {% if validlink %}

                            <h3>Nueva contraseña</h3>

                            <div class="form-bottom">

                                <form method="post" name="formulario" onsubmit='return comprobar()'>
                                    {% csrf_token %}
                                    <div>
                                        <p id="a"></p>
                                        {{ form.new_password1.errors }}

                                        <label for="id_new_password1">Nueva contraseña:</label>
                                        <input class="form-control" {{ form.new_password1 }}
                                    </div>
                                    <div>
                                        {{ form.new_password2.errors }}
                                        <label for="id_new_password2">Confirme contraseña:</label>
                                        <input class="form-control" {{ form.new_password2 }}

                                        <br>
                                        <input type="submit" class="btn btn-ok" value="Cambiar mi contraseña" />

                                    </div>
                                </form>
                            </div>

                        {% else %}

                            <h3 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h3>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    function comprobar() {
        var p1 = document.formulario.id_new_password1;
        var msj = document.getElementById(a);
        if ( p1.value.length < 6 ) {
           a.innerHTML = "La contraseña debe contener mínimo 6 caracteres";
           return false;
        }
     }
</script>

{% endblock content %}
