{% extends 'home/base.html' %}
{% load staticfiles %}
{% block content %}
    {% block title %}<title>Recuperar Contraseña</title>{% endblock title %}
    <link href="{% static 'home/css/login.css' %}" rel="stylesheet" />

<div class="login">
    <div class="row">

        <div class="col-sm-4 col-sm-offset-4 form-box content-login">
            <div class="form-top">
                <div class="form-top-left">


                    <h3>Recuperar contraseña</h3>

                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <li class="alert alert-warning">{{ message }}</li>
                                <form action="" method="post">

                                {% csrf_token %}
                                {{ form.as_p }}

                                <input type="submit" value="Enviar" class="btn btn-ok" />
                            </form>
                            {% else %}
                                <li class="alert alert-success">{{ message }}</li>
                            {% endif %}
                            {% endfor %}

                        </ul>
                    {% else %}
                        <!-- Form rendering code for template -->
                        <form action="" method="post">

                            {% csrf_token %}
                            {{ form.as_p }}

                            <input type="submit" value="Enviar" class="btn btn-ok" />
                        </form>
                    {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>




{% endblock content %}